<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-订单管理-订单列表-订单详细</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
    <link rel="stylesheet" type="text/css" href="${staticCommon}vendor/plugins/viewer/viewer.min.css">
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            #parse("component/loading.vm")
            <div class="panel panel-primary panel-border top mb15">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>设备编号：
                                <span id="spanIsK3Order" class="label label-dark hide" title="K3订单">K3</span>
                                <small id="orderNo"></small>
                            </h5>
                        </div>
                        <div class="col-md-8 text-right">
                            <script type="text/html" id="actionButtonsTpl">
                                {{#acitonButtons}}
                                <a {{#blank}}target="_blank"{{/blank}} href="${ctx}{{menuUrl}}?no={{orderNo}}" class="btn btn-primary btn-sm ml5 bradius {{class}}" 
                                title="{{menuName}}" data-orderno="{{orderNo}}" data-canrelet="{{canReletOrder}}">
                                    <i class="{{iClass}}"></i> {{text}}
                                </a>
                                {{/acitonButtons}}
                            </script>
                            <div class="btn-group" id="actionButtons"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="orderBaseInfo"></div>
                    <script type="text/html" id="orderBaseInfoTpl">
                        {{#order}}
                        <div class="row">
                            <div class="col-md-4">
                                <dl class="dl-horizontal dl-horizontal-rental">
                                    <dt><label style="letter-spacing: 0.25em">所属公司</label><span class="mr5">：</span></dt>
                                    <dd class="mb5">{{orderSubCompanyName}}</dd>
                    
                                    <dt><label  style="letter-spacing: 0.67em">创建人</label><span class="mr5">：</span></dt>
                                    <dd class="mb5" >{{createUserRealName}}</dd>
                                </dl>
                            </div>
                            <div class="col-md-4">
                                <dl class="dl-horizontal dl-horizontal-rental">
                                    <dt><label>客户编号</label><span class="mr5">：</span></dt>
                                    <dd class="mb5"><a href="{{customerUrl}}" target="_blank">{{buyerCustomerNo}}</a>&nbsp;</dd>
                    
                                    <dt><label>客户名称</label><span class="mr5">：</span></dt>
                                    <dd class="mb5"><a href="{{customerUrl}}" target="_blank">{{buyerCustomerName}}</a>&nbsp;</dd>
                                </dl>
                            </div>
                            <div class="col-md-4">
                                <dl class="dl-horizontal dl-horizontal-rental">
                                    <dt><label style="letter-spacing: 0.5em;">创建时间</label><span class="mr5">：</span></dt>
                                    <dd class="mb5">{{#clockShorTime}}{{createTime}}{{/clockShorTime}}&nbsp;</dd>
                                </dl>
                            </div>
                        </div>
                        {{/order}}
                    </script>
                    <div class="row">
                        <div class="col-md-7 mn pn">
                            <div class="row mn">
                                <div class="col-md-12">
                                    <div class="section-divider mv40" id="spy2">
                                    <span class="text-success">商品信息</span>
                                </div>
                                <div class="section">
                                    <div class="table-responsive">
                                        <script type="text/html" id="dataListTpl">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">商品ID</th>
                                                    <th class="text-center">商品名称</th>
                                                    <th class="text-center">分类</th>
                                                    <th class="text-center">品牌</th>
                                                    <th class="text-center">型号</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#listData}}
                                                <tr>
                                                    <td class="text-center">{{productId}}</td>
                                                    <td class="text-center"></td>
                                                    <td class="text-center">{{productName}}</td>
                                                    <td class="text-center">{{subtitle}}</td>
                                                    <td class="text-center">{{categoryName}}</td>
                                                </tr>
                                                {{/listData}}
                                            </tbody>
                                        </script>
                                        <table class="table table-striped admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 mn pn">
                            <div class="row mn">
                                <div class="col-md-12">
                                    <div class="section-divider mv40" id="spy2">
                                    <span class="text-success">变更后配置</span>
                                </div>
                                <div class="section">
                                    <div class="table-responsive">
                                        <table class="table table-border admin-form theme-warning fs13">
                                            <thead>
                                                <tr>
                                                    <th>SKU</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td id="propertyTd"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mn">
                        <div class="col-md-12">
                            <div class="section-divider mv40" id="spy2">
                            <span class="text-success">设备信息</span>
                        </div>
                        <div class="section">
                            <div class="table-responsive">
                                <script type="text/html" id="dataListTpl">
                                    <thead>
                                        <tr>
                                            <th class="text-center">序号</th>
                                            <th class="text-center">设备编号</th>
                                            <th class="text-center">商品ID</th>
                                            <th class="text-center">商品名称</th>
                                            <th class="text-center">类别</th>
                                            <th class="text-center">品牌</th>
                                            <th class="text-center">型号</th>
                                            <th class="text-center">SKU</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#listData}}
                                        <tr>
                                            <td class="text-center">{{productId}}</td>
                                            <td class="text-center"></td>
                                            <td class="text-center">{{productName}}</td>
                                            <td class="text-center">{{subtitle}}</td>
                                            <td class="text-center">{{categoryName}}</td>
                                            <td class="text-center">{{productName}}</td>
                                            <td class="text-center">{{subtitle}}</td>
                                            <td class="text-center">{{categoryName}}</td>
                                        </tr>
                                        {{/listData}}
                                    </tbody>
                                </script>
                                <table class="table table-striped admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")

    <script type="text/javascript" src="${staticCommon}vendor/plugins/viewer/viewer.min.jq.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'api.data.js',
                'manage.order.mixin.js',
                'manage.order.handle.mixin.js',
                'manage.order.detail.js',
                'manage.order.item.render.js',
                'manage.order.util.js',
                'manage.order.receipt.confirm.js',
                'manage.order.relet.mixin.js',
                'manage.order.relet.add.js',
                'manage.order.relet.edit.js',
                'manage.order.change.price.js',
                'modal.submit.audit.js',
                'manage.order.picking.js',
                'manage.order.print.record.js',
                'modal.input.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();

        OrderDetail.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>
</body>
</html>