<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-商品管理-设备列表</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")
    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            #parse("component/loading.vm")
            <div class="panel panel-primary panel-border top">
                <div class="panel-menu p12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="btn-group" id="actionCommonButtons">
                                <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                            </div>
                        </div>
                        <div class="col-md-8 text-right">
                            <form id="searchForm" class="form-horizontal">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary btn-sm">查询</button>
                                    <button type="reset" class="btn btn-default btn-sm">重置</button>
                                </div>
                                <div class="form-group pull-right mn mr10" style="width: 120px;">
                                    <div class="input-group">
                                        <input type="text" name="equipmentNo" id="equipmentNo" class="form-control input-sm bradius" autocomplete="off" placeholder="输入设备号">
                                    </div>
                                </div>
                                <div class="form-group pull-right mn mr10" style="width: 120px;">
                                    <div class="input-group">
                                        <input type="text" name="productName" id="productName" class="form-control input-sm bradius" autocomplete="off" placeholder="输入商品名称">
                                    </div>
                                </div>
                                <div class="form-group pull-right mn mr10" style="width: 120px;">
                                    <div class="input-group">
                                        <select class="form-control input-sm bradius" name="currentWarehouseId" id="currentWarehouseId"></select>
                                    </div>
                                </div>
                                <div class="form-group pull-right mn mr10" style="width: 120px;">
                                    <div class="input-group">
                                        <select class="form-control input-sm bradius" name="ownerWarehouseId" id="ownerWarehouseId"></select>
                                    </div>
                                </div>
                                <select name="equipmentStatus" id="equipmentStatus" class="hide"></select>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body pn">
                    <div class="table-responsive">
                        <script type="text/html" id="dataListTpl">
                            <thead>
                                <tr>
                                    {{#hasCommonActionButtons}}
                                    <th>
                                        <label class="option block mn">
                                            <input type="checkbox" name="checkAll" value="">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </th>
                                    {{/hasCommonActionButtons}}
                                    <th>设备编号</th>
                                    <th>归属仓库</th>
                                    <th>所在仓库</th>
                                    <th>商品ID</th>
                                    <th>商品名</th>
                                    <th>商品图</th>
                                    <th>SKUID</th>
                                    <th>SKU名称</th>
                                    <th>设备状态</th>
##                                    <th>可用状态</th>
                                    <th>备注</th>
                                    {{#hasRowActionButtons}}
                                    <th class="text-right">操作</th>
                                    {{/hasRowActionButtons}}
                                </tr>
                            </thead>
                            <tbody>
                                {{#dataSource}}
                                    {{#listData}}
                                    <tr>
                                        {{#hasCommonActionButtons}}
                                        <td>
                                            <label class="option block mn">
                                                <input type="checkbox" name="checkItem" value="FR">
                                                <span class="checkbox mn"></span>
                                            </label>
                                        </td>
                                        {{/hasCommonActionButtons}}
                                        <td>{{equipmentNo}}</td>
                                        <td>{{ownerWarehouseName}}</td>
                                        <td>{{currentWarehouseName}}</td>
                                        <td>{{productId}}</td>
                                        <td>{{productName}}</td>
                                        <td><a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a></td>
                                        <td>{{skuId}}</td>
                                        <td>{{skuName}}</td>
                                        <td>{{equipmentStatusStr}}</td>
##                                        <td>{{dataStatusStr}}</td>
                                        <td>{{remark}}</td>
                                        {{#hasRowActionButtons}}
                                        <td class="text-right">
                                            <div class="btn-group text-right">
                                                {{#rowActionButtons}}
                                                <button type="button" class="btn btn-default btn-xs {{class}}" data-productid="{{productId}}" data-skuid="{{skuId}}"> <i class="{{iClass}}"></i>{{text}} </button>
                                                {{/rowActionButtons}}
                                            </div>
                                        </td>
                                        {{/hasRowActionButtons}}
                                    </tr>
                                    {{/listData}}
                                    {{^listData}}
                                    <tr>
                                        <td valign="top" colspan="8" class="text-center">没有查询到设备</td>
                                    </tr>
                                    {{/listData}}
                                {{/dataSource}}
                            </tbody>
                        </script>
                        <table class="table table-striped admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                            #parse("component/pager.vm")
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/dropzone/dropzone.min.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'api.data.js',
                'manage.product.equipment.list.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        EquipmentManage.init();

        //UI效果初始化
        Core.init();
        Demo.init();

    </script>
</body>
</html>