<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-商品管理-设备列表-条形码打印</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
    <script type="text/javascript">
        common_load_css('${staticCommon}/rental/css','dropzone.css');
    </script>
</head>
<body class="invoice-page">
    #parse("layout/toolbox.vm")
    <div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            #parse("component/loading.vm")
            <div class="panel panel-primary panel-border top invoice-panel"">
                <div class="panel-menu p12 noprint">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="btn-group" id="actionButtons">
                                <a href="javascript:window.print()" class="btn btn-primary btn-sm ml5 bradius">
                                    <i class="fa fa-print fs13"></i> 打印
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9 text-right">
                            <form id="searchForm" class="form-horizontal">
                                <div class="pull-right">
                                    <button type="reset" class="btn btn-primary btn-sm">设置</button>
                                </div>
##                                <div class="form-group pull-right mn mr10" style="width: 210px;">
##                                    <div class="input-group">
##                                        <input type="text" name="width" class="form-control input-sm bradiusL number" autocomplete="off" placeholder="请输入宽度">
##                                        <span class="input-group-addon cursor input-sm bradiusR">CM(厘米)</span>
##                                    </div>
##                                </div>
##                                <div class="form-group pull-right mn mr10" style="width: 210px;">
##                                    <div class="input-group">
##                                        <input type="text" name="height" class="form-control input-sm bradiusL number" autocomplete="off" placeholder="请输入高度">
##                                        <span class="input-group-addon cursor input-sm bradiusR">CM(厘米)</span>
##                                    </div>
##                                </div>

                                <div class="form-group pull-right mn mr10" style="width: 260px;">
                                    <div class="input-group">
                                        <select name="barcodeWH" id="barcodeWH" defaultValue="barcode50MM24MM" class="hide"></select>
                                        <span class="input-group-addon cursor input-sm bradiusR">标签长度*标签宽度</span>
                                    </div>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body p15" id="printContainer">

                </div>
                <div class="panel-footer noprint"></div>
            </div>
        </section>
    </section>
    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")


<script type="text/javascript" src="${staticCommon}vendor/plugins/jsBarcode/JsBarcode.all.min.js"></script>
<script type="text/javascript">
    management_load_script('${staticManagement}js',
            'api.data.js',
            'barcode.print.js');
</script>
<script type="text/javascript">
    //功能事件初始化
    Rental.init();
    Layout.init();
    BarcodePrint.init();

    //UI效果初始化
    Core.init();
    Demo.init();

</script>



</body>
</html>