<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-商品管理-商品列表-编辑商品</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
    <script type="text/javascript">
        common_load_css('${staticCommon}/rental/css','dropzone.css');
    </script>
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            <div class="row">
                <div class="col-md-12 center-block">
                    <div class="admin-form theme-primary">
                        <form method="post" id="editProductForm">
                                #parse("component/product/editProductContent.vm")
                                <script type="text/html" id="examplePreviewTpl">
                                    {{#productImg}}
                                    <div class="dz-preview dz-processing dz-error dz-image-preview hidden example-preview" data-img="{{dataImg}}">
                                        <div class="dz-details">
                                            <div class="dz-filename">
                                                <span data-dz-name="">{{originalName}}</span>
                                            </div>
                                            <img data-dz-thumbnail="" alt="avatar" src="{{imgDomain}}{{imgUrl}}" class="img-responsive">
                                        </div>
                                        <div class="dz-success-mark">
                                                                             <span>âœ?/span>
                                        </div>
                                        <a class="dz-remove" href="#" data-dz-remove>删除</a>
                                    </div>
                                    {{/productImg}}
                                </script>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")

    <script type="text/javascript" src="${staticCommon}vendor/plugins/dropzone/dropzone.min.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'api.data.js',
                'manage.product.mixin.js',
                'manage.product.util.js',
                'manage.product.edit.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        EditProduct.init();

        //UI效果初始化
        Core.init();
        Demo.init();

    </script>
</body>
</html>




