<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-商品管理-商品列表</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
    <script type="text/javascript">
        common_load_css('${staticCommon}/rental/css','dropzone.css');
    </script>
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">

                #parse("component/loading.vm")

                <div class="panel panel-primary panel-border top">
                    <div class="panel-menu p12">
                        <div class="row">
                            <div class="col-md-4">
                                <script type="text/html" id="actionCommonButtonsTpl">
                                    <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                                    {{#acitonCommonButtons}}
                                    <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm {{class}}" title="{{menuName}}">
                                        <i class="{{iClass}}"></i> {{text}}
                                    </a>
                                    {{/acitonCommonButtons}}
                                </script>

                                <div class="btn-group" id="actionCommonButtons"></div>
                            </div>
                            <div class="col-md-8 text-right">
                                <form id="searchForm" class="form-horizontal">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary btn-sm">查询</button>
                                        <button type="reset" class="btn btn-default btn-sm">重置</button>
                                    </div>
                                    <div class="form-group pull-right mn mr10" style="width: 120px;">
                                        <div class="input-group">
                                            <input type="text" name="productName" id="productName" class="form-control input-sm bradius" autocomplete="off" placeholder="输入商品名称">
                                        </div>
                                    </div>
                                    <div class="field form-group pull-right mn mr10" style="width: 120px;">
                                        <div class="input-group">
                                            <input type="text" name="productId" id="productId" class="form-control input-sm bradius number" autocomplete="off" placeholder="输入商品ID">
                                        </div>
                                    </div>
                                    <div class="form-group pull-right mn mr10">
                                        <div class="input-group">
                                            <select class="form-control input-sm bradius" name="brandId" id="brandId"></select>
                                        </div>
                                    </div>
                                    <div class="form-group pull-right mn mr10">
                                        <div class="input-group">
                                            <select class="form-control input-sm bradius" name="isRent" id="isRent"></select>
                                        </div>
                                    </div>
##                                    <select name="isRent" id="isRentMultiselect" class="hide"></select>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body pn">
                        <div class="table-responsive">
                            <script type="text/html" id="dataListTpl">
                                <thead>
                                    <tr>
                                        {{#hasCommonActionButtons}}
                                        <th>
                                            <label class="option block mn">
                                                <input type="checkbox" name="checkAll" value="">
                                                <span class="checkbox mn"></span>
                                            </label>
                                        </th>
                                        {{/hasCommonActionButtons}}
                                        <th>商品ID</th>
                                        <th>图片</th>
                                        <th>商品名称</th>
                                        <th>副标题</th>
                                        <th>类别</th>
                                        <th>品牌</th>
                                        <th>次新租金</th>
                                        <th>全新租金</th>
                                        <th>是否在租</th>
                                        <th>允许随时归还</th>
                                        <th>创建人</th>
                                        {{#hasRowActionButtons}}
                                        <th class="text-right">操作</th>
                                        {{/hasRowActionButtons}}
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#dataSource}}
                                        {{#listData}}
                                        <tr>
                                            {{#hasCommonActionButtons}}
                                            <td>
                                                <label class="option block mn">
                                                    <input type="checkbox" name="checkItem" value="{{productId}}">
                                                    <span class="checkbox mn"></span>
                                                </label>
                                            </td>
                                            {{/hasCommonActionButtons}}
                                            <td>{{productId}}</td>
                                            <td><a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a></td>
                                            <td>{{productName}}</td>
                                            <td>{{subtitle}}</td>
                                            <td>{{categoryName}}</td>
                                            <td>{{brandName}}</td>
                                            <td>
                                                <p>日租：{{dayRentPriceRange}}</p>
                                                <p>月租：{{monthRentPriceRang}}</p>
                                            </td>
                                            <td>
                                                <p>日租：{{newDayRentPriceRange}}</p>
                                                <p>月租：{{newMonthRentPriceRang}}</p>
                                            </td>
                                            <td>{{isRentStr}}</td>
                                            <td>{{#boolText}}{{isReturnAnyTime}}{{/boolText}}</td>
                                            <td>
                                                <p class="mn">{{createUserRealName}}</p>
                                                <p class="mn mt5">{{#clockShorTime}}{{createTime}}{{/clockShorTime}}</p>
                                            </td>
                                            {{#hasRowActionButtons}}
                                            <td class="text-right">
                                                <div class="btn-group text-right">
                                                    {{#rowActionButtons}}
                                                    <a href="${ctx}{{menuUrl}}?id={{productId}}" type="button" class="btn btn-default btn-xs {{class}}" data-productId="{{productId}}">{{text}}</a>
                                                    {{/rowActionButtons}}
                                                </div>
                                            </td>
                                            {{/hasRowActionButtons}}
                                        </tr>
                                        {{/listData}}
                                        {{^listData}}
                                        <tr>
                                            <td valign="top" colspan="14" class="text-center">无数据</td>
                                        </tr>
                                        {{/listData}}
                                    {{/dataSource}}
                                </tbody>
                            </script>
                            <table class="table table-striped admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                                #parse("component/pager.vm")
                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")

    <script type="text/javascript" src="${staticCommon}vendor/plugins/dropzone/dropzone.min.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}js',
                'api.data.js',
                'manage.product.js',
                'manage.product.util.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        ProductManage.init();

        //UI效果初始化
        Core.init();
        Demo.init();

    </script>



</body>
</html>