<!DOCTYPE html>
<html>
<head>
    <title>爱租-运营管理系统-商品管理-商品列表</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
    <script type="text/javascript">
        common_load_css('${staticCommon}/rental/css','dropzone.css');
    </script>
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")


        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">

                #parse("component/loading.vm")

                <div class="panel panel-primary panel-border top">
                    <div class="panel-menu p12">
                        <div class="row">
                            <div class="col-md-4">
                                <script type="text/html" id="actionCommonButtonsTpl">
                                    <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                                    {{#acitonCommonButtons}}
                                        <button type="button" class="btn btn-primary btn-sm {{class}}" title="{{menuName}}">
                                            <i class="{{iClass}}"></i> {{text}}
                                        </button>
                                    {{/acitonCommonButtons}}
                                </script>

                                <div class="btn-group" id="actionCommonButtons"></div>
                            </div>
                            <div class="col-md-8 text-right">
                                <form id="searchForm" class="form-horizontal">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary btn-sm">查询</button>
                                        <button type="reset" class="btn btn-default btn-sm">重置</button>
                                    </div>
                                    <div class="form-group pull-right mn mr10" style="width: 120px;">
                                        <div class="input-group">
                                            <input type="text" name="productName" id="productName" class="form-control input-sm bradius" autocomplete="off" placeholder="输入商品名称">
                                            #*<span class="input-group-addon btn-search  input-sm bradiusR" id="submitSearchForm"><i class="fa fa-search"></i> 查询</span>*#
                                        </div>
                                    </div>
                                    <div class="form-group pull-right mn mr10" style="width: 120px;">
                                        <div class="input-group">
                                            <input type="text" name="productId" id="productId" class="form-control input-sm bradius" autocomplete="off" placeholder="输入商品ID">
                                        </div>
                                    </div>
                                    <select name="isRent" id="isRentMultiselect">
                                        <option value="">全部（在租状态）</option>
                                        <option value="1">在租</option>
                                        <option value="0">下架</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body pn">
                        <div class="table-responsive">
                            <table class="table table-striped admin-form theme-warning tc-checkbox-1 fs13">
                            <thead>
                            <tr>
                                <th>
                                    <label class="option block mn">
                                        <input type="checkbox" name="checkAll" value="">
                                        <span class="checkbox mn"></span>
                                    </label>
                                </th>
                                <th>商品ID</th>
                                <th>图片</th>
                                <th>商品名称</th>
                                <th>副标题</th>
                                <th>列表价格</th>
                                <th>是否在租</th>
                                <th class="text-right">操作</th>
                            </tr>
                            </thead>
                            <script type="text/html" id="dataListTpl">
                                {{#listData}}
                                <tr>
                                    <td>
                                        <label class="option block mn">
                                            <input type="checkbox" name="checkItem" value="{{productId}}">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </td>
                                    <td>{{productId}}</td>
                                    <td><a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a></td>
                                    <td>{{productName}}</td>
                                    <td>{{subtitle}}</td>
                                    <td>{{listPriceFixed}}</td>
                                    <td>{{isRentStr}}</td>
                                    <td class="text-right">

                                        {{#acitonButtons}}
                                        <div class="btn-group text-right">
                                            {{#acitons}}
                                            <a href="${ctx}{{menuUrl}}" type="button" class="btn btn-default btn-xs {{class}}" data-productId="{{productId}}">{{text}}</a>
                                            {{/acitons}}
                                        </div>
                                        {{/acitonButtons}}
                                    </td>
                                </tr>
                                {{/listData}}
                                {{^listData}}
                                <tr>
                                    <td valign="top" colspan="14">没有查询到商品</td>
                                </tr>
                                {{/listData}}
                            </script>
                            <tbody id="dataListTbody"></tbody>
                        </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row table-layout">
                            <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                                #parse("component/pager.vm")
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")

    <script type="text/javascript" src="${staticCommon}/vendor/plugins/dropzone/dropzone.min.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js','manage.product.js','manage.product.add.js','manage.product.edit.js','manage.product.view.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        ProductManage.init();

        //UI效果初始化
        Core.init();
        Demo.init();

    </script>



</body>
</html>