<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-商品管理-商品列表-编辑商品</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
    <script type="text/javascript">
        common_load_css('${staticCommon}/rental/css','dropzone.css');
    </script>
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
<div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            <div class="row">
                <div class="col-md-12 center-block">
                    <div class="admin-form theme-primary">
                        <form method="post" id="viewProductForm">

                            <div class="panel panel-default panel-border top">
                                <div class="panel-heading">
                                    <span class="panel-title"><i class="fa fa-pencil"></i>添加商品</span>
                                </div>
                                <div class="panel-body p25">
                                    <div class="section row">
                                        <div class="col-md-4">
                                            <div class="section">
                                                <label for="categoryId" class="field-label">类别</label>
                                                <label for="categoryId" class="field select">
                                                    <select id="categoryId" name="categoryId" class="required" readonly>
                                                        <option value="">请选择</option>
                                                    </select>
                                                </label>
                                            </div>
                                            <div class="section">
                                                <label for="userName" class="field-label">商品名称</label>
                                                <label for="productName" class="field prepend-icon">
                                                    <input type="text" name="productName" id="productName" class="gui-input required" />
                                                    <label for="productName" class="field-icon"><i class="fa fa-tag"></i>
                                                    </label>
                                                </label>
                                            </div>
                                            <div class="section">
                                                <label for="unit" class="field-label">单位</label>
                                                <label for="unit" class="field select">
                                                    <select id="unit" name="unit">
                                                        <option value="303719">件</option>
                                                    </select>
                                                </label>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="section">
                                                <label for="isRent" class="field-label">品牌</label>
                                                <label class="field select">
                                                    <select id="brandId" name="brandId" class="required" readonly>
                                                        <option value="">请选择</option>
                                                    </select>
                                                    <i class="arrow"></i>
                                                </label>
                                            </div>
                                            <div class="section">
                                                <label for="subtitle" class="field-label">副标题</label>
                                                <label for="subtitle" class="field prepend-icon">
                                                    <input type="text" name="subtitle" id="subtitle" class="gui-input required" />
                                                    <label for="subtitle" class="field-icon"><i class="fa fa-tag"></i>
                                                    </label>
                                                </label>
                                            </div>
                                            <div class="section">
                                                <label for="isRent" class="field-label">是否在租</label>
                                                <label class="field select">
                                                    <select id="isRent" name="isRent">
                                                        <option value="1">在租</option>
                                                        <option value="0">下架</option>
                                                    </select>
                                                    <i class="arrow"></i>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="section">
                                                <label for="productModel" class="field-label">型号</label>
                                                <label for="productModel" class="field prepend-icon">
                                                    <input type="text" name="productModel" id="productModel" class="gui-input required letterOrNumber" readonly />
                                                    <label for="productModel" class="field-icon"><i class="fa fa-tag"></i>
                                                    </label>
                                                </label>
                                            </div>
                                            <div class="section">
                                                <label for="productDesc" class="field-label">商品描述</label>
                                                <label for="productDesc" class="field prepend-icon">
                                                    <textarea class="gui-textarea" id="productDesc" name="productDesc"  style="height:130px"></textarea>
                                                    <label for="productDesc" class="field-icon"><i class="fa fa-comments"></i>
                                                    </label>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="section-divider mv40"><span> 商品图片  </span></div>
                                    <div class="tray-bin">
                                        <div class="atl-dropzone dropzoneImg" id="dropzoneProductImg">
                                            <div class="dz-default dz-message" >
                                                <span>
                                                    <i class="fa fa-cloud-upload"></i>
                                                    <span class="sub-text">将图片拖入或点击</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="section-divider mv40"><span> 商品介绍  </span></div>
                                    <div class="tray-bin">
                                        <div class="atl-dropzone dropzoneImg" id="dropzoneProductDesImg">
                                            <div class="dz-default dz-message" >
                                                <span>
                                                    <i class="fa fa-cloud-upload"></i>
                                                    <span class="sub-text">将图片拖入或点击</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                    <script type="text/html" id="productPropertiesTpl">
                                        {{#hasProperties}}
                                        <div class="panel">
                                            <div class="panel-heading pn ph8">
                                                <span>商品属性</span>
                                            </div>
                                            <div class="panel-body">
                                                {{#properties}}
                                                <div class="col-md-3 pad-r40 border-right">
                                                    <div class="panel">
                                                        <div class="panel-heading pn ph8">
                                                            <span>{{propertyName}}</span>
                                                        </div>
                                                        <div class="panel-body nano nano-default affix rtlnao" style="height: 200px">
                                                            <div class="nano-content">
                                                                <div class="option-group field p10">
                                                                    {{#propertyValueList}}
                                                                    {{#list}}
                                                                    <label class="option option-primary mb10 block">
                                                                        <input type="radio" name="productPropertyRido-{{propertyId}}" class="productPropertyRido" value="{{categoryPropertyValueId}}" data-property="{{property}}" disabled />
                                                                        <span class="radio"></span> {{propertyValueName}}
                                                                    </label>
                                                                    {{/list}}
                                                                    {{/propertyValueList}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{/properties}}
                                            </div>
                                        </div>
                                        {{/hasProperties}}
                                    </script>


                                    <div class="section row">
                                        <div class="col-md-12" id="productPropertiesContainer"></div>
                                    </div>


                                    <script type="text/html" id="skuPropertiesTpl">
                                        {{#hasProperties}}
                                        <div class="panel">
                                            <div class="panel-heading pn ph8">
                                                <span>销售属性</span>
                                            </div>
                                            <div class="panel-body">
                                                {{#properties}}
                                                <div class="col-md-3">
                                                    <div class="panel">
                                                        <div class="panel-heading pn ph8">
                                                            <span>{{propertyName}}</span>
                                                        </div>
                                                        <div class="panel-body nano nano-default affix rtlnao" style="height: 200px">
                                                            <div class="nano-content">
                                                                <div class="option-group field p10 propertyCheckBoxs">
                                                                    {{#propertyValueList}}
                                                                    {{#list}}
                                                                    <label class="option block option-primary mb10">
                                                                        <input type="checkbox" name="property-{{propertyId}}" value="{{categoryPropertyValueId}}" data-property="{{property}}">
                                                                        <span class="checkbox"></span> {{propertyValueName}}
                                                                    </label>
                                                                    {{/list}}
                                                                    {{/propertyValueList}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{/properties}}
                                            </div>
                                            <div class="panel-footer text-right pn pv15 br-n br-t">
                                                <button type="submit" class="btn btn-primary btn-xs mr15 addSku">添加SKU</button>
                                            </div>
                                        </div>
                                        {{/hasProperties}}
                                    </script>

                                    <div class="section row hide"><div class="col-md-12" id="skuPropertiesContainer"></div></div>


                                    <script type="text/html" id="skuTableTpl">
                                        <table class="table admin-form theme-warning tc-checkbox-1 fs13 atl-tabl table-bordered">
                                            <thead>
                                            <tr class="bg-light">
                                                {{#ths}}
                                                <th class="text-nowrap">{{propertyName}}</th>
                                                {{/ths}}
                                                <th>商品价值</th>
                                                <th>日租价</th>
                                                <th>月租价</th>
##                                                <th class="text-right">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#sku}}
                                            {{#list}}
                                            <tr class="skuRow" data-skuproperty="{{curskuProperty}}">
                                                {{#property}}
                                                <td>{{propertyValueName}}</td>
                                                {{/property}}
                                                <td>
                                                    <input type="hidden" name="skuId" value="{{skuId}}" />
                                                    <input type="hidden" name="rowId" class="rowId" value="{{rowId}}" />

                                                    <div class="smart-widget sm-left sml-80">
                                                        <label class="field prepend-icon">
                                                            <input type="text" name="skuPrice-{{rowId}}" value="{{skuPrice}}" class="skuPrice form-control gui-input required moneyNumber" disabled />
                                                            <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                                        </label>
                                                        <label for="verification" class="button bradiusN">次新</label>
                                                    </div>
                                                    <div class="smart-widget sm-left sml-80 mt10">
                                                        <label class="field prepend-icon">
                                                            <input type="text" name="newSkuPrice-{{rowId}}" value="{{newSkuPrice}}" class="newSkuPrice form-control gui-input required moneyNumber" disabled />
                                                            <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                                        </label>
                                                        <label for="verification" class="button bradiusN">全新</label>
                                                    </div>

                                                </td>
                                                <td>
                                                    <div class="smart-widget sm-left sml-80">
                                                        <label class="field prepend-icon">
                                                            <input type="text" name="dayRentPrice-{{rowId}}" value="{{dayRentPrice}}" class="dayRentPrice form-control gui-input required moneyNumber" disabled />
                                                            <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                                        </label>
                                                        <label for="verification" class="button bradiusN">次新</label>
                                                    </div>
                                                    <div class="smart-widget sm-left sml-80 mt10">
                                                        <label class="field prepend-icon">
                                                            <input type="text" name="newDayRentPrice-{{rowId}}" value="{{newDayRentPrice}}" class="newDayRentPrice form-control gui-input required moneyNumber" disabled />
                                                            <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                                        </label>
                                                        <label for="verification" class="button bradiusN">全新</label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="smart-widget sm-left sml-80">
                                                        <label class="field prepend-icon">
                                                            <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                                            <input type="text" name="monthRentPrice-{{rowId}}" value="{{monthRentPrice}}" class="monthRentPrice form-control gui-input required moneyNumber" disabled />
                                                        </label>
                                                        <label for="verification" class="button bradiusN">次新</label>
                                                    </div>
                                                    <div class="smart-widget sm-left sml-80 mt10">
                                                        <label class="field prepend-icon">
                                                            <input type="text" name="newMonthRentPrice-{{rowId}}" value="{{newMonthRentPrice}}" class="newMonthRentPrice form-control gui-input required moneyNumber" disabled />
                                                            <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                                        </label>
                                                        <label for="verification" class="button bradiusN">全新</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            {{/list}}
                                            {{/sku}}
                                            </tbody>
                                        </table>
                                    </script>
                                    <div class="section row" id="skuTable"></div>
                                </div>

                                <div class="panel-footer text-right">
                                    <button type="button" class="button btn-default goBack">返回</button>
                                </div>
                            </div>


                            <script type="text/html" id="examplePreviewTpl">
                                {{#productImg}}
                                <div class="dz-preview dz-processing dz-error dz-image-preview hidden example-preview" data-img="{{dataImg}}">
                                    <div class="dz-details">
                                        <div class="dz-filename">
                                            <span data-dz-name="">{{originalName}}</span>
                                        </div>
                                        <img data-dz-thumbnail="" alt="avatar" src="{{imgDomain}}{{imgUrl}}" class="img-responsive">
                                    </div>
                                    <div class="dz-success-mark">
                                                                                                     <span>âœ?/span>
                                    </div>
                                    <a class="dz-remove" href="#" data-dz-remove>删除</a>
                                </div>
                                {{/productImg}}
                            </script>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")

<script type="text/javascript" src="${staticCommon}vendor/plugins/dropzone/dropzone.min.js"></script>
<script type="text/javascript">
    management_load_script('${staticManagement}/js',
            'api.data.js',
            'manage.product.mixin.js',
            'manage.product.util.js',
            'manage.product.view.js');
</script>
<script type="text/javascript">
    //功能事件初始化
    Rental.init();
    Layout.init();
    ViewProduct.init();

    //UI效果初始化
    Core.init();
    Demo.init();

</script>
</body>
</html>







