<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-结算单管理-对账单-详细</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">
                <section id="content" class="animated fadeIn">
                    <form class="" id="statementOrderDetailForm">
                        <div class="panel panel-primary panel-border top mb15">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5>客户姓名：<small id="customerName"></small></h5>
                                        <h5>客户编号：<small id="customerNo"></small></h5>
                                    </div>
                                    <div class="col-md-8 text-right">
                                        <script type="text/html" id="actionButtonsTpl">
                                            {{#acitonButtons}}
                                            {{#showButton}}
                                            <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm ml5 bradius {{class}}" title="{{menuName}}" data-no="{{no}}">
                                                <i class="{{iClass}}"></i> {{text}}
                                            </a>
                                            {{/showButton}}
                                            {{/acitonButtons}}
                                        </script>
                                        <div class="btn-group" id="actionButtons"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div id="orderBaseInfo"></div>
                            </div>
                            <script type="text/html" id="orderBaseInfoTpl">
                                {{#order}}
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-8">
                                        <dl class="dl-horizontal">
                                            <dt>结算单金额：</dt><dd class="mb5">￥{{#price}}{{statementAmount}}{{/price}}&nbsp;</dd>
                                            <dt>租金押金金额：</dt><dd class="mb5">￥{{#price}}{{statementRentDepositAmount}}{{/price}}&nbsp;</dd>
                                            <dt>结算押金金额：</dt><dd class="text-danger mb5">￥{{#price}}{{statementDepositAmount}}{{/price}}&nbsp;</dd>
                                            <dt>结算单租金金额：</dt><dd class="text-danger mb5">￥{{#price}}{{statementRentAmount}}{{/price}}&nbsp;</dd>
                                            <dt>逾期金额：</dt><dd class="mb5">￥{{#price}}{{statementOverdueAmount}}{{/price}}&nbsp;</dd>
                                            <dt>其它费用：</dt><dd class="text-danger mb5">￥{{#price}}{{statementOtherAmount}}{{/price}}&nbsp;</dd>
                                            <dt>已支付金额：</dt><dd class="text-danger mb5">￥{{#price}}{{statementPaidAmount}}{{/price}}&nbsp;</dd>
                                        </dl>
                                    </div>
                                </div>
                                {{/order}}
                            </script>
                        </div>

                        <div class="panel">
                            <div class="panel-body light pn">
                                <div class="table-responsive">
                                    <script type="text/html" id="dataListTpl">
                                        <thead>
                                        <tr class="bg-light">
                                            <th>ID</th>
                                            <th>类型</th>
                                            <th>订单编号</th>
                                            <th>订单项类型</th>
                                            <th>商品名</th>
                                            <th>数量</th>
                                            <th>单价</th>
                                            <th>租赁方式</th>
                                            <th>期数</th>
                                            <th>结算单金额</th>
                                            <th>结算单租金</th>
                                            <th>租金押金</th>
                                            <th>结算押金</th>
                                            <th>逾期金额</th>
                                            <th>其它费用</th>
                                            <th>已付金额</th>
                                            <th>状态</th>
                                            <th>结算支付时间</th>
                                            <th class="text-right">结算时间</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#dataSource}}
                                        {{#listData}}
                                        <tr>
                                            <td>{{statementOrderDetailId}}</td>
                                            <td>{{orderTypeValue}}</td>
                                            <td>{{orderNo}}</td>
                                            <td>{{orderItemTypeValue}}</td>
                                            <td>
                                                <div style="max-width:160px;">
                                                    {{itemName}}
                                                </div>
                                            </td>
                                            <td>{{itemCount}}</td>
                                            <td>￥{{#price}}{{unitAmount}}{{/price}}</td>
                                            <td>{{itemRentTypeValue}}</td>
                                            <td>{{statementDetailPhase}}</td>
                                            <td>￥{{#price}}{{statementDetailAmount}}{{/price}}</td>
                                            <td>￥{{#price}}{{statementDetailRentAmount}}{{/price}}</td>
                                            <td>￥{{#price}}{{statementDetailRentDepositAmount}}{{/price}}</td>
                                            <td>￥{{#price}}{{statementDetailDepositAmount}}{{/price}}</td>
                                            <td>￥{{#price}}{{statementDetailOverdueAmount}}{{/price}}</td>
                                            <td>￥{{#price}}{{statementDetailOtherAmount}}{{/price}}</td>
                                            <td>￥{{#price}}{{statementDetailPaidAmount}}{{/price}}</td>
                                            <td>{{statementDetailStatusValue}}</td>
                                            <td>{{#clockShorTime}}{{statementDetailPaidTime}}{{/clockShorTime}}</td>
                                            <td>
                                                <p class="mn">开始：{{#clockShorTime}}{{statementStartTime}}{{/clockShorTime}}</p>
                                                <p class="mn mt5">结束：{{#clockShorTime}}{{statementEndTime}}{{/clockShorTime}}</p>
                                            </td>
                                        </tr>
                                        {{/listData}}
                                        {{^listData}}
                                        <tr>
                                            <td valign="top" colspan="14" class="text-center">无结算明细列表</td>
                                        </tr>
                                        {{/listData}}
                                        {{/dataSource}}
                                        </tbody>
                                    </script>
                                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                                </div>
                            </div>
                            <div class="panel-footer clearfix">
                                <button class="btn btn-default pull-right ml15 goBack">返回</button>
                            </div>
                        </div>

                    </form>
                </section>
            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")
<script type="text/javascript">
    management_load_script('${staticManagement}/js', 'manage.statement.monthly.order.detail.js');
</script>
<script type="text/javascript">
    //功能事件初始化
    Rental.init();
    Layout.init();

    statementMonthlyDetail.init();

    //UI效果初始化
    Core.init();
    Demo.init();
</script>
</body>
</html>