<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-结算单管理-结算单</title>
    #parse("layout/header.vm")
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/daterange/daterangepicker.css">
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">

                #parse("component/loading.vm")

                <div class="panel panel-primary panel-border top">
                    <div class="panel-menu p12">
                        <div class="row">
                            <div class="col-md-3">
                                <script type="text/html" id="actionCommonButtonsTpl">
                                    <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                                    {{#acitonCommonButtons}}
                                    <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm {{class}}" title="{{menuName}}">
                                        <i class="{{iClass}}"></i> {{text}}
                                    </a>
                                    {{/acitonCommonButtons}}
                                </script>

                                <div class="btn-group" id="actionCommonButtons"></div>
                            </div>
                            <div class="col-md-9 text-right">
                                <form id="searchForm" class="form-horizontal">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary btn-sm">查询</button>
                                        <button type="reset" class="btn btn-default btn-sm">重置</button>
                                    </div>
                                    <div class="form-group pull-right mn mr10" style="width: 120px;">
                                        <input type="text" name="statementOrderNo" id="statementOrderNo" class="form-control input-sm bradius" autocomplete="off" placeholder="结算单编号">
                                    </div>

                                    <div class="field form-group pull-right mn mr10" style="width: 120px;">
                                        <input type="text" name="statementOrderCustomerName" id="statementOrderCustomerName" class="form-control input-sm bradius" autocomplete="off" placeholder="输入客户姓名">
                                    </div>
                                    <div class="form-group pull-right mn mr10">
                                        <div class="input-group">
                                            <select class="form-control input-sm bradius" name="statementOrderStatus" id="statementOrderStatus"></select>
                                        </div>
                                    </div>
                                    <div class="form-group pull-right mn mr10" style="width: 210px;">
                                        <input type="hidden" name="statementExpectPayStartTime" id="statementExpectPayStartTime" />
                                        <input type="hidden" name="statementExpectPayEndTime" id="statementExpectPayEndTime" />
                                        <div class="input-group date" id="createTimePicker">
                                            <input type="text" name="createTimePicker" id="createTimePickerInput" class="form-control input-sm bradiusL" autocomplete="off" placeholder="选择预计支付时间">
                                            <span class="input-group-addon cursor input-sm bradiusR"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="panel-body pn">
                        <div class="table-responsive">
                            <script type="text/html" id="dataListTpl">
                                <thead>
                                <tr class="bg-light">
                                    {{#hasCommonActionButtons}}
                                    <th class="text-center">
                                        <label class="option block mn">
                                            <input type="checkbox" name="orders" value="">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </th>
                                    {{/hasCommonActionButtons}}
                                    <th>结算单编号</th>
                                    <th>客户</th>
                                    <th>业务员</th>
                                    <th>结算单金额</th>
                                    <th>其它费用(运费等)</th>
                                    <th>结算日期</th>
                                    <th>预计支付日期</th>
                                    <th>已支付金额</th>
                                    <th>逾期金额</th>
                                    <th>结算状态</th>
                                    {{#hasRowActionButtons}}
                                    <th class="text-right">操作</th>
                                    {{/hasRowActionButtons}}
                                </tr>
                                </thead>
                                <tbody>
                                {{#dataSource}}
                                {{#listData}}
                                <tr>
                                    {{#hasCommonActionButtons}}
                                    <td class="text-center">
                                        <label class="option block mn">
                                            <input type="checkbox" name="mobileos" value="FR">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </td>
                                    {{/hasCommonActionButtons}}
                                    <td>{{statementOrderNo}}</td>
                                    <td>{{customerName}}</td>
                                    <td>{{ownerName}}</td>
                                    <td>￥{{#price}}{{statementAmount}}{{/price}}</td>
                                    <td>￥{{#price}}{{statementOhterAmount}}{{/price}}</td>
                                    <td>
                                        <p class="mn" title="结算明细最早的一个日期">开始：{{#clockShorTime}}{{statementStartTime}}{{/clockShorTime}}</p>
                                        <p class="mn mt5" title="结算明细最晚的一个日期">结束：{{#clockShorTime}}{{statementEndTime}}{{/clockShorTime}}</p>
                                    </td>
                                    <td>{{#shortTime}}{{statementExpectPayTime}}{{/shortTime}}</td>
##                                    <td>￥{{#price}}{{statementPaidAmount}}{{/price}}</td>
                                    <td>
                                        <p class="mn">￥{{#price}}{{statementPaidAmount}}{{/price}}</p>
                                        <p class="mn mt5" title="支付时间">{{#clockTime}}{{statementPaidTime}}{{/clockTime}}</p>
                                    </td>
                                    <td>￥{{#price}}{{statementOverdueAmount}}{{/price}}</td>
                                    <td class="{{statementOrderStatusClass}}">{{statementOrderStatusValue}}</td>
                                    {{#hasRowActionButtons}}
                                    <td class="text-right">
                                        <div class="btn-group text-right">
                                            {{#rowActionButtons}}
                                            {{#buttons}}
                                            <a href="${ctx}{{menuUrl}}?no={{statementOrderNo}}" type="button" class="btn btn-default btn-xs {{class}}" data-no="{{statementOrderNo}}" data-statementamount="{{statementAmount}}">{{text}}</a>
                                            {{/buttons}}
                                            {{/rowActionButtons}}
                                        </div>
                                    </td>
                                    {{/hasRowActionButtons}}
                                </tr>
                                {{/listData}}
                                {{^listData}}
                                <tr>
                                    <td valign="top" colspan="14" class="text-center">没有查询到结算单</td>
                                </tr>
                                {{/listData}}
                                {{/dataSource}}
                                </tbody>
                            </script>
                            <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                                #parse("component/pager.vm")
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/moment.min.js"></script>
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/daterangepicker.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js', 'manage.statement.order.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        StatementOrderManage.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>

</body>
</html>