<div class="panel panel-primary panel-border top mb35">
    <div class="panel-heading">
        <span class="panel-title">基本信息</span>
    </div>
    <div class="form-horizontal panel-body bg-light dark">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group field">
                    <label class="col-md-3 control-label">客户</label>
                    <div class="col-md-9">
                        <div class="input-group bringContainer">
                            <input id="buyerCustomerName" name="buyerCustomerName" bringFiled="buyerCustomerName" class="form-control required" type="text" readonly placeholder="请选择客户" />
                            <span class="input-group-addon cursor chooseSupplier" id="chooseBusinessCustomer"><i class="fa fa-search mr5"></i>企业客户</span>
                            <span class="input-group-addon cursor chooseSupplier" id="chooseCustomer"><i class="fa fa-search mr5"></i>个人客户</span>
                        </div>
                    </div>
                </div>
                <div class="form-group field">
                    <label class="col-md-3 control-label" style="visibility: hidden;">收货地址</label>
                    <div class="col-md-9">
                        #parse("component/customer/address.vm")
                    </div>
                </div>
                <div class="form-group field">
                    <label class="col-md-3 control-label">税率</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">17%</span>
                            <input class="form-control required taxRate2" type="text" name="highTaxRate" id="highTaxRate"  placeholder="请输入0-100的值" />
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <label class="col-md-3 control-label">税率</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">6%</span>
                            <input class="form-control required taxRate2" type="text" name="lowTaxRate" id="lowTaxRate" placeholder="请输入0-100的值" />
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
                <div class="form-group field">
                    <label class="col-md-3 control-label">配送日期</label>
                    <div class="col-md-3">
                        <div class="input-group date" id="createExpectDeliveryTimePicker">
                            <input id="expectDeliveryTime" name="expectDeliveryTime" class="form-control required" type="text" autocomplete="off"  placeholder="请选择交货日期" readonly />
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <label class="col-md-3 control-label">起租日期</label>
                    <div class="col-md-3">
                        <div class="input-group date" id="createTimePicker">
                            <input id="rentStartTime" name="rentStartTime" class="form-control required" type="text" autocomplete="off"  placeholder="请选择起租日期" readonly />
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group field">
                    <div class="col-md-6">
                        <label class="col-md-6 control-label">租赁类型</label>
                        <div class="col-md-6">
                            <div>
                                <select class="form-control bradius required" name="rentType" id="rentType"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-6 control-label">租赁时长</label>
                        <div class="col-md-6">
                            <div>
                                <input id="rentTimeLength" name="rentTimeLength" class="form-control number checkInteger required" type="text" placeholder="输入租赁时长" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group field">
                    <div class="col-md-6">
                        <label class="col-md-6 control-label">配送方式</label>
                        <div class="col-md-6">
                            <div>
                                <select class="form-control bradius required" name="deliveryMode" id="deliveryMode"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-6 control-label">是否同行调拨</label>
                        <div class="col-md-6">
                            <div>
                                <select class="form-control bradius required" name="isPeer" id="isPeer">
                                    <option value="0">否</option>
                                    <option value="1">是</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group field">

                    <div class="col-md-6 hide" id="statementDateFormGroup">
                        <label class="col-lg-6 control-label">结算日期</label>
                        <div class="col-lg-6">
                            <p class="form-control-static text-muted" id="statementDateValue"><a href="#" style="text-decoration: none;">请先选择客户</a></p>
                        </div>
                    </div>
##                    <div class="col-md-6">
##                        <label class="col-md-6 control-label">运费</label>
##                        <div class="col-md-6">
##                            <div>
##                                <input id="logisticsAmount" name="logisticsAmount" class="form-control moneyNumber" type="text" placeholder="请输入运费" />
##                            </div>
##                        </div>
##                    </div>
                </div>
                <div class="form-group field">
                    <label class="col-md-3 control-label">购买人备注</label>
                    <div class="col-md-9">
                        <textarea class="form-control" id="buyerRemark" rows="3"  name="buyerRemark"></textarea>
                    </div>
                </div>
                <div class="form-group field" id="orderSubCompanyNameFormControl">
                    <label class="col-md-3 control-label">发货公司</label>
                    <div class="col-md-9">
                        <div>
                            <select class="form-control required" name="deliverySubCompanyId" id="deliverySubCompanyId">
                                <option value="">请选择</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                #parse("component/customer/risk.vm")
            </div>
        </div>
    </div>
    <div class="panel-heading">
        <div class="row">
            <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
                <li class="active">
                    <a href="#purchaseOrderProductItems" data-toggle="tab">商品项（共<span id="orderItemProductCount">0</span>件）</a>
                </li>
                <li>
                    <a href="#purchaseOrderMaterialItems" data-toggle="tab">配件项（共<span id="orderItemMaterialCount">0</span>件）</a>
                </li>
                <li>
                    <a href="#purchaseOrderGroupProduct" data-toggle="tab">组合商品（共<span id="orderGroupProductCount">0</span>个）</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body dark pn">
        <div class="tab-content pn br-n">
            <div id="purchaseOrderProductItems" class="tab-pane active">
                <div class="panel-menu p12 br-n br-b">
                    <div class="row">
                        <div class="pull-left ml10">
                            <div class="btn-group" id="actionCommonButtons">
                                <button type="button" class="btn btn-primary btn-sm" id="batchAddProduct" title="选择商品">
                                    <i class="fa fa-plus"></i> 选择商品
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" id="batchDeleteProduct" title="删除商品">
                                    <i class="fa fa-trash-o"></i> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive hasTooltip">
                    <script type="text/html" id="dataListTpl">
                        <thead>
                        <tr class="bg-light">
                            <th>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkAll" value="">
                                    <span class="checkbox mn"></span>
                                </label>
                            </th>
                            <th>商品名称</th>
##                            <th>商品K3编号</th>
                            <th>类别</th>
                            <th>品牌</th>
                            <th>商品参数（SKU）</th>
                            <th>商品保值价</th>
                            <th class="rentalPriceTh"><span class="text">单价</span>#*<i class="fa fa-info-circle ml5 hide" style="cursor:pointer" role="button" data-toggle="popover" data-trigger="focus" data-content="按天租订单：输入金额为订单租赁时长每台价格"></i>*#</th>
                            <th>数量</th>
##                            <th>类型</th>
##                            <th>期限</th>
                            <th>设备押金</th>
                            <th>支付方式</th>
                            <th>首付金额</th>
                            <th>首付押金</th>
                            <th class="text-right">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#listData}}
                        <tr class="productRow skuRow" productRowKey="{{productId}}">
                            <td>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkItem" value="{{productId}}" data-skuid="{{skuId}}" data-isnew="{{isNewProduct}}" data-serialnumber="{{serialNumber}}" >
                                    <span class="checkbox mn"></span>
                                </label>
                            </td>
                            <td>
                                <p>
                                    {{#isNewValueBadge}}{{isNewProduct}}{{/isNewValueBadge}}
                                    {{productName}}
                                </p>
                            </td>
##                            <td>{{k3ProductNo}}</td>
                            <td style="max-width:260px;">{{#productInfo}}{{categoryName}}{{/productInfo}}</td>
                            <td>{{#productInfo}}{{brandName}}{{/productInfo}}</td>
                            <td>{{propertiesToStr}}</td>
                            <td>#*￥{{#price}}{{skuPrice}}{{/price}}*# ￥{{currentSkuPrice}}</td>
                            <td class="productUnitAmountTd">
                                <div class="smart-widget sm-right smr-50 mw200">
                                    <input type="hidden" name="isNewProduct" value="{{isNewProduct}}" class="isNewProduct" />
                                    <input type="hidden" name="productId" value="{{productId}}" class="productId" />
                                    <input type="hidden" name="skuId" value="{{skuId}}" class="productSkuId" />
                                    <input type="hidden" name="serialNumber" value="{{serialNumber}}" class="serialNumber" />
                                    <label class="field prepend-icon">
                                        <input type="text" name="productUnitAmount-{{skuId}}-{{rowKey}}" value="{{productUnitAmount}}" class="productUnitAmount form-control required gui-input" placeholder="支持四位小数" />
                                        <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                    </label>
                                    <button type="button" class="button btn-primary bradiusN chooseProductUnitAmount" data-productskuid="{{skuId}}"><i class="fa fa-search"></i></button>
                                </div>
                            </td>
                            <td>
                                <label class="field prepend-icon mw200">
                                    <input type="text" name="productCount-{{skuId}}-{{rowKey}}" value="{{productCount}}" class="productCount form-control required checkInteger pl10" placeholder="输入租赁数量" />
                                </label>
                            </td>

##                            <td>
##                                <label class="field select">
##                                    <select name="rentType-{{skuId}}-{{rowKey}}" class="rentType required" style="min-width: 130px;">
##                                        <option value="">选择租赁类型</option>
##                                        {{#rentTypeList}}
##                                        <option value="{{num}}" {{#selected}}selected{{/selected}}>{{value}}</option>
##                                        {{/rentTypeList}}
##                                    </select>
##                                    <i class="arrow"></i>
##                                </label>
##                            </td>
##                            <td>
##                                <div class="mw200">
##                                    <label class="field prepend-icon">
##                                        <input type="text" name="rentTimeLength-{{skuId}}-{{rowKey}}" value="{{rentTimeLength}}" class="rentTimeLength form-control required checkInteger pl10" placeholder="租赁时长" />
##                                    </label>
##                                </div>
##                            </td>

                            <td>
                                {{#showDepositAmount}}
                                <label class="field prepend-icon mw200">
                                    <input type="text" name="depositAmount-{{skuId}}-{{rowKey}}" value="{{depositAmount}}" class="depositAmount form-control required moneyNumber gui-input" placeholder="输入设备押金" />
                                    <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                </label>
                                {{/showDepositAmount}}
                                {{^showDepositAmount}}
                                    {{#isRentTypeByMonth}}
                                    <p>押{{depositCycle}}付{{paymentCycle}}</p>
                                    {{/isRentTypeByMonth}}
                                {{/showDepositAmount}}
                            </td>
                            <td>
                                {{#showDepositAmount}}
                                <label class="field select">
                                    <select name="payMode-{{skuId}}-{{rowKey}}" class="payMode required" style="min-width: 130px;">
                                        <option value="">选择支付方式</option>
                                        {{#payModeList}}
                                        <option value="{{num}}" {{#selected}}selected{{/selected}}>{{value}}</option>
                                        {{/payModeList}}
                                    </select>
                                    <i class="arrow"></i>
                                </label>
                                {{/showDepositAmount}}
                                {{^showDepositAmount}}
                                    <p>{{payModeValue}}</p>
                                {{/showDepositAmount}}
                            </td>

                            <td>{{#showFirstPayRentAmount}}￥{{#price}}{{firstNeedPayRentAmount}}{{/price}}{{/showFirstPayRentAmount}}</td>
                            <td>{{#showFirstDepositAmount}}￥{{#price}}{{firstNeedPayDepositAmount}}{{/price}}{{/showFirstDepositAmount}}</td>
                            <td class="text-right">
                                <div class="btn-group text-right">
                                    <a href="#" type="button" class="btn btn-default btn-xs deleteSKUButton" data-skuid="{{skuId}}" data-productid="{{productId}}" data-isnew="{{isNewProduct}}" data-serialnumber="{{serialNumber}}">删除</a>
                                </div>
                            </td>
                        </tr>
                        {{/listData}}
                        {{^listData}}
                        <tr>
                            <td valign="top" colspan="13" class="text-center">没有选择商品</td>
                        </tr>
                        {{/listData}}

                        <tr id="totalProductFirstNeedPay" class="text-danger hide">
                            <td colspan="10"></td>
                            <td colspan="3" class="text-right">
                                <span class="txt">商品首付总额：</span>
                                <span class="num"></span>
                            </td>
                        </tr>
                        </tbody>
                    </script>
                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                </div>
            </div>
            <div id="purchaseOrderMaterialItems" class="tab-pane">
                <div class="panel-menu p12 br-n br-b">
                    <div class="row">
                        <div class="pull-left ml10">
                            <div class="btn-group" id="actionCommonButtons">
                                <button type="button" class="btn btn-primary btn-sm" id="batchAddMaterial" title="选择配件">
                                    <i class="fa fa-plus"></i> 选择配件
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" id="batchDeleteMaterial" title="删除配件">
                                    <i class="fa fa-trash-o"></i> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <script type="text/html" id="materialDataListTpl">
                        <thead>
                        <tr>
                            <th>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkAll" value="">
                                    <span class="checkbox mn"></span>
                                </label>
                            </th>
                            <th>配件名称</th>
                            <th>品牌</th>
                            <th>类型</th>
                            <th>配件价值</th>
                            <th class="rentalPriceTh"><span class="text">单价</span>#*<i class="fa fa-info-circle ml5 hide" style="cursor:pointer" role="button" data-toggle="popover" data-trigger="focus" data-content="按天租订单：输入金额为订单租赁时长每台价格"></i>*#</th>
                            <th>数量</th>
                            <th>设备押金</th>
                            <th>支付方式</th>

                            <th>首付金额</th>
                            <th>首付押金</th>
                            <th class="text-right">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#dataSource}}
                        {{#listData}}
                        <tr class="materialRow">
                            <td>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkItem" value="{{materialNo}}"  data-isnew="{{isNewMaterial}}" data-serialnumber="{{serialNumber}}">
                                    <span class="checkbox mn"></span>
                                </label>
                            </td>
                            <td>
                                {{#isNewValueBadge}}{{isNewMaterial}}{{/isNewValueBadge}}
                                {{materialName}}
                            </td>
                            <td>{{brandName}}</td>
                            <td>{{materialTypeStr}}</td>
                            <td>￥{{currentMaterialPrice}}</td>
                            <td class="materialUnitAmountTd">
                                <div class="smart-widget sm-right smr-50 mw200">
                                    <label class="field prepend-icon">
                                        <input type="hidden" name="isNewMaterial" value="{{isNewMaterial}}" class="isNewMaterial" />
                                        <input type="hidden" name="materialNo" value="{{materialNo}}" class="materialNo" />
                                        <input type="hidden" name="materialId" value="{{materialId}}" class="materialId" />
                                        <input type="hidden" name="serialNumber" value="{{serialNumber}}" class="serialNumber" />
                                        <input type="text" name="materialUnitAmount-{{materialNo}}" value="{{materialUnitAmount}}" class="materialUnitAmount form-control required gui-input" placeholder="支持四位小数" />
                                        <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                    </label>
                                    <button type="button" class="button btn-primary bradiusN chooseMaterialUnitAmount" data-materialid="{{materialId}}"><i class="fa fa-search"></i></button>
                                </div>
                            </td>
                            <td>
                                <label class="field prepend-icon mw200">
                                    <input type="text" name="materialCount-{{materialNo}}" value="{{materialCount}}" class="materialCount form-control required checkInteger pl10" placeholder="输入租赁数量" />
                                </label>
                            </td>
                            <td>
                                {{#showDepositAmount}}
                                <label class="field prepend-icon mw200">
                                    <input type="text" name="depositAmount-{{materialNo}}" value="{{depositAmount}}" class="depositAmount form-control required moneyNumber gui-input" placeholder="输入配件押金" />
                                    <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                </label>
                                {{/showDepositAmount}}
                                {{^showDepositAmount}}
                                {{#isRentTypeByMonth}}
                                <p>押{{depositCycle}}付{{paymentCycle}}</p>
                                {{/isRentTypeByMonth}}
                                {{/showDepositAmount}}
                            </td>
                            <td>
                                {{#showDepositAmount}}
                                <label class="field select">
                                    <select name="payMode-{{skuId}}-{{rowKey}}" class="payMode required" style="min-width: 130px;">
                                        <option value="">选择支付方式</option>
                                        {{#payModeList}}
                                        <option value="{{num}}" {{#selected}}selected{{/selected}}>{{value}}</option>
                                        {{/payModeList}}
                                    </select>
                                    <i class="arrow"></i>
                                </label>
                                {{/showDepositAmount}}
                                {{^showDepositAmount}}
                                    <p>{{payModeValue}}</p>

                                {{/showDepositAmount}}
                            </td>
                            <td>{{#showFirstPayRentAmount}}￥{{#price}}{{firstNeedPayRentAmount}}{{/price}}{{/showFirstPayRentAmount}}</td>
                            <td>{{#showFirstDepositAmount}}￥{{#price}}{{firstNeedPayDepositAmount}}{{/price}}{{/showFirstDepositAmount}}</td>
                            <td class="text-right">
                                <div class="btn-group text-right">
                                    <a href="#" type="button" class="btn btn-default btn-xs delMaterialButton" data-materialno="{{materialNo}}" data-isnew="{{isNewMaterial}}" data-serialnumber="{{serialNumber}}">删除</a>
                                </div>
                            </td>
                        </tr>
                        {{/listData}}
                        {{^listData}}
                        <tr>
                            <td valign="top" colspan="12" class="text-center">没有选择配件</td>
                        </tr>
                        {{/listData}}
                        {{/dataSource}}
                        
                        <tr id="totalMaterialFirstNeedPay" class="text-danger hide">
                            <td colspan="9"></td>
                            <td colspan="3" class="text-right">
                                <span class="txt">配件首付总额：</span>
                                <span class="num"></span>
                            </td>
                        </tr>
                        </tbody>
                    </script>
                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="materialDataListTable"></table>
                </div>
            </div>

            <div id="purchaseOrderGroupProduct" class="tab-pane">
                <div class="panel-menu p12 br-n br-b">
                    <div class="row">
                        <div class="pull-left ml10">
                            <div class="btn-group" id="actionCommonButtons">
                                <button type="button" class="btn btn-primary btn-sm" id="batchAddGroup" title="选择商品">
                                    <i class="fa fa-plus"></i> 选择组合商品
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" id="batchDeleteGroup" title="删除商品">
                                    <i class="fa fa-trash-o"></i> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive hasTooltip">
                    <script type="text/html" id="groupListTpl">
                        <thead>
                        <tr class="bg-light">
                            <th>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkAll" value="">
                                    <span class="checkbox mn"></span>
                                </label>
                            </th>
                            <th>组合名称</th>
                            <th>商品项</th>
                            <th>配件项</th>
                            <th>数量</th>
                            <th class="text-right">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#listData}}
                        <tr class="groupRow" class="bg-light">
                            <td>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkItem" value="{{jointProductId}}" data-serialnumber="{{serialNumber}}" >
                                    <span class="checkbox mn"></span>
                                </label>
                            </td>
                            <td>{{jointProductName}}</td>
                            <td>{{groupedProductTostr}}</td>
                            <td>{{groupedMaterialTostr}}</td>
                            <td class="productUnitAmountTd">
                                <div class="smart-widget sm-right smr-50 mw200">
                                    <input type="hidden" name="jointProductId" class="jointProductId" value="{{jointProductId}}" />
                                    <input type="hidden" name="serialNumber" class="serialNumber" value="{{serialNumber}}" />
                                    <label class="field prepend-icon mw200">
                                        <input type="text" name="jointProductCount" value="{{jointProductCount}}" class="jointProductCount form-control required checkInteger pl10" placeholder="输入租赁数量" />
                                    </label>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="btn-group text-right">
                                    <a href="#" type="button" class="btn btn-default btn-xs deleteGroup" data-id="{{jointProductId}}" data-serialnumber="{{serialNumber}}">删除</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" class="pn br-n">
                                <div class="panel m15">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <ul class="nav panel-tabs-border panel-tabs panel-tabs-left orderItemTabs" id="modalList">
                                                <li class="active">
                                                    <a href="#groupProductItems-{{jointProductId}}" data-toggle="tab">商品项</a>
                                                </li>
                                                <li>
                                                    <a href="#groupMaterialItems-{{jointProductId}}" data-toggle="tab">配件项</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="panel-body light pn">
                                        <div class="tab-content pn br-n">
                                            <div id="groupProductItems-{{jointProductId}}" class="tab-pane tab-pane-order active">
                                                <div class="table-responsive">
                                                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable">
                                                        <thead>
                                                        <tr class="bg-light">
                                                            <th>商品编号</th>
                                                            <th>商品名称</th>
                                                            <th>类别</th>
                                                            <th>品牌</th>
                                                            <th>数量</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {{#chooseGroupProductList}}
                                                        <tr class="productRow bg-light">
                                                            <td>{{product.productNo}}</td>
                                                            <td>{{product.productName}}</td>
                                                            <td>{{product.categoryName}}</td>
                                                            <td>{{product.brandName}}</td>
                                                            <td>{{productCount}} </td>
                                                        </tr>
                                                        <tr class="br-n">
                                                            <td colspan="6" class="pn mn br-n">
                                                                <div class="productDetial row" style="margin:0;">
                                                                    <div class="panel">
                                                                        <div class="panel-body pn">
                                                                            <table class="table">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th>SKU</th>
                                                                                    <th>库存</th>
                                                                                    <th>价值</th>
                                                                                    <th>日租</th>
                                                                                    <th>月租</th>
##                                                                                    <th class="text-right">操作</th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    {{#chooseProductSkuList}}
                                                                                    <tr class="skuTr">
                                                                                        <td>{{propertiesToStr}}</td>
                                                                                        <td>
                                                                                            <p class="isUsed">{{oldProductSkuCount}}</p>
                                                                                            <p class="isNew hide">{{newProductSkuCount}}</p>
                                                                                        </td>
                                                                                        <td>
                                                                                            <p class="isUsed">￥{{#price}}{{skuPrice}}{{/price}}</p>
                                                                                            <p class="isNew hide">￥{{#price}}{{newSkuPrice}}{{/price}}</p>
                                                                                        </td>
                                                                                        <td>
                                                                                            <p class="isUsed">￥{{#price}}{{dayRentPrice}}{{/price}}</p>
                                                                                            <p class="isNew hide">￥{{#price}}{{newDayRentPrice}}{{/price}}</p>
                                                                                        </td>
                                                                                        <td>
                                                                                            <p class="isUsed">￥{{#price}}{{monthRentPrice}}{{/price}}</p>
                                                                                            <p class="isNew hide">￥{{#price}}{{newMonthRentPrice}}{{/price}}</p>
                                                                                        </td>
##                                                                                        <td class="text-right">
##                                                                                            <div class="btn-group text-right">
##                                                                                                <a href="#" type="button" class="btn btn-default btn-xs deleteSKUButton" data-jointid="{{jointProductId}}" data-skuid="{{skuId}}" data-productid="{{productId}}">删除</a>
##                                                                                            </div>
##                                                                                        </td>
                                                                                    </tr>
                                                                                    {{/chooseProductSkuList}}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        {{/chooseGroupProductList}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="groupMaterialItems-{{jointProductId}}" class="tab-pane tab-pane-order">
                                                <div class="table-responsive">
                                                    <table class="table admin-form theme-warning tc-checkbox-1 fs13">
                                                        <thead>
                                                        <tr>
                                                            <th>配件名称</th>
                                                            <th>品牌</th>
                                                            <th>类型</th>
                                                            <th>配件价值</th>
                                                            <th>数量</th>
##                                                            <th>设备押金</th>
##                                                            <th>支付方式</th>
##                                                            <th>首付金额</th>
##                                                            <th>首付押金</th>
##                                                            <th class="text-right">操作</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        {{#groupMaterial}}
                                                        {{#jointMaterialList}}
                                                        <tr class="materialRow" data-rowdata="{{materialJSONString}}">
                                                            <td>{{material.materialName}}</td>
                                                            <td>{{material.brandName}}</td>
                                                            <td>{{materialTypeStr}}</td>
                                                            <td>￥{{material.materialPrice}}</td>
                                                            <td>
                                                                <label class="field prepend-icon mw200">
                                                                    <input type="hidden" name="isNewMaterial" value="{{isNewMaterial}}" class="isNewMaterial" />
                                                                    <input type="hidden" name="materialNo" value="{{materialNo}}" class="materialNo" />
                                                                    <input type="hidden" name="materialId" value="{{materialId}}" class="materialId" />
                                                                    <input type="hidden" name="serialNumber" value="{{serialNumber}}" class="serialNumber" />
                                                                    <input type="text" name="materialCount-{{materialNo}}" value="{{materialCount}}" class="materialCount form-control required checkInteger pl10" placeholder="输入租赁数量" />
                                                                </label>
                                                            </td>
##                                                            <td>
##                                                                {{#showDepositAmount}}
##                                                                <label class="field prepend-icon mw200">
##                                                                    <input type="text" name="depositAmount-{{materialNo}}" value="{{depositAmount}}" class="depositAmount form-control required moneyNumber gui-input" placeholder="输入配件押金" />
##                                                                    <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
##                                                                </label>
##                                                                {{/showDepositAmount}}
##                                                                {{^showDepositAmount}}
##                                                                {{#isRentTypeByMonth}}
##                                                                <p>押{{depositCycle}}付{{paymentCycle}}</p>
##                                                                {{/isRentTypeByMonth}}
##                                                                {{/showDepositAmount}}
##                                                            </td>
##                                                            <td>
##                                                                {{#showDepositAmount}}
##                                                                <label class="field select">
##                                                                    <select name="payMode-{{skuId}}-{{rowKey}}" class="payMode required" style="min-width: 130px;">
##                                                                        <option value="">选择支付方式</option>
##                                                                        {{#payModeList}}
##                                                                        <option value="{{num}}" {{#selected}}selected{{/selected}}>{{value}}</option>
##                                                                        {{/payModeList}}
##                                                                    </select>
##                                                                    <i class="arrow"></i>
##                                                                </label>
##                                                                {{/showDepositAmount}}
##                                                                {{^showDepositAmount}}
##                                                                <p>{{payModeValue}}</p>
##
##                                                                {{/showDepositAmount}}
##                                                            </td>
##                                                            <td>{{#showFirstPayRentAmount}}￥{{#price}}{{firstNeedPayRentAmount}}{{/price}}{{/showFirstPayRentAmount}}</td>
##                                                            <td>{{#showFirstDepositAmount}}￥{{#price}}{{firstNeedPayDepositAmount}}{{/price}}{{/showFirstDepositAmount}}</td>
##                                                            <td class="text-right">
##                                                                <div class="btn-group text-right">
##                                                                    <a href="#" type="button" class="btn btn-default btn-xs delMaterialButton" data-materialno="{{materialNo}}" data-isnew="{{isNewMaterial}}" data-serialnumber="{{serialNumber}}">删除</a>
##                                                                </div>
##                                                            </td>
                                                        </tr>
                                                        {{/jointMaterialList}}
                                                        {{/groupMaterial}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{/listData}}
                        {{^listData}}
                        <tr>
                            <td valign="top" colspan="6" class="text-center">没有选择组合商品</td>
                        </tr>
                        {{/listData}}
                        </tbody>
                    </script>
                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="groupListTable"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body dark pn" style="border: none;">
        <div class="section row mn">
            <div class="col-md-12 text-danger text-right hide br-b br-l br-r" id="totalNeedPrice" style="padding:15px;">
                <span class="txt">订单首付总额：</span>
                <span class="num"></span>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <button class="btn btn-default pull-right ml15 goback">返回</button>
        <button type="submit" class="btn btn-primary pull-right">保存</button>
    </div>
</div>