<div class="panel-body" id="orderDetailInfo"></div>
<script type="text/html" id="orderDetailInfoTpl">
    {{#order}}
    <div class="dark">
        <div class="row">
            <div class="col-md-4">
                <h4>免押额度</h4>
                <dl class="dl-horizontal dl-horizontal-rental">
                    <dt><label style="letter-spacing: 0.4em;">授信总额度</label><span class="mr5">：</span></dt>
                    <dd class="mb5" id="creditAmount"></dd>

                    <dt><label style="letter-spacing: 0.4em;">已使用额度</label><span class="mr5">：</span></dt>
                    <dd class="mb5" id="creditAmountUsed"></dd>

                    <dt><label>剩余免押金额度</label><span class="mr5">：</span></dt>
                    <dd class="mb5" id="surplusCreditAmount"></dd>

                    <dt><label>本期免押金额度</label><span class="mr5">：</span></dt>
                    <dd class="mb5">￥{{#price}}{{totalCreditDepositAmount}}{{/price}}#*（商品：￥{{#price}}{{totalProductCreditDepositAmount}}{{/price}}, 配件：￥{{#price}}{{totalMaterialCreditDepositAmount}}{{/price}}）*#</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <h4>订单金额</h4>
                <dl class="dl-horizontal dl-horizontal-rental">
                    <dt><label style="letter-spacing: 1em">税率</label><span class="mr5">：</span></dt>
                    <dd class="mb5">
                        <em style="font-style: normal;" class="text-info mr5">17%:</em><em style="font-style: normal;" class="mr15">{{highTaxRate}}%</em>
                        <em style="font-style: normal;" class="text-info mr5">6%:</em><em style="font-style: normal;">{{lowTaxRate}}%</em>
                    </dd>

                    <dt><label style="letter-spacing: 1em">运费</label><span class="mr5">：</span></dt>
                    <dd class="mb5">￥{{#price}}{{logisticsAmount}}{{/price}}</dd>

                    <dt><label>设备押金</label><span class="mr5">：</span></dt>
                    <dd class="mb5">￥{{#price}}{{totalDepositAmount}}{{/price}}#*（商品：{{#price}}{{totalProductDepositAmount}}{{/price}}, 配件：￥{{#price}}{{totalMaterialDepositAmount}}{{/price}}）*#</dd>

                    <dt><label>租金押金</label><span class="mr5">：</span></dt>
                    <dd class="mb5">￥{{#price}}{{totalRentDepositAmount}}{{/price}}#*（商品：￥{{#price}}{{totalProductRentDepositAmount}}{{/price}}, 配件：￥{{#price}}{{totalMaterialRentDepositAmount}}{{/price}}）*#</dd>

                    <dt><label>租金总额</label><span class="mr5">：</span></dt>
                    <dd class="mb5">￥{{#price}}{{totalRentalAmoutFont}}{{/price}}#*（商品：￥{{#price}}{{totalProductAmount}}{{/price}}, 配件：￥{{#price}}{{totalMaterialAmount}}{{/price}}）*#</dd>

                    <dt><label>订单总价</label><span class="mr5">：</span></dt>
                    <dd class="mb5 text-danger">￥{{#price}}{{totalOrderAmount}}{{/price}}</dd>

                    <dt><label4>首付总额</label><span class="mr5">：</span></dt>
                    <dd class="mb5 text-danger">￥{{#price}}{{firstNeedPayAmount}}{{/price}}</dd>

                    <dt><label4>已付租金</label><span class="mr5">：</span></dt>
                    <dd class="mb5 text-danger">￥{{#price}}{{totalPaidOrderAmount}}{{/price}}</dd>
                </dl>
            </div>
            <div class="col-md-4">
                <h4>订单状态</h4>
                <div class="row pl15 mt15">
                    <ul class="Rental-timeline">
                        {{#orderTimeAxisTree}}
                        <li class="Rental-timeline-item {{#isLastLine}}Rental-timeline-item-last{{/isLastLine}}">
                            <div class="Rental-timeline-item-tail"></div>
                            <div class="Rental-timeline-item-head {{inlineClass}}"></div>
                            <div class="Rental-timeline-item-content"><span class="mr15">{{orderStatusValue}}</span><span>{{createTimeFormat}}</span></div>
                        </li>
                        {{/orderTimeAxisTree}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{/order}}
</script>
