<div id="purchaseOrderProductItems" class="tab-pane tab-pane-order active">
    <script type="text/html" id="pickingProductButtonsTpl">
        {{#hasActionButtons}}
        <div class="panel-menu p12 br-n br-b">
            <div class="row">
                <div class="pull-right ml10">
                    <div class="btn-group actionCommonButtons" >
                        {{#acitonButtons}}
                        <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm ml5 bradius {{class}}" title="{{text}}" data-orderno="{{orderNo}}">
                            <i class="{{iClass}}"></i> {{text}}
                        </a>
                        {{/acitonButtons}}
                    </div>
                </div>
            </div>
        </div>
        {{/hasActionButtons}}
    </script>
    <div id="pickingProductButtons"></div>
    <div class="table-responsive mb30">
        <script type="text/html" id="dataListTpl">
            <thead>
            <tr class="bg-light">
                <th>类别</th>
                <th>品牌</th>
                <th>商品名称</th>
##              <th>商品K3编号</th>
                <th>商品参数（SKU）</th>
                <th>商品保值价</th>
                <th>单价</th>
                <th>数量</th>
                <th>在租数量</th>
                <th>类型/期限</th>
                <th>商品总价</th>
                <th>支付方式</th>
                <th>设备押金</th>
                <th>首付金额</th>
                <th>首付押金</th>
                <th class="text-right">操作</th>
            </tr>
            </thead>
            <tbody>
            {{#listData}}
            <tr class="productRow" productRowKey="{{productId}}">
                <td>{{#productInfo}}{{categoryName}}{{/productInfo}}</td>
                <td>{{#productInfo}}{{brandName}}{{/productInfo}}</td>
                <td><span class="badge {{isNewProductBadgeClass}} mr5">{{#isNewValue}}{{isNewProduct}}{{/isNewValue}}</span>{{productName}}</td>
##               <td>{{k3ProductNo}}</td>
                <td>{{propertiesToStr}}</td>
                <td>￥{{currentSkuPrice}}</td>
                <td>￥{{#price}}{{productUnitAmount}}{{/price}}</td>
                <td>{{productCount}}</td>
                <td>{{rentingProductCount}}</td>
                <td>
                    <p>{{rentTypeValue}}</p>
                    <p>{{rentTimeLength}}{{rentTypeUnit}}</p>
                </td>
                <td>￥{{#price}}{{productAmount}}{{/price}}</td>
                <td>
                    <p>{{payModeValue}}</p>
                    {{#isRentTypeByMonth}}
                    <p>押{{depositCycle}}付{{paymentCycle}}</p>
                    {{/isRentTypeByMonth}}
                </td>
                <td>
                    ￥{{#price}}{{depositAmount}}{{/price}}
                </td>

                <td>{{#showFirstPayRentAmount}}￥{{#price}}{{firstNeedPayRentAmount}}{{/price}}{{/showFirstPayRentAmount}}</td>
                <td>{{#firstNeedPayDepositAmount}}￥{{#price}}{{firstNeedPayDepositAmount}}{{/price}}{{/firstNeedPayDepositAmount}}</td>
                <td class="text-right">
                    <div class="btn-group text-right">
                        <a href="#" type="button" class="btn btn-default btn-xs viewAffix" >查看配货信息</a>
                    </div>
                </td>
            </tr>
            <tr class="bg-light affixTr" style="height: 0;">
                <td colspan="14" class="pn br-n" style="height:0;">
                    <div class="panel m15 affixPanel"  style="display: none;">
                        <div class="panel-heading pn ph10">
                            <span>已配设备：共配 {{orderProductEquipmentListCount}} 件</span>
                        </div>
                        <div class="panel-body pn">
                            <table class="table">
                                <thead>
                                    <th>设备编号</th>
                                    <th>预计归还时间</th>
                                    <th>实际归还时间</th>
                                </thead>
                                {{#orderProductEquipmentListData}}
                                <tbody>
                                    {{#list}}
                                    <tr>
                                        <td>{{equipmentNo}}</td>
                                        <td>{{#shortTime}}{{expectReturnTime}}{{/shortTime}}</td>
                                        <td>{{#time}}{{actualReturnTime}}{{/time}}</td>
                                    </tr>
                                    {{/list}}
                                    {{^list}}
                                    <tr>
                                        <td class="br-r" colspan="3">无配货信息</td>
                                    </tr>
                                    {{/list}}
                                </tbody>
                                {{/orderProductEquipmentListData}}
                            </table>
                        </div>
                        <div class="panel-footer pn pv5 ph15">
                            <div class="row">
                                <button type="button" class="btn btn-default btn-xs pull-right hideAffixPanel">收起</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {{/listData}}
            {{^listData}}
            <tr>
                <td valign="top" colspan="15" class="text-center">没有选择商品</td>
            </tr>
            {{/listData}}
            <tr id="totalProductFirstNeedPay" class="text-danger hide">
                <td colspan="11"></td>
                <td colspan="3">
                    <span class="txt">首付总额：</span>
                    <span class="num"></span>
                </td>
            </tr>
            </tbody>
        </script>
        <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
    </div>
</div>