<div id="orderReceiptRecord" class="tab-pane tab-pane-order">
    <div id="receiptRecordContent"></div>
    
    <script type="text/html" id="imgBoxTpl">
        {{#img}}
        <div class="row mn">
            <p class="mn">交货单签收图</p>
            <span class="mix label1 folder1 custom-img-link" href="{{url}}" title="{{originalName}}" data-bound="" style="display: inline-block;">
                <div class="panel p6 pbn">
                    <div class="of-h">
                        <img src="{{url}}" style="max-height: 170px;"  alt="{{des}}"/>
                        <div class="row table-layout">
                            <div class="col-xs-8 va-m pln">
                                <h6>{{originalName}}</h6>
                            </div>
                            <div class="col-xs-4 text-right va-m prn">
                                <span class="fa fa-eye-slash fs12 text-muted"></span>
                                <span class="fa fa-circle fs10 text-info ml10"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </div>
        {{/img}}
    </script>
    <div id="mix-container" class="grid pl20"></div>
</div>
<script type="text/html" id="receiptRecordTpl">
    {{#receipt}}
    {{#hasProductList}}
    <table class="table admin-form theme-warning tc-checkbox-1 fs13">
        <thead>
            <tr class="bg-light">
                <th colspan="6" class="text-center">商品明细</th>
            </tr>
            <tr class="bg-light">
                <th>商品名称</th>
                <th>商品参数</th>
                <th class="text-center">单价</th>
                <th class="text-center">商品数量</th>
                <th class="text-center">收货数量</th>
                <th>确认收货时间</th>
            </tr>
        </thead>
        <tbody>
        {{#orderProduct}}
        {{#productList}}
        <tr>
            <td>
                {{#isNewValueBadge}}{{isNewProduct}}{{/isNewValueBadge}}
                {{productName}}
            </td>
            <td>{{propertiesToStr}}</td>
            <td class="text-center">￥{{#price}}{{productUnitAmount}}{{/price}}</td>
            <td class="text-center">{{stableProductCount}}</td>
            <td class="text-center">{{productCount}}</td>
            <td>{{#shortTime}}{{confirmDeliveryTime}}{{/shortTime}}</td>
        </tr>
        {{/productList}}
        {{/orderProduct}}
        </tbody>
    </table>
    {{/hasProductList}}

    {{#hasMaterialList}}
    <table class="table admin-form theme-warning tc-checkbox-1 fs13 mb15" style="border-bottom: 1px solid #eeeeee;">
        <thead>
            <tr class="bg-light">
                <th colspan="6" class="text-center">配件明细</th>
            </tr>
            <tr class="bg-light">
                <th>配件名称</th>
                <th>类型</th>
                <th class="text-center">单价</th>
                <th class="text-center">配件数量</th>
                <th class="text-center">收货数量</th>
                <th>确认收货时间</th>
            </tr>
        </thead>
        <tbody>
        {{#orderMaterial}}
        {{#materialList}}
        <tr>
            <td>
                {{#isNewValueBadge}}{{isNewIntValue}}{{/isNewValueBadge}}
                {{materialName}}
            </td>
            <td>{{materialTypeStr}}</td>
            <td class="text-center">￥{{#price}}{{materialUnitAmount}}{{/price}}</td>
            <td class="text-center">{{stableMaterialCount}}</td>
            <td class="text-center">{{materialCount}}</td>
            <td>{{#shortTime}}{{confirmDeliveryTime}}{{/shortTime}}</td>
        </tr>
        {{/materialList}}
        {{/orderMaterial}}
        </tbody>
    </table>
    {{/hasMaterialList}}

    {{#hasChangeReason}}
    <div class="row mn mb15 pl20">
        <span>退货原因</span>:
        <span>{{changeReason}}</span>
    </div>
    {{/hasChangeReason}}


##    <div id="mix-container" class="grid">
##        {{#deliveryNoteCustomerSignImg}}
##        <span class="mix label1 folder1 custom-img-link" href="{{imgDomain}}{{imgUrl}}" title="{{originalName}}" data-bound="" style="display: inline-block;">
##            <div class="panel p6 pbn">
##                <div class="of-h">
##                    <img src="{{imgDomain}}{{imgUrl}}" style="max-height: 170px;"  alt="{{originalName}}"/>
##                    <div class="row table-layout">
##                        <div class="col-xs-8 va-m pln">
##                            <h6>{{originalName}}</h6>
##                        </div>
##                        <div class="col-xs-4 text-right va-m prn">
##                            <span class="fa fa-eye-slash fs12 text-muted"></span>
##                            <span class="fa fa-circle fs10 text-info ml10"></span>
##                        </div>
##                    </div>
##                </div>
##
##            </div>
##        </span>
##        {{/deliveryNoteCustomerSignImg}}
##    </div>
    {{/receipt}}
    {{^receipt}}
    <div class="text-center row" style="height:42px; line-height:42px;">无客户签收记录</div>
    {{/receipt}}
</script>

