<div class="panel panel-primary panel-border top mb35">
    <div class="panel-heading">
        <span class="panel-title">基本信息</span>
    </div>
    <div class="form-horizontal panel-body bg-light dark">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group field">
                    <label class="col-md-3 control-label">客户</label>
                    <div class="col-md-9">
                        <div class="input-group bringContainer">
                            <input id="buyerCustomerName" name="buyerCustomerName" bringFiled="buyerCustomerName" class="form-control required" type="text" readonly placeholder="请选择客户" />
                            <span class="input-group-addon cursor chooseSupplier" id="chooseBusinessCustomer"><i class="fa fa-search mr5"></i>企业客户</span>
                            <span class="input-group-addon cursor chooseSupplier" id="chooseCustomer"><i class="fa fa-search mr5"></i>个人客户</span>
                        </div>
                    </div>
                </div>
                <div class="form-group field">
                    <label class="col-md-3 control-label" style="visibility: hidden;">收货地址</label>
                    <div class="col-md-9">
                        #parse("component/customer/address.vm")
                    </div>
                </div>
                <div class="form-group field">
                    <div class="col-md-6">
                        <label class="col-md-6 control-label">送货方式</label>
                        <div class="col-md-6">
                            <div>
                                <select class="form-control bradius required" name="deliveryMode" id="deliveryMode"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-6 control-label">运费</label>
                        <div class="col-md-6">
                            <div>
                                <input id="logisticsAmount" name="logisticsAmount" class="form-control moneyNumber" type="text" placeholder="请输入运费" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group field">
                    <div class="col-md-6">
                        <label class="col-md-6 control-label">租赁类型</label>
                        <div class="col-md-6">
                            <div>
                                <select class="form-control bradius required" name="rentType" id="rentType"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-6 control-label">租赁时长</label>
                        <div class="col-md-6">
                            <div>
                                <input id="rentTimeLength" name="rentTimeLength" class="form-control number required" type="text" placeholder="输入租赁时长" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group field">
                    <label class="col-md-3 control-label">送货日期</label>
                    <div class="col-md-3">
                        <div class="input-group date" id="createExpectDeliveryTimePicker">
                            <input id="expectDeliveryTime" name="expectDeliveryTime" class="form-control required" type="text" autocomplete="off"  placeholder="请选择交货日期" />
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <label class="col-md-3 control-label">起租日期</label>
                    <div class="col-md-3">
                        <div class="input-group date" id="createTimePicker">
                            <input id="rentStartTime" name="rentStartTime" class="form-control required" type="text" autocomplete="off"  placeholder="请选择起租日期" />
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group field">
                    <label class="col-md-3 control-label">税率</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">17%</span>
                            <input class="form-control required taxRate2" type="text" name="highTaxRate" id="highTaxRate"  placeholder="请输入0-100的值" />
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <label class="col-md-3 control-label">税率</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">6%</span>
                            <input class="form-control required taxRate2" type="text" name="lowTaxRate" id="lowTaxRate" placeholder="请输入0-100的值" />
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                </div>
                <div class="form-group field">
                    <label class="col-md-3 control-label">购买人备注</label>
                    <div class="col-md-9">
                        <textarea class="form-control" id="buyerRemark" rows="3"  name="buyerRemark"></textarea>
                    </div>
                </div>
                <div class="form-group field hide" id="orderSubCompanyNameFormControl">
                    <label class="col-md-3 control-label">订单所属公司</label>
                    <div class="col-md-9">
                        <div class="input-group bringContainer">
                            <input id="orderSubCompanyName" name="orderSubCompanyName" bringFiled="orderSubCompanyName" class="form-control required" type="text" readonly placeholder="请选择订单所属公司" />
                            <span class="input-group-addon cursor" id="chooseSubCompany"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                #parse("component/customer/risk.vm")
            </div>
        </div>
    </div>
    <div class="panel-heading">
        <div class="row">
            <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
                <li class="active">
                    <a href="#purchaseOrderProductItems" data-toggle="tab">商品项（共<span id="orderItemProductCount">0</span>件）</a>
                </li>
                <li>
                    <a href="#purchaseOrderMaterialItems" data-toggle="tab">配件项（共<span id="orderItemMaterialCount">0</span>件）</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body dark pn">
        <div class="tab-content pn br-n">
            <div id="purchaseOrderProductItems" class="tab-pane active">
                <div class="panel-menu p12 br-n br-b">
                    <div class="row">
                        <div class="pull-left ml10">
                            <div class="btn-group" id="actionCommonButtons">
                                <button type="button" class="btn btn-primary btn-sm" id="batchAddProduct" title="选择商品">
                                    <i class="fa fa-plus"></i> 选择商品
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" id="batchDeleteProduct" title="删除商品">
                                    <i class="fa fa-trash-o"></i> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <script type="text/html" id="dataListTpl">
                        <thead>
                        <tr class="bg-light">
                            <th>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkAll" value="">
                                    <span class="checkbox mn"></span>
                                </label>
                            </th>
                            <th>商品名称</th>
                            <th>类别</th>
                            <th>品牌</th>
                            <th>商品参数（SKU）</th>
                            <th>商品价值</th>
                            <th>商品单价</th>
                            <th>租赁数量</th>
##                            <th>租赁类型</th>
##                            <th>租赁时长</th>
                            <th>设备押金</th>
                            <th>支付方式</th>
                            <th class="text-right">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#listData}}
                        <tr class="productRow skuRow" productRowKey="{{productId}}">
                            <td>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkItem" value="{{productId}}" data-skuid="{{skuId}}" data-isnew="{{isNewProduct}}">
                                    <span class="checkbox mn"></span>
                                </label>
                            </td>
                            <td>
##                                <span class="badge {{isNewProductBadgeClass}} mr5">{{#isNewValue}}{{isNewProduct}}{{/isNewValue}}</span>
                                {{#isNewValueBadge}}{{isNewProduct}}{{/isNewValueBadge}}
                                {{productName}}
                            </td>
                            <td>{{#productInfo}}{{categoryName}}{{/productInfo}}</td>
                            <td>{{#productInfo}}{{brandName}}{{/productInfo}}</td>
                            <td>{{propertiesToStr}}</td>
                            <td>#*￥{{#price}}{{skuPrice}}{{/price}}*# ￥{{currentSkuPrice}}</td>
                            <td class="productUnitAmountTd">
                                <div class="smart-widget sm-right smr-50">
                                    <input type="hidden" name="isNewProduct" value="{{isNewProduct}}" class="isNewProduct" />
                                    <input type="hidden" name="productId" value="{{productId}}" class="productId" />
                                    <input type="hidden" name="skuId" value="{{skuId}}" class="productSkuId" />
                                    <label class="field prepend-icon">
                                        <input type="text" name="productUnitAmount-{{skuId}}-{{rowKey}}" value="{{productUnitAmount}}" class="productUnitAmount form-control required moneyNumber gui-input" placeholder="输入商品单价" />
                                        <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                    </label>
                                    <button type="button" class="button btn-primary bradiusN chooseProductUnitAmount" data-productskuid="{{skuId}}"><i class="fa fa-search"></i></button>
                                </div>
                            </td>
                            <td>
                                <label class="field prepend-icon mw200">
                                    <input type="text" name="productCount-{{skuId}}-{{rowKey}}" value="{{productCount}}" class="productCount form-control required checkInteger pl10" placeholder="输入租赁数量" />
                                </label>
                            </td>
##                            <td>
##                                <label class="field select">
##                                    <select name="rentType-{{skuId}}-{{rowKey}}" class="rentType required" style="min-width: 130px;">
##                                        <option value="">选择租赁类型</option>
##                                        {{#rentTypeList}}
##                                        <option value="{{num}}" {{#selected}}selected{{/selected}}>{{value}}</option>
##                                        {{/rentTypeList}}
##                                    </select>
##                                    <i class="arrow"></i>
##                                </label>
##                            </td>
##                            <td>
##                                <div class="mw200">
##                                    <label class="field prepend-icon">
##                                        <input type="text" name="rentTimeLength-{{skuId}}-{{rowKey}}" value="{{rentTimeLength}}" class="rentTimeLength form-control required checkInteger pl10" placeholder="租赁时长" />
##                                    </label>
##                                </div>
##                            </td>
                            <td>
                                {{#showDepositAmount}}
                                <label class="field prepend-icon">
                                    <input type="text" name="depositAmount-{{skuId}}-{{rowKey}}" value="{{depositAmount}}" class="depositAmount form-control required moneyNumber gui-input" placeholder="输入设备押金" />
                                    <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                </label>
                                {{/showDepositAmount}}
                            </td>
                            <td>
                                {{#showDepositAmount}}
                                <label class="field select">
                                    <select name="payMode-{{skuId}}-{{rowKey}}" class="payMode required" style="min-width: 130px;">
                                        <option value="">选择支付方式</option>
                                        {{#payModeList}}
                                        <option value="{{num}}" {{#selected}}selected{{/selected}}>{{value}}</option>
                                        {{/payModeList}}
                                    </select>
                                    <i class="arrow"></i>
                                </label>
                                {{/showDepositAmount}}
                            </td>
                            <td class="text-right">
                                <div class="btn-group text-right">
                                    <a href="#" type="button" class="btn btn-default btn-xs deleteSKUButton" data-skuid="{{skuId}}" data-productid="{{productId}}" data-isnew="{{isNewProduct}}">删除</a>
                                </div>
                            </td>
                        </tr>
                        {{/listData}}
                        {{^listData}}
                        <tr>
                            <td valign="top" colspan="14" class="text-center">没有选择商品</td>
                        </tr>
                        {{/listData}}
                        </tbody>
                    </script>
                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                </div>
            </div>
            <div id="purchaseOrderMaterialItems" class="tab-pane">
                <div class="panel-menu p12 br-n br-b">
                    <div class="row">
                        <div class="pull-left ml10">
                            <div class="btn-group" id="actionCommonButtons">
                                <button type="button" class="btn btn-primary btn-sm" id="batchAddMaterial" title="选择配件">
                                    <i class="fa fa-plus"></i> 选择配件
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" id="batchDeleteMaterial" title="删除配件">
                                    <i class="fa fa-trash-o"></i> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <script type="text/html" id="materialDataListTpl">
                        <thead>
                        <tr>
                            <th>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkAll" value="">
                                    <span class="checkbox mn"></span>
                                </label>
                            </th>
                            <th>配件名称</th>
                            <th>品牌</th>
                            <th>类型</th>
                            <th>配件价值</th>
                            <th>配件单价</th>
                            <th>数量</th>
##                            <th>租赁类型</th>
##                            <th>租赁时长</th>
                            <th>设备押金</th>
                            <th>支付方式</th>
                            <th class="text-right">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#dataSource}}
                        {{#listData}}
                        <tr class="materialRow">
                            <td>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkItem" value="{{materialNo}}"  data-isnew="{{isNewMaterial}}">
                                    <span class="checkbox mn"></span>
                                </label>
                            </td>
                            <td>
                                {{#isNewValueBadge}}{{isNewMaterial}}{{/isNewValueBadge}}
                                {{materialName}}
                            </td>
                            <td>{{brandName}}</td>
                            <td>{{materialTypeStr}}</td>
                            <td>￥{{currentMaterialPrice}}</td>
                            <td class="materialUnitAmountTd">
                                <div class="smart-widget sm-right smr-50">
                                    <label class="field prepend-icon">
                                        <input type="hidden" name="isNewMaterial" value="{{isNewMaterial}}" class="isNewMaterial" />
                                        <input type="hidden" name="materialNo" value="{{materialNo}}" class="materialNo" />
                                        <input type="hidden" name="materialId" value="{{materialId}}" class="materialId" />
                                        <input type="text" name="materialUnitAmount-{{materialNo}}" value="{{materialUnitAmount}}" class="materialUnitAmount form-control required moneyNumber gui-input" placeholder="输入配件单价" />
                                        <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                    </label>
                                    <button type="button" class="button btn-primary bradiusN chooseMaterialUnitAmount" data-materialid="{{materialId}}"><i class="fa fa-search"></i></button>
                                </div>
                            </td>
                            <td>
                                <label class="field prepend-icon mw200">
                                    <input type="text" name="materialCount-{{materialNo}}" value="{{materialCount}}" class="materialCount form-control required checkInteger pl10" placeholder="输入租赁数量" />
                                </label>
                            </td>
##                            <td>
##                                <label class="field select">
##                                    <select name="rentType-{{materialNo}}" class="rentType required" style="min-width: 130px;">
##                                        <option value="">选择租赁类型</option>
##                                        {{#rentTypeList}}
##                                        <option value="{{num}}" {{#selected}}selected{{/selected}}>{{value}}</option>
##                                        {{/rentTypeList}}
##                                    </select>
##                                    <i class="arrow"></i>
##                                </label>
##                            </td>
##                            <td>
##                                <div class="mw200">
##                                    <label class="field prepend-icon">
##                                        <input type="text" name="rentTimeLength-{{materialNo}}" value="{{rentTimeLength}}" class="rentTimeLength form-control required checkInteger pl10" placeholder="租赁时长" />
##                                    </label>
##                                </div>
##                            </td>
                            <td>
                                {{#showDepositAmount}}
                                <label class="field prepend-icon">
                                    <input type="text" name="depositAmount-{{materialNo}}" value="{{depositAmount}}" class="depositAmount form-control required moneyNumber gui-input" placeholder="输入配件押金" />
                                    <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                </label>
                                {{/showDepositAmount}}
                            </td>
                            <td>
                                {{#showDepositAmount}}
                                <label class="field select">
                                    <select name="payMode-{{skuId}}-{{rowKey}}" class="payMode required" style="min-width: 130px;">
                                        <option value="">选择支付方式</option>
                                        {{#payModeList}}
                                        <option value="{{num}}" {{#selected}}selected{{/selected}}>{{value}}</option>
                                        {{/payModeList}}
                                    </select>
                                    <i class="arrow"></i>
                                </label>
                                {{/showDepositAmount}}
                            </td>
                            <td class="text-right">
                                <div class="btn-group text-right">
                                    <a href="#" type="button" class="btn btn-default btn-xs delMaterialButton" data-materialno="{{materialNo}}" data-isnew="{{isNewMaterial}}">删除</a>
                                </div>
                            </td>
                        </tr>
                        {{/listData}}
                        {{^listData}}
                        <tr>
                            <td valign="top" colspan="14" class="text-center">没有选择配件</td>
                        </tr>
                        {{/listData}}
                        {{/dataSource}}
                        </tbody>
                    </script>
                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="materialDataListTable"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <button class="btn btn-default pull-right ml15 goback">返回</button>
        <button type="submit" class="btn btn-primary pull-right">保存</button>
    </div>
</div>