<div id="reletOrderList" class="tab-pane tab-pane-order">
    <div class="table-responsive" style="overflow-x: scroll;">
        <script type="text/html" id="reletOrderTpl">
            <thead>
            <tr class="bg-light">
                <th class="nowrap">起租时间</th>
                <th class="nowrap">租赁类型/期限</th>
                <th class="nowrap">预计归还时间</th>
                <th class="nowrap">结算时间</th>
                <th class="nowrap">商品总数</th>
                <th class="nowrap">商品总价</th>
                <th class="nowrap">配件总数</th>
                <th class="nowrap">配件总价</th>
                <th class="nowrap">订单总价</th>
                <th class="nowrap">已支付金额</th>
                <th class="nowrap">支付状态</th>
                <th class="nowrap">订单状态</th>
                <th class="nowrap">业务员</th>
                {{#hasReletButtons}}
                <th class="nowrap text-right">操作</th>
                {{/hasReletButtons}}
            </tr>
            </thead>
            <tbody>
            {{#dataSource}}
            {{#listData}}
            <tr>  
                <td class="nowrap">{{#clockShorTime}}{{rentStartTime}}{{/clockShorTime}}</td>
                <td class="nowrap">
                    <p>{{rentLengthTypeValue}}</p>
                    <p>{{rentTimeLength}}{{rentTypeUnit}}</p>
                </td>
                <td class="nowrap">{{#clockShorTime}}{{expectReturnTime}}{{/clockShorTime}}</td>
                <td class="nowrap">{{#rentTypeByMonth}}{{statementDateValue}}{{/rentTypeByMonth}}</td>
                <td class="nowrap">{{totalProductCount}}</td>
                <td class="nowrap">￥{{#price}}{{totalProductAmount}}{{/price}}</td>
                <td class="nowrap">{{totalMaterialCount}}</td>
                <td class="nowrap">￥{{#price}}{{totalMaterialAmount}}{{/price}}</td>
                <td class="nowrap">￥{{#price}}{{totalOrderAmount}}{{/price}}</td>
                <td class="nowrap">￥{{#price}}{{totalPaidOrderAmount}}{{/price}}</td>
                <td class="nowrap">{{payStatusValue}}</td>
                <td class="nowrap">{{orderStatusValue}}</td>
                <td class="nowrap">{{orderSellerName}}</td>
                {{#hasReletButtons}}
                    <td class="nowrap text-right">
                        <div class="btn-group" style="width:108px;">
                            {{#reletButtons}}
                            <a href="${ctx}{{menuUrl}}?no={{reletOrderNo}}" class="btn btn-default btn-xs {{class}} pull-right" data-no="{{reletOrderNo}}">{{text}}</a>
                            {{/reletButtons}}
                        </div>
                    </td>
                {{/hasReletButtons}}
            </tr>
            {{/listData}}
            {{^listData}}
            <tr>
                <td valign="top" colspan="14" class="text-center">没有查询到续租单</td>
            </tr>
            {{/listData}}
            {{/dataSource}}
            </tbody>
        </script>
        <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="reletOrderTable"></table>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12 text-right mt10 mb10">
            #parse("component/pager.vm")
        </div>
    </div>
</div>