<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-财务管理-财务统计</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">

                #parse("component/loading.vm")

                <div class="panel panel-primary panel-border top">
                    <div class="panel-menu p12">
                        <div class="section row">
                            <form class="admin-form">
                                <div class="col-md-3">
                                    <label for="monthTime" class="field-label">选择年月</label>
                                    <label for="monthTime" class="input-group" style="height:42px;">
                                        <input type="text" name="monthTime" id="monthTime" data-type="date" data-format="yyyy-MM" class="form-control input-sm bradiusL" autocomplete="off" placeholder="选择年月"  style="height:42px;">
                                        <span class="input-group-addon cursor input-sm bradiusR"><i class="fa fa-calendar"></i></span>
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label for="weekNumber" class="field-label">第几周</label>
                                    <label for="weekNumber" class="field prepend-icon">
                                        <input type="text" name="weekNumber" id="weekNumber" class="gui-input number bradius" />
                                        <label for="weekNumber" class="field-icon"><i class="fa fa-tag"></i></label>
                                    </label>
                                </div>
                            </form>
                        </div>
                        <div class="section row mt20">
                            <div class="col-md-12">
                                <form id="exportForm" class="hide">
                                    <input type="text" name="year"/>
                                    <input type="text" name="month"/>
                                    <input type="text" name="weekOfMonth"/>
                                </form>
                                <a id="recountButton" class="btn btn-default btn-sm mr20">重新统计</a>
                                <a id="exportButton" class="btn btn-default btn-sm">导出财务周报</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")
    <script type="text/javascript" src="${staticCommon}assets/admin-tools/admin-forms/js/jquery-tcm-month.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js', 'manage.finance.statistics.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        FinancialStatisticsManage.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>

</body>
</html>