<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-财务管理-资金流水</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
<div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">

            #parse("component/loading.vm")

            <div class="panel panel-primary panel-border top">
                <div class="panel-menu p12">
                    <div class="row">
                        <div class="pull-left ml10">
                            <script type="text/html" id="actionCommonButtonsTpl">
                                <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
##                                {{#acitonCommonButtons}}
                                <a href="javascript:;" class="btn btn-primary btn-sm designateBtn" title="批量指派">
                                    <i class="fa fa-tag"></i> 批量指派
                                </a>
##                                {{/acitonCommonButtons}}
                            </script>

                            <div class="btn-group" id="actionCommonButtons"></div>
                        </div>
                        <div class="pull-right mr10 text-right">
                            <form id="searchForm" class="form-horizontal">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary btn-sm">查询</button>
                                    <button type="reset" class="btn btn-default btn-sm">重置</button>
                                </div>
                                <div class="field form-group pull-right mn mr10" style="width: 120px;">
                                    <div class="input-group">
                                        <input type="text" name="payerName" id="payerName" class="form-control input-sm bradius" autocomplete="off" placeholder="付款人姓名">
                                    </div>
                                </div>
                                <div class="field form-group pull-right mn mr10" style="width: 120px;">
                                    <div class="input-group">
                                        <input type="text" name="bankSlipId" id="bankSlipId" class="form-control input-sm bradius" autocomplete="off" placeholder="银行流水ID">
                                    </div>
                                </div>
                                <div class="form-group pull-right mn mr10">
                                    <div class="input-group">
                                        <select class="form-control input-sm bradius" name="isLocalization" id="isLocalization"></select>
                                    </div>
                                </div>
                                <div class="form-group pull-right mn mr10">
                                    <div class="input-group">
                                        <select class="form-control input-sm bradius" name="detailStatus" id="detailStatus"></select>
                                    </div>
                                </div>
                                <div class="form-group pull-right mn mr10" style="width: 210px;">
                                    <label for="slipMonth" class="input-group date">
                                        <input type="text" name="slipMonth" id="slipMonth" data-type="date" data-format="yyyy-MM" class="form-control input-sm bradiusL" autocomplete="off" placeholder="选择月份">
                                        <span class="input-group-addon cursor input-sm bradiusR"><i class="fa fa-calendar"></i></span>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body pn">
                    <div class="table-responsive">
                        <script type="text/html" id="dataListTpl">
                            <thead>
                            <tr>
##                                {{#hasCommonActionButtons}}
                                <th>
                                    <label class="option block mn">
                                        <input type="checkbox" name="checkAll" value="">
                                        <span class="checkbox mn"></span>
                                    </label>
                                </th>
##                                {{/hasCommonActionButtons}}
                                <th>资金流水ID</th>
                                <th>付款人</th>
                                <th>商户订单号</th>
                                <th>对方账号</th>
                                <th>银行类型</th>
                                <th>交易流水号</th>
                                <th>交易金额</th>
                                <th>交易附言</th>
                                <th>当前流水归属</th>
                                <th>流水总表所属公司</th>
                                <th>是否属地化</th>
                                <th>明细状态</th>
                                <th>备注</th>
                                <th>创建人</th>
                                {{#hasRowActionButtons}}
                                <th class="text-right">操作</th>
                                {{/hasRowActionButtons}}
                            </tr>
                            </thead>
                            <tbody>
                            {{#dataSource}}
                            {{#listData}}
                            <tr>
##                                {{#hasCommonActionButtons}}
                                <td>
                                    <label class="option block mn">
                                        <input type="checkbox" name="checkItem" value="{{bankSlipDetailId}}">
                                        <span class="checkbox mn"></span>
                                    </label>
                                </td>
##                                {{/hasCommonActionButtons}}
                                <td>{{bankSlipId}}</td>
                                <td>{{payerName}}</td>
                                <td>{{merchantOrderNo}}</td>
                                <td>{{otherSideAccountNo}}</td>
                                <td>{{bankSlipBankTypeValue}}</td>
                                <td>{{tradeSerialNo}}</td>
                                <td>
                                    <p class="mn">￥{{#price}}{{tradeAmount}}{{/price}}</p>
                                    <p class="mn mt5">{{#clockShorTime}}{{tradeTime}}{{/clockShorTime}}</p>
                                </td>
                                <td>{{tradeMessage}}</td>
                                <td>{{subCompanyName}}</td>
                                <td>{{localizationSubCompanyName}}</td>
                                <td>{{isLocalizationValue}}</td>
                                <td>{{detailStatusValue}}</td>
                                <td>{{remark}}</td>
                                <td>
                                    <p class="mn">{{createUserRealName}}</p>
                                    <p class="mn mt5">{{#clockShorTime}}{{createTime}}{{/clockShorTime}}</p>
                                </td>
                                {{#hasRowActionButtons}}
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">操作<span class="caret ml5"></span></button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            {{#rowActionButtons}}
                                            <li>
                                                <a href="${ctx}{{menuUrl}}?bankSlipDetailId={{bankSlipDetailId}}" class="{{class}}" data-tradeamount="{{tradeAmount}}" data-bankslipdetailid="{{bankSlipDetailId}}" data-status="{{detailStatus}}">{{text}}</a>
                                            </li>
                                            {{/rowActionButtons}}
                                        </ul>
                                    </div>
                                </td>
                                {{/hasRowActionButtons}}
                            </tr>
                            {{/listData}}
                            {{^listData}}
                            <tr>
                                <td valign="top" colspan="18" class="text-center">没有查询到资金流水信息</td>
                            </tr>
                            {{/listData}}
                            {{/dataSource}}
                            </tbody>
                        </script>
                        <table class="table table-striped admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                            #parse("component/pager.vm")
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
<script type="text/javascript" src="${staticCommon}assets/admin-tools/admin-forms/js/jquery-tcm-month.js"></script>
<script type="text/javascript">
    management_load_script('${staticManagement}/js',
            'modal.choose.customerByAll.js',
            'modal.choose.company.js',
            'manage.jurnal.amount.trade.modal.js',
            'manage.jurnal.amount.handle.mixin.js',
            'manage.jurnal.amount.detail.list.js');
</script>
<script type="text/javascript">
    //功能事件初始化
    Rental.init();
    Layout.init();
    JurnalDetailListManage.init();

    //UI效果初始化
    Core.init();
    Demo.init();

</script>
</body>
</html>