<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-结算单管理-对账单-详细</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
<div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            <form class="" id="statementOrderDetailForm">
                <div class="panel panel-primary panel-border top mb15">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="headerInfo"></div>
                                <script type="text/html" id="headerInfoTpl">
                                    <h5>付款人名称：<small>{{payerName}}</small></h5>
                                </script>
                            </div>
                            <div class="col-md-8 text-right">
                                <script type="text/html" id="actionButtonsTpl">
                                    {{#acitonButtons}}
                                    {{#showButton}}
                                    <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm ml5 bradius {{class}}" title="{{menuName}}" data-no="{{no}}">
                                        <i class="{{iClass}}"></i> {{text}}
                                    </a>
                                    {{/showButton}}
                                    {{/acitonButtons}}
                                </script>
                                <div class="btn-group" id="actionButtons"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="jurnalBaseInfo"></div>
                    </div>
                    <script type="text/html" id="jurnalBaseInfoTpl">
                        {{#jurnal}}
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="dl-horizontal">
                                    <dt>商户订单号：</dt><dd class="mb5">{{merchantOrderNo}}&nbsp;</dd>
                                    <dt>对方账号：</dt><dd class="mb5">{{otherSideAccountNo}}&nbsp;</dd>
                                    <dt>明细状态：</dt><dd class="mb5">{{detailStatusValue}}&nbsp;</dd>
                                    <dt>创建人：</dt><dd class="mb5">{{createUserRealName}}&nbsp;</dd>
                                    <dt>创建时间：</dt><dd class="mb5">{{#clockTime}}{{createTime}}{{/clockTime}}&nbsp;</dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="dl-horizontal">
                                    <dt>交易流水号：</dt><dd class="mb5">{{tradeSerialNo}}&nbsp;</dd>
                                    <dt>交易金额：</dt><dd class="mb5">￥{{#price}}{{tradeAmount}}{{/price}}&nbsp;</dd>
                                    <dt>交易日期：</dt><dd class="mb5">{{#clockShorTime}}{{tradeTime}}{{/clockShorTime}}&nbsp;</dd>
                                    <dt>交易附言：</dt><dd class="mb5">{{tradeMessage}}&nbsp;</dd>
                                </dl>
                            </div>
                        </div>
                        {{/jurnal}}
                    </script>
                </div>

                <div class="panel">
                    <div class="panel-body light pn">
                        <div class="table-responsive">
                            <script type="text/html" id="dataListTpl">
                                <thead>
                                <tr class="bg-light">
                                    <th>资金流水明细ID</th>
                                    <th>客户编码</th>
                                    <th>对方账号</th>
                                    <th>状态</th>
                                    <th>认领流水号</th>
                                    <th>认领金额</th>
                                    <th>充值状态</th>
                                    <th>备注</th>
                                    <th>创建人</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#dataSource}}
                                {{#listData}}
                                <tr>
                                    <td>{{bankSlipDetailId}}</td>
                                    <td>{{customerNo}}</td>
                                    <td>{{otherSideAccountNo}}</td>
                                    <td>{{dataStatusValue}}</td>
                                    <td>{{claimSerialNo}}</td>
                                    <td>￥{{#price}}{{claimAmount}}{{/price}}</td>
                                    <td>{{rechargeStatusValue}}</td>
                                    <td>{{remark}}</td>
                                    <td>
                                        <p class="mn">{{createUserRealName}}</p>
                                        <p class="mn mt5">{{#clockTime}}{{createTime}}{{/clockTime}}</p>
                                    </td>
                                </tr>
                                {{/listData}}
                                {{^listData}}
                                <tr>
                                    <td valign="top" colspan="10" class="text-center">无资金流水明细数据</td>
                                </tr>
                                {{/listData}}
                                {{/dataSource}}
                                </tbody>
                            </script>
                            <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <button class="btn btn-default pull-right ml15 goBack">返回</button>
                    </div>
                </div>

            </form>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
<script type="text/javascript">
    management_load_script('${staticManagement}/js', 'manage.jurnal.amount.detail.js');
</script>
<script type="text/javascript">
    //功能事件初始化
    Rental.init();
    Layout.init();

    JurnalAmountDetail.init();

    //UI效果初始化
    Core.init();
    Demo.init();
</script>
</body>
</html>