<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-采购管理-收料通知-编辑</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            <form class="" id="editPurchaseReceiveForm">
                <div class="panel panel-primary panel-border top mb35">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>收货单号：<small id="purchaseReceiveNo"></small></h5>
                            </div>
                            <div class="col-md-8"></div>
                        </div>
                    </div>
                    <div class="form-horizontal panel-body bg-light dark">
                        <script type="text/html" id="baserInfoTpl">
                            {{#dataSource}}
                            <div class="col-md-3">
                                <dl class="dl-horizontal">
                                    <dt class="mb10">采购单编号</dt><dd>{{purchaseOrderNo}}</dd>
                                    <dt class="mb10">供应商</dt><dd>{{productSupplierName}}</dd>
                                    <dt class="mb10">是否有发票</dt><dd>{{isInvoiceStr}}</dd>
                                </dl>
                            </div>
                            <div class="col-md-3">
                                <dl class="dl-horizontal">
                                    <dt class="mb10">仓库</dt><dd>{{warehouseName}}</dd>
                                    <dt class="mb10">分拨情况</dt><dd>{{autoAllotStatusStr}}</dd>
                                    <dt class="mb10">分拨单号</dt><dd>{{autoAllotNo}}</dd>
                                </dl>
                            </div>
                            <div class="col-md-3">
                                <dl class="dl-horizontal">
                                    <dt class="mb10">签单时间</dt><dd>{{confirmTimeFormat}}</dd>
                                    <dt class="mb10">签单人</dt><dd>{{ownerName}}</dd>
                                </dl>
                            </div>
                            <div class="col-md-3">
                                <dl class="dl-horizontal">
                                    <dt class="mb10">创建时间</dt><dd>{{createTimeFormat}}</dd>
                                    <dt class="mb10">创建人</dt><dd>{{createUser}}</dd>
                                    <dt class="mb10">修改时间</dt><dd>{{updateTimeFormat}}</dd>
                                    <dt class="mb10">修改人</dt><dd>{{updateUser}}</dd>
                                </dl>
                            </div>
                            {{/dataSource}}
                        </script>
                        <div class="row" id="baseInfo">
                            <div class="col-md-3">
                                <dl class="dl-horizontal">
                                    <dt class="mb10">采购单编号</dt><dd></dd>
                                    <dt class="mb10">供应商</dt><dd></dd>
                                </dl>
                            </div>
                            <div class="col-md-3">
                                <dl class="dl-horizontal">
                                    <dt class="mb10">仓库</dt><dd></dd>
                                    <dt class="mb10">分拨情况</dt><dd></dd>
                                    <dt class="mb10">分拨单号</dt><dd></dd>
                                </dl>
                            </div>
                            <div class="col-md-3">
                                <dl class="dl-horizontal">
                                    <dt class="mb10">签单时间</dt><dd></dd>
                                    <dt class="mb10">签单人</dt><dd></dd>
                                </dl>
                            </div>
                            <div class="col-md-3">
                                <dl class="dl-horizontal">
                                    <dt class="mb10">创建时间</dt><dd></dd>
                                    <dt class="mb10">创建人</dt><dd></dd>
                                    <dt class="mb10">修改时间</dt><dd></dd>
                                    <dt class="mb10">修改人</dt><dd></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal panel-body bg-light dark">
                        <div class="col-md-4">
                            <div class="form-group field">
                                <label class="col-md-3 control-label">全新机器</label>
                                <div class="col-md-9">
                                    <div class="radio-custom mt10 mr15 pull-left">
                                        <input type="radio" id="isNew1" name="isNew" value="1" class="required" />
                                        <label for="isNew1">是</label>
                                    </div>
                                    <div class="radio-custom mt10 pull-left">
                                        <input type="radio" id="isNew2" name="isNew" value="0" class="required" />
                                        <label for="isNew2">否</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <div class="row">
                            <ul class="nav panel-tabs-border panel-tabs">
                                <li class="active">
                                    <a href="#purchaseOrderProductItems" data-toggle="tab">商品项</a>
                                </li>
                                <li>
                                    <a href="#purchaseOrderMaterialItems" data-toggle="tab">物料项</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body dark pn">
                        <div class="tab-content pn br-n">
                            <div id="purchaseOrderProductItems" class="tab-pane active">
                                <div class="panel-menu p12 br-n br-b">
                                    <div class="row">
                                        <div class="pull-left ml10">
                                            <div class="btn-group" id="actionCommonButtons">
                                                <button type="button" class="btn btn-primary btn-sm" id="batchAddProduct" title="选择商品">
                                                    <i class="fa fa-plus"></i> 选择商品
                                                </button>
                                                <button type="button" class="btn btn-primary btn-sm" id="batchDeleteProduct" title="删除商品">
                                                    <i class="fa fa-trash-o"></i> 删除
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <script type="text/html" id="dataListTpl">
                                        <thead>
                                        <tr class="bg-light">
                                            <th>
                                                <label class="option block mn">
                                                    <input type="checkbox" name="checkAll" value="">
                                                    <span class="checkbox mn"></span>
                                                </label>
                                            </th>
                                            <th>商品ID</th>
                                            <th>图片</th>
                                            <th>商品名称</th>
                                            <th>列表价格</th>
                                            <th>SKU</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#dataSource}}
                                        {{#listData}}
                                        <tr class="productRow" productRowKey="{{productId}}">
                                            <td>
                                                <label class="option block mn">
                                                    <input type="checkbox" name="checkItem" value="{{productId}}">
                                                    <span class="checkbox mn"></span>
                                                </label>
                                            </td>
                                            <td>{{productId}}</td>
                                            <td><a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a></td>
                                            <td>{{productName}}</td>
                                            <td class="br-r">{{listPriceFixed}}</td>
                                            <td class="pn">
                                                <table class="table">
                                                    {{#chooseSkuList}}
                                                    {{#skuList}}
                                                    <tr class="skuRow">
                                                        <td style="width: 50%">{{propertiesToStr}}</td>
##                                                        <td style="width: 20%">
##                                                            <input type="hidden" name="skuId" value="{{productId}}" class="productId" />
##                                                            <input type="hidden" name="skuId" value="{{skuId}}" class="productSkuId" />
##                                                            <label class="field prepend-icon mw200">
##                                                                <input type="text" name="productAmount-{{skuId}}-{{rowKey}}" value="{{productAmount}}" class="productAmount form-control required moneyNumber" placeholder="输入采购价格" />
##                                                                <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
##                                                            </label>
##                                                        </td>
                                                        <td style="width: 30%">
                                                            <input type="hidden" name="productId" value="{{productId}}" class="productId" />
                                                            <input type="hidden" name="productSkuId" value="{{skuId}}" class="productSkuId" />
                                                            <input type="hidden" name="purchaseReceiveOrderProductId" value="{{purchaseReceiveOrderProductId}}" class="purchaseReceiveOrderProductId" />
                                                            <label class="field prepend-icon mw200">
                                                                <input type="text" name="productCount-{{skuId}}-{{rowKey}}" value="{{productCount}}" class="productCount form-control required number pl10" placeholder="输入采购数量" />
                                                            </label>
                                                        </td>
                                                        <td style="width:20%" class="text-right">
                                                            <div class="btn-group text-right">
                                                                <a href="#" type="button" class="btn btn-default btn-xs editMaterialButton" data-skuid="{{skuId}}" data-productid="{{productId}}">编辑物料</a>
                                                                <a href="#" type="button" class="btn btn-default btn-xs deleteSKUButton" data-skuid="{{skuId}}" data-productid="{{productId}}">删除</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="bg-light editMaterialTr" style="height: 0;">
                                                        <td colspan="4" class="pn br-n" style="height:0;">
                                                            <div class="panel m15 editMaterialPannel" style="display: none;">
                                                                <div class="panel-heading pn ph8">
                                                                    <span>选择物料</span>
                                                                </div>
                                                                <div class="panel-body pn">
                                                                    <table class="table">
                                                                        {{#shouldMaterialList}}
                                                                        <tr class="materialRow" data-materialtype="{{materialType}}" data-skuid="{{skuId}}" data-productid="{{productId}}">
                                                                            <td class="br-r">{{propertyName}}：{{propertyValueName}}</td>
                                                                            <td class="pn">
                                                                                <input type="hidden" name="propertyCapacityValue" value="{{propertyCapacityValue}}" />
                                                                                <table class="table pn br-r materialInputTable" >
                                                                                    {{#materialList}}
                                                                                    <tr class="materialInputRow" #*data-materialtype="{{materialType}}" data-skuid="{{skuId}}" data-productid="{{productId}}"*#>
                                                                                        <td style="width: 50%;">
                                                                                            <div class="field">
                                                                                                <div class="input-group bringContainer">
                                                                                                    <input type="hidden" name="materialCapacityValue" value="{{materialCapacityValue}}" class="materialCapacityValue" />
                                                                                                    <input type="hidden" name="materialNo" value="{{materialNo}}" class="materialNo" />
                                                                                                    <input name="materialName-{{skuId}}-{{rowKey}}-{{materialType}}" value="{{materialName}}" bringfiled="warehouseName" class="materialName form-control required" type="text" readonly placeholder="选择物料" />
                                                                                                    <span class="input-group-addon cursor chooseMaterialButton" data-materialtype="{{materialType}}"><i class="fa fa-search"></i></span>
                                                                                                </div>
                                                                                            </div>
                                                                                        </td>
                                                                                        <td style="width: 40%;">
                                                                                            <label class="field prepend-icon mw200">
                                                                                                <input type="text" name="productAmount-{{skuId}}-{{rowKey}}" value="{{materialCount}}" class="materialCount form-control required number" placeholder="填写数量" />
                                                                                            </label>
                                                                                        </td>
                                                                                        <td style="width: 10%;">
                                                                                            {{#canAdd}}
                                                                                            <div class="btn-group text-right">
                                                                                                <a href="#" type="button" class="btn btn-default btn-xs delSkuMaterialButton">删除</a>
                                                                                            </div>
                                                                                            {{/canAdd}}
                                                                                        </td>
                                                                                    </tr>
                                                                                    {{/materialList}}
                                                                                </table>
                                                                            </td>
                                                                            <td class="text-right">
                                                                                <div class="btn-group text-right">
                                                                                    {{#canAdd}}
                                                                                    <a href="#" type="button" class="btn btn-default btn-xs newSkuMaterialButton">新增</a>
                                                                                    {{/canAdd}}
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        {{/shouldMaterialList}}
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {{/skuList}}
                                                    {{/chooseSkuList}}
                                                </table>
                                            </td>
                                        </tr>
                                        {{/listData}}
                                        {{^listData}}
                                        <tr>
                                            <td valign="top" colspan="14" class="text-center">还没有选择商品</td>
                                        </tr>
                                        {{/listData}}
                                        {{/dataSource}}
                                        </tbody>
                                    </script>
                                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                                </div>
                            </div>
                            <div id="purchaseOrderMaterialItems" class="tab-pane">
                                <div class="panel-menu p12 br-n br-b">
                                    <div class="row">
                                        <div class="pull-left ml10">
                                            <div class="btn-group" id="actionCommonButtons">
                                                <button type="button" class="btn btn-primary btn-sm" id="batchAddMaterial" title="选择商品">
                                                    <i class="fa fa-plus"></i> 选择物料
                                                </button>
                                                <button type="button" class="btn btn-primary btn-sm" id="batchDeleteMaterial" title="删除商品">
                                                    <i class="fa fa-trash-o"></i> 删除
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <script type="text/html" id="materialDataListTpl">
                                        <thead>
                                        <tr>
                                            <th>
                                                <label class="option block mn">
                                                    <input type="checkbox" name="checkAll" value="">
                                                    <span class="checkbox mn"></span>
                                                </label>
                                            </th>
                                            <th>编号</th>
                                            <th>名称</th>
                                            <th>类型</th>
                                            <th>本身价值</th>
                                            <th>租赁价格</th>
                                            <th>描述</th>
                                            <th>图片</th>
##                                            <th>采购价</th>
                                            <th>数量</th>
                                            <th class="text-right">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#dataSource}}
                                        {{#listData}}
                                        <tr class="purchaseOrderItemMaterialRow">
                                            <td>
                                                <label class="option block mn">
                                                    <input type="checkbox" name="checkItem" value="{{materialNo}}">
                                                    <span class="checkbox mn"></span>
                                                </label>
                                            </td>
                                            <td>{{materialNo}}</td>
                                            <td>{{materialName}}</td>
                                            <td>{{materialTypeStr}}</td>
                                            <td>{{materialPriceFormat}}</td>
                                            <td>{{rentPriceFormat}}</td>
                                            <td>{{materialDesc}}</td>
                                            <td><a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a></td>
##                                            <td>
##                                                <label class="field prepend-icon mw200">
##                                                    <input type="hidden" name="materialNo" value="{{materialNo}}" class="materialNo" />
##                                                    <input type="text" name="materialAmount-{{materialNo}}" value="{{materialAmount}}" class="materialAmount form-control required moneyNumber" placeholder="输入采购价格" />
##                                                    <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
##                                                </label>
##                                            </td>
                                            <td>
                                                <label class="field prepend-icon mw200">
                                                    <input type="text" name="materialCount-{{materialNo}}" value="{{materialCount}}" class="materialCount form-control required number pl10" placeholder="输入采购数量" />
                                                </label>
                                            </td>
                                            <td class="text-right">
                                                <div class="btn-group text-right">
                                                    <a href="#" type="button" class="btn btn-default btn-xs delPurchaseOrderItemMaterialButton" data-materialno="{{materialNo}}">删除</a>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/listData}}
                                        {{^listData}}
                                        <tr>
                                            <td valign="top" colspan="14" class="text-center">没有选择物料</td>
                                        </tr>
                                        {{/listData}}
                                        {{/dataSource}}
                                        </tbody>
                                    </script>
                                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="materialDataListTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <button type="button" class="btn btn-default pull-right ml15 goBack">返回</button>
                        <button type="submit" class="btn btn-primary pull-right">保存</button>
                    </div>
                </div>
            </form>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
    <script type="text/javascript">
        management_load_script('${staticManagement}/js', 'manage.purchase.util.js', 'manage.purchase.receive.edit.js', 'modal.choose.product.js', 'modal.choose.material.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        PurchaseReceiveEdit.init();

        //UI效果初始化
        Core.init();
        Demo.init();

    </script>
</body>
</html>