<div class="panel panel-primary panel-border top mb35">
    <div class="panel-heading">
        <span class="panel-title">基本信息</span>
    </div>
    <div class="form-horizontal panel-body bg-light dark">
        <div class="section row replaceSection">
            <div class="col-md-1"></div>
            <div class="col-md-6">

                <div class="form-group field">
                    <label class="col-md-2 control-label">客户</label>
                    <div class="col-md-10 pt10">
                        <div class="input-group" id="buyerCustomerName"></div>
                    </div>
                </div>

                <div class="form-group field">
                    <label class="col-md-2 control-label">换货地址</label>
                    <div class="col-md-10 pt10">
                        <div id="orderConsignInfo"></div>
                    </div>
                </div>

                <div class="form-group field">
                    <label class="col-md-2 control-label"><em class="text-danger">*</em>联系人</label>
                    <div class="col-md-10">
                        <div class="input-group" style="width:100%;">
                            <input id="consigneeName" name="consigneeName" class="form-control required" type="text" placeholder="请输入联系人" />
                        </div>
                    </div>
                </div>

                <div class="form-group field">
                    <label class="col-md-2 control-label"><em class="text-danger">*</em>联系电话</label>
                    <div class="col-md-10">
                        <div class="input-group" style="width:100%;">
                            <input id="consigneePhone" name="consigneePhone" class="form-control required mobilephone" type="text" placeholder="请输入联系电话" />
                        </div>
                    </div>
                </div>

                <div class="form-group field">
                    <label class="col-md-2 control-label"><em class="text-danger">*</em>换货日期</label>
                    <div class="col-md-10">
                        <div class="input-group date" id="replaceTimePicker">
                            <input id="replaceTime" name="replaceTime" class="form-control required" type="text" autocomplete="off" readonly="readonly" placeholder="请选择换货日期" />
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group field">
                    <label class="col-md-2 control-label"><em class="text-danger">*</em>换货方式</label>
                    <div class="col-md-10">
                        <div class="input-group" style="width: 100%;">
                            <select class="form-control required" name="replaceMode" id="replaceMode"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group field">
                    <label class="col-md-2 control-label"><em class="text-danger">*</em>换货原因</label>
                    <div class="col-md-10">
                        <div class="input-group" style="width: 100%;">
                            <select class="form-control required" name="replaceReasonType" id="replaceReasonType"></select>
                        </div>
                    </div>
                </div>

                <div class="form-group field">
                    <label class="col-md-2 control-label">备注</label>
                    <div class="col-md-10">
                        <textarea class="form-control" id="remark" rows="3"  name="remark"></textarea>
                    </div>
                </div>

                <div class="form-group field">
                    <label class="col-md-2 control-label"><em class="text-danger">*</em>运费</label>
                    <div class="col-md-2" style="padding-right:0;">
                        <div class="input-group">
                            <input id="logisticsCost" name="logisticsCost" class="form-control required" type="text" placeholder="请输入运费" />
                        </div>
                    </div>
                    <label class="col-md-2 control-label"><em class="text-danger">*</em>服务费</label>
                    <div class="col-md-2">
                        <div class="input-group" style="padding-right:0;">
                            <input id="serviceCost" name="serviceCost" class="form-control required" type="text" placeholder="请输入服务费" />
                        </div>
                    </div>
                    <label class="col-md-2 control-label"><em class="text-danger">*</em>维修费</label>
                    <div class="col-md-2">
                        <div class="input-group">
                            <input id="repairCost" name="repairCost" class="form-control required" type="text" placeholder="请输入维修费" />
                        </div>
                    </div>
                </div>

                <div class="form-group field">
                    <label class="col-md-2 control-label">发货公司</label>
                    <div class="col-md-10 pt10">
                        <div id="deliveryCompany"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-heading">
        <div class="row">
            <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
                <li class="active">
                    <a href="#changeOrderProductItems" data-toggle="tab">商品项（共<span id="orderItemProductCount">0</span>件）</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body dark pn">
        <div class="tab-content pn br-n">
            <div id="changeOrderProductItems" class="tab-pane active">
                <div class="panel-menu p12 br-n br-b">
                    <div class="row">
                        <div class="pull-left ml10">
                            <div class="btn-group" id="actionCommonButtons">
                                <button type="button" class="btn btn-primary btn-sm" id="batchAddProduct" title="选择商品">
                                    <i class="fa fa-plus"></i> 选择商品
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" id="batchDeleteProduct" title="删除商品">
                                    <i class="fa fa-trash-o"></i> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <script type="text/html" id="dataListTpl">
                        <thead>
                        <tr class="bg-light">
                            <th>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkAll" value="">
                                    <span class="checkbox mn"></span>
                                </label>
                            </th>
                            <th>订单编号</th>
                            <th>商品信息</th>
                            <th class="nowrap">单价</th>
                            <th class="nowrap">在租数</th>
                            <th>更换商品信息</th>
                            <th class="nowrap">更换数量</th>
                            <th>更换商品单价</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#listData}}
                        <tr data-serial="{{serialNumber}}">
                            <td>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkItem" value="{{productId}}">
                                    <span class="checkbox mn"></span>
                                </label>
                            </td>
                            <td>{{orderNo}}</td>
                            <td>
                                <p class="mn mb5">{{#isNewValueBadge}}{{isNewProduct}}{{/isNewValueBadge}}{{productName}}</p>  
                                <p class="mn mw300">{{productSkuName}}</p> 
                            </td>
                            <td>￥{{#price}}{{productUnitAmount}}{{/price}}</td>
                            <td>{{rentingProductCount}}</td>
                            <td>
                                <p class="mn mb5">{{#isNewValueBadge}}{{isNewReplace}}{{/isNewValueBadge}}{{newProductName}}</p>  
                                <p class="mn mw300">{{newProductSkuName}}</p> 
                            </td>
                            <td>{{replaceProductCount}}</td>
                            <td>
                                <div class="mw200">
                                    <label class="field prepend-icon">
                                        <input type="text" name="newProductUnitAmount-{{serialNumber}}" value="{{newProductUnitAmount}}" class="newProductUnitAmount form-control required gui-input" placeholder="单价">
                                        <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="mw200">
                                    <label class="field">
                                        <input type="text" name="remark" value="{{remark}}" class="remark form-control gui-input" placeholder="备注">
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group text-right">
                                    <a href="#" type="button" class="btn btn-default btn-xs deleteProduct mr5" style="height:25px;">删除</a>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">换货<span class="caret ml5"></span></button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="javascript:;" class="sameConfig">同配置更换</a>
                                                <a href="javascript:;" class="diffConfig">不同配置更换</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{/listData}}
                        {{^listData}}
                        <tr>
                            <td valign="top" colspan="10" class="text-center">没有选择商品</td>
                        </tr>
                        {{/listData}}
                        </tbody>
                    </script>
                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <button class="btn btn-default pull-right ml15 goback">返回</button>
        <button class="btn btn-primary pull-right">保存</button>
    </div>
</div>