<div class="popup-basic popup-xl admin-form mfp-with-anim theme-primary " id="chooseProductModal">

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-search"></i>配件散料列表</span>
        </div>
        <form class="editForm">
            <div class="panel-body pn">
                <div class="table-responsive">
                    <script type="text/html" class="dataListTpl">
                        <thead>
                        <tr>
                            <th>散料标识</th>
                            <th>散料编号</th>
                            <th>散料名称</th>
                            <th>散料归属仓库</th>
                            <th>散料当前仓库</th>
                            <th>散料品牌</th>
                            <th>散料面值大小</th>
                            <th>备注</th>
                            <th>差价</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#dataSource}}
                        {{#listData}}
                        <tr class="bulkMaterialTr">
                            <td>原散料</td>
                            <td>{{srcBulkMaterialNo}}</td>
                            <td>{{srcBulkMaterial.bulkMaterialName}}</td>
                            <td>{{srcBulkMaterial.ownerWarehouseName}}</td>
                            <td>{{srcBulkMaterial.currentWarehouseName}}</td>
                            <td>{{srcBulkMaterial.brandName}}</td>
                            <td>{{#memorysize}}{{srcBulkMaterial.materialCapacityValue}}{{/memorysize}}</td>
                            <td rowspan="2" class="br-l">{{remark}}</td>
                            <td rowspan="2">
                                <input type="hidden" name="changeOrderMaterialBulkId" value="{{changeOrderMaterialBulkId}}" class="changeOrderMaterialBulkId" />
                                <label class="field prepend-icon">
                                    <input type="text" name="priceDiff-{{changeOrderProductId}}" value="{{priceDiff}}" class="priceDiff form-control required moneyNumber" placeholder="输入差价" />
                                    <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>更换散料</td>
                            <td>{{srcBulkMaterialNo}}</td>
                            <td>{{srcBulkMaterial.bulkMaterialName}}</td>
                            <td>{{srcBulkMaterial.ownerWarehouseName}}</td>
                            <td>{{srcBulkMaterial.currentWarehouseName}}</td>
                            <td>{{srcBulkMaterial.brandName}}</td>
                            <td>{{#memorysize}}{{srcBulkMaterial.materialCapacityValue}}{{/memorysize}}</td>
                        </tr>
                        {{/listData}}
                        {{^listData}}
                        <tr>
                            <td valign="top" colspan="14" class="text-center">没有查询到散料信息</td>
                        </tr>
                        {{/listData}}
                        {{/dataSource}}
                        </tbody>
                    </script>
                    <table class="table table-striped admin-form theme-warning tc-checkbox-1 fs13 dataListTable" ></table>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                        #parse("component/pager.vm")
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="button btn-primary">保存<em style="font-size: 12px; font-style: inherit; margin-left: 5px;">(当前页面)</em></button>
                <button type="button" class="button btn-default cancelButton"">取消</button>
            </div>
        </form>
    </div>
</div>



