<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-活动页管理-优惠券批次-详细</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
<div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            <form class="" id="couponBanchDetailForm">
                <div class="panel panel-primary panel-border top mb15">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h5 class="couponBatchId">优惠券批次ID：<small></small></h5>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="couponBaseInfo"></div>
                    </div>
                    <script type="text/html" id="couponBaseInfoTpl">
                        {{#couponData}}
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="dl-horizontal">
                                    <dt>批次名称：</dt><dd class="mb5">{{couponBatchName}}&nbsp;</dd>
                                    <dt>批次描述：</dt><dd class="mb5">{{couponBatchDescribe}}&nbsp;</dd>
                                    <dt>优惠券类型：</dt><dd class="mb5">{{getCouponTypeValue}}&nbsp;</dd>
                                    <dt>创建人：</dt><dd class="mb5">{{createUserRealName}}&nbsp;</dd>
                                    <dt>创建时间：</dt><dd class="mb5">{{#clockTime}}{{createTime}}{{/clockTime}}&nbsp;</dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="dl-horizontal">
                                    <dt>优惠券总数：</dt><dd class="mb5">{{couponBatchTotalCount}}&nbsp;</dd>
                                    <dt>优惠券已使用总数：</dt><dd class="mb5">{{couponBatchUsedCount}}&nbsp;</dd>
                                    <dt>优惠券总面值：</dt><dd class="mb5">￥{{#price}}{{totalFaceAmount}}{{/price}}&nbsp;</dd>
                                    <dt>已使用总面值：</dt><dd class="mb5">￥{{#price}}{{totalUsedAmount}}{{/price}}&nbsp;</dd>
                                    <dt>抵扣总金额：</dt><dd class="mb5">￥{{#price}}{{totalDeductionAmount}}{{/price}}&nbsp;</dd>
                                </dl>
                            </div>
                        </div>
                        {{/couponData}}
                    </script>
                </div>

                <div class="panel">
                    <div class="panel-body light pn">
                        <div class="table-responsive">
                            <script type="text/html" id="dataListTpl">
                                <thead>
                                <tr class="bg-light">
                                    <th>优惠券详情ID</th>
                                    <th>优惠券总数</th>
                                    <th>已使用总数</th>
                                    <th>已领取总数</th>
                                    <th>可领取总数</th>
                                    <th>优惠券面值</th>
                                    <th>优惠券总面值</th>
                                    <th>已使用总面值</th>
                                    <th>抵扣总金额</th>
                                    <th>作废总数</th>
                                    <th>是否线上</th>
                                    <th>有效日期</th>
##                                    <th>有效期结束时间</th>
                                    <th>备注</th>
                                    <th>添加人</th>
                                    {{#hasRowActionButtons}}
                                    <th class="text-right">操作</th>
                                    {{/hasRowActionButtons}}
                                </tr>
                                </thead>
                                <tbody>
                                {{#dataSource}}
                                {{#listData}}
                                <tr>
                                    <td>{{couponBatchDetailId}}</td>
                                    <td>{{couponTotalCount}}</td>
                                    <td>{{couponUsedCount}}</td>
                                    <td>{{couponReceivedCount}}</td>
                                    <td>{{couponCanReceivedCount}}</td>
                                    <td>{{faceValue}}</td>
                                    <td>{{totalFaceAmount}}</td>
                                    <td>{{totalUsedAmount}}</td>
                                    <td>{{totalDeductionAmount}}</td>
                                    <td>{{couponCancelCount}}</td>
                                    <td>{{isOnLineValue}}</td>
                                    <td>
                                        <p class="mn" title="">开始：
                                            {{#clockShorTime}}{{effectiveStartTime}}{{/clockShorTime}}
                                        </p>
                                        <p class="mn mt5" title="">结束：
                                            {{#clockShorTime}}{{effectiveEndTime}}{{/clockShorTime}}
                                        </p>
                                    </td>
                                    <td style="width: 140px;">{{remark}}</td>
                                    <td>
                                        <p class="mn">{{createUserRealName}}</p>
                                        <p class="mn mt5">{{#clockShorTime}}{{createTime}}{{/clockShorTime}}</p>
                                    </td>
                                    {{#hasRowActionButtons}}
                                    <td class="text-right">
                                        <div class="btn-group">
                                          {{#rowActionButtons}}
                                                <a type="button" href="${ctx}{{menuUrl}}?couponBatchId={{couponBatchId}}" class="{{class}} btn btn-default btn-xs"
                                                   data-couponTotalCount="{{couponTotalCount}}"
                                                   data-couponCancelCount="{{couponCancelCount}}"
                                                   data-couponBatchDetailId="{{couponBatchDetailId}}"
                                                   data-couponReceivedCount="{{couponReceivedCount}}"
                                                   data-couponCanReceivedCount="{{couponCanReceivedCount}}">
                                                    {{text}}
                                                </a>
                                            {{/rowActionButtons}}
                                        </div>
                                    </td>
                                    {{/hasRowActionButtons}}
                                </tr>
                                {{/listData}}
                                {{^listData}}
                                <tr>
                                    <td valign="top" colspan="10" class="text-center">无优惠券详情数据</td>
                                </tr>
                                {{/listData}}
                                {{/dataSource}}
                                </tbody>
                            </script>
                            <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                                #parse("component/pager.vm")
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
<script type="text/javascript">
    management_load_script('${staticManagement}/js',
            'manage.coupon.detail.js',
            'manage.coupon.provide.js',
            'manage.coupon.trade.js'
    );
</script>
<script type="text/javascript">
    //功能事件初始化
    Rental.init();
    Layout.init();

    CouponDetailManage.init();

    //UI效果初始化
    Core.init();
    Demo.init();
</script>
</body>
</html>