<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-活动页管理-优惠券</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
<div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">

            #parse("component/loading.vm")

            <div class="panel panel-primary panel-border top">
                <div class="panel-menu p12">
                    <div class="row">
                        <div class="pull-left ml10">
                            <script type="text/html" id="actionCommonButtonsTpl">
                                <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                                {{#acitonCommonButtons}}
                                <button class="btn btn-primary btn-sm {{class}}" title="{{menuName}}">
                                    <i class="{{iClass}}"></i> {{text}}
                                </button>
                                {{/acitonCommonButtons}}
                            </script>

                            <div class="btn-group" id="actionCommonButtons"></div>
                        </div>
                        <div class="pull-right mr10 text-right">
                            <form id="searchForm" class="form-horizontal">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary btn-sm">查询</button>
                                    <button type="reset" class="btn btn-default btn-sm">重置</button>
                                </div>
                                <div class="field form-group pull-right mn mr10">
                                    <div class="input-group">
                                        <select name="couponStatus" id="couponStatus" class="form-control input-sm bradius"></select>
                                    </div>
                                </div>
                                <div class="form-group pull-right mn mr10">
                                    <div class="input-group">
                                        <input class="form-control input-sm bradius" name="customerNo" placeholder="请输入客户编号"  id="couponBatchName"/>
                                    </div>
                                </div>
                                <div class="form-group pull-right mn mr10">
                                    <div class="input-group">
                                        <input class="form-control input-sm bradius" name="couponBatchId" placeholder="请输入批次ID"  id="couponBatchId"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body pn">
                    <div class="table-responsive">
                        <script type="text/html" id="dataListTpl">
                            <thead>
                            <tr>
                                {{#hasCommonActionButtons}}
                                <th>
                                    <label class="option block mn">
                                        <input type="checkbox" name="checkAll" value="">
                                        <span class="checkbox mn"></span>
                                    </label>
                                </th>
                                {{/hasCommonActionButtons}}
                                <th>批次ID</th>
                                <th>订单ID</th>
                                <th>订单号</th>
                                <th>订单商品项ID</th>
                                <th>优惠券编号</th>
                                <th>优惠券面值</th>
                                <th>抵扣金额</th>
                                <th>优惠券状态</th>
                                <th>客戶编号</th>
                                <th>是否线上</th>
                                <th>领取时间</th>
                                <th>使用时间</th>
                                <th>有效期起始时间</th>
                                <th>有效期结束时间</th>
                                <th>备注</th>
                                <th>添加人</th>
                                {{#hasRowActionButtons}}
                                <th class="text-right">操作</th>
                                {{/hasRowActionButtons}}
                            </tr>
                            </thead>
                            <tbody>
                            {{#dataSource}}
                            {{#listData}}
                            <tr>
                                {{#hasCommonActionButtons}}
                                <td>
                                    <label class="option block mn">
                                        <input type="checkbox" name="checkItem" value="{{couponId}}">
                                        <span class="checkbox mn"></span>
                                    </label>
                                </td>
                                {{/hasCommonActionButtons}}
                                <td class="couponId">{{couponBatchId}}</td>
                                <td>{{orderId}}</td>
                                <td>{{orderNo}}</td>
                                <td>{{orderProductId}}</td>
                                <td>{{couponCode}}</td>
                                <td>{{faceValue}}</td>
                                <td>{{deductionAmount}}</td>
                                <td>{{couponStatusValue}}</td>
                                <td>{{customerNo}}</td>
                                <td>{{isOnLineValue}}</td>
                                <td>{{#clockShorTime}}{{receiveTime}}{{/clockShorTime}}</td>
                                <td>{{#clockShorTime}}{{useTime}}{{/clockShorTime}}</td>
                                <td>{{#clockShorTime}}{{effectiveStartTime}}{{/clockShorTime}}</td>
                                <td>{{#clockShorTime}}{{effectiveEndTime}}{{/clockShorTime}}</td>
                                <td>{{remark}}</td>
                                <td>
                                    <p class="mn">{{updateUserRealName}}</p>
                                    <p class="mn mt5">{{#clockShorTime}}{{createTime}}{{/clockShorTime}}</p>
                                </td>
                                {{#hasRowActionButtons}}
                                <td class="text-right">
                                    <div class="btn-group">
                                        {{#rowActionButtons}}
                                            <a type="button" href="${ctx}{{menuUrl}}?couponId={{couponId}}" class="{{class}} btn btn-default btn-xs" data-couponId="{{couponId}}">{{text}}</a>
                                        {{/rowActionButtons}}
                                    </div>
                                </td>
                                {{/hasRowActionButtons}}
                            </tr>
                            {{/listData}}
                            {{^listData}}
                            <tr>
                                <td valign="top" colspan="14" class="text-center">没有查询到优惠券信息</td>
                            </tr>
                            {{/listData}}
                            {{/dataSource}}
                            </tbody>
                        </script>
                        <table class="table table-striped admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                            #parse("component/pager.vm")
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
<script type="text/javascript">
    management_load_script('${staticManagement}/js',
            'manage.coupon.card.list.js'
    );
</script>
<script type="text/javascript">
    //功能事件初始化
    Rental.init();
    Layout.init();
    CouponCardListManage.init();

    //UI效果初始化
    Core.init();
    Demo.init();

</script>
</body>
</html>