.idea
*.class
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.settings
.settings/*
.classpath
.project
target
target/*
classes
classes/*

rebel.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/logs

erp-common/.rebel-remote.xml.bak
erp-common/.rebel.xml.bak

erp-core/.rebel-remote.xml.bak
erp-core/.rebel.xml.bak

erp-dataaccess/.rebel-remote.xml.bak
erp-dataaccess/.rebel.xml.bak

erp-dataaccess/.rebel-remote.xml.bak
erp-dataaccess/.rebel.xml.bak

erp-web/.rebel-remote.xml.bak
erp-web/.rebel.xml.bak

erp-worker/.rebel-remote.xml.bak
erp-worker/.rebel.xml.bak

