<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-客户管理-企业客户列表-企业详细</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="gallery-page">
    #parse("layout/toolbox.vm")
    <div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")
    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="pn animated fadeIn">
            <form id="customerDetailForm">

                <div class="pv30 ph40 bg-light dark br-b br-grey posr">
                    <script type="text/html" id="customerHeadTpl">
                        {{#customer}}
                        <div class="va-t m30">
                            <div class="row">
                                <div class="col-md-4">
                                    <dl class="dl-horizontal">
                                        <dt class="mb10">客户编号</dt><dd>{{customerNo}}</dd>
                                        <dt class="mb10">公司名</dt><dd>{{customerCompany.companyName}}</dd>
                                        <dt class="mb10">公司简称</dt><dd>{{customerCompany.companyAbb}}</dd>
                                        <dt class="mb10">备注</dt><dd>{{customerCompany.remark}}</dd>
                                    </dl>
                                </div>
                                <div class="col-md-4">
                                    <dl class="dl-horizontal">
                                        <dt class="mb10">用户类型</dt><dd>{{cutomerTypeValue}}</dd>
                                        <dt class="mb10">客户来源</dt><dd>{{customerOriginValue}}</dd>
                                        <dt class="mb10">是否禁用</dt><dd>{{isDisabledValue}}</dd>
                                        <dt class="mb10">客户状态</dt><dd>{{customerStatusValue}}</dd>
                                    </dl>
                                </div>
                                <div class="col-md-4">
                                    <dl class="dl-horizontal">
                                        <dt class="mb10">创建人</dt><dd>{{createUserRealName}}</dd>
                                        <dt class="mb10">创建时间</dt><dd>{{#time}}{{createTime}}{{/time}}</dd>
                                        <dt class="mb10">联合开发人</dt><dd>{{unionUserName}}</dd>
                                        <dt class="mb10">业务员</dt><dd>{{ownerName}}</dd>
                                    </dl>
                                </div>
                            </div>
                            <hr />
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="panel panel-tile text-center">
                                        <div class="panel-body bg-primary light">
                                            <h1 class="fs35 mbn">￥{{#price}}{{customerAccount.balanceAmount}}{{/price}}</h1>
                                            <h6 class="text-white">账户金额</h6>
                                        </div>
                                        <div class="panel-footer bg-white br-t br-light p12">
                                            <div class="btn-group">
                                                {{#manualActionButtons}}
                                                <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm {{class}} mr15" title="{{menuName}}" data-customerno="{{customerNo}}">
                                                    <i class="{{iClass}}"></i> {{text}}
                                                </a>
                                                {{/manualActionButtons}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel panel-tile text-center">
                                        <div class="panel-body">
                                            <h1 class="fs35 mbn">￥{{#price}}{{customerAccount.totalFrozenAmount}}{{/price}}</h1>
                                            <h6 class="text-primary">冻结金额</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel panel-tile text-center">
                                        <div class="panel-body">
                                            <h1 class="fs35 mbn">￥{{#price}}{{customerAccount.rentDepositAmount}}{{/price}}</h1>
                                            <h6 class="text-primary">租金押金</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="panel panel-tile text-center">
                                        <div class="panel-body">
                                            <h1 class="fs35 mbn">￥{{#price}}{{customerAccount.depositAmount}}{{/price}}</h1>
                                            <h6 class="text-primary">设备押金</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/customer}}
                    </script>
                    <div class="table-layout" id="customerHead"></div>

                </div>

                <div class="p25 pt35">
                    <div class="row">
                        <script type="text/html" id="customerCompanyInfoTpl">
                            {{#customer}}
                            <div class="panel" id="p0">
                                <div class="panel-heading">
                                    <span class="panel-title text-info fw700">公司信息</span>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4 br-r">
                                            <table class="table mbn tc-med-1 tc-bold-last tc-fs13-last">
                                                <tbody>

                                                <tr>
                                                    <td>
                                                        <span>首期申请额度</span>
                                                    </td>
                                                    <td>￥{{#price}}{{firstApplyAmount}}{{/price}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>后期申请额度</span>
                                                    </td>
                                                    <td>￥{{#price}}{{laterApplyAmount}}{{/price}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>是否法人申请</span>
                                                    </td>
                                                    <td>{{#boolText}}{{customerCompany.isLegalPersonApple}}{{/boolText}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>法人</span>
                                                    </td>
                                                    <td>{{customerCompany.legalPerson}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>法人身份证</span>
                                                    </td>
                                                    <td>{{customerCompany.legalPersonNo}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>法人手机号</span>
                                                    </td>
                                                    <td>{{customerCompany.legalPersonPhone}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>经办人</span>
                                                    </td>
                                                    <td>{{customerCompany.agentPersonName}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>经办人身份证</span>
                                                    </td>
                                                    <td>{{customerCompany.agentPersonNo}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span>经办人手机号</span>
                                                    </td>
                                                    <td>{{customerCompany.agentPersonPhone}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="col-md-4  br-r">
                                            {{#customerCompany}}
                                            <table class="table mbn">
                                                <tbody>
                                                <tr>
                                                    <td class="va-m fw600 text-muted"></i>成立日期</td>
                                                    <td class="fs15 fw700 text-right">{{#shortTime}}{{companyFoundTime}}{{/shortTime}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="va-m fw600 text-muted"></i>所属行业</td>
                                                    <td class="fs15 fw700 text-right">{{industry}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="va-m fw600 text-muted"></i>关联企业</td>
                                                    <td class="fs15 fw700 text-right">{{affiliatedEnterprise}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="va-m fw600 text-muted"></i>注册资本</td>
                                                    <td class="fs14 fw700 text-right">{{registeredCapital}}万</td>
                                                </tr>
                                                <tr>
                                                    <td class="va-m fw600 text-muted"></i>办公人数</td>
                                                    <td class="fs15 fw700 text-right">{{officeNumber}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="va-m fw600 text-muted"></i>经营面积</td>
                                                    <td class="fs15 fw700 text-right">{{operatingArea}}㎡</td>
                                                </tr>
                                                <tr>
                                                    <td class="va-m fw600 text-muted"></i>统一信用码</td>
                                                    <td class="fs15 fw700 text-right">{{unifiedCreditCode}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="va-m fw600 text-muted"></i>设备用途</td>
                                                    <td class="fs15 fw700 text-right">{{productPurpose}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            {{/customerCompany}}
                                        </div>

                                        <div class="col-md-4">
                                            {{#customerCompany}}
                                            <table class="table mbn">
                                                <tbody>
                                                <tr>
                                                    <td class="va-m fw600 text-muted">公司座机</td>
                                                    <td class="fs15 fw700 text-right">{{landline}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="va-m fw600 text-muted">紧急联系人</td>
                                                    <td class="fs15 fw700 text-right">{{connectRealName}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="va-m fw600 text-muted">紧急联系人手机号</td>
                                                    <td class="fs15 fw700 text-right">{{connectPhone}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="va-m fw600 text-muted">公司地址</td>
                                                    <td class="fs15 fw700 text-right">{{provinceName}}{{cityName}}{{districtName}}{{address}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            {{/customerCompany}}
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {{/customer}}
                        </script>
                        <div class="col-md-12 admin-grid" id="customerCompanyInfo"></div>
                    </div>
                </div>

                <div class="p25 ptn">
                    <div class="row">
                        #parse("component/customer/riskInfo.vm")
                    </div>
                </div>

                <div class="p25 ptn">
                    <div class="row">
                        <div class="col-md-12">
                            #parse("component/customer/addressInfo.vm")
                        </div>
                    </div>
                </div>

                <div class="p25 ptn">
                    <div class="row">
                        <div class="col-md-12">
                            #parse("component/customer/orders.vm")
                        </div>
                    </div>
                </div>

                <div class="p25 ptn">
                    <div class="panel">
                        <div class="panel-heading pn ph8">
                            <span>客户图片上传信息</span>
                        </div>
                        <div class="panel-body nano nano-default affix rtlnao" style="max-height: 430px" id="customerImgNano">
                            <div class="nano-content">
                                #parse("component/customerBusiness/imageInfo.vm")
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </section>
    </section>
    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'manage.customer.mixin.js',
                'manage.customer.handle.mixin.js',
                'manage.customer.business.detail.js',
                'manage.customer.risk.js',
                'manage.customer.address.js',
                'manage.customer.address.add.js',
                'manage.customer.address.edit.js',
                'manage.customer.orders.js',
                'modal.input.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        BusinessCustomerDetail.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>
</body>
</html>