<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-客户管理-企业客户列表</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">

                #parse("component/loading.vm")

                <div class="panel panel-primary panel-border top">
                    <div class="panel-menu p12">
                        <div class="row">
                            <div class="pull-left ml10">
                                <script type="text/html" id="actionCommonButtonsTpl">
                                    <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                                    {{#acitonCommonButtons}}
                                    <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm {{class}}" title="{{menuName}}">
                                        <i class="{{iClass}}"></i> {{text}}
                                    </a>
                                    {{/acitonCommonButtons}}
                                </script>

                                <div class="btn-group" id="actionCommonButtons"></div>
                            </div>
                            <div class="pull-right mr10 text-right">
                                <form id="searchForm" class="form-horizontal">
                                    <script type="text/html" id="isDisabledTpl">
                                        {{#isDisabled}}
                                        <button type="button" class="btn btn-default btn-sm" id="isDisabledBtn">是否禁用</button>
                                        {{/isDisabled}}
                                    </script>
                                    <div class="pull-right" id="isDisabledWrapper"></div>

                                    <div class="pull-right mn mr5">
                                        <button type="submit" class="btn btn-primary btn-sm">查询</button>
                                        <button type="reset" class="btn btn-default btn-sm">重置</button>
                                    </div>
                                    <div class="field form-group pull-right mn mr10" style="width: 120px;">
                                        <div class="input-group">
                                            <input type="hidden" name="isDisabled" id="isDisabled" class="form-control input-sm bradius">
                                            <input type="text" name="ownerName" id="ownerName" class="form-control input-sm bradius" autocomplete="off" placeholder="业务员姓名">
                                        </div>
                                    </div>
                                    <div class="field form-group pull-right mn mr10" style="width: 120px;">
                                        <div class="input-group">
                                            <input type="text" name="companyName" id="companyName" class="form-control input-sm bradius" autocomplete="off" placeholder="公司名称">
                                        </div>
                                    </div>
                                    <div class="field form-group pull-right mn mr10" style="width: 120px;">
                                        <div class="input-group">
                                            <input type="text" name="connectRealName" id="connectRealName" class="form-control input-sm bradius" autocomplete="off" placeholder="联系人姓名">
                                        </div>
                                    </div>
                                    <div class="field form-group pull-right mn mr10" style="width: 120px;">
                                        <div class="input-group">
                                            <input type="text" name="connectPhone" id="connectPhone" class="form-control input-sm bradius" autocomplete="off" placeholder="联系人手机号">
                                        </div>
                                    </div>
                                    <div class="field form-group pull-right mn mr10" style="width: 120px;">
                                        <div class="input-group">
                                            <input type="text" name="customerNo" id="customerNo" class="form-control input-sm bradius" autocomplete="off" placeholder="输入客户编号">
                                        </div>
                                    </div>
                                    <div class="form-group pull-right mn mr10" style="width: 140px;">
                                        <div class="input-group">
                                            <select class="form-control input-sm bradius" name="isRisk" id="isRisk">
                                                <option value="">全部 （是否授信）</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group pull-right mn mr10" style="width: 140px;">
                                        <div class="input-group">
                                            <select class="form-control input-sm bradius" name="customerStatus" id="customerStatus">
                                                <option value="">全部 （客户状态）</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group pull-right mn mr10">
                                        <div class="input-group">
                                            <select class="form-control input-sm bradius" name="ownerSubCompanyId" id="ownerSubCompanyId">
                                                <option value="">请选择客户所属公司</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body pn">
                        <div class="table-responsive">
                            <script type="text/html" id="dataListTpl">
                                <thead>
                                <tr>
                                    <th>客户编号</th>
                                    <th>公司名称</th>
                                    <th>联系方式</th>
                                    <th>所属公司</th>
                                    <th>业务员</th>
                                    <th>创建人</th>
                                    <th>客户状态</th>
                                    <th>是否禁用</th>
##                                    <th>审核备注</th>
                                    <th>是否授信</th>
                                    {{#hasRowActionButtons}}
                                    <th class="text-right">操作</th>
                                    {{/hasRowActionButtons}}
                                </tr>
                                </thead>
                                <tbody>
                                {{#dataSource}}
                                {{#listData}}
                                <tr data-rowdata="{{rowData}}">
                                    <td>{{customerNo}}</td>
                                    <td>{{customerCompany.companyName}}</td>
                                    <td>
                                        <p class="mn">{{customerCompany.connectRealName}}</p>
                                        <p class="mn mt5 mn"><i class="fa fa-mobile mr5"></i>{{customerCompany.connectPhone}}</p>
                                        <p class="mn mt5 mw200"><i class="fa fa-map-marker mr5"></i>{{addressForamt}}</p>
                                    </td>
                                    <td>{{ownerSubCompanyName}}</td>
                                    <td>{{ownerName}}</td>
                                    <td>
                                        <p class="mn">{{createUserRealName}}</p>
                                        <p class="mn mt5">{{#clockShorTime}}{{createTime}}{{/clockShorTime}}</p>
                                    </td>
                                    <td>
                                        <p class="{{customerStatusClass}}">
                                            <span class="{{customerStatusClass}}">{{customerStatusValue}}</span>
                                            {{#showViewWorkFlowButton}}
                                            <span class="ml5 mr5 {{customerStatusClass}}">/</span>
                                            <a href="javascript:void(0)" class="{{customerStatusClass}} viewWorkFlowButton">查看审核流</a>
                                            {{/showViewWorkFlowButton}}
                                        </p>
                                    </td>
                                    <td>{{isDisabledStr}}</td>
##                                    <td>
##                                        <div class="mw200">{{auditReason}}</div>
##                                    </td>
                                    <td>
                                        <span class="{{isRiskClass}}">{{isRiskValue}}</span>
                                    </td>
                                    {{#hasRowActionButtons}}
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">操作<span class="caret ml5"></span></button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                {{#rowActionButtons}}
                                                <li>
                                                    <a href="${ctx}{{menuUrl}}?no={{customerNo}}"
                                                       data-customerno="{{customerNo}}"
                                                       data-customername="{{customerName}}"
                                                       data-statementdate="{{statementDate}}"
                                                       data-shortLimitReceivableAmount="{{shortLimitReceivableAmount}}"
                                                       data-customertype="{{customerType}}"
                                                       data-ownerSubCompanyId="{{ownerSubCompanyId}}"
                                                       class="{{class}}">{{text}}</a>
                                                </li>
                                                {{/rowActionButtons}}
                                            </ul>
                                        </div>
##                                      <div class="btn-group text-right">
##                                          {{#rowActionButtons}}
##                                          <a href="${ctx}{{menuUrl}}?no={{customerNo}}" type="button" class="btn btn-default btn-xs {{class}}"
##                                             data-customerno="{{customerNo}}"
##                                             data-statementdate="{{statementDate}}"
##                                             data-shortLimitReceivableAmount="{{shortLimitReceivableAmount}}"
##                                             data-customertype="{{customerType}}">{{text}}</a>
##                                          {{/rowActionButtons}}
##                                      </div>
                                    </td>
                                    {{/hasRowActionButtons}}
                                </tr>
                                {{/listData}}
                                {{^listData}}
                                <tr>
                                    <td valign="top" colspan="14" class="text-center">没有查询到客户信息</td>
                                </tr>
                                {{/listData}}
                                {{/dataSource}}
                                </tbody>
                            </script>
                            <table class="table table-striped admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                                #parse("component/pager.vm")
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'manage.customer.handle.mixin.js',
                'manage.customer.business.js',
                'manage.customer.risk.js',
                'manage.customer.address.add.js',
                'manage.customer.return.visit.add.js',
                'modal.input.js',
                'modal.submit.audit.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        BusinessCustomerManage.init();

        //UI效果初始化
        Core.init();
        Demo.init();

    </script>
</body>
</html>