<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-客户管理-企业客户列表-添加企业客户</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
    <script type="text/javascript">
        common_load_css('${staticCommon}/rental/css','dropzone.css');
    </script>
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
<div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            <div class="row">
                <div class="col-md-9 center-block">
                    <div class="admin-form theme-primary">
                        <form method="post" id="addBusinessCustomerForm">
                            <div class="panel panel-default panel-border top">
                                <div class="panel-heading">
                                    <span class="panel-title"><i class="fa fa-pencil"></i>添加企业客户</span>
                                </div>
                                <div class="panel-body p25">
                                    <div class="section row">
                                        <div class="col-md-4">
                                            <label for="companyName" class="field-label">公司名称</label>
                                            <label for="companyName" class="field prepend-icon">
                                                <input type="text" name="companyName" id="companyName" class="gui-input required" />
                                                <label for="companyName" class="field-icon"><i class="fa fa-tag"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="companyAbb" class="field-label">公司简称</label>
                                            <label for="companyAbb" class="field prepend-icon">
                                                <input type="text" name="companyAbb" id="companyAbb" class="gui-input required"  />
                                                <label for="companyAbb" class="field-icon"><i class="fa fa-tag"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="businessLicenseNo" class="field-label">营业执照号</label>
                                            <label for="businessLicenseNo" class="field prepend-icon">
                                                <input type="text" name="businessLicenseNo" id="businessLicenseNo" class="gui-input required" />
                                                <label for="businessLicenseNo" class="field-icon"><i class="fa fa-tag"></i>
                                                </label>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="section row">
                                        <div class="col-md-4">
                                            <label for="legalPerson" class="field-label">法人姓名</label>
                                            <label for="legalPerson" class="field prepend-icon">
                                                <input type="text" name="legalPerson" id="legalPerson" class="gui-input required letterOrChinese" />
                                                <label for="legalPerson" class="field-icon"><i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="legalPersonNo" class="field-label">法人身份证号</label>
                                            <label for="legalPersonNo" class="field prepend-icon">
                                                <input type="text" name="legalPersonNo" id="legalPersonNo" class="gui-input required"  />
                                                <label for="legalPersonNo" class="field-icon"><i class="fa fa-tag"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="landline" class="field-label">座机电话</label>
                                            <label for="landline" class="field prepend-icon">
                                                <input type="text" name="landline" id="landline" class="gui-input required telephone" />
                                                <label for="landline" class="field-icon"><i class="fa fa-phone"></i>
                                                </label>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="section row">
                                        <div class="col-md-4">
                                            <label for="connectRealName" class="field-label">联系人姓名</label>
                                            <label for="connectRealName" class="field prepend-icon">
                                                <input type="text" name="connectRealName" id="connectRealName" class="gui-input required letterOrChinese"  />
                                                <label for="connectRealName" class="field-icon"><i class="fa fa-user"></i></label>
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="connectPhone" class="field-label">联系人手机号</label>
                                            <label for="connectPhone" class="field prepend-icon">
                                                <input type="text" name="connectPhone" id="connectPhone" class="gui-input required mobilephone" />
                                                <label for="connectPhone" class="field-icon"><i class="fa fa-mobile"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="isDisabled" class="field-label">禁用</label>
                                            <label class="field select">
                                                <select id="isDisabled" name="isDisabled">
                                                    <option value="0">否</option>
                                                    <option value="1">是</option>
                                                </select>
                                                <i class="arrow"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="section row">
                                        <div class="col-md-4">
                                            <label for="province" class="field-label">省份</label>
                                            <label class="field select">
                                                <select id="province" name="province" class="required">
                                                    <option value="">请选择</option>
                                                </select>
                                                <i class="arrow"></i>
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="city" class="field-label">城市</label>
                                            <label class="field select">
                                                <select id="city" name="city" class="required">
                                                    <option value="">请选择</option>
                                                </select>
                                                <i class="arrow"></i>
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="district" class="field-label">地区</label>
                                            <label class="field select">
                                                <select id="district" name="district" class="required">
                                                    <option value="">请选择</option>
                                                </select>
                                                <i class="arrow"></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="section row">
                                        <div class="col-md-12">
                                            <label for="address" class="field-label">详细地址</label>
                                            <label for="address" class="field prepend-icon">
                                                <textarea class="gui-textarea" id="address" name="address" placeholder="请输入详细地址"></textarea>
                                                <label for="address" class="field-icon"><i class="fa fa-map-marker"></i></label>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="section row">
                                        <div class="col-md-12">
                                            <label for="remark" class="field-label">备注</label>
                                            <label for="remark" class="field prepend-icon">
                                                <textarea class="gui-textarea" id="remark" name="remark" placeholder="请输入备注"></textarea>
                                                <label for="remark" class="field-icon"><i class="fa fa-comments"></i></label>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer text-right">
                                    <button type="submit" class="button btn-primary">确定</button>
                                    <button type="button" class="button btn-default goBack">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")

<script type="text/javascript" src="${staticCommon}vendor/plugins/dropzone/dropzone.min.js"></script>
<script type="text/javascript">
    management_load_script('${staticManagement}/js',
            'manage.customer.handle.mixin.js',
            'manage.customer.business.js',
            'manage.customer.business.add.js');
</script>
<script type="text/javascript">
    //功能事件初始化
    Rental.init();
    Layout.init();
    AddBusinessCustomer.init();

    //UI效果初始化
    Core.init();
    Demo.init();

</script>

</body>
</html>

