<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-调拨单管理-调拨单列表-编辑调拨单</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
<div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            <form class="" id="editDeploymentOrderForm">
                #parse("component/deploymentOrder/deploymentOrderEditContent.vm")
            </form>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
<script type="text/javascript">
    management_load_script('${staticManagement}/js',
            'manage.deployment.order.mixin.js',
            'manage.deployment.order.edit.js',
            'modal.choose.product.js',
            'modal.choose.material.js',
            'modal.choose.warehouse.js',
            'manage.order.item.render.js',
            'manage.order.util.js');
</script>
<script type="text/javascript">
    //功能事件初始化
    Rental.init();
    Layout.init();
    EditDeploymentOrder.init();

    //UI效果初始化
    Core.init();
    Demo.init();
</script>

</body>
</html>