<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-调拨单管理-调拨单列表-调拨单详细</title>
    #parse("layout/header.vm")
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/daterange/daterangepicker.css">
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
<div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            <form class="" id="editDeploymentOrderForm">
                <div class="panel panel-primary panel-border top mb35">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>调拨单编号：<small id="deploymentOrderNo"></small></h5>
                            </div>
                            <div class="col-md-8 text-right">
                                <script type="text/html" id="actionButtonsTpl">
                                    {{#acitonButtons}}
                                    <a href="${ctx}{{menuUrl}}?no={{no}}" class="btn btn-primary btn-sm ml5 bradius {{class}}" title="{{menuName}}" data-no="{{no}}">{{text}}</a>
                                    {{/acitonButtons}}
                                </script>
                                <div class="btn-group" id="actionButtons"></div>
                            </div>
                        </div>
                    </div>

                    <script type="text/html" id="orderBaseInfoTpl">
                        {{#data}}
                        <div class="form-horizontal panel-body bg-light dark br-t-n">
                            <div class="row">
                                <div class="col-md-4">
                                    <dl class="dl-horizontal">
                                        <dt class="mb10">状态</dt><dd>{{deploymentOrderStatusValue}}</dd>
                                        <dt class="mb10">调拨类型</dt><dd>{{deploymentTypeValue}}</dd>
                                        <dt class="mb10">源库房</dt><dd>{{srcWarehouseName}}</dd>
                                        <dt class="mb10">目标库房</dt><dd>{{targetWarehouseName}}</dd>
##                                        <dt class="mb10">调拨日期</dt><dd>{{#time}}{{expectReturnTime}}{{/time}}</dd>
                                    </dl>
                                </div>
                                <div class="col-md-4">
                                    <dl class="dl-horizontal">
                                        <dt class="mb10">商品总数</dt><dd>{{totalProductCount}}</dd>
                                        <dt class="mb10">商品总价</dt><dd>￥{{#price}}{{totalProductAmount}}{{/price}}</dd>
                                        <dt class="mb10">配件总数</dt><dd>{{totalMaterialCount}}</dd>
                                        <dt class="mb10">配件总价</dt><dd>￥{{#price}}{{totalMaterialAmount}}{{/price}}</dd>
                                        <dt class="mb10">订单总价</dt><dd>￥{{#price}}{{totalOrderAmount}}{{/price}}</dd>
                                    </dl>
                                </div>
                                <div class="col-md-4">
                                    <dl class="dl-horizontal">
                                        <dt class="mb10">创建人</dt><dd>{{createUserRealName}}</dd>
                                        <dt class="mb10">创建时间</dt><dd>{{#time}}{{createTime}}{{/time}}</dd>
                                        {{#showExpectReturnTime}}<dt class="mb10">预计归还日期</dt><dd>{{#shortTime}}{{expectReturnTime}}{{/shortTime}}</dd>{{/showExpectReturnTime}}
                                    </dl>
                                </div>
                            </div>
                        </div>
                        {{/data}}
                    </script>

                    <div id="orderBaseInfo"></div>

                    <div class="panel-heading">
                        <div class="row">
                            <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
                                <li class="active">
                                    <a href="#purchaseOrderProductItems" data-toggle="tab">商品项（共<span id="orderItemProductCount">0</span>件）</a>
                                </li>
                                <li>
                                    <a href="#purchaseOrderMaterialItems" data-toggle="tab">配件项（共<span id="orderItemMaterialCount">0</span>件）</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body dark pn">
                        <div class="tab-content pn br-n">
                            <div id="purchaseOrderProductItems" class="tab-pane active">
                                <script type="text/html" id="stockUpProductButtonsTpl">
                                    {{#hasActionButtons}}
                                    <div class="panel-menu p12 br-n br-b">
                                        <div class="row">
                                            <div class="pull-left ml10">
                                                <div class="btn-group actionCommonButtons" id="stockUpProductButtons">
                                                    {{#acitonButtons}}
                                                    <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm ml5 bradius {{class}}" title="{{menuName}}" data-no="{{no}}">{{text}}</a>
                                                    {{/acitonButtons}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/hasActionButtons}}
                                </script>
                                <div id="stockUpProductButtons"></div>

                                <div class="table-responsive">
                                    <script type="text/html" id="dataListTpl">
                                        <thead>
                                        <tr class="bg-light">
                                            <th>商品名称</th>
                                            <th>类别</th>
                                            <th>品牌</th>
                                            <th>商品参数（SKU）</th>
                                            <th>调拨单价</th>
                                            <th>调拨数量</th>
                                            <th>商品小计</th>
                                            <th class="text-right">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#listData}}
                                        <tr class="productRow" productRowKey="{{productId}}">
                                            <td>{{productName}}</td>
                                            <td>{{#productInfo}}{{categoryName}}{{/productInfo}}</td>
                                            <td>{{#productInfo}}{{brandName}}{{/productInfo}}</td>
                                            <td>{{propertiesToStr}}</td>
                                            <td class="productUnitAmountTd">
                                                ￥{{#price}}{{deploymentProductUnitAmount}}{{/price}}
                                            </td>
                                            <td>
                                                <label class="field prepend-icon">
                                                    {{deploymentProductSkuCount}}
                                                </label>
                                            </td>
                                            <td>
                                                ￥{{#price}}{{deploymentProductAmount}}{{/price}}
                                            </td>
                                            <td class="text-right">
                                                <div class="btn-group text-right">
                                                    <a href="#" type="button" class="btn btn-default btn-xs viewAffix" >查看配货信息</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="bg-light affixTr" style="height: 0;">
                                            <td colspan="9" class="pn br-n" style="height:0;">
                                                <div class="panel m15 affixPanel"  style="display: none;">
                                                    {{#deploymentOrderProductEquipmentListData}}
                                                    <div class="panel-heading pn ph8">
                                                        <span>已备设备：共 {{sourcceLength}} 件</span>
                                                    </div>
                                                    <div class="panel-body pn">
                                                        <table class="table">
                                                            {{#deploymentOrderProductEquipmentListSource}}
                                                            <tr>
                                                                <td>{{equipmentNo}}</td>
                                                            </tr>
                                                            {{/deploymentOrderProductEquipmentListSource}}
                                                            {{^deploymentOrderProductEquipmentListSource}}
                                                            <tr>
                                                                <td>无备货信息</td>
                                                            </tr>
                                                            {{/deploymentOrderProductEquipmentListSource}}
                                                        </table>
                                                    </div>
                                                    <div class="panel-footer pn pv5 ph15">
                                                        <div class="row">
                                                            <button type="button" class="btn btn-default btn-xs pull-right hideAffixPanel">收起</button>
                                                        </div>
                                                    </div>
                                                    {{/deploymentOrderProductEquipmentListData}}
                                                </div>
                                            </td>
                                        </tr>
                                        {{/listData}}
                                        {{^listData}}
                                        <tr>
                                            <td valign="top" colspan="14" class="text-center">没有选择商品</td>
                                        </tr>
                                        {{/listData}}
                                        </tbody>
                                    </script>
                                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                                </div>
                            </div>
                            <div id="purchaseOrderMaterialItems" class="tab-pane">
                                <div class="table-responsive">
                                    <script type="text/html" id="materialDataListTpl">
                                        <thead>
                                        <tr>
##                                            <th>编号</th>
                                            <th>配件名称</th>
                                            <th>品牌</th>
                                            <th>类型</th>
                                            <th>配件价值</th>
##                                            <th>租赁价格</th>
##                                            <th>描述</th>
##                                            <th>图片</th>
                                            <th>调拨单价</th>
                                            <th>调拨数量</th>
                                            <th>配件小计</th>
                                            <th class="text-right">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#dataSource}}
                                        {{#listData}}
                                        <tr class="materialRow">
##                                            <td>{{materialNo}}</td>
                                            <td>{{materialName}}</td>
                                            <td>{{brandName}}</td>
                                            <td>{{materialTypeStr}}</td>
                                            <td>￥{{#price}}{{materialPrice}}{{/price}}</td>
##                                            <td>
##                                                <p>日租：￥{{#price}}{{dayRentPrice}}{{/price}}</p>
##                                                <p>月租：￥{{#price}}{{monthRentPrice}}{{/price}}</p>
##                                            </td>
##                                            <td>{{materialDesc}}</td>
##                                            <td><a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a></td>
                                            <td class="materialUnitAmountTd">
                                                ￥{{#price}}{{deploymentMaterialUnitAmount}}{{/price}}
                                            </td>
                                            <td>
                                                <label class="field prepend-icon">
                                                    {{deploymentProductMaterialCount}}
                                                </label>
                                            </td>
                                            <td>
                                                ￥{{#price}}{{deploymentMaterialAmount}}{{/price}}
                                            </td>
                                            <td class="text-right">
                                                <div class="btn-group text-right">
                                                    {{#rowActionButtons}}
                                                    <a href="#" type="button" class="btn btn-default btn-xs {{class}}" data-materialno="{{materialNo}}" data-materialid="{{materialId}}" data-no="{{no}}" data-materialcount="{{deploymentProductMaterialCount}}">{{text}}</a>
                                                    {{/rowActionButtons}}
                                                    <a href="#" type="button" class="btn btn-default btn-xs viewAffix" >查看配货信息</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="bg-light affixTr" style="height: 0;">
                                            <td colspan="15" class="pn br-n" style="height:0;">
                                                <div class="panel m15 affixPanel"  style="display: none;">
                                                    {{#deploymentOrderMaterialBulkListData}}
                                                    <div class="panel-heading pn ph8">
                                                        <span>已备散料：共 {{sourcceLength}} 件</span>
                                                    </div>
                                                    <div class="panel-body pn">
                                                        <table class="table">
                                                            {{#deploymentOrderMaterialBulkListSource}}
                                                            <tr>
                                                                <td class="br-r">{{bulkMaterialNo}}</td>
                                                            </tr>
                                                            {{/deploymentOrderMaterialBulkListSource}}
                                                            {{^deploymentOrderMaterialBulkListSource}}
                                                            <tr>
                                                                <td class="br-r">无备货信息</td>
                                                            </tr>
                                                            {{/deploymentOrderMaterialBulkListSource}}
                                                        </table>
                                                    </div>
                                                    <div class="panel-footer pn pv5 ph15">
                                                        <div class="row">
                                                            <button type="button" class="btn btn-default btn-xs pull-right hideAffixPanel">收起</button>
                                                        </div>
                                                    </div>
                                                    {{/deploymentOrderMaterialBulkListData}}
                                                </div>
                                            </td>
                                        </tr>
                                        {{/listData}}
                                        {{^listData}}
                                        <tr>
                                            <td valign="top" colspan="14" class="text-center">没有选择配件</td>
                                        </tr>
                                        {{/listData}}
                                        {{/dataSource}}
                                        </tbody>
                                    </script>
                                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="materialDataListTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <button class="btn btn-default pull-right ml15 goBack">返回</button>
                    </div>
                </div>
            </form>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
<script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/moment.min.js"></script>
<script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/daterangepicker.js"></script>
<script type="text/javascript">
    management_load_script('${staticManagement}/js',
            'manage.deployment.order.handle.mixin.js',
            'manage.deployment.order.mixin.js',
            'manage.deployment.order.detail.js',
            'manage.order.item.render.js',
            'manage.order.util.js',
            'modal.submit.audit.js',
            'manage.order.picking.js',
            'modal.input.js');
</script>
<script type="text/javascript">
    //功能事件初始化
    Rental.init();
    Layout.init();
    DeploymentOrderDetails.init();

    //UI效果初始化
    Core.init();
    Demo.init();
</script>

</body>
</html>