<div id="noticeModal" class="popup-basic admin-form popup-lg mfp-with-anim ">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i><span id="modalTitle"></span></span>
        </div>
        <form method="post" id="noticeForm" description="">
            <div class="panel-body p25">
                <div class="section row">
                    <div class="col-md-12">
                        <label for="title" class="field-label">标题</label>
                        <label for="title" class="field prepend-icon">
                            <input type="text" name="title" id="title" class="gui-input required" maxlength="100">
                            <label for="title" class="field-icon"><i class="fa fa-tag"></i>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-12">
                        <label for="content" class="field-label">内容</label>
                        <div class="panal">
                            <div class="panel-body pn of-h" id="summer-demo">
                                <div class="summernote" style="height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-12">
                        <label for="remark" class="field-label">备注</label>
                        <label for="remark" class="field prepend-icon">
                            <textarea class="gui-textarea area-item" id="remark" name="remark" placeholder="请输入备注" maxlength="500"></textarea>
                            <label for="remark" class="field-icon"><i class="fa fa-tag"></i></label>
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="button btn-primary">确定</button>
                <button type="button" class="button btn-default cancelButton">取消</button>
            </div>
        </form>
    </div>
</div>