<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-系统管理-系统公告</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
    <link rel="stylesheet" type="text/css" href="${staticCommon}vendor/plugins/summernote/summernote.css">
    <link rel="stylesheet" type="text/css" href="${staticCommon}vendor/plugins/summernote/summernote-bs3.css">
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">
                #parse("component/loading.vm")
                <div class="row">
                    <div class="col-md-12 center-block">
                        <div class="admin-form theme-primary">
                            <div class="tray tray-center p30 va-t animated-delay" data-animate="1100">
                                <div class="panel panel-default panel-border top">
                                    <div class="panel-heading">
                                        <span class="panel-title"><i class="fa fa-pencil"></i>编辑公告</span>
                                    </div>
                                    <div class="panel-body p25 of-h">
                                        <div class="section row">
                                            <div class="col-md-6">
                                                <label for="title" class="field-label">标题</label>
                                                <label for="title" class="field prepend-icon">
                                                    <input type="text" name="title" id="title" class="gui-input required" placeholder="请输入标题" maxlength="100"/>
                                                    <label for="title" class="field-icon"><i class="fa fa-tag"></i></label>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="section row">
                                            <div class="col-md-12">
                                                <label class="field-label">内容</label>
                                                <div class="summernote" style="height: 500px;"></div>
                                            </div>
                                        </div>
                                        <div class="section row">
                                            <div class="col-md-12">
                                                <div class="section">
                                                    <label for="remark" class="field-label">备注</label>
                                                    <label for="remark" class="field prepend-icon">
                                                        <textarea class="gui-textarea" id="remark" name="remark"></textarea>
                                                        <label for="remark" class="field-icon"><i class="fa fa-comments"></i></label>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-right" id="actionButtons">
                                        <button type="submit" class="button btn-primary confirmBtn">确定</button>
                                        <button type="button" class="button btn-default goBack">返回</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")
    <script type="text/javascript" src="${staticCommon}vendor/plugins/summernote/summernote.min.js"></script>
    <script type="text/javascript" src="${staticCommon}vendor/plugins/summernote/summernote-zh-CN.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js','manage.system.notice.edit.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        EditSystemNoticeManage.init()
        
        //UI效果初始化
        Core.init();
        Demo.init();
    </script>
</body>
</html>