<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-系统管理-商城同步日志</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
<div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">

            #parse("component/loading.vm")

            <div class="panel panel-primary panel-border top">
                <div class="panel-menu p12">
                    <div class="row">
                        <div class="pull-left ml10">
                            <div class="btn-group" id="actionCommonButtons">
                                <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                            </div>
                        </div>
                        <div class="pull-right mr10 text-right">
                            <form id="searchForm" class="form-horizontal">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary btn-sm">查询</button>
                                    <button type="reset" class="btn btn-default btn-sm">重置</button>
                                </div>
                                <div class="field form-group pull-right mn mr10" style="width: 150px;">
                                    <input type="text" name="message" id="message" class="form-control input-sm bradius" autocomplete="off" placeholder="执行结果信息">
                                </div>
                                <div class="field form-group pull-right mn mr10">
                                    <div class="input-group">
                                        <select name="isSuccess" id="isSuccess" class="form-control input-sm bradius" style="width:150px;">
                                            <option value="">是否成功</option>
                                            <option value="1">成功</option>
                                            <option value="0">失败</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body pn">
                    <div class="table-responsive">
                        <script type="text/html" id="dataListTpl">
                            <thead>
                            <tr>
                                <th>执行结果信息</th>
                                <th>执行方法类型</th>
                                <th>执行结果</th>
                                <th>备注</th>
                                <th>创建</th>
                                <th>修改</th>
                                {{#hasRowActionButtons}}
                                <th class="text-right">操作</th>
                                {{/hasRowActionButtons}}
                            </tr>
                            </thead>
                            <tbody>
                            {{#dataSource}}
                            {{#listData}}
                            <tr>
                                <td><div style="max-width:350px;">{{message}}</div></td>
                                <td>{{dataTypeVal}}</td>
                                <td>{{isSuccessVal}}</td>
                                <td>{{remark}}</td>
                                <td>
                                    <p class="mn">{{createUserRealName}}</p>
                                    <p class="mn mt5">{{#clockShorTime}}{{createTime}}{{/clockShorTime}}</p>
                                </td>
                                <td>
                                    <p class="mn">{{updateUserRealName}}</p>
                                    <p class="mn mt5">{{#clockShorTime}}{{updateTime}}{{/clockShorTime}}</p>
                                </td>
                                {{#hasRowActionButtons}}
                                <td class="text-right">
                                    <div class="btn-group text-right">
                                        {{#rowActionButtons}}
                                        <a href="${ctx}{{menuUrl}}" class="btn btn-default btn-xs {{class}}" data-id="{{id}}">{{text}}</a>
                                        {{/rowActionButtons}}
                                    </div>
                                </td>
                                {{/hasRowActionButtons}}
                            </tr>
                            {{/listData}}
                            {{^listData}}
                            <tr>
                                <td valign="top" colspan="8" class="text-center">没有查询到同步日志</td>
                            </tr>
                            {{/listData}}
                            {{/dataSource}}
                            </tbody>
                        </script>
                        <table class="table table-striped admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                            #parse("component/pager.vm")
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
<script type="text/javascript">
    management_load_script('${staticManagement}/js','manage.mall.sync.js'
    );
</script>
<script type="text/javascript">
    //功能事件初始化
    Rental.init();
    Layout.init();
    MallSyncManage.init();

    //UI效果初始化
    Core.init();
    Demo.init();

</script>
</body>
</html>