<div class="popup-basic popup-lg mfp-with-anim ">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i>系统公告</span>
        </div>
        <div class="panel-body p25">
            <div class="section row">
                <script type="text/html" id="noticeDetailTpl">
                    {{#noticeObj}}
                    <div class="row mb20">
                        <div class="col-md-9 fs16 fw700 pl10">{{title}}</div>
                        <div class="col-md-3">{{#clockTime}}{{createTime}}{{/clockTime}}</div>
                    </div>
                    <div class="row">
                        <div class="pl20" id="noticeContent">{{content}}</div>
                    </div>
                    {{/noticeObj}}
                </script>
                <div class="col-md-12" id="noticeDetail"></div>
            </div>
        </div>
    </div>
</div>