<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-系统管理-系统公告</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">

                #parse("component/loading.vm")

                <div class="panel panel-primary panel-border top">
                    <div class="panel-menu p12">
                        <div class="row">
                            <div class="pull-left ml10">
                                <script type="text/html" id="actionCommonButtonsTpl">
                                    <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                                    {{#acitonCommonButtons}}
                                    <button class="btn btn-primary btn-sm {{class}}" title="{{menuName}}">
                                        <i class="{{iClass}}"></i> {{text}}
                                    </button>
                                    {{/acitonCommonButtons}}
                                </script>
                                <div class="btn-group" id="actionCommonButtons"></div>
                            </div>
                            <div class="pull-right mr10 text-right">
                                <form id="searchForm" class="form-horizontal">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-primary btn-sm">查询</button>
                                        <button type="reset" class="btn btn-default btn-sm">重置</button>
                                    </div>
                                    <div class="field form-group pull-right mn mr10">
                                        <div class="input-group">
                                            <input type="text" name="title" id="title" class="form-control input-sm bradius" autocomplete="off" placeholder="输入标题">
                                        </div>
                                    </div>
                                    <div class="field form-group pull-right mn mr10">
                                        <div class="input-group">
                                            <input type="text" name="content" class="form-control input-sm bradius" autocomplete="off" placeholder="输入内容">
                                        </div>
                                    </div>
                                    <div class="form-group pull-right mn mr10">
                                        <div class="input-group">
                                            <input type="text" name="remark" id="remark" class="form-control input-sm bradius" autocomplete="off" placeholder="输入注释">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body pn">
                        <div class="table-responsive">
                            <script type="text/html" id="dataListTpl">
                                <table class="table table-striped admin-form theme-warning tc-checkbox-1 fs13">
                                <thead>
                                <tr>
                                    <th>标题</th>
                                    <th>内容</th>
                                    <th>备注</th>
                                    <th>创建人</th>
                                    <th>修改人</th>
                                    {{#hasRowActionButtons}}
                                    <th class="text-right">操作</th>
                                    {{/hasRowActionButtons}}
                                </tr>
                                </thead>
                                <tbody>
                                {{#dataSource}}
                                {{#listData}}
                                <tr data-notice="{{noticeStr}}">
                                    <td>{{title}}</td>
                                    <td><pre class="sqlContent">{{content}}</pre></td>
                                    <td>{{remark}}</td>
                                    <td>
                                        <p class="mn">{{createUserRealName}}</p>
                                        <p class="mn mt5">{{#clockTime}}{{createTime}}{{/clockTime}}</p>
                                    </td>
                                    <td>
                                        <p class="mn">{{updateUserRealName}}</p>
                                        <p class="mn mt5">{{#clockTime}}{{updateTime}}{{/clockTime}}</p>
                                    </td>
                                    {{#hasRowActionButtons}}
                                    <td class="text-right">
                                        <div class="btn-group text-right">
                                            {{#rowActionButtons}}
                                            <a href="${ctx}{{menuUrl}}?id={{id}}" type="button" class="btn btn-default btn-xs {{class}}" data-id="{{id}}">{{text}}</a>
                                            {{/rowActionButtons}}
                                        </div>
                                    </td>
                                    {{/hasRowActionButtons}}
                                </tr>
                                <tr class="bn" style="height:0;">
                                    <td class="pre-box" colspan="6"><pre>{{content}}</pre></td>
                                </tr>
                                {{/listData}}
                                {{^listData}}
                                <tr>
                                    <td valign="top" colspan="6" class="text-center">无数据</td>
                                </tr>
                                {{/listData}}
                                {{/dataSource}}
                                </tbody>
                                </table>
                            </script>
                            <div id="dataListTable"></div>
                        </div>
                    </div>

                    <div id="resultContent" class="popup-basic p25 mfp-with-anim mfp-hide"></div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                                #parse("component/pager.vm")
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")
    <script type="text/javascript">
        management_load_script('${staticManagement}/js','manage.system.notice.list.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        SystemNoticeManage.init();

        //UI效果初始化
        Core.init();
        Demo.init();

    </script>
</body>
</html>