<div id="editRoleModal" class="popup-basic popup-lg admin-form mfp-with-anim">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i>编辑角色</span>
        </div>

        <form method="post" id="editRoleForm" description="编辑角色">
            <input type="hidden" name="roleId" value="">
            <div class="panel-body p25">
                <div class="section row">
                    <div class="col-md-6">
                        <label for="roleName" class="field-label">角色名称</label>
                        <label for="roleName" class="field prepend-icon">
                            <input type="text" name="roleName" id="roleName" class="gui-input required" placeholder="角色名称..." maxlength="20">
                            <label for="roleName" class="field-icon"><i class="fa fa-user"></i>
                            </label>
                        </label>
                    </div>

                    <div class="col-md-6">
                        <label for="roleDesc" class="field-label">角色描述</label>
                        <label for="roleDesc" class="field prepend-icon">
                            <input type="text" name="roleDesc" id="roleDesc" class="gui-input" placeholder="请输入描述内容...">
                            <label for="roleDesc" class="field-icon"><i class="fa fa-comments"></i>
                            </label>
                        </label>
                    </div>

                </div>
                <div class="section row">
                    <div class="col-md-12">
                        <label for="username" class="field-label">备注</label>
                        <label for="remark" class="field prepend-icon">
                            <textarea class="gui-textarea" id="remark" name="remark" placeholder="请输入备注"></textarea>
                            <label for="remark" class="field-icon"><i class="fa fa-comments"></i>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-12">
                        <div class="panel mb30" id="p3">
                            <div class="panel-heading pn ph8">部门</div>
                            <div class="panel-body nano nano-default affix rtlnao" style="height: 250px">
                                <div class="nano-content">
                                    <div id="companyDepartmentTree" style="padding: 15px 25px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer text-right">
                <button type="button" class="button btn-default" id="cancelEditRoleBtn">取消</button>
                <button type="submit" class="button btn-primary">确定</button>
            </div>
        </form>
    </div>
</div>