<div id="addSqlModal" class="popup-basic popup-lg admin-form mfp-with-anim">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i>编辑sql语句</span>
        </div>
        <form method="post" id="editSqlForm">
            <div class="panel-body p25">
                <div class="section row">
                    <div class="col-md-12">
                        <label for="sqlTitle" class="field-label">sql语句标题</label>
                        <label for="sqlTitle" class="field prepend-icon">
                            <input type="text" name="sqlTitle" id="sqlTitle" class="gui-input required">
                            <label for="sqlTitle" class="field-icon"><i class="fa fa-tag"></i>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-12">
                        <label for="sqlContent" class="field-label">sql语句内容</label>
                        <label for="sqlContent" class="field prepend-icon">
                            <textarea class="gui-textarea required" id="sqlContent" name="sqlContent" placeholder="sql语句内容"></textarea>
                            <label for="sqlContent" class="field-icon"><i class="fa fa-tag"></i>
                            </label>
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="button btn-primary">确定</button>
                <button type="button" class="button btn-default cancelButton">取消</button>
            </div>
        </form>
    </div>
</div>