<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-采购管理-编辑采购单</title>
    #parse("layout/header.vm")
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/daterange/daterangepicker.css">
    #parse("layout/theme.vm")
    <script type="text/javascript">
        common_load_css('${staticCommon}/rental/css','dropzone.css');
    </script>
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            <form class="" id="editPurchaseForm">
                #parse("component/purchase/purchaseContent.vm")
            </form>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/moment.min.js"></script>
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/daterangepicker.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'manage.purchase.util.js',
                'manage.purchase.mixin.js',
                'manage.purchase.edit.js',
                'modal.choose.warehouse.js',
                'modal.choose.supplier.js',
                'modal.choose.product.js',
                'modal.choose.material.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        EditPurchase.init();

        //UI效果初始化
        Core.init();
        Demo.init();

    </script>
</body>
</html>