<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-采购管理-添加采购单</title>
    #parse("layout/header.vm")
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/daterange/daterangepicker.css">
    #parse("layout/theme.vm")
    <script type="text/javascript">
        common_load_css('${staticCommon}/rental/css','dropzone.css');
    </script>
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">
                <form class="form-horizontal">
                    <div class="panel panel-primary panel-border top mb35">
                        <div class="panel-heading">
                            <span class="panel-title">基本信息</span>
                        </div>
                        <div class="panel-body bg-light dark">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">供应商ID</label>
                                        <div class="col-md-9">
                                            <select class="form-control">
                                                <option>选择供应商</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">发票供应商</label>
                                        <div class="col-md-9">
                                            <select class="form-control">
                                                <option>选择发票供应商</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">仓库</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="hidden" name="warehouseNo" class="form-control" />
                                                <input id="inputDefault" class="form-control" type="text" />
                                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">是否有发票</label>
                                        <div class="col-md-9">
                                            <select class="form-control">
                                                <option>请选择</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">全新机器</label>
                                        <div class="col-md-9">
                                            <select class="form-control">
                                                <option>请选择</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-menu p12">
                            <div class="row">
                                <div class="pull-left ml10">
                                    <div class="btn-group" id="actionCommonButtons">
                                        <button type="button" class="btn btn-primary btn-sm " title="选择商品">
                                            <i class="fa fa-plus"></i> 选择商品
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm " title="选择商品">
                                            <i class="fa fa-plus"></i> 删除
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body bg-light dark">

                        </div>
                    </div>
                </form>
            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
        #parse("layout/footer.vm")
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/moment.min.js"></script>
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/daterangepicker.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js','manage.purchase.add.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        AddPurchase.init();

        //UI效果初始化
        Core.init();
        Demo.init();

    </script>
</body>
</html>