<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-采购管理-添加采购单</title>
    #parse("layout/header.vm")
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/daterange/daterangepicker.css">
    #parse("layout/theme.vm")
    <script type="text/javascript">
        common_load_css('${staticCommon}/rental/css','dropzone.css');
    </script>
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">
                <form class="" id="addPurchaseForm">
                    <div class="panel panel-primary panel-border top mb35">
                        <div class="panel-heading">
                            <span class="panel-title">基本信息</span>
                        </div>
                        <div class="form-horizontal panel-body bg-light dark">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group field">
                                        <label class="col-md-3 control-label">供应商</label>
                                        <div class="col-md-9">
                                            <div class="input-group bringContainer">
                                                <input type="hidden" name="productSupplierId" class="form-control" bringFiled="supplierId" />
                                                <input id="supplierName" name="supplierName" bringFiled="supplierName" class="form-control required" type="text" readonly placeholder="请选择供应商" />
                                                <span class="input-group-addon cursor chooseSupplier"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group field">
                                        <label class="col-md-3 control-label">全新机器</label>
                                        <div class="col-md-9">
                                            <div class="radio-custom mt10 mr15 pull-left">
                                                <input type="radio" id="isNew1" name="isNew" value="1" class="required" />
                                                <label for="isNew1">是</label>
                                            </div>
                                            <div class="radio-custom mt10 pull-left">
                                                <input type="radio" id="isNew2" name="isNew" value="0" class="required" />
                                                <label for="isNew2">否</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group field">
                                        <label class="col-md-3 control-label">采购类型</label>
                                        <div class="col-md-9">
                                            <div class="input-group bringContainer">
                                               <select class="form-control required" name="purchaseType">
                                                   <option value="">请选择</option>
                                                   <option value="1">整机或四大件</option>
                                                   <option value="2">小配件</option>
                                               </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group field">
                                        <label class="col-md-3 control-label">仓库</label>
                                        <div class="col-md-9">
                                            <div class="input-group bringContainer">
                                                <input type="hidden" name="warehouseNo" class="form-control" bringFiled="warehouseNo" />
                                                <input id="warehouseName" name="warehouseName" bringFiled="warehouseName" class="form-control required" type="text" readonly placeholder="请选择收货仓库" />
                                                <span class="input-group-addon cursor" id="chooseWarehouse"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group field">
                                        <label class="col-md-3 control-label">发票</label>
                                        <div class="col-md-9">
                                            <div class="radio-custom mt10 mr15 pull-left">
                                                <input type="radio" id="isInvoice1" name="isInvoice" value="1" />
                                                <label for="isInvoice1">有</label>
                                            </div>
                                            <div class="radio-custom mt10 pull-left">
                                                <input type="radio" id="isInvoice2" name="isInvoice" value="0" />
                                                <label for="isInvoice2">无</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script type="text/html" id="invoiceSupplierSelectTpl">
                                    <div class="form-group field">
                                        <label class="col-md-3 control-label">发票供应商</label>
                                        <div class="col-md-9">
                                            <div class="input-group bringContainer">
                                                <input type="hidden" name="invoiceSupplierId" class="form-control" bringFiled="supplierId" />
                                                <input id="warehouseName" name="supplierName" bringFiled="supplierName" class="form-control" type="text" readonly placeholder="请选择发票供应商（选填）" />
                                                <span class="input-group-addon cursor chooseSupplier" id="chooseInvoiceSupplier"><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </script>
                                <div class="col-md-4" id="invoiceSupplierSelect"></div>
                            </div>
                        </div>
                        <div class="panel-heading">
                            <div class="row">
                                <ul class="nav panel-tabs-border panel-tabs">
                                    <li class="active">
                                        <a href="#purchaseOrderProductItems" data-toggle="tab">商品项</a>
                                    </li>
                                    <li>
                                        <a href="#purchaseOrderMaterialItems" data-toggle="tab">物料项</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body dark pn">
                            <div class="tab-content pn br-n">
                                <div id="purchaseOrderProductItems" class="tab-pane active">
                                    <div class="panel-menu p12 br-n br-b">
                                        <div class="row">
                                            <div class="pull-left ml10">
                                                <div class="btn-group" id="actionCommonButtons">
                                                    <button type="button" class="btn btn-primary btn-sm" id="batchAddProduct" title="选择商品">
                                                        <i class="fa fa-plus"></i> 选择商品
                                                    </button>
                                                    <button type="button" class="btn btn-primary btn-sm" id="batchDeleteProduct" title="删除商品">
                                                        <i class="fa fa-trash-o"></i> 删除
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <script type="text/html" id="dataListTpl">
                                            <thead>
                                            <tr class="bg-light">
                                                <th>
                                                    <label class="option block mn">
                                                        <input type="checkbox" name="checkAll" value="">
                                                        <span class="checkbox mn"></span>
                                                    </label>
                                                </th>
                                                <th>商品ID</th>
                                                <th>图片</th>
                                                <th>商品名称</th>
                                                <th>列表价格</th>
                                                <th>SKU</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#dataSource}}
                                            {{#listData}}
                                            <tr class="productRow" productRowKey="{{productId}}">
                                                <td>
                                                    <label class="option block mn">
                                                        <input type="checkbox" name="checkItem" value="{{productId}}">
                                                        <span class="checkbox mn"></span>
                                                    </label>
                                                </td>
                                                <td>{{productId}}</td>
                                                <td><a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a></td>
                                                <td>{{productName}}</td>
                                                <td class="br-r">{{listPriceFixed}}</td>
                                                <td class="pn">
                                                    <table class="table">
                                                        {{#chooseSkuList}}
                                                        {{#skuList}}
                                                            <tr class="skuRow">
                                                                <td style="width: 40%">{{propertiesToStr}}</td>
                                                                <td style="width: 20%">
                                                                    <input type="hidden" name="skuId" value="{{productId}}" class="productId" />
                                                                    <input type="hidden" name="skuId" value="{{skuId}}" class="productSkuId" />
                                                                    <label class="field prepend-icon mw200">
                                                                        <input type="text" name="productAmount-{{skuId}}-{{rowKey}}" value="{{productAmount}}" class="productAmount form-control required moneyNumber" placeholder="输入采购价格" />
                                                                        <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                                                    </label>
                                                                </td>
                                                                <td style="width: 20%">
                                                                    <label class="field prepend-icon mw200">
                                                                        <input type="text" name="productCount-{{skuId}}-{{rowKey}}" value="{{productCount}}" class="productCount form-control required number pl10" placeholder="输入采购数量" />
                                                                    </label>
                                                                </td>
                                                                <td style="width:20%" class="text-right">
                                                                    <div class="btn-group text-right">
                                                                        <a href="#" type="button" class="btn btn-default btn-xs editMaterialButton" data-skuid="{{skuId}}" data-productid="{{productId}}">编辑物料</a>
                                                                        <a href="#" type="button" class="btn btn-default btn-xs deleteSKUButton" data-skuid="{{skuId}}" data-productid="{{productId}}">删除</a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr class="bg-light editMaterialTr" style="height: 0;">
                                                                <td colspan="4" class="pn br-n" style="height:0;">
                                                                    <div class="panel m15 editMaterialPannel" style="display: none;">
                                                                        <div class="panel-heading pn ph8">
                                                                            <span>选择物料</span>
                                                                        </div>
                                                                        <div class="panel-body pn">
                                                                            <table class="table">
                                                                                {{#shouldMaterialList}}
                                                                                    <tr class="materialRow" data-materialtype="{{materialType}}" data-skuid="{{skuId}}" data-productid="{{productId}}">
                                                                                        <td class="br-r">{{propertyName}}：{{propertyValueName}}</td>
                                                                                        <td class="pn">
                                                                                            <input type="hidden" name="propertyCapacityValue" value="{{propertyCapacityValue}}" />
                                                                                           <table class="table pn br-r materialInputTable" >
                                                                                               {{#materialList}}
                                                                                               <tr class="materialInputRow" #*data-materialtype="{{materialType}}" data-skuid="{{skuId}}" data-productid="{{productId}}"*#>
                                                                                                   <td style="width: 50%;">
                                                                                                       <div class="field">
                                                                                                           <div class="input-group bringContainer">
                                                                                                               <input type="hidden" name="materialCapacityValue" value="{{materialCapacityValue}}" class="materialCapacityValue" />
                                                                                                               <input type="hidden" name="materialNo" value="{{materialNo}}" class="materialNo" />
                                                                                                               <input name="materialName-{{skuId}}-{{rowKey}}-{{materialType}}" value="{{materialName}}" bringfiled="warehouseName" class="materialName form-control required" type="text" readonly placeholder="选择物料" />
                                                                                                               <span class="input-group-addon cursor chooseMaterialButton" data-materialtype="{{materialType}}" data-materialmodelid="{{materialModelId}}"><i class="fa fa-search"></i></span>
                                                                                                           </div>
                                                                                                       </div>
                                                                                                   </td>
                                                                                                   <td style="width: 40%;">
                                                                                                       <label class="field prepend-icon mw200">
                                                                                                           <input type="text" name="productAmount-{{skuId}}-{{rowKey}}" value="{{materialCount}}" class="materialCount form-control required number" placeholder="填写数量" />
                                                                                                       </label>
                                                                                                   </td>
                                                                                                   <td style="width: 10%;">
                                                                                                       <div class="btn-group text-right" style="display: none;">
                                                                                                           <a href="#" type="button" class="btn btn-default btn-xs delSkuMaterialButton">删除</a>
                                                                                                       </div>
                                                                                                   </td>
                                                                                               </tr>
                                                                                               {{/materialList}}
                                                                                           </table>
                                                                                        </td>
                                                                                        <td class="text-right">
                                                                                            <div class="btn-group text-right">
                                                                                                {{#canAdd}}
                                                                                                    <a href="#" type="button" class="btn btn-default btn-xs newSkuMaterialButton">新增</a>
                                                                                                {{/canAdd}}
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                {{/shouldMaterialList}}
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {{/skuList}}
                                                        {{/chooseSkuList}}
                                                    </table>
                                                </td>
                                            </tr>
                                            {{/listData}}
                                            {{^listData}}
                                            <tr>
                                                <td valign="top" colspan="14" class="text-center">没有选择商品</td>
                                            </tr>
                                            {{/listData}}
                                            {{/dataSource}}
                                            </tbody>
                                        </script>
                                        <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                                    </div>
                                </div>
                                <div id="purchaseOrderMaterialItems" class="tab-pane">
                                    <div class="panel-menu p12 br-n br-b">
                                        <div class="row">
                                            <div class="pull-left ml10">
                                                <div class="btn-group" id="actionCommonButtons">
                                                    <button type="button" class="btn btn-primary btn-sm" id="batchAddMaterial" title="选择商品">
                                                        <i class="fa fa-plus"></i> 选择物料
                                                    </button>
                                                    <button type="button" class="btn btn-primary btn-sm" id="batchDeleteMaterial" title="删除商品">
                                                        <i class="fa fa-trash-o"></i> 删除
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <script type="text/html" id="materialDataListTpl">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <label class="option block mn">
                                                        <input type="checkbox" name="checkAll" value="">
                                                        <span class="checkbox mn"></span>
                                                    </label>
                                                </th>
                                                <th>编号</th>
                                                <th>名称</th>
                                                <th>类型</th>
                                                <th>本身价值</th>
                                                <th>租赁价格</th>
                                                <th>描述</th>
                                                <th>图片</th>
                                                <th>采购价</th>
                                                <th>数量</th>
                                                <th class="text-right">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#dataSource}}
                                            {{#listData}}
                                            <tr class="purchaseOrderItemMaterialRow">
                                                <td>
                                                    <label class="option block mn">
                                                        <input type="checkbox" name="checkItem" value="{{materialNo}}">
                                                        <span class="checkbox mn"></span>
                                                    </label>
                                                </td>
                                                <td>{{materialNo}}</td>
                                                <td>{{materialName}}</td>
                                                <td>{{materialTypeStr}}</td>
                                                <td>{{materialPriceFormat}}</td>
                                                <td>{{rentPriceFormat}}</td>
                                                <td>{{materialDesc}}</td>
                                                <td><a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a></td>
                                                <td>
                                                    <label class="field prepend-icon mw200">
                                                        <input type="hidden" name="materialNo" value="{{materialNo}}" class="materialNo" />
                                                        <input type="text" name="materialAmount-{{materialNo}}" value="{{materialAmount}}" class="materialAmount form-control required moneyNumber" placeholder="输入采购价格" />
                                                        <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                                    </label>
                                                </td>
                                                <td>
                                                    <label class="field prepend-icon mw200">
                                                        <input type="text" name="materialCount-{{materialNo}}" value="{{materialCount}}" class="materialCount form-control required number pl10" placeholder="输入采购数量" />
                                                    </label>
                                                </td>
                                                <td class="text-right">
                                                    <div class="btn-group text-right">
                                                        <a href="#" type="button" class="btn btn-default btn-xs delPurchaseOrderItemMaterialButton" data-materialno="{{materialNo}}">删除</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {{/listData}}
                                            {{^listData}}
                                            <tr>
                                                <td valign="top" colspan="14" class="text-center">没有选择物料</td>
                                            </tr>
                                            {{/listData}}
                                            {{/dataSource}}
                                            </tbody>
                                        </script>
                                        <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="materialDataListTable"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer clearfix">
                            <button class="btn btn-default pull-right ml15 goback">返回</button>
                            <button class="btn btn-primary pull-right">创建</button>
                        </div>
                    </div>
                </form>
            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
        #parse("layout/footer.vm")
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/moment.min.js"></script>
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/daterangepicker.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js','manage.purchase.add.js','modal.choose.warehouse.js','modal.choose.supplier.js','modal.choose.product.js','modal.choose.material.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        AddPurchase.init();

        //UI效果初始化
        Core.init();
        Demo.init();

    </script>
</body>
</html>