<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-配件管理-散料列表</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
<div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">

            #parse("component/loading.vm")

            <div class="panel panel-primary panel-border top">
                <div class="panel-menu p12">
                    <div class="row">
                        <div class="pull-left ml10">
                            <script type="text/html" id="actionCommonButtonsTpl">
                                <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                                {{#acitonCommonButtons}}
                                <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm {{class}}" title="{{menuName}}">
                                    <i class="{{iClass}}"></i> {{text}}
                                </a>
                                {{/acitonCommonButtons}}
                            </script>

                            <div class="btn-group" id="actionCommonButtons"></div>
                        </div>
                        <div class="pull-right mr10 text-right">
                            <form id="searchForm" class="form-horizontal">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary btn-sm">查询</button>
                                    <button type="reset" class="btn btn-default btn-sm">重置</button>
                                </div>
                                <div class="form-group pull-right mn mr10" style="width: 120px;">
                                    <input type="text" name="bulkMaterialNo" id="bulkMaterialNo" class="form-control input-sm bradius" autocomplete="off" placeholder="散料编号">
                                </div>
                                <div class="field form-group pull-right mn mr10" style="width: 120px;">
                                    <input type="text" name="bulkMaterialName" id="bulkMaterialName" class="form-control input-sm bradius" autocomplete="off" placeholder="散料名称">
                                </div>
                                <div class="form-group pull-right mn mr10">
                                    <div class="input-group">
                                        <select class="form-control input-sm bradius" name="currentWarehouseId" id="currentWarehouseId"></select>
                                    </div>
                                </div>
                                <div class="form-group pull-right mn mr10">
                                    <div class="input-group">
                                        <select class="form-control input-sm bradius" name="bulkMaterialType" id="bulkMaterialType"></select>
                                    </div>
                                </div>
                                <div class="form-group pull-right mn mr10">
                                    <div class="input-group">
                                        <select class="form-control input-sm bradius" name="bulkMaterialStatus" id="bulkMaterialStatus"></select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body pn">
                    <div class="table-responsive">
                        <script type="text/html" id="dataListTpl">
                            <thead>
                            <tr>
                                {{#hasCommonActionButtons}}
                                <th>
                                    <label class="option block mn">
                                        <input type="checkbox" name="checkAll" value="">
                                        <span class="checkbox mn"></span>
                                    </label>
                                </th>
                                {{/hasCommonActionButtons}}
                                <th>散料编号</th>
                                <th>散料名称</th>
                                <th>品牌</th>
                                <th>散料类型</th>
                                <th>面值大小</th>
                                <th>散料价值</th>
                                <th>配件编号</th>
                                <th>归属仓库</th>
                                <th>当前仓库</th>
                                <th>所在设备编号</th>
                                <th>状态</th>
                                {{#hasRowActionButtons}}
                                <th class="text-right">操作</th>
                                {{/hasRowActionButtons}}
                            </tr>
                            </thead>
                            <tbody>
                            {{#dataSource}}
                            {{#listData}}
                            <tr>
                                {{#hasCommonActionButtons}}
                                <td>
                                    <label class="option block mn">
                                        <input type="checkbox" name="checkItem" value="{{materialNo}}">
                                        <span class="checkbox mn"></span>
                                    </label>
                                </td>
                                {{/hasCommonActionButtons}}
                                <td>
                                    {{#isNewValueBadge}}{{isNew}}{{/isNewValueBadge}}
                                    {{bulkMaterialNo}}
                                </td>
                                <td>{{bulkMaterialName}}</td>
                                <td>{{brandName}}</td>
                                <td>{{bulkMaterialTypeValue}}</td>
                                <td>{{#memorysize}}{{materialCapacityValue}}{{/memorysize}}</td>
                                <td>￥{{#price}}{{bulkMaterialPrice}}{{/price}}</td>
                                <td>{{materialNo}}</td>
                                <td>{{ownerWarehouseName}}</td>
                                <td>{{currentWarehouseName}}</td>
                                <td>{{currentEquipmentNo}}</td>
                                <td class="{{bulkMaterialStatusClass}}">{{bulkMaterialStatusValue}}</td>
                                {{#hasRowActionButtons}}
                                <td class="text-right">
                                    <div class="btn-group text-right">
                                        {{#rowActionButtons}}
                                        <a href="${ctx}{{menuUrl}}?no={{materialNo}}" type="button" class="btn btn-default btn-xs {{class}}" data-materialno="{{materialNo}}">{{text}}</a>
                                        {{/rowActionButtons}}
                                    </div>
                                </td>
                                {{/hasRowActionButtons}}
                            </tr>
                            {{/listData}}
                            {{^listData}}
                            <tr>
                                <td valign="top" colspan="14" class="text-center">无数据</td>
                            </tr>
                            {{/listData}}
                            {{/dataSource}}
                            </tbody>
                        </script>
                        <table class="table table-striped admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                            #parse("component/pager.vm")
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
<script type="text/javascript">
    management_load_script('${staticManagement}/js',
            'api.data.js',
            'manage.material.bulk.list.js');
</script>
<script type="text/javascript">
    //功能事件初始化
    Rental.init();
    Layout.init();
    BulkMaterialManage.init();

    //UI效果初始化
    Core.init();
    Demo.init();

</script>
</body>
</html>