<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-物料管理-编辑物料</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
    <script type="text/javascript">
        common_load_css('${staticCommon}/rental/css','dropzone.css');
    </script>
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">

                <div class="row">
                    <div class="col-md-9 center-block">
                        <div class="admin-form theme-primary">

                            <div class="panel panel-primary panel-border top">

                                <form method="post" id="editMaterialForm">
                                    <div class="panel-body">
                                        <div class="section-divider mb40 mt20"><span> 基本信息 </span></div>
                                        <div class="section row">
                                            <div class="col-md-4">
                                                <label for="userName" class="field-label">物料类型</label>
                                                <script type="text/html" id="materialSelectTpl">
                                                    <option value="">请选择</option>
                                                    {{#materialType}}
                                                    <option value={{num}}>{{value}}</option>
                                                    {{/materialType}}
                                                </script>
                                                <label class="field select">
                                                    <select id="materialType" name="materialType">
                                                        <option value="">请选择</option>
                                                    </select>
                                                    <i class="arrow double"></i>
                                                </label>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="userName" class="field-label">物料类别</label>
                                                <label class="field select">
                                                    <select id="categoryId" name="categoryId">
                                                        <option value="">请选择</option>
                                                    </select>
                                                    <i class="arrow double"></i>
                                                </label>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="userName" class="field-label">物料名称</label>
                                                <label for="materialName" class="field prepend-icon">
                                                    <input type="text" name="materialName" id="materialName" class="gui-input" />
                                                    <label for="materialName" class="field-icon"><i class="fa fa-tag"></i></label>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="section row">

                                            <div class="col-md-4">
                                                <label for="userName" class="field-label">次租价</label>
                                                <label for="timeRentPrice" class="field prepend-icon">
                                                    <input type="text" name="timeRentPrice" id="timeRentPrice" class="gui-input" />
                                                    <label for="timeRentPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                                </label>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="userName" class="field-label">日租价</label>
                                                <label for="dayRentPrice" class="field prepend-icon">
                                                    <input type="text" name="dayRentPrice" id="dayRentPrice" class="gui-input" />
                                                    <label for="dayRentPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                                </label>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="monthRentPrice" class="field-label">月租价</label>
                                                <label for="monthRentPrice" class="field prepend-icon">
                                                    <input type="text" name="monthRentPrice" id="monthRentPrice" class="gui-input" />
                                                    <label for="monthRentPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="section row">
                                            <div class="col-md-12">
                                                <label for="materialPrice" class="field-label">本身价值</label>
                                                <label for="materialPrice" class="field prepend-icon">
                                                    <input type="text" name="materialPrice" id="materialPrice" class="gui-input" />
                                                    <label for="materialPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="section">
                                            <label for="materialDesc" class="field-label">描述</label>
                                            <label for="materialDesc" class="field prepend-icon">
                                                <textarea class="gui-textarea" id="materialDesc" name="materialDesc"></textarea>
                                                <label for="materialDesc" class="field-icon"><i class="fa fa-comments"></i></label>
                                            </label>
                                        </div>

                                        <script type="text/html" id="examplePreviewTpl">
                                            {{#imgs}}
                                            <div class="dz-preview dz-processing dz-error dz-image-preview hidden example-preview" data-img="{{dataImg}}">
                                                <div class="dz-details">
                                                    <div class="dz-filename">
                                                        <span data-dz-name="">{{originalName}}</span>
                                                    </div>
                                                    <img data-dz-thumbnail="" alt="avatar" src="{{imgDomain}}{{imgUrl}}" class="img-responsive">
                                                </div>
                                                <div class="dz-success-mark">
                                                    <span>âœ?/span>
                                                </div>
                                                <a class="dz-remove" href="#" data-dz-remove>删除</a>
                                            </div>
                                            {{/imgs}}
                                        </script>

                                        <div class="section-divider mv40"><span> 图片  </span></div>
                                        <div class="tray-bin">
                                            <div class="atl-dropzone dropzoneImg" id="dropzoneMaterialImg">
                                                <div class="dz-default dz-message" >
                                                    <span>
                                                        <i class="fa fa-cloud-upload"></i>
                                                        <span class="sub-text">将图片拖入或点击</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <script type="text/html" id="materialPropertiesTpl">
                                            <div class="section-divider mv40"><span> 物料属性  </span></div>
                                            {{#properties}}
                                            <div class="col-md-3 pad-r40 border-right">
                                                <div class="panel">
                                                    <div class="panel-heading pn ph8">
                                                        <span>{{propertyName}}</span>
                                                    </div>
                                                    <div class="panel-body nano nano-default affix rtlnao" style="height: 200px">
                                                        <div class="nano-content">
                                                            <div class="option-group field p10">
                                                                {{#propertyValueList}}
                                                                {{#list}}
                                                                <label class="option option-primary mb10 block">
                                                                    <input type="radio" name="materialPropertyRido" class="materialPropertyRido" value="{{categoryPropertyValueId}}" data-property="{{property}}" {{#checked}}checked{{/checked}} />
                                                                    <span class="radio"></span> {{propertyValueName}}
                                                                </label>
                                                                {{/list}}
                                                                {{/propertyValueList}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/properties}}

                                        </script>


                                        <div class="section row">
                                            <div class="col-md-12" id="materialPropertiesContainer"></div>
                                        </div>

                                    </div>
                                    <div class="panel-footer text-right">
                                        <button type="submit" class="button btn-primary"> 确定 </button>
                                        <button type="reset" class="button goBack"> 返回 </button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")

    <script type="text/javascript" src="${staticCommon}vendor/plugins/dropzone/dropzone.min.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js','manage.material.edit.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        MaterialEdit.init();

        //UI效果初始化
        Core.init();
        Demo.init();

    </script>
</body>
</html>