<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-配件管理-添加配件</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
    <script type="text/javascript">
        common_load_css('${staticCommon}/rental/css','dropzone.css');
    </script>
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12 center-block">
                        <div class="admin-form theme-primary">
                            <div class="panel panel-primary panel-border top">
                                <form method="post" id="addMaterialForm">
                                    #parse("component/material/editMaterialContent.vm")
                                </form>
                            </div>

                        </div>
                    </div>
                </div>

            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")

    <script type="text/javascript" src="${staticCommon}vendor/plugins/dropzone/dropzone.min.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'api.data.js',
                'manage.material.mixin.js',
                'manage.material.add.js',
                'modal.choose.material.modal.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        MaterialAdd.init();

        //UI效果初始化
        Core.init();
        Demo.init();

    </script>
</body>
</html>