<div class="popup-basic popup-xl admin-form mfp-with-anim theme-primary " id="chooseMaterialModal">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-search"></i>选择物料</span>
        </div>
        <div class="panel-menu p12">
            <div class="row">
                <div class="col-md-12 text-right">
                    <form id="chooseMaterialSearchForm" class="form-horizontal">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary btn-sm">查询</button>
                            <button type="reset" class="btn btn-default btn-sm">重置</button>
                        </div>
                        <div class="field form-group pull-right mn mr10" style="width: 120px;">
                            <div class="input-group">
                                <input type="text" name="materialName" id="materialName" class="form-control input-sm bradius number" autocomplete="off" placeholder="输入物料名称">
                            </div>
                        </div>
                        <div class="form-group pull-right mn mr10" style="width: 120px;">
                            <div class="input-group">
                                <input type="text" name="materialNo" id="materialNo" class="form-control input-sm bradius" autocomplete="off" placeholder="输入物料编号">
                            </div>
                        </div>
                       #* <script type="text/html" id="materialTypeSelectTpl">
                            <option value="">全部（物料类型）</option>
                            {{#materialType}}
                            <option value={{num}}>{{value}}</option>
                            {{/materialType}}
                        </script>
                        <select name="materialType" id="materialType" class="hide"></select>*#
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-body pn">
            <div class="table-responsive">
                <script type="text/html" id="chooseMaterialModalDataListTpl">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>图片</th>
                        <th>名称</th>
                        <th>型号</th>
                        <th>类型</th>
                        <th>本身价值</th>
                        <th>租赁价格</th>
                        <th>描述</th>
                        <th class="text-right">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#dataSource}}
                    {{#listData}}
                    <tr>
                        <td>{{materialNo}}</td>
                        <td><a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a></td>
                        <td>{{materialName}}</td>
                        <td>{{materialModelName}}</td>
                        <td>{{materialTypeStr}}</td>
                        <td>{{materialPriceFormat}}</td>
                        <td>
                            <p>次租：￥{{timeRentPriceFormat}}</p>
                            <p>日租：￥{{dayRentPriceFormat}}</p>
                            <p>月租：￥{{monthRentPriceFormat}}</p>
                        </td>
                        <td>{{materialDesc}}</td>
                        <td class="text-right">
                            <div class="btn-group text-right">
                                <a href="#" type="button" class="btn btn-default btn-xs chooseButton" data-materialNo="{{materialNo}}" data-material="{{materialJSONString}}">选择</a>
                            </div>
                        </td>
                    </tr>
                    {{/listData}}
                    {{^listData}}
                    <tr>
                        <td valign="top" colspan="14" class="text-center">没有查询到物料信息</td>
                    </tr>
                    {{/listData}}
                    {{/dataSource}}
                    </tbody>
                </script>
                <table class="table  admin-form theme-warning tc-checkbox-1 fs13" id="chooseMaterialDataListTable"></table>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                    #parse("component/pager.vm")
                </div>
            </div>
        </div>
    </div>
</div>



