<div class="panel-body">
    <div class="section-divider mb40 mt20"><span> 基本信息 </span></div>
    <div class="section row">
        <div class="col-md-9">
            <div class="section row">
                <div class="col-md-4">
                    <label for="userName" class="field-label">配件类型</label>
                    <label class="field select">
                        <select id="materialType" name="materialType" class="required">
                            <option value="">请选择</option>
                        </select>
                        <i class="arrow double"></i>
                    </label>
                </div>
                <div class="col-md-4">
                    <label for="userName" class="field-label">配件型号</label>
                    <div class="smart-widget sm-right smr-50">
                        <label class="field">
                            <input type="hidden" value="" name="materialModelId" />
                            <input type="text" name="materialModelName" id="materialModelName" class="gui-input" placeholder="请选择配件型号" readonly />
                        </label>
                        <button type="button" class="button btn-primary bradiusN chooseMaterialModalButton"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="userName" class="field-label">配件编号(生成配件编号)</label>
                    <label for="materialModel" class="field prepend-icon">
                        <input type="text" name="materialModel" id="materialModel" class="gui-input required letterOrNumber2" placeholder="数字、英文字母、横杠" />
                        <label for="materialModel" class="field-icon"><i class="fa fa-tag"></i></label>
                    </label>
                </div>
            </div>
            <div class="section row">
                <div class="col-md-4">
                    <label for="userName" class="field-label">配件名称</label>
                    <label for="materialName" class="field prepend-icon">
                        <input type="text" name="materialName" id="materialName" class="gui-input required" />
                        <label for="materialName" class="field-icon"><i class="fa fa-tag"></i></label>
                    </label>
                </div>
                <div class="col-md-4">
                    <label for="userName" class="field-label">配件值(单位：G)</label>
                    <label for="materialCapacityValue" class="field prepend-icon">
                        <input type="text" name="materialCapacityValue" id="materialCapacityValue number" class="gui-input" />
                        <label for="materialCapacityValue" class="field-icon"><i class="fa fa-tag"></i></label>
                    </label>
                </div>
                <div class="col-md-4">
                    <label for="isRent" class="field-label">品牌</label>
                    <label class="field select">
                        <select id="brandId" name="brandId" class="required">
                            <option value="">请选择</option>
                        </select>
                        <i class="arrow"></i>
                    </label>
                </div>
            </div>
            <div class="section row">
                <div class="col-md-4">
                    <label for="materialPrice" class="field-label">次新价值</label>
                    <label for="materialPrice" class="field select prepend-icon">
                        <input type="text" name="materialPrice" id="materialPrice" class="gui-input required moneyNumber" />
                        <label for="materialPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                    </label>
                </div>
                <div class="col-md-4">
                    <label for="userName" class="field-label">次新日租价</label>
                    <label for="dayRentPrice" class="field prepend-icon">
                        <input type="text" name="dayRentPrice" id="dayRentPrice" class="gui-input required moneyNumber" />
                        <label for="dayRentPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                    </label>
                </div>
                <div class="col-md-4">
                    <label for="monthRentPrice" class="field-label">次新月租价</label>
                    <label for="monthRentPrice" class="field prepend-icon">
                        <input type="text" name="monthRentPrice" id="monthRentPrice" class="gui-input required moneyNumber" />
                        <label for="monthRentPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                    </label>
                </div>
            </div>
            <div class="section row">
                <div class="col-md-4">
                    <label for="newMaterialPrice" class="field-label">全新价值</label>
                    <label for="newMaterialPrice" class="field select prepend-icon">
                        <input type="text" name="newMaterialPrice" id="newMaterialPrice" class="gui-input required moneyNumber" />
                        <label for="newMaterialPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                    </label>
                </div>
                <div class="col-md-4">
                    <label for="newDayRentPrice" class="field-label">全新日租价</label>
                    <label for="newDayRentPrice" class="field prepend-icon">
                        <input type="text" name="newDayRentPrice" id="newDayRentPrice" class="gui-input required moneyNumber" />
                        <label for="newDayRentPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                    </label>
                </div>
                <div class="col-md-4">
                    <label for="newMonthRentPrice" class="field-label">全新月租价</label>
                    <label for="newMonthRentPrice" class="field prepend-icon">
                        <input type="text" name="newMonthRentPrice" id="newMonthRentPrice" class="gui-input required moneyNumber" />
                        <label for="newMonthRentPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                    </label>
                </div>
            </div>
            <div class="section row">
                <div class="col-md-4">
                    <label for="k3MaterialNo" class="field-label">K3物料编号</label>
                    <label for="k3MaterialNo" class="field prepend-icon">
                        <input type="text" name="k3MaterialNo" id="k3MaterialNo" class="gui-input required" />
                        <label for="k3MaterialNo" class="field-icon"><i class="fa fa-tag"></i></label>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="section">
                <label for="userName" class="field-label">是否在租</label>
                <label class="field select">
                    <select id="isRent" name="isRent">
                        <option value="1">上架</option>
                        <option value="0">下架</option>
                    </select>
                    <i class="arrow"></i>
                </label>
            </div>
            <div class="section">
                <label for="isRent" class="field-label">允许随时归还</label>
                <label class="field select">
                    <select id="isReturnAnyTime" name="isReturnAnyTime">
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                    <i class="arrow"></i>
                </label>
            </div>
            <div class="section">
                <label for="materialDesc" class="field-label">描述</label>
                <label for="materialDesc" class="field prepend-icon">
                    <textarea class="gui-textarea" id="materialDesc" name="materialDesc" style="height: 130px"></textarea>
                    <label for="materialDesc" class="field-icon"><i class="fa fa-comments"></i></label>
                </label>
            </div>
        </div>
    </div>
    <div class="section-divider mv40"><span> 图片  </span></div>
    <div class="tray-bin">
        <div class="atl-dropzone dropzoneImg" id="dropzoneMaterialImg">
            <div class="dz-default dz-message" >
                <span>
                    <i class="fa fa-cloud-upload"></i>
                    <span class="sub-text">将图片拖入或点击（支持.jpg|.ipeg|.png，不能超过2M）</span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="panel-footer text-right">
    <button type="submit" class="button btn-primary"> 确定 </button>
    <button type="reset" class="button goBack"> 返回 </button>
</div>