<div class="panel panel-primary panel-border top mb35">
    <div class="panel-heading">
        <span class="panel-title">基本信息</span>
    </div>
    <div class="form-horizontal panel-body bg-light dark">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group field">
                    <label class="col-md-3 control-label">名称</label>
                    <div class="col-md-9">
                        <div class="input-group" style="width: 100%;">
                            <input type="text" class="form-control required" name="transferOrderName" id="transferOrderName" />
                        </div>
                    </div>
                </div>
                <div class="form-group field">
                    <label class="col-md-3 control-label">流转类型</label>
                    <div class="col-md-9">
                        <div class="input-group" style="width: 100%;">
                            <select class="form-control required" name="transferOrderType">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group field">
                    <label class="col-md-3 control-label">仓库</label>
                    <div class="col-md-9">
                        <div class="input-group bringContainer">
                            <input type="hidden" name="warehouseId" />
                            <input type="text" id="warehouseName" name="warehouseName" bringFiled="warehouseName" class="form-control required" readonly placeholder="请选择仓库" />
                            <span class="input-group-addon cursor chooseWarehouseId" id="chooseWarehouseId"><i class="fa fa-search mr5"></i>选择</span>
                        </div>
                    </div>
                </div>
                <div class="form-group field">
                    <label class="col-md-3 control-label">备注</label>
                    <div class="col-md-9">
                        <textarea class="form-control" id="remark" rows="3"  name="remark"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
    <div class="panel-heading">
        <div class="row">
            <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
                <li class="active">
                    <a href="#purchaseOrderProductItems" data-toggle="tab">商品项（共<span id="orderItemProductCount">0</span>件）</a>
                </li>
                <li>
                    <a href="#purchaseOrderMaterialItems" data-toggle="tab">配件项（共<span id="orderItemMaterialCount">0</span>件）</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body dark pn">
        <div class="tab-content pn br-n">
            <div id="purchaseOrderProductItems" class="tab-pane active">
                <div class="panel-menu p12 br-n br-b">
                    <div class="row">
                        <div class="pull-left ml10">
                            <div class="btn-group" id="actionCommonButtons">
                                <button type="button" class="btn btn-primary btn-sm" id="batchAddProduct" title="选择商品">
                                    <i class="fa fa-plus"></i> 选择商品
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" id="batchDeleteProduct" title="删除商品">
                                    <i class="fa fa-trash-o"></i> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <script type="text/html" id="dataListTpl">
                        <thead>
                        <tr class="bg-light">
                            <th>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkAll" value="">
                                    <span class="checkbox mn"></span>
                                </label>
                            </th>
                            <th>商品名称</th>
                            <th>类别</th>
                            <th>品牌</th>
                            <th>商品参数（SKU）</th>
                            <th>数量</th>
                            <th class="text-right">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#listData}}
                        <tr class="productRow skuRow" productRowKey="{{productId}}">
                            <td>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkItem" value="{{productId}}" data-skuid="{{skuId}}" data-isnew="{{isNewIntValue}}">
                                    <span class="checkbox mn"></span>
                                </label>
                            </td>
                            <td>{{#isNewValueBadge}}{{isNewIntValue}}{{/isNewValueBadge}}{{productName}}</td>
                            <td>{{#productInfo}}{{categoryName}}{{/productInfo}}</td>
                            <td>{{#productInfo}}{{brandName}}{{/productInfo}}</td>
                            <td>{{propertiesToStr}}</td>
                            <td class="productUnitAmountTd">
                                <div class="smart-widget sm-right smr-50">
                                    <input type="hidden" name="isNewProduct" value="{{isNewIntValue}}" class="isNewProduct" />
                                    <input type="hidden" name="skuId" value="{{productId}}" class="productId" />
                                    <input type="hidden" name="skuId" value="{{skuId}}" class="productSkuId" />
                                    <label class="field prepend-icon">
                                        <input type="text" name="productCount-{{skuId}}-{{rowKey}}" value="{{productCount}}" class="productCount form-control required number pl10" placeholder="输入调拨数量" />
                                    </label>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="btn-group text-right">
                                    <a href="#" type="button" class="btn btn-default btn-xs deleteSKUButton" data-skuid="{{skuId}}" data-productid="{{productId}}" data-isnew="{{isNewIntValue}}">删除</a>
                                </div>
                            </td>
                        </tr>
                        {{/listData}}
                        {{^listData}}
                        <tr>
                            <td valign="top" colspan="14" class="text-center">没有选择商品</td>
                        </tr>
                        {{/listData}}
                        </tbody>
                    </script>
                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                </div>
            </div>
            <div id="purchaseOrderMaterialItems" class="tab-pane">
                <div class="panel-menu p12 br-n br-b">
                    <div class="row">
                        <div class="pull-left ml10">
                            <div class="btn-group" id="actionCommonButtons">
                                <button type="button" class="btn btn-primary btn-sm" id="batchAddMaterial" title="选择配件">
                                    <i class="fa fa-plus"></i> 选择配件
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" id="batchDeleteMaterial" title="删除配件">
                                    <i class="fa fa-trash-o"></i> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <script type="text/html" id="materialDataListTpl">
                        <thead>
                        <tr>
                            <th>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkAll" value="">
                                    <span class="checkbox mn"></span>
                                </label>
                            </th>
                            <th>配件名称</th>
                            <th>品牌</th>
                            <th>类型</th>
                            <th>配件价值</th>
                            <th>数量</th>
                            <th class="text-right">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#dataSource}}
                        {{#listData}}
                        <tr class="materialRow">
                            <td>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkItem" value="{{materialNo}}" data-isnew="{{isNewIntValue}}">
                                    <span class="checkbox mn"></span>
                                </label>
                            </td>
                            <td>{{#isNewValueBadge}}{{isNewIntValue}}{{/isNewValueBadge}}{{materialName}}</td>
                            <td>{{brandName}}</td>
                            <td>{{materialTypeStr}}</td>
                            <td>{{#price}}{{materialPrice}}{{/price}}</td>
                            <td class="materialUnitAmountTd">
                                <div class="smart-widget sm-right smr-50">
                                    <input type="hidden" name="isNewMaterial" value="{{isNewIntValue}}" class="isNewMaterial" />
                                    <input type="hidden" name="materialNo" value="{{materialNo}}" class="materialNo" />
                                    <input type="hidden" name="materialId" value="{{materialId}}" class="materialId" />
                                    <label class="field prepend-icon">
                                        <input type="text" name="materialCount-{{materialNo}}" value="{{materialCount}}" class="materialCount form-control required number pl10" placeholder="输入调拨数量" />
                                    </label>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="btn-group text-right">
                                    <a href="#" type="button" class="btn btn-default btn-xs delMaterialButton" data-materialno="{{materialNo}}" data-isnew="{{isNewIntValue}}">删除</a>
                                </div>
                            </td>
                        </tr>
                        {{/listData}}
                        {{^listData}}
                        <tr>
                            <td valign="top" colspan="14" class="text-center">没有选择配件</td>
                        </tr>
                        {{/listData}}
                        {{/dataSource}}
                        </tbody>
                    </script>
                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="materialDataListTable"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <button class="btn btn-default pull-right ml15 goBack">返回</button>
        <button class="btn btn-primary pull-right">保存</button>
    </div>
</div>