<div class="panel sales-panel hide">
    <div class="panel-heading">
        <span class="panel-title fw700 fs16">工作台</span>
    </div>
    <div class="panel-body" id="salesWorkbench">
        <script type="text/html" id="salesOrdeTpl">
            {{#dataSource}}
            {{#listData}}
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fw700 mb5">
                    {{#title}}
                    <span class="line"></span>
                    <span>{{title}}</span>
                    {{/title}}
                </div>
                <a href="{{#hasdata}}${ctx}order-manage/list?{{params}}={{paramsValue}}{{/hasdata}}{{^hasdata}}javascript:;{{/hasdata}}" 
                    class="workbench-item pl30 pt20 {{#hasdata}}hasdata{{/hasdata}}{{^hasdata}}nodata{{/hasdata}}">
                    <p class="title pn mn text-default">{{orderColTitle}}</p>
                    <p class="num {{#hasdata}}text-danger{{/hasdata}}{{^hasdata}}c6{{/hasdata}} fs24 fw700 pn mn mt10">{{count}}</p>
                </a>
            </div>
            {{/listData}}
            {{/dataSource}}
        </script>
        <div class="workbench-row row pl20 orderRow" id="salesOrderRow">
            <div class="col-md-3 pn pr20 mb20" id="saleRentingOrder">
                <div class="rowTitle fw700 mb5">
                    <span class="line"></span>
                    <span>租赁订单</span>
                </div>
                <a href="javascript:;" class="workbench-item pl30 pt20 nodata">
                    <p class="title pn mn text-default">审核中的订单</p>
                    <p class="num text-muted fw700 pn mn mt10">--</p>
                </a>
            </div>
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fs16 fw700 mb5"></div>
                <a href="javascript:;" class="workbench-item pl30 pt20 nodata">
                    <p class="title pn mn text-default">可续租的订单</p>
                    <p class="num text-muted fw700 pn mn mt10">--</p>
                </a>
            </div>
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fs16 fw700 mb5"></div>
                <a href="javascript:;" class="workbench-item pl30 pt20 nodata">
                    <p class="title pn mn text-default">到期未处理的订单</p>
                    <p class="num text-muted fw700 pn mn mt10">--</p>
                </a>
            </div>
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fs16 fw700 mb5"></div>
                <a href="javascript:;" class="workbench-item pl30 pt20 nodata">
                    <p class="title pn mn text-default">待发货的订单</p>
                    <p class="num text-muted fw700 pn mn mt10">--</p>
                </a>
            </div>
        </div>

        <script type="text/html" id="salesReturnOrderTpl">
            {{#dataSource}}
            {{#listData}}
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fw700 mb5">
                    {{#title}}
                    <span class="line"></span>
                    <span>{{title}}</span>
                    {{/title}}
                </div>
                <a href="{{#hasdata}}${ctx}return-order-k3/list?{{params}}={{paramsValue}}{{/hasdata}}{{^hasdata}}javascript:;{{/hasdata}}" 
                    class="workbench-item pl30 pt20 {{#hasdata}}hasdata{{/hasdata}}{{^hasdata}}nodata{{/hasdata}}">
                    <p class="title pn mn text-default">{{returnColTitle}}</p>
                    <p class="num {{#hasdata}}text-danger{{/hasdata}}{{^hasdata}}c6{{/hasdata}} fs24 fw700 pn mn mt10">{{count}}</p>
                </a>
            </div>
            {{/listData}}
            {{/dataSource}}
        </script>
        <div class="workbench-row row pl20 returnOrderRow" id="salesReturnOrderRow">
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fw700 mb5">
                    <span class="line"></span>
                    <span>退货单</span>
                </div>
                <a href="javascript:;" class="workbench-item pl30 pt20 nodata">
                    <p class="title pn mn text-default">审核中的退货单</p>
                    <p class="num text-muted fw700 pn mn mt10">--</p>
                </a>
            </div>
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fs16 fw700 mb5"></div>
                <a href="javascript:;" class="workbench-item pl30 pt20 nodata">
                    <p class="title pn mn text-default">被驳回的退货单</p>
                    <p class="num text-muted fw700 pn mn mt10">--</p>
                </a>
            </div>
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fs16 fw700 mb5"></div>
                <a href="javascript:;" class="workbench-item pl30 pt20 nodata">
                    <p class="title pn mn text-default">处理中的退货单</p>
                    <p class="num text-muted fw700 pn mn mt10">--</p>
                </a>
            </div>
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fs16 fw700 mb5"></div>
                <a href="javascript:;" class="workbench-item pl30 pt20 nodata">
                    <p class="title pn mn text-default">未提交的退货单</p>
                    <p class="num text-muted fw700 pn mn mt10">--</p>
                </a>
            </div>
        </div>

        <script type="text/html" id="salesCustomerTpl">
            {{#dataSource}}
            {{#listData}}
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fw700 mb5">
                    {{#title}}
                    <span class="line"></span>
                    <span>{{title}}</span>
                    {{/title}}
                </div>
                <a href="{{#hasdata}}{{customerListUrl}}?{{params}}={{paramsValue}}{{/hasdata}}{{^hasdata}}javascript:;{{/hasdata}}" 
                    class="workbench-item pl30 pt20 {{#hasdata}}hasdata{{/hasdata}}{{^hasdata}}nodata{{/hasdata}}">
                    <p class="title pn mn text-default">{{customerColTitle}}</p>
                    <p class="num {{#hasdata}}text-danger{{/hasdata}}{{^hasdata}}c6{{/hasdata}} fs24 fw700 pn mn mt10">{{count}}</p>
                </a>
            </div>
            {{/listData}}
            {{/dataSource}}
        </script>
        <div class="workbench-row row pl20 customerRow"  id="salesCustomerRow">
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fw700 mb5">
                    <span class="line"></span>
                    <span>客户</span>
                </div>
                <a href="javascript:;" class="workbench-item pl30 pt20 nodata">
                    <p class="title pn mn text-default">审核中的企业客户</p>
                    <p class="num text-muted fw700 pn mn mt10">--</p>
                </a>
            </div>
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fw700 mb5"></div>
                <a href="javascript:;" class="workbench-item pl30 pt20 nodata">
                    <p class="title pn mn text-default">被驳回的企业客户</p>
                    <p class="num text-muted fw700 pn mn mt10">--</p>
                </a>
            </div>
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fw700 mb5"></div>
                <a href="javascript:;" class="workbench-item pl30 pt20 nodata">
                    <p class="title pn mn text-default">审核中的个人客户</p>
                    <p class="num text-muted fw700 pn mn mt10">--</p>
                </a>
            </div>
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fw700 mb5"></div>
                <a href="javascript:;" class="workbench-item pl30 pt20 nodata">
                    <p class="title pn mn text-default">被驳回的个人客户</p>
                    <p class="num text-muted fw700 pn mn mt10">--</p>
                </a>
            </div>
        </div>

        <script type="text/html" id="salesAuditTpl">
            {{#dataSource}}
            {{#listData}}
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fw700 mb5">
                    {{#title}}
                    <span class="line"></span>
                    <span>{{title}}</span>
                    {{/title}}
                </div>
                <a href="{{#hasdata}}${ctx}audit-manage/list?{{params}}={{paramsValue}}{{/hasdata}}{{^hasdata}}javascript:;{{/hasdata}}" 
                    class="workbench-item pl30 pt20 {{#hasdata}}hasdata{{/hasdata}}{{^hasdata}}nodata{{/hasdata}}">
                    <p class="title pn mn text-default">{{auditColTitle}}</p>
                    <p class="num {{#hasdata}}text-danger{{/hasdata}}{{^hasdata}}c6{{/hasdata}} fs24 fw700 pn mn mt10">{{count}}</p>
                </a>
            </div>
            {{/listData}}
            {{/dataSource}}
        </script>
        <div class="workbench-row row pl20 auditRow" id="salesAuditRow">
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fw700 mb5">
                    <span class="line"></span>
                    <span>工作流</span>
                </div>
                <a href="javascript:;" class="workbench-item pl30 pt20 nodata">
                    <p class="title pn mn text-default">审核中的工作流</p>
                    <p class="num text-muted fw700 pn mn mt10">--</p>
                </a>
            </div>
            <div class="col-md-3 pn pr20 mb20">
                <div class="rowTitle fw700 mb5"></div>
                <a href="javascript:;" class="workbench-item pl30 pt20 nodata">
                    <p class="title pn mn text-default">被驳回的工作流</p>
                    <p class="num text-muted fw700 pn mn mt10">--</p>
                </a>
            </div>
        </div>
    </div>
</div>