<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-用户管理-角色列表</title>
    #parse("layout/header.vm")
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/fancytree2/skin-win8/ui.fancytree.min.css">
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")
    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">

            #parse("component/loading.vm")

            <div class="panel panel-primary panel-border top">
                <div class="panel-menu p12">
                    <div class="row table-layout">
                        <div class="col-md-6 pn">
                            <script type="text/html" id="actionCommonButtonsTpl">
                                <button type="button" class="btn btn-primary btn-sm light refreshButton"  title="刷新"><i class="fa fa-refresh"></i></button>
                                {{#acitonCommonButtons}}
                                <button type="button" class="btn btn-primary btn-sm light {{class}}" title="{{text}}">
                                    <i class="{{iClass}}"></i> {{text}}
                                </button>
                                {{/acitonCommonButtons}}
                            </script>
                            <div class="btn-group" id="actionCommonButtons"></div>
                        </div>
                        <div class="col-md-6 text-right pn">
                            <form id="searchForm" class="form-horizontal">
                                <div class="form-group pull-right mn" style="width: 220px;">
                                    <div class="input-group">
                                        <input type="text" name="roleName" id="roleName" class="form-control input-sm bradiusL" autocomplete="off" placeholder="输入角色名...">
                                        <span class="input-group-addon btn-search  input-sm bradiusR" id="submitSearchForm"><i class="fa fa-search"></i> 查询</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body pn">
                    <div class="table-responsive">
                        <table class="table table-striped admin-form theme-warning tc-checkbox-1 fs13">
                            <thead>
                            <tr>
                                <th>
                                    <label class="option block mn">
                                        <input type="checkbox" name="checkAll" value="">
                                        <span class="checkbox mn"></span>
                                    </label>
                                </th>
                                <th class="">角色名称</th>
                                <th class="">部门</th>
                                <th class="">角色描述</th>
                                <th class="">备注</th>
                                <th class="text-right">操作</th>
                            </tr>
                            </thead>
                            <script type="text/html" id="roleListTpl">
                                {{#listData}}
                                <tr>
                                    <td>
                                        <label class="option block mn">
                                            <input type="checkbox" name="checkItem" value="{{roleId}}">
                                            <span class="checkbox mn"></span>
                                        </label>
                                    </td>
                                    <td class="">{{roleName}}</td>
                                    <td class="">{{department}}</td>
                                    <td class="">{{roleDesc}}</td>
                                    <td class="">{{remark}}</td>
                                    <td class="text-right">
                                        {{#acitonButtons}}
                                        <div class="btn-group text-right">
                                            {{#acitons}}
                                            <a href="${ctx}{{menuUrl}}" type="button" class="btn btn-default btn-xs {{class}}" data-roleId="{{roleId}}">{{text}}</a>
                                            {{/acitons}}
                                        </div>
                                        {{/acitonButtons}}
                                    </td>
                                </tr>
                                {{/listData}}
                                {{^listData}}
                                <tr>
                                    <td valign="top" colspan="5" class="text-center">没有查询到角色信息</td>
                                </tr>
                                {{/listData}}
                            </script>
                            <tbody id="roleListTbody"></tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                            #parse("component/pager.vm")
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </section>
    #parse("layout/sidebarRight.vm")

</div>
    #parse("layout/footer.vm")

##    #parse("component/user/addRole.vm")
##    #parse("component/user/editRole.vm")

    <script type="text/javascript" src="${staticCommon}/vendor/plugins/fancytree2/jquery.fancytree-all.min.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js','manage.role.js','manage.role.add.js','manage.role.edit.js','manage.role.access.function.js');
    </script>

    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        RoleManage.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>

</body>
</html>