<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-用户管理-用户列表</title>
    #parse("layout/header.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")
        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">
               #* <div class="panel mb25 mt5">
                    <form id="searchForm">
                        <div class="panel-heading">
                            <span class="panel-title">用户查询</span>
                        </div>
                        <div class="panel-body p25 pb5 admin-form">
                            <div class="section row">
                                <div class="col-md-12">
                                    <label for="username" class="field-label">姓名</label>
                                    <label for="firstname" class="field prepend-icon">
                                        <input type="text" name="realName" id="realName" class="gui-input" placeholder="请输入用户名...">
                                        <label for="firstname" class="field-icon"><i class="fa fa-user"></i>
                                        </label>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right admin-form">
                            <button type="submit" class="btn btn-sm btn-primary"> 查询 </button>
                            <button type="reset" class="btn btn-sm"> 重置 </button>
                        </div>
                    </form>
                </div>*#
                <div class="panel">
                    <div class="panel-menu p12 admin-form theme-primary">
                        <div class="row">
                            <div class="col-md-6">
                                <script type="text/html" id="actionCommonButtonsTpl">
                                    <button type="button" class="btn  btn-default light refreshButton"  title="刷新"><i class="fa fa-refresh"></i></button>
                                    {{#acitonCommonButtons}}
                                    <button type="button" class="btn  btn-default light {{class}}" title="{{text}}">
                                        <i class="{{iClass}}"></i> {{text}}
                                    </button>
                                    {{/acitonCommonButtons}}
                                </script>
                                <div class="btn-group" id="actionCommonButtons"></div>
                            </div>
                            <div class="col-md-6 text-right">
                                <form id="searchForm" class="form-horizontal">
                                    <div class="form-group pull-right mn" style="width: 220px;">
                                        <div class="input-group">
                                            <input type="text" id="maskedMoney" class="form-control money " maxlength="10" autocomplete="off" placeholder="输入姓名...">
                                            <span class="input-group-addon"><i class="fa fa-search"></i> 查询</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body pn">
                        <div class="table-responsive">
                            <table class="table table-striped">
                            <thead>
                            <tr class="bg-light">
                                <th width="10%">部门</th>
                                <th width="10%" class="">姓名</th>
                                <th width="10%" class="">用户名</th>
                                <th width="10%" class="">邮箱</th>
                                <th width="10%" class="">手机号</th>
                                <th width="8%" class="">激活</th>
                                <th width="8%" class="">禁用</th>
                                <th width="10%" class="">注册时间</th>
                                <th width="10%" class="">最后登录时间</th>
                                <th width="14%" class="text-right">操作</th>
                            </tr>
                            </thead>
                            <script type="text/html" id="userListTpl">
                                {{#listData}}
                                    <tr>
                                        <td>
                                            #*{{userId}}*#
                                           #* <label class="option block mn">
                                                <input type="checkbox" name="users" value="FR">
                                                <span class="checkbox mn"></span>
                                            </label>*#
                                        </td>
                                        <td class="">{{realName}}</td>
                                        <td class="">{{userName}}</td>
                                        <td class="">{{email}}</td>
                                        <td class="">{{phone}}</td>
                                        <td class="">{{isActivatedStr}}</td>
                                        <td class="">{{isDisabledStr}}</td>
                                        <td class="">{{registerTimeFormat}}</td>
                                        <td class="">{{lastLoginTimeFormat}}</td>
                                        <td class="text-right">
                                            {{#acitonButtons}}
                                            <div class="btn-group text-right">
                                                {{#acitons}}
                                                <a href="${ctx}{{menuUrl}}" class="{{class}}" data-userid="{{userId}}">{{text}}</a>
                                                {{/acitons}}
                                            </div>
                                            {{/acitonButtons}}
                                        </td>
                                    </tr>
                                {{/listData}}
                                {{^listData}}
                                <tr>
                                    <td valign="top" colspan="10">没有查询到用户</td>
                                </tr>
                                {{/listData}}
                            </script>
                            <tbody id="userListTbody"></tbody>
                        </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                                #parse("component/pager.vm")
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </section>
        #parse("layout/sidebarRight.vm")

    </div>
    #parse("layout/footer.vm")

    #parse("component/user/add.vm")
    #parse("component/user/edit.vm")
    ##parse("component/user/password.vm")
    #parse("component/user/view.vm")

    <script type="text/javascript">
        management_load_script('${staticManagement}/js','manage.user.js','manage.user.add.js','manage.user.edit.js','manage.user.view.js');
    </script>

    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        UserManage.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>

</body>
</html>