<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	     http://code.alibabatech.com/schema/dubbo
	     http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	    
    <bean id="demoRpcService" class="com.lxzl.se.rpc.dubbo.client.DubboClient">
    	<property name="interfaceName" value="com.lxzl.erp.rpc.api.service.DemoRpcService" />
    	<property name="protocol" value="dubbo" />
    	<property name="isCheck" value="false" />
    </bean>
    
    <bean id="testRpcService" class="com.lxzl.se.rpc.dubbo.client.DubboClient">
    	<property name="interfaceName" value="com.lxzl.erp.rpc.api.service.TestRpcService" />
    	<property name="protocol" value="dubbo" />
    	<property name="isCheck" value="false" />
    </bean>
    
    <bean id="userRpcService" class="com.lxzl.se.rpc.dubbo.client.DubboClient">
    	<property name="interfaceName" value="com.lxzl.erp.rpc.api.service.UserRpcService" />
    	<property name="protocol" value="dubbo" />
    	<property name="isCheck" value="false" />
    </bean>
    
	<bean id="dynamicDubboClient" class="com.lxzl.se.rpc.dubbo.source.DynamicDubboClient">
		<property name="openLog" value="${logback.dubbo.openLog}" />
	</bean>
	
	<bean id="dynamicCreateDubboClientManager" class="com.lxzl.se.rpc.dubbo.source.DynamicCreateDubboClientManager">
		<property name="dynamicDubboClient" ref="dynamicDubboClient" />
	</bean>
	
</beans>