<div id="submitAuditModal" class="popup-basic admin-form mfp-with-anim "> ##mfp-hide
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i>财务导出</span>
        </div>
        <form method="post" id="chooseForm" description="财务导出">
            <div class="panel-body p25">
                <div class="form-group field">
                    <label for="startAt" class="field-label text-right col-md-4">开始时间</label>
                    <div class="col-md-8">
                        <div class="input-group date" id="statementExpectPayStartTime" style="height:40px;">
                            <input type="text" name="statementExpectPayStartTime" id="statementExpectPayStartTime" class="form-control bradiusL"  style="height:40px;" autocomplete="off" placeholder="开始时间">
                            <span class="input-group-addon cursor input-sm bradiusR"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <div class="form-group field">
                    <label for="startAt" class="field-label text-right col-md-4">开始时间</label>
                    <div class="col-md-8">
                        <div class="input-group date" id="statementExpectPayEndTime" style="height:40px;">
                            <input type="text" name="statementExpectPayEndTime" id="statementExpectPayEndTime" class="form-control bradiusL"  style="height:40px;" autocomplete="off" placeholder="结束时间">
                            <span class="input-group-addon cursor input-sm bradiusR"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>