<div id="inputPickingModal" class="popup-basic admin-form mfp-with-anim">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i><span class="modalTitle"></span></span>
        </div>
        <form method="post" class="inputForm">
            <div class="panel-body p25">
                <div class="section">
                    <label for="username" class="field-label">金额</label>
                    <label for="remark" class="field prepend-icon">
                        <input type="text" name="amount" id="amount" class="gui-input required moneyNumber" />
                        <label for="creditAmount" class="field-icon"><i class="fa fa-jpy"></i>
                        </label>
                    </label>
                </div>
                <div class="section">
                    <label for="username" class="field-label">备注</label>
                    <label for="remark" class="field prepend-icon">
                        <textarea class="gui-textarea" id="remark" name="remark" autofocus></textarea>
                        <label for="comment" class="field-icon"><i class="fa fa-tag"></i>
                        </label>
                    </label>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="button btn-primary">确定</button>
                <button type="button" class="button btn-default cancelButton">取消</button>
            </div>
        </form>
    </div>
</div>