<script type="text/html" id="customerRiskPanelTpl">
    {{#customerRiskManagement}}
    <div class="panel-heading">
        <span class="panel-icon"><i class="fa fa-circle"></i>
        </span>
        <span class="panel-title">风控信息</span>
        <div class="widget-menu pull-right">
            {{#riskButton}}
                <button class="btn btn-xs btn-default {{class}}" data-customerno="{{customerno}}" data-customertype="{{customerType}}">{{text}}</button>
            {{/riskButton}}
        </div>
    </div>
    <div class="panel-body pn">
        <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
            <thead>
            <tr class="hidden">
                <th class="mw30">#</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span class="fa fa-circle text-success"></span>
                </td>
                <td>授信额度</td>
                <td><span class='text-success'>￥{{creditAmountFormat}}</span></td>
            </tr>
            <tr>
                <td>
                    <span class="fa fa-circle text-primary"></span>
                </td>
                <td>已用授信额度</td>
                <td><span class='text-primary'>￥{{creditAmountUsedFormat}}</span></td>
            </tr>
            <tr>
                <td>
                    <span class="fa fa-circle text-info"></span>
                </td>
                <td>押金期数</td>
                <td><span class='text-info'>{{depositCycle}}</span></td>
            </tr>
            <tr>
                <td>
                    <span class="fa fa-circle text-info"></span>
                </td>
                <td>付款期数</td>
                <td><span class='text-info'>{{paymentCycle}}</span></td>
            </tr>
            <tr>
                <td>
                    <span class="fa fa-circle text-info"></span>
                </td>
                <td>支付方式</td>
                <td><span class='text-info'>{{payModeValue}}</span></td>
            </tr>
            <tr>
                <td>
                    <span class="fa fa-circle text-info"></span>
                </td>
                <td>苹果押金期数</td>
                <td><span class='text-info'>{{appleDepositCycle}}</span></td>
            </tr>
            <tr>
                <td>
                    <span class="fa fa-circle text-info"></span>
                </td>
                <td>苹果付款期数</td>
                <td><span class='text-info'>{{applePaymentCycle}}</span></td>
            </tr>
            <tr>
                <td>
                    <span class="fa fa-circle text-info"></span>
                </td>
                <td>苹果设备支付方式</td>
                <td><span class='text-info'>{{applePayModeValue}}</span></td>
            </tr>
            <tr>
                <td>
                    <span class="fa fa-circle text-info"></span>
                </td>
                <td>全新设备押金期数</td>
                <td><span class='text-info'>{{newDepositCycle}}</span></td>
            </tr>
            <tr>
                <td>
                    <span class="fa fa-circle text-info"></span>
                </td>
                <td>全新设备付款期数</td>
                <td><span class='text-info'>{{newPaymentCycle}}</span></td>
            </tr>
            <tr>
                <td>
                    <span class="fa fa-circle text-info"></span>
                </td>
                <td>全新设备支付方式</td>
                <td><span class='text-info'>{{newPayModeValue}}</span></td>
            </tr>
            <tr>
                <td>
                    <span class="fa fa-circle text-success"></span>
                </td>
                <td>回访频率</td>
                <td><span class='text-success'>{{returnVisitFrequency}}个月</span></td>
            </tr>
            <tr>
                <td colspan="3">
                    <blockquote class="blockquote-system">
                        <p>{{remark}}</p>
                    </blockquote>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    {{/customerRiskManagement}}
</script>

<div class="panel" id="customerRiskPanel"></div>