<div id="riskCustomerModal" class="popup-basic admin-form mfp-with-anim "> ##mfp-hide
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i>风控授信</span>
        </div>
        <form method="post" id="riskCustomerForm" description="风控授信">
            <div class="panel-body p25">
                <div class="section row">
                    <div class="col-md-12">
                        <label for="creditAmount" class="field-label">授信额度</label>
                        <label for="creditAmount" class="field prepend-icon">
                            <input type="text" name="creditAmount" id="creditAmount" class="gui-input required moneyNumber" placeholder="请输入授信额度" maxlength="7">
                            <label for="creditAmount" class="field-icon"><i class="fa fa-jpy"></i>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-12">
                        <label for="depositCycle" class="field-label">押金期数</label>
                        <label for="depositCycle" class="field prepend-icon">
                            <input type="text" name="depositCycle" id="depositCycle" class="gui-input required number" placeholder="请输入押金期数" maxlength="10">
                            <label for="depositCycle" class="field-icon"><i class="fa fa-tag"></i>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-12">
                        <label for="paymentCycle" class="field-label">付款期数</label>
                        <label for="paymentCycle" class="field prepend-icon">
                            <input type="text" name="paymentCycle" id="paymentCycle" class="gui-input required number" placeholder="请输入付款期数" maxlength="10">
                            <label for="paymentCycle" class="field-icon"><i class="fa fa-tag"></i>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-12">
                        <label for="remark" class="field-label">备注</label>
                        <label for="remark" class="field prepend-icon">
                            <textarea class="gui-textarea" id="remark" name="remark" placeholder="请输入备注"></textarea>
                            <label for="remark" class="field-icon"><i class="fa fa-comments"></i>
                            </label>
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="button btn-primary">确定</button>
                <button type="button" class="button btn-default cancelButton">取消</button>
            </div>
        </form>
    </div>
</div>