<div  class="row section" style="margin:0;">
    <div class="table-responsive" style="overflow-x: scroll; max-height: 500px;">
        <script type="text/html" id="riskHistoryTpl">
            <thead>
            <tr class="bg-light">
                <th>客户编号</th>
                <th>授信额度</th>
                <th class="text-center">已用授信额度</th>
                <th class="text-center">导入已用授信额度</th>
                <th class="text-center">限制单台设备价值</th>
                <th class="text-center">状态</th>
                <th class="text-center">回访频率</th>
                <th class="text-center">是否全额押金客户</th>
                <th class="text-center">押金期数</th>
                <th class="text-center">付款期数</th>
                <th class="text-center">支付方式</th>
                <th class="text-center">是否限制苹果</th>
                <th class="text-center">苹果押金期数</th>
                <th class="text-center">苹果付款期数</th>
                <th class="text-center">苹果支付方式</th>
                <th class="text-center">是否限制全新</th>
                <th class="text-center">全新押金期数</th>
                <th class="text-center">全新付款期数</th>
                <th class="text-center">全新支付方式</th>
                <th>备注</th>
                <th>修改人</th>
            </tr>
            </thead>
            <tbody>
            {{#dataSource}}
            {{#listData}}
            <tr>
                <td>{{customerNo}}</td>
                <td>￥{{#price}}{{creditAmount}}{{/price}}</td>
                <td class="text-center">￥{{#price}}{{creditAmountUsed}}{{/price}}</td>
                <td class="text-center">￥{{#price}}{{importCreditAmountUsed}}{{/price}}</td>
                <td class="text-center">{{singleLimitPriceValue}}</td>
                <td class="text-center">{{dataStatusValue}}</td>
                <td class="text-center">{{returnVisitFrequency}}</td>
                <td class="text-center">{{isFullDepositValue}}</td>
                <td class="text-center">{{depositCycle}}</td>
                <td class="text-center">{{paymentCycle}}</td>
                <td class="text-center">{{payModeValue}}</td>
                <td class="text-center">{{isLimitAppleValue}}</td>
                <td class="text-center">{{appleDepositCycle}}</td>
                <td class="text-center">{{applePaymentCycle}}</td>
                <td class="text-center">{{applePayModeValue}}</td>
                <td class="text-center">{{isLimitNewValue}}</td>
                <td class="text-center">{{newDepositCycle}}</td>
                <td class="text-center">{{newPaymentCycle}}</td>
                <td class="text-center">{{newPayModeValue}}</td>
                <td>{{remark}}</td>
                <td>
                    <p class="mn">{{updateUserRealName}}</p>
                    <p class="mn mt5">{{#clockTime}}{{updateTime}}{{/clockTime}}</p>
                </td>
            </tr>
            {{/listData}}
            {{^listData}}
            <tr>
                <td valign="top" colspan="20" class="text-center">没有查询到风控历史记录</td>
            </tr>
            {{/listData}}
            {{/dataSource}}
            </tbody>
        </script>
        <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="riskHistoryTable"></table>
    </div>
</div>
<div class="row br-t" style="margin:0;">
    <div class="col-xs-12 col-md-12 text-right mt10 mb10">
        #parse("component/pager.vm")
    </div>
</div>