<script type="text/html" id="customerRiskPanelTpl">
    {{#customerRiskManagement}}
    <div class="panel" id="p0">
        <div class="panel-heading">
            <span class="panel-title text-info fw700">风控授信</span>
            <div class="widget-menu pull-right">
                {{#riskButton}}
                <button class="btn btn-xs btn-default {{class}}" data-customerno="{{customerno}}" data-customertype="{{customerType}}">{{text}}</button>
                {{/riskButton}}
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 br-r">
                    <table class="table mbn tc-med-1 tc-bold-last tc-fs13-last">
                        <tbody>
                        <tr>
                            <td>
                                <i class="fa fa-circle text-primary fs8 pr15"></i>
                                <span>授信额度</span>
                            </td>
                            <td>￥{{#price}}{{creditAmount}}{{/price}}</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-circle text-primary fs8 pr15"></i>
                                <span>已用授信额度</span>
                            </td>
                            <td>￥{{#price}}{{creditAmountUsed}}{{/price}}</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-circle text-primary fs8 pr15"></i>
                                <span>押金期数</span>
                            </td>
                            <td>{{depositCycle}}</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-circle text-primary fs8 pr15"></i>
                                <span>付款期数</span>
                            </td>
                            <td>{{paymentCycle}}</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-circle text-primary fs8 pr15"></i>
                                <span>支付方式</span>
                            </td>
                            <td>{{payModeValue}}</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-circle text-primary fs8 pr15"></i>
                                <span>限制单台设备价值</span>
                            </td>
                            <td>{{singleLimitPriceValue}}</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-circle text-primary fs8 pr15"></i>
                                <span>回访频率</span>
                            </td>
                            <td>{{returnVisitFrequency}}个月</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-circle text-primary fs8 pr15"></i>
                                <span>是否是全额押金客户</span>
                            </td>
                            <td>{{#boolText}}{{isFullDeposit}}{{/boolText}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-4 br-r">
                    <table class="table mbn">
                        <tbody>
                        <tr>
                            <td class="va-m fw600 text-muted"><i class="mr5 fa fa-apple"></i>苹果押金期数</td>
                            <td class="fs15 fw700 text-right">{{appleDepositCycle}}</td>
                        </tr>
                        <tr>
                            <td class="va-m fw600 text-muted"><i class="mr5 fa fa-apple"></i>苹果付款期数</td>
                            <td class="fs15 fw700 text-right">{{applePaymentCycle}}</td>
                        </tr>
                        <tr>
                            <td class="va-m fw600 text-muted"><i class="mr5 fa fa-apple"></i>苹果设备支付方式</td>
                            <td class="fs15 fw700 text-right">{{applePayModeValue}}</td>
                        </tr>
                        <tr>
                            <td class="va-m fw600 text-muted"><i class="mr5 fa fa-apple"></i>是否限制苹果机</td>
                            <td class="fs15 fw700 text-right">{{#boolText}}{{isLimitApple}}{{/boolText}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-4">
                    <table class="table mbn">
                        <tbody>
                        <tr>
                            <td class="va-m fw600 text-muted"><i class="fa fa-circle text-success fs8 pr15"></i>全新设备押金期数</td>
                            <td class="fs14 fw700 text-right">{{newDepositCycle}}</td>
                        </tr>
                        <tr>
                            <td class="va-m fw600 text-muted"><i class="fa fa-circle text-success fs8 pr15"></i>全新设备付款期数</td>
                            <td class="fs14 fw700 text-right">{{newPaymentCycle}}</td>
                        </tr>
                        <tr>
                            <td class="va-m fw600 text-muted"><i class="fa fa-circle text-success fs8 pr15"></i>全新设备支付方式</td>
                            <td class="fs14 fw700 text-right">{{newPayModeValue}}</td>
                        </tr>
                        <tr>
                            <td class="va-m fw600 text-muted"><i class="fa fa-circle text-success fs8 pr15"></i>是否限制全新机</td>
                            <td class="fs14 fw700 text-right">{{#boolText}}{{isLimitNew}}{{/boolText}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="row pl15 pt15">
                <blockquote class="blockquote-system">
                    <p>{{remark}}</p>
                </blockquote>
            </div>
        </div>
    </div>
    {{/customerRiskManagement}}
</script>

<div class="col-md-12 admin-grid" id="customerRiskPanel"></div>