<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-客户管理-个人客户列表-编辑个人客户</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
    <script type="text/javascript">
        common_load_css('${staticCommon}/rental/css','dropzone.css');
    </script>
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
<div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            <div class="row">
                <div class="col-md-12 center-block">
                    <div class="admin-form theme-primary">
                        <form method="post" id="editCustomerForm">
                            <div class="panel panel-default panel-border top">
                                <div class="panel-heading">
                                    <span class="panel-title"><i class="fa fa-pencil"></i>编辑个人客户</span>
                                </div>

                                <div class="panel-body p25">
                                    <div class="section row">
                                        <div class="col-md-3">
                                            <label for="customerOrigin" class="field-label"><em class="text-danger">*</em>业务员</label>
                                            <div class="smart-widget sm-right smr-50">
                                                <label class="field">
                                                    <input type="text" name="ownerName" id="ownerName" class="gui-input" readonly placeholder=" 请选择业务员" />
                                                    <input type="hidden" name="owner" id="owner" class="gui-input" />
                                                </label>
                                                <button type="button" class="button btn-primary bradiusN" id="deleteOwnerName" style="right:50px;"> <i class="fa fa-trash-o"></i></button>
                                                <button type="button" class="button btn-primary bradiusN" id="chooseOwnerName"> <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="customerOrigin" class="field-label">联合开发人</label>
                                            <div class="smart-widget sm-right smr-50">
                                                <label class="field">
                                                    <input type="text" name="unionUserName" id="unionUserName" class="gui-input" readonly />
                                                    <input type="hidden" name="unionUser" id="unionUser" class="gui-input" />
                                                </label>
                                                <button type="button" class="button btn-primary bradiusN" id="deleteUnionUserName" style="right:50px;"> <i class="fa fa-trash-o"></i></button>
                                                <button type="button" class="button btn-primary bradiusN" id="chooseUnionUserName"> <i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer text-right">
                                    <button type="submit" class="button btn-primary">确定</button>
                                    <button type="button" class="button btn-default goBack">返回</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")

<script type="text/javascript">
    management_load_script('${staticManagement}/js',
            'manage.customer.mixin.js',
            'manage.customer.edit.after.pass.js',
            'modal.choose.user.js');
</script>
<script type="text/javascript">
    //功能事件初始化
    Rental.init();
    Layout.init();
    EditCustomerAfterPass.init();

    //UI效果初始化
    Core.init();
    Demo.init();

</script>
</body>
</html>

