<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-客户管理-个人客户列表-客户详细</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="profile-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")
        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="pn animated fadeIn">
                #parse("component/loading.vm")
                
                <form id="customerDetail">
                    <div class="pv30 ph40 bg-light dark br-b br-grey posr">

                        <script type="text/html" id="customerHeadTpl">
                            {{#customer}}
                            <div class="va-t m30">
                                <div class="row">
                                    <div class="col-md-4">
                                        <dl class="dl-horizontal">
                                            <dt class="mb10">
                                                {{#isBadDebtCustomer}}
                                                <span class="label label-danger" title="坏账客户">坏账</span>
                                                {{/isBadDebtCustomer}}
                                                客户编号：</dt>
                                            <dd>{{customerNo}}</dd>
                                            <dt class="mb10">客户姓名：</dt><dd>{{customerPerson.realName}}</dd>
                                            <dt class="mb10">身份证号：</dt><dd>{{customerPerson.personNo}}</dd>
                                            <dt class="mb10">邮箱：</dt><dd>{{customerPerson.email}}</dd>
                                            <dt class="mb10">手机号：</dt><dd>{{customerPerson.phone}}</dd>
                                            <dt class="mb10">个人地址：</dt><dd>{{customerPerson.provinceName}}{{customerPerson.cityName}}{{customerPerson.districtName}}{{customerPerson.address}}</dd>
                                            <dt class="mb10">紧急联系人：</dt><dd>{{customerPerson.connectRealName}}<i class="fa fa-mobile mr5 ml10"></i>{{customerPerson.connectPhone}}</dd>
                                            <dt class="mb10">备注：</dt><dd>{{customerPerson.remark}}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-4">
                                        <dl class="dl-horizontal">
                                            <dt class="mb10">首期申请额度：</dt><dd class="text-danger">￥{{#price}}{{firstApplyAmount}}{{/price}}</dd>
                                            <dt class="mb10">后期申请额度：</dt><dd class="text-danger">￥{{#price}}{{laterApplyAmount}}{{/price}}</dd>
                                            <dt class="mb10">结算时间：</dt><dd>{{settlementDateValue}}</dd>
                                            <dt class="mb10">短租应收上限：</dt><dd class="text-danger">{{shortLimitReceivableAmountValue}}</dd>
                                            <dt class="mb10">用户类型：</dt><dd>{{cutomerTypeValue}}</dd>
                                            <dt class="mb10">客户状态：</dt><dd>{{customerStatusValue}}</dd>
                                            <dt class="mb10">是否禁用：</dt><dd>{{isDisabledValue}}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-4">
                                        <dl class="dl-horizontal">
                                            <dt class="mb10">创建时间：</dt><dd>{{#time}}{{createTime}}{{/time}}</dd>
                                            <dt class="mb10">创建人：</dt><dd>{{createUserRealName}}</dd>
                                            <dt class="mb10">业务员：</dt><dd>{{ownerName}}</dd>
                                            <dt class="mb10">联合开发人：</dt><dd>{{unionUserName}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            {{/customer}}
                        </script>
                        <div class="table-layout" id="customerHead"></div>

                    </div>

                    <div class="p25 pt">
                        <div class="row">
                            <script type="text/html" id="customerRiskPanelTpl">
                                {{#customerRiskManagement}}
                                <div class="panel" id="p0">
                                    <div class="panel-heading">
                                        <span class="panel-title text-info fw700">风控授信</span>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4 br-r">
                                                <table class="table mbn tc-med-1 tc-bold-last tc-fs13-last">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-circle text-primary fs8 pr15"></i>
                                                            <span>授信额度</span>
                                                        </td>
                                                        <td>￥{{#price}}{{creditAmount}}{{/price}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-circle text-primary fs8 pr15"></i>
                                                            <span>已用授信额度</span>
                                                        </td>
                                                        <td>￥{{#price}}{{creditAmountUsed}}{{/price}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-circle text-primary fs8 pr15"></i>
                                                            <span>押金期数</span>
                                                        </td>
                                                        <td>{{depositCycle}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-circle text-primary fs8 pr15"></i>
                                                            <span>付款期数</span>
                                                        </td>
                                                        <td>{{paymentCycle}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-circle text-primary fs8 pr15"></i>
                                                            <span>支付方式</span>
                                                        </td>
                                                        <td>{{payModeValue}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-circle text-primary fs8 pr15"></i>
                                                            <span>限制单台设备价值</span>
                                                        </td>
                                                        <td>{{singleLimitPriceValue}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-circle text-primary fs8 pr15"></i>
                                                            <span>回访频率</span>
                                                        </td>
                                                        <td>{{returnVisitFrequency}}个月</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <i class="fa fa-circle text-primary fs8 pr15"></i>
                                                            <span>是否是全额押金客户</span>
                                                        </td>
                                                        <td>{{#boolText}}{{isFullDeposit}}{{/boolText}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                            
                                            <div class="col-md-4 br-r">
                                                <table class="table mbn">
                                                    <tbody>
                                                    <tr>
                                                        <td class="va-m fw600 text-muted"><i class="mr5 fa fa-apple"></i>苹果押金期数</td>
                                                        <td class="fs15 fw700 text-right">{{appleDepositCycle}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="va-m fw600 text-muted"><i class="mr5 fa fa-apple"></i>苹果付款期数</td>
                                                        <td class="fs15 fw700 text-right">{{applePaymentCycle}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="va-m fw600 text-muted"><i class="mr5 fa fa-apple"></i>苹果设备支付方式</td>
                                                        <td class="fs15 fw700 text-right">{{applePayModeValue}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="va-m fw600 text-muted"><i class="mr5 fa fa-apple"></i>是否限制苹果机</td>
                                                        <td class="fs15 fw700 text-right">{{#boolText}}{{isLimitApple}}{{/boolText}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                            
                                            <div class="col-md-4">
                                                <table class="table mbn">
                                                    <tbody>
                                                    <tr>
                                                        <td class="va-m fw600 text-muted"><i class="fa fa-circle text-success fs8 pr15"></i>全新设备押金期数</td>
                                                        <td class="fs14 fw700 text-right">{{newDepositCycle}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="va-m fw600 text-muted"><i class="fa fa-circle text-success fs8 pr15"></i>全新设备付款期数</td>
                                                        <td class="fs14 fw700 text-right">{{newPaymentCycle}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="va-m fw600 text-muted"><i class="fa fa-circle text-success fs8 pr15"></i>全新设备支付方式</td>
                                                        <td class="fs14 fw700 text-right">{{newPayModeValue}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="va-m fw600 text-muted"><i class="fa fa-circle text-success fs8 pr15"></i>是否限制全新机</td>
                                                        <td class="fs14 fw700 text-right">{{#boolText}}{{isLimitNew}}{{/boolText}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                            
                                        </div>
                                        <div class="row pl15 pt15">
                                            <blockquote class="blockquote-system">
                                                <p>{{remark}}</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                {{/customerRiskManagement}}
                            </script>
                            
                            <div class="col-md-12 admin-grid" id="customerRiskPanel"></div>
                        </div>
                    </div>

                    <div class="p25 ptn">
                        <div class="row">
                            <div class="col-md-12">
                                <script type="text/html" id="customerAddressTpl">
                                    {{#dataSource}}
                                    <div class="panel-heading">
                                        <span class="panel-icon"><i class="glyphicon glyphicon-map-marker"></i>
                                        </span>
                                        <span class="panel-title">收货地址</span>
                                        <span style="display:inline-block; margin-left:10px;" id="deliveryMode"></span>
                                    </div>
                                    <div class="panel-body pb5 admin-form">
                                
                                        {{#listData}}
                                        <div class="row mn">
                                            {{#addressGroup}}
                                            <div class="col-md-4">
                                                <div class="well" data-consigninfoid="{{customerConsignInfoId}}" id="consigninfoid{{customerConsignInfoId}}">
                                                    <p>
                                                        <span class="fs11 mr5 {{verifyStatusClass}}"><i class="fa fa-circle {{verifyStatusClass}} fs12 pr5"></i>{{verifyStatusValue}}</span>
                                                        {{#isDefault}}
                                                        <span class="fs11 text-muted"><i class="fa fa-circle text-info fs12 pr5"></i>默认地址</span>
                                                        {{/isDefault}}
                                                        {{#checkbox}}
                                                        <label class="radio-inline mr10 pull-right">
                                                            <input type="radio" name="customerConsignInfoId" value="{{customerConsignInfoId}}" {{#isDefault}}checked{{/isDefault}} data-address="{{addressJson}}"  />
                                                        </label>
                                                        {{/checkbox}}
                                                    </p>
                                                    <address class="mn">
                                                        <strong>{{consigneeName}}</strong>
                                                        <br>
                                                        {{provinceName}}{{cityName}}{{districtName}}{{address}}
                                                        <br>
                                                        <abbr title="手机号" class="fa fa-mobile-phone">：</abbr>{{consigneePhone}}
                                                    </address>
                                                </div>
                                            </div>
                                            {{/addressGroup}}
                                        </div>
                                        {{/listData}}
                                        {{^listData}}
                                        <div class="well">
                                            <address>
                                                还没有添加地址信息
                                            </address>
                                        </div>
                                        {{/listData}}
                                    </div>
                                    {{/dataSource}}
                                </script>
                                
                                <div class="panel" id="customerAddressPannel">
                                    <div class="panel-heading">
                                        <span class="panel-icon"><i class="glyphicon glyphicon-map-marker"></i>
                                        </span>
                                        <span class="panel-title">收货地址</span>
                                    </div>
                                    <div class="panel-body pb5 admin-form">
                                        <div class="well">
                                            <address>
                                                还没有添加地址信息
                                            </address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p25 ptn">
                        <div class="row">
                            <div class="col-md-12">
                                #parse("component/customer/servicePersonOrders.vm")
                            </div>
                        </div>
                    </div>

                </form>
            </section>
        </section>
        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")
    <script type="text/javascript" src="${staticCommon}assets/admin-tools/admin-forms/js/jquery-tcm-month.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'manage.customer.detail.service.js',
                'manage.customer.address.js',
                'manage.customer.orders.js',
                'manage.customer.riskHistory.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        CustomerDetail.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>
</body>
</html>