<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-审核管理-工作流详细</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">
                <div class="panel panel-primary panel-border top mb35" id="workflowDetail">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>工作流编号：<small id="workflowLinkNo"></small></h5>
                            </div>
                            <div class="col-md-8"></div>
                        </div>
                    </div>
                    <div class="form-horizontal panel-body bg-light dark">
                        <script type="text/html" id="baserInfoTpl">
                            {{#dataSource}}
                                <div class="col-md-4">
                                    <dl class="dl-horizontal">
                                        <dt class="mb10">工作流类型</dt><dd>{{workflowTypeStr}}</dd>
                                        <dt class="mb10">关联编号</dt><dd><a href="{{workflowReferUrl}}" target="_blank">{{workflowReferNo}}</a></dd>
                                    </dl>
                                </div>
                                <div class="col-md-4">
                                    <dl class="dl-horizontal">
                                        <dt class="mb10">提交人</dt><dd>{{commitUserName}}</dd>
                                        <dt class="mb10">当前审核人</dt><dd>{{currentVerifyUserName}}</dd>
                                    </dl>
                                </div>
                                <div class="col-md-4">
                                    <dl class="dl-horizontal">
                                        <dt class="mb10">审核状态</dt><dd><span class="label {{labelClass}}">{{workflowVerifyStatusStr}}</span></dd>
                                        <dt class="mb10">是否最后一步</dt><dd>{{lastStepStr}}</dd>
                                    </dl>
                                </div>
                            {{/dataSource}}
                        </script>
                        <div class="row" id="baseInfo">
                            <div class="col-md-4">
                                <dl class="dl-horizontal">
                                    <dt class="mb10">工作流类型</dt><dd></dd>
                                    <dt class="mb10">关联编号</dt><dd></dd>
                                </dl>
                            </div>
                            <div class="col-md-4">
                                <dl class="dl-horizontal">
                                    <dt class="mb10">提交人</dt><dd></dd>
                                    <dt class="mb10">当前审核人</dt><dd></dd>
                                </dl>
                            </div>
                            <div class="col-md-4">
                                <dl class="dl-horizontal">
                                    <dt class="mb10">审核状态</dt><dd></dd>
                                    <dt class="mb10">是否最后一步</dt><dd></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="mt30 timeline-single" id="timeline">

                            <div class="timeline-divider mtn">
                                <div class="divider-label" id="timelineEndLabel">当前</div>
                            </div>

                            <div class="row">
                                #*<script type="text/html" id="workflowTimelineActionTpl">
                                    {{#dataSource}}
                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="glyphicons glyphicons-edit text-warning"></span>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <span class="panel-title"><span class="glyphicons glyphicons-user"></span>{{currentVerifyUserName}}</span>
                                            </div>
                                            <div class="panel-body">
                                                <button class="btn btn-sm btn-danger rejectButton">驳回</button>
                                                <button class="btn btn-sm btn-primary passButton">同意</button>
                                            </div>
                                        </div>
                                    </div>
                                    {{/dataSource}}
                                </script>

                                <div class="col-sm-6 left-column" id="workflowTimelineAction"></div>*#

                                <script type="text/html" id="workflowTimelineTpl">
                                    {{#dataSource}}
                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="{{timeLinkClass}} {{textClass}}"></span>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading clearfix" style="min-height: 40px; height: auto;">
                                                <span class="panel-title"><span class="glyphicons glyphicons-user"></span>{{workflowCurrentNodeName}} - {{verifyUserName}}</span>
                                                <div class="panel-header-menu pull-right mr10 text-muted fs12">{{verifyTimeFormat}}</div>
                                            </div>
                                            <div class="panel-body clearfix">
                                                <blockquote class="mbn ml10">
                                                    <p>{{verifyOpinion}}</p>
                                                    <small class="{{textClass}}">{{verifyStatusValue}}</small>
                                                </blockquote>
                                            </div>
                                            {{#showAction}}
                                            {{#show}}
                                            <div class="panel-footer text-right">
                                                {{#actionButtons}}
                                                <button class="btn btn-sm {{class}}">{{text}}</button>
                                                {{/actionButtons}}
                                                #*<button class="btn btn-sm btn-danger rejectButton">驳回</button>
                                                <button class="btn btn-sm btn-primary passButton">同意</button>*#
                                            </div>
                                            {{/show}}
                                            {{/showAction}}
                                        </div>
                                    </div>
                                    {{/dataSource}}
                                </script>
                                <div class="col-sm-6 left-column" id="workflowTimeline"></div>
                            </div>

                            <div class="timeline-divider">
                                <div class="divider-label" id="timelineStartLabel">开始</div>
                            </div>

                        </div>

                    </div>
                    <div class="panel-footer clearfix">
                        <button class="btn btn-default pull-right ml15 goBack">返回</button>
                    </div>
                </div>
            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")
    <script type="text/javascript">
        management_load_script('${staticManagement}/js', 'manage.audit.detail.js', 'manage.audit.pass.js', 'manage.audit.reject.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        AuditDetail.init();

        //UI效果初始化
        Core.init();
        Demo.init();

    </script>
</body>
</html>