<div class="popup-basic popup-xl admin-form mfp-with-anim theme-primary " id="chooseWarehouseModal">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-search"></i>选择仓库</span>
        </div>
        <div class="panel-menu p12">
            <div class="row">
                <div class="col-md-12 text-right">
                    <form id="chooseWarehouseSearchForm" class="form-horizontal">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary btn-sm">查询</button>
                            <button type="reset" class="btn btn-default btn-sm">重置</button>
                        </div>
                        <div class="form-group pull-right mn mr10" style="width: 120px;">
                            <div class="input-group">
                                <input type="text" name="warehouseName" id="warehouseName" class="form-control input-sm bradius" autocomplete="off" placeholder="输入仓库名称" />
                            </div>
                        </div>
                        <div class="field form-group pull-right mn mr10" style="width: 120px;">
                            <div class="input-group">
                                <input type="text" name="warehouseNo" id="warehouseNo" class="form-control input-sm bradius number" autocomplete="off" placeholder="输入仓库编号" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-body pn">
            <div class="table-responsive">
                <script type="text/html" id="chooseWarehouseModalDataListTpl">
                    <thead>
                    <tr>
                        <th>
                            <label class="option block mn">
                                <input type="checkbox" name="checkAll" value="">
                                <span class="checkbox mn"></span>
                            </label>
                        </th>
                        <th>仓库编号</th>
                        <th>公司名</th>
                        <th>仓库名称</th>
                        <th class="text-right">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#dataSource}}
                    {{#listData}}
                    <tr>
                        <td>
                            <label class="option block mn">
                                <input type="checkbox" name="checkItem" value="{{productId}}">
                                <span class="checkbox mn"></span>
                            </label>
                        </td>
                        <td>{{warehouseNo}}</td>
                        <td>{{subCompanyName}}</td>
                        <td>{{warehouseName}}</td>
                        <td class="text-right">
                            <div class="btn-group text-right">
                                <a href="#" type="button" class="btn btn-default btn-xs" data-productId="{{productId}}">选择</a>
                            </div>
                        </td>
                    </tr>
                    {{/listData}}
                    {{^listData}}
                    <tr>
                        <td valign="top" colspan="14" class="text-center">没有查询到商品</td>
                    </tr>
                    {{/listData}}
                    {{/dataSource}}
                    </tbody>
                </script>
                <table class="table table-striped admin-form theme-warning tc-checkbox-1 fs13" id="chooseWarehouseModalDataListTable"></table>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                    #parse("component/pager.vm")
                </div>
            </div>
        </div>
    </div>
</div>



