<div class="popup-basic popup-xl admin-form mfp-with-anim theme-primary " id="chooseAuditUserModal">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-search"></i>选择审核人</span>
        </div>
        <div class="panel-body pn">
            <div class="table-responsive">
                <script type="text/html" id="chooseAuditUserModalDataListTpl">
                    <thead>
                    <tr>
                        <th>公司部门角色</th>
                        <th>姓名</th>
                        <th>用户名</th>
                        <th>邮箱</th>
                        <th>手机号</th>
                        <th width="16%" class="text-right">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#dataSource}}
                    {{#listData}}
                    <tr data-rowdata="{{rowData}}">
                        <td>
                            {{#roleListData}}
                            {{role}}
                            <br />
                            {{/roleListData}}
                        </td>
                        <td class="">{{realName}}</td>
                        <td class="">{{userName}}</td>
                        <td class="">{{email}}</td>
                        <td class="">{{phone}}</td>
                        <td class="text-right">
                            <div class="btn-group text-right">
                                <a href="#" class="btn btn-default btn-xs chooseButton" data-userid="{{userId}}">选择</a>
                            </div>
                        </td>
                    </tr>
                    {{/listData}}
                    {{^listData}}
                    <tr>
                        <td valign="top" colspan="9" class="text-center">没有查询到审核人信息</td>
                    </tr>
                    {{/listData}}
                    {{/dataSource}}
                    </tbody>
                </script>
                <table class="table table-striped admin-form theme-warning tc-checkbox-1 fs13" id="chooseAuditUserModalDataListTable"></table>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
            </div>
        </div>
    </div>
</div>



