<div id="auditPassModal" class="popup-basic admin-form mfp-with-anim "> ##mfp-hide
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i>审核</span>
        </div>
        <form method="post" id="auditPassForm" description="审核">
            <div class="panel-body p25">
                <div class="section row">
                    <div class="col-md-12">
                        <label class="field select">
                            <select id="nextVerifyUser" name="nextVerifyUser" class="required">
                                <option value="">请选择下一步审核人</option>
                            </select>
                            <i class="arrow"></i>
                        </label>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-12">
                        <label for="verifyOpinion" class="field prepend-icon">
                            <textarea class="gui-textarea" id="verifyOpinion" name="verifyOpinion" placeholder="请输审核意见"></textarea>
                            <label for="verifyOpinion" class="field-icon"><i class="fa fa-comments"></i>
                            </label>
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="button" class="button btn-default cancelButton">取消</button>
                <button type="submit" class="button btn-primary">确定</button>
            </div>
        </form>
    </div>
</div>