<div class="panel panel-primary panel-border top mb35">
    <div class="panel-heading">
        <span class="panel-title">基本信息</span>
    </div>
    <div class="form-horizontal panel-body bg-light dark">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group field">
                    <label class="col-md-3 control-label">客户</label>
                    <div class="col-md-9">
                        <div class="input-group bringContainer">
                            <input id="buyerCustomerName" name="customerName" bringFiled="customerName" class="form-control required" type="text" readonly placeholder="请选择客户" />
                            <span class="input-group-addon cursor chooseSupplier" id="chooseBusinessCustomer"><i class="fa fa-search mr5"></i>企业客户</span>
                            <span class="input-group-addon cursor chooseSupplier" id="chooseCustomer"><i class="fa fa-search mr5"></i>个人客户</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group field">
                    <label class="col-md-3 control-label" style="visibility: hidden;">收货地址</label>
                    <div class="col-md-9">
##                        #parse("component/customer/address.vm")

                        <div class="panel" id="customerAddressPannel">
                            <div class="panel-heading">
                                <span class="panel-icon"><i class="glyphicon glyphicon-map-marker"></i>
                                </span>
                                <span class="panel-title">取货地址</span>
                                <div class="widget-menu pull-right">
                                    <button class="btn btn-xs btn-default" id="addAddressButton">添加</button>
                                    <button class="btn btn-xs btn-default" id="chooseCustomerAddressButton">选择客户地址</button>
                                </div>
                            </div>
                            <div class="panel-body pb5 admin-form">
                                <script type="text/html" id="orderConsignInfoTpl">
                                    {{#address}}
                                    <address class="mn">
                                        <strong>{{consigneeName}}</strong>
                                        <br>
                                        {{provinceName}}{{cityName}}{{districtName}}{{address}}
                                        <br>
                                        <abbr title="手机号" class="fa fa-mobile-phone">：</abbr>{{consigneePhone}}
                                    </address>
                                    {{/address}}
                                    {{^address}}
                                    <address class="mn">
                                        还没有添加取货地址
                                    </address>
                                    {{/address}}
                                </script>
                                <div class="well" id="orderConsignInfo">
                                    <address class="mn">
                                        还没有添加取货地址
                                    </address>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group field">
                    <label class="col-md-3 control-label">是否计费</label>
                    <div class="col-md-9">
                        <div class="input-group" style="width: 100%;">
                            <select class="form-control required" name="isCharging">
                                <option value="">请选择</option>
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group field">
                    <label class="col-md-3 control-label">退货方式</label>
                    <div class="col-md-9">
                        <div class="input-group" style="width: 100%;">
                            <select class="form-control required" name="returnMode">
                                <option value="">请选择</option>
                                <option value="1">上门取件</option>
                                <option value="2">邮寄</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group field">
                    <label class="col-md-3 control-label">备注</label>
                    <div class="col-md-9">
                        <textarea class="form-control" id="remark" rows="3"  name="remark"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-heading">
        <div class="row">
            <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
                <li class="active">
                    <a href="#purchaseOrderProductItems" data-toggle="tab">商品项（共<span id="orderItemProductCount">0</span>件）</a>
                </li>
                <li>
                    <a href="#purchaseOrderMaterialItems" data-toggle="tab">配件项（共<span id="orderItemMaterialCount">0</span>件）</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body dark pn">
        <div class="tab-content pn br-n">
            <div id="purchaseOrderProductItems" class="tab-pane active">
                <div class="panel-menu p12 br-n br-b">
                    <div class="row">
                        <div class="pull-left ml10">
                            <div class="btn-group" id="actionCommonButtons">
                                <button type="button" class="btn btn-primary btn-sm" id="batchAddProduct" title="选择商品">
                                    <i class="fa fa-plus"></i> 选择商品
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" id="batchDeleteProduct" title="删除商品">
                                    <i class="fa fa-trash-o"></i> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <script type="text/html" id="dataListTpl">
                        <thead>
                        <tr class="bg-light">
                            <th>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkAll" value="">
                                    <span class="checkbox mn"></span>
                                </label>
                            </th>
                            <th>商品名称</th>
                            <th>类别</th>
                            <th>品牌</th>
                            <th>商品参数（SKU）</th>
                            <th>可退数量</th>
                            <th>退货数量</th>
                            <th class="text-right">操作</th>

                        </tr>
                        </thead>
                        <tbody>
                        {{#listData}}
                        <tr class="productRow skuRow" productRowKey="{{productId}}">
                            <td>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkItem" value="{{productId}}" data-skuid="{{skuId}}">
                                    <span class="checkbox mn"></span>
                                </label>
                            </td>
                            <td>{{productName}}</td>
                            <td>{{#productInfo}}{{categoryName}}{{/productInfo}}</td>
                            <td>{{#productInfo}}{{brandName}}{{/productInfo}}</td>
                            <td>{{propertiesToStr}}</td>
                            <td>{{canProcessCount}}</td>
                            <td>
                                <label class="field prepend-icon mw200">
                                    <input type="hidden" name="skuId" value="{{productId}}" class="productId" />
                                    <input type="hidden" name="skuId" value="{{skuId}}" class="productSkuId" />
                                    <input type="text" name="returnProductSkuCount-{{skuId}}" value="{{returnProductSkuCount}}" class="returnProductSkuCount form-control required number pl10" placeholder="输入退货数量" />
                                </label>
                            </td>
                            <td class="text-right">
                                <div class="btn-group text-right">
                                    <a href="#" type="button" class="btn btn-default btn-xs deleteSKUButton" data-skuid="{{skuId}}" data-productid="{{productId}}">删除</a>
                                </div>
                            </td>
                        </tr>
                        {{/listData}}
                        {{^listData}}
                        <tr>
                            <td valign="top" colspan="14" class="text-center">没有选择商品</td>
                        </tr>
                        {{/listData}}
                        </tbody>
                    </script>
                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                </div>
            </div>
            <div id="purchaseOrderMaterialItems" class="tab-pane">
                <div class="panel-menu p12 br-n br-b">
                    <div class="row">
                        <div class="pull-left ml10">
                            <div class="btn-group" id="actionCommonButtons">
                                <button type="button" class="btn btn-primary btn-sm" id="batchAddMaterial" title="选择配件">
                                    <i class="fa fa-plus"></i> 选择配件
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" id="batchDeleteMaterial" title="删除配件">
                                    <i class="fa fa-trash-o"></i> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <script type="text/html" id="materialDataListTpl">
                        <thead>
                        <tr>
                            <th>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkAll" value="">
                                    <span class="checkbox mn"></span>
                                </label>
                            </th>
##                            <th>编号</th>
                            <th>名称</th>
                            <th>品牌</th>
                            <th>类型</th>
                            <th>配件价值</th>
##                            <th>租赁价格</th>
##                            <th>描述</th>
##                            <th>图片</th>
##                            <th>在租数量</th>
                            <th>可退数量</th>
                            <th>退货数量</th>
                            <th class="text-right">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#dataSource}}
                        {{#listData}}
                        <tr class="materialRow">
                            <td>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkItem" value="{{materialNo}}">
                                    <span class="checkbox mn"></span>
                                </label>
                            </td>
##                            <td>{{materialNo}}</td>
                            <td>{{materialName}}</td>
                            <td>{{#materialInfo}}{{brandName}}{{/materialInfo}}</td>
                            <td>{{materialTypeStr}}</td>
                            <td>{{materialPriceFormat}}</td>
##                            <td>
##                                <p>日租：￥{{dayRentPriceFormat}}</p>
##                                <p>月租：￥{{monthRentPriceFormat}}</p>
##                            </td>
##                            <td>{{materialDesc}}</td>
##                            <td><a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a></td>
##                            <td>{{rentCount}}</td>
                            <td>{{canProcessCount}}</td>
                            <td>
                                <label class="field prepend-icon mw200">
                                    <input type="hidden" name="materialNo" value="{{materialNo}}" class="materialNo" />
                                    <input type="hidden" name="materialId" value="{{materialId}}" class="materialId" />
                                    <input type="text" name="returnMaterialCount-{{materialNo}}" value="{{returnMaterialCount}}" class="returnMaterialCount form-control required number pl10" placeholder="输入退货数量" />
                                </label>
                            </td>
                            <td class="text-right">
                                <div class="btn-group text-right">
                                    <a href="#" type="button" class="btn btn-default btn-xs delMaterialButton" data-materialno="{{materialNo}}">删除</a>
                                </div>
                            </td>
                        </tr>
                        {{/listData}}
                        {{^listData}}
                        <tr>
                            <td valign="top" colspan="14" class="text-center">没有选择配件</td>
                        </tr>
                        {{/listData}}
                        {{/dataSource}}
                        </tbody>
                    </script>
                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="materialDataListTable"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <button class="btn btn-default pull-right ml15 goback">返回</button>
        <button class="btn btn-primary pull-right">保存</button>
    </div>
</div>