<div class="panel panel-primary panel-border top mb35">
    <div class="panel-heading">
        <span class="panel-title">基本信息</span>
    </div>
    <div class="form-horizontal panel-body bg-light dark">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group field">
                    <label class="col-md-3 control-label">客户</label>
                    <div class="col-md-9">
                        <div class="input-group bringContainer">
                            <input id="buyerCustomerName" name="buyerCustomerName" bringFiled="buyerCustomerName" class="form-control required" type="text" readonly placeholder="请选择客户" />
                            <span class="input-group-addon cursor chooseSupplier" id="chooseBusinessCustomer"><i class="fa fa-search mr5"></i>企业客户</span>
                            <span class="input-group-addon cursor chooseSupplier" id="chooseCustomer"><i class="fa fa-search mr5"></i>个人客户</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group field">
                    <label class="col-md-3 control-label" style="visibility: hidden;">收货地址</label>
                    <div class="col-md-9">
                        #parse("component/customer/address.vm")
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group field">
                    <label class="col-md-3 control-label">购买人备注</label>
                    <div class="col-md-9">
                        <textarea class="form-control" id="buyerRemark" rows="3"  name="buyerRemark"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-heading">
        <div class="row">
            <ul class="nav panel-tabs-border panel-tabs">
                <li class="active">
                    <a href="#purchaseOrderProductItems" data-toggle="tab">商品项</a>
                </li>
                <li>
                    <a href="#purchaseOrderMaterialItems" data-toggle="tab">物料项</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body dark pn">
        <div class="tab-content pn br-n">
            <div id="purchaseOrderProductItems" class="tab-pane active">
                <div class="panel-menu p12 br-n br-b">
                    <div class="row">
                        <div class="pull-left ml10">
                            <div class="btn-group" id="actionCommonButtons">
                                <button type="button" class="btn btn-primary btn-sm" id="batchAddProduct" title="选择商品">
                                    <i class="fa fa-plus"></i> 选择商品
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" id="batchDeleteProduct" title="删除商品">
                                    <i class="fa fa-trash-o"></i> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <script type="text/html" id="dataListTpl">
                        <thead>
                        <tr class="bg-light">
                            <th>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkAll" value="">
                                    <span class="checkbox mn"></span>
                                </label>
                            </th>
                            <th>商品ID</th>
                            <th>图片</th>
                            <th>商品名称</th>
                            <th>列表价格</th>
                            <th>SKU</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#dataSource}}
                        {{#listData}}
                        <tr class="productRow" productRowKey="{{productId}}">
                            <td>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkItem" value="{{productId}}">
                                    <span class="checkbox mn"></span>
                                </label>
                            </td>
                            <td>{{productId}}</td>
                            <td>
                                <a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a>
                            </td>
                            <td>{{productName}}</td>
                            <td class="br-r">{{listPriceFixed}}</td>
                            <td class="pn">
                                <table class="table">
                                    {{#chooseSkuList}}
                                    {{#skuList}}
                                    <tr class="skuRow">
                                        <td>{{propertiesToStr}}</td>
                                        <td class="text-right">
                                            <div class="btn-group text-right">
                                                <a href="#" type="button" class="btn btn-default btn-xs deleteSKUButton" data-skuid="{{skuId}}" data-productid="{{productId}}">删除</a>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/skuList}}
                                    {{/chooseSkuList}}
                                </table>
                            </td>
                        </tr>
                        {{/listData}}
                        {{^listData}}
                        <tr>
                            <td valign="top" colspan="14" class="text-center">没有选择商品</td>
                        </tr>
                        {{/listData}}
                        {{/dataSource}}
                        </tbody>
                    </script>
                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                </div>
            </div>
            <div id="purchaseOrderMaterialItems" class="tab-pane">
                <div class="panel-menu p12 br-n br-b">
                    <div class="row">
                        <div class="pull-left ml10">
                            <div class="btn-group" id="actionCommonButtons">
                                <button type="button" class="btn btn-primary btn-sm" id="batchAddMaterial" title="选择物料">
                                    <i class="fa fa-plus"></i> 选择物料
                                </button>
                                <button type="button" class="btn btn-primary btn-sm" id="batchDeleteMaterial" title="删除物料">
                                    <i class="fa fa-trash-o"></i> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <script type="text/html" id="materialDataListTpl">
                        <thead>
                        <tr>
                            <th>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkAll" value="">
                                    <span class="checkbox mn"></span>
                                </label>
                            </th>
                            <th>编号</th>
                            <th>名称</th>
                            <th>类型</th>
                            <th>本身价值</th>
                            <th>租赁价格</th>
                            <th>描述</th>
                            <th>图片</th>
                            <th class="text-right">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#dataSource}}
                        {{#listData}}
                        <tr class="materialRow">
                            <td>
                                <label class="option block mn">
                                    <input type="checkbox" name="checkItem" value="{{materialNo}}">
                                    <span class="checkbox mn"></span>
                                </label>
                            </td>
                            <td>{{materialNo}}</td>
                            <td>{{materialName}}</td>
                            <td>{{materialTypeStr}}</td>
                            <td>{{materialPriceFormat}}</td>
                            <td>
                                <p>日租：￥{{dayRentPriceFormat}}</p>
                                <p>月租：￥{{monthRentPriceFormat}}</p>
                            </td>
                            <td>{{materialDesc}}</td>
                            <td><a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a></td>
                            <td class="text-right">
                                <div class="btn-group text-right">
                                    <a href="#" type="button" class="btn btn-default btn-xs delMaterialButton" data-materialno="{{materialNo}}">删除</a>
                                </div>
                            </td>
                        </tr>
                        {{/listData}}
                        {{^listData}}
                        <tr>
                            <td valign="top" colspan="14" class="text-center">没有选择物料</td>
                        </tr>
                        {{/listData}}
                        {{/dataSource}}
                        </tbody>
                    </script>
                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="materialDataListTable"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <button class="btn btn-default pull-right ml15 goback">返回</button>
        <button class="btn btn-primary pull-right">保存</button>
    </div>
</div>