<div id="inputEndInfoModal" class="popup-basic admin-form mfp-with-anim "> ##mfp-hide
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i></span>
        </div>
        <form method="post" id="inputEndInfoForm" description="结束订单">
            <div class="panel-body p25">
                <div class="section row">
                    <div class="col-md-6">
                        <label for="serviceCost" class="field-label">服务费</label>
                        <label for="serviceCost" class="field prepend-icon">
                            <input type="text" name="serviceCost" id="serviceCost" class="gui-input required letterOrChinese moneyNumber" maxlength="10">
                            <label for="serviceCost" class="field-icon"><i class="fa fa-user"></i>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-6">
                        <label for="damageCost" class="field-label">折损费</label>
                        <label for="damageCost" class="field prepend-icon">
                            <input type="text" name="damageCost" id="damageCost" class="gui-input required letterOrChinese moneyNumber" maxlength="10">
                            <label for="damageCost" class="field-icon"><i class="fa fa-user"></i>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-12">
                        <label for="remark" class="field-label">备注</label>
                        <label for="remark" class="field prepend-icon">
                            <textarea class="gui-textarea" id="remark" name="remark" placeholder="请输入备注"></textarea>
                            <label for="remark" class="field-icon"><i class="fa fa-comments"></i>
                            </label>
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="button btn-primary">确定</button>
                <button type="button" class="button btn-default cancelButton"">取消</button>
            </div>
        </form>
    </div>
</div>