<div id="submitAuditModal" class="popup-basic admin-form mfp-with-anim "> ##mfp-hide
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i>财务导出</span>
        </div>
        <form action="${ctx}{{menuUrl}}exportExcel/exportPageBankSlipDetail" method="post" id="exportForm" target="exportFrame">
            <div class="panel-body p25">
                <div class="section row">
                    <div class="col-md-12">
                        <label for="monthTime" class="input-group date">
                            <input type="text" name="monthTime" id="monthTime" data-type="date" data-format="yyyy-MM" class="form-control input-sm bradiusL" autocomplete="off" placeholder="选择时间">
                            <span class="input-group-addon cursor input-sm bradiusR"><i class="fa fa-calendar"></i></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="button btn-primary">确定</button>
                <button type="button" class="button btn-default cancelButton">取消</button>
            </div>
        </form>
        <iframe id="exportFrame" name="exportFrame" src="about:blank" style="display:none;"></iframe>
    </div>
</div>