<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-订单管理-退货单列表-退货单详细</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            <form class="" id="detailOrderForm">
##                #parse("component/returnOrder/editContent.vm")
            </form>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'manage.return.order.mixin.js',
                'modal.choose.customer.js',
                'modal.choose.customer.business.js',
                'modal.choose.rent.product.js',
                'modal.choose.can.return.material.js',
                'manage.order.item.render.js',
                'manage.order.util.js',
                'manage.return.order.edit.js',
                'modal.input.address.js',
                'modal.choose.customer.address.js',
                'manage.customer.address.js',
                'manage.customer.address.add.js',
                'manage.customer.address.edit.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        EditReturnOrder.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>

</body>
</html>