<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-订单管理-退货单列表-退货单详细</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            <form class="" id="detailOrderForm">
                <div class="panel panel-primary panel-border top mb35">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>退还单编号：<small id="returnOrderNo"></small></h5>
                            </div>
                            <div class="col-md-8 text-right">
                                <script type="text/html" id="actionButtonsTpl">
                                    {{#acitonButtons}}
                                    <a href="${ctx}{{menuUrl}}?no={{returnOrderNo}}" class="btn btn-primary btn-sm ml5 bradius {{class}}" title="{{menuName}}" data-returnorderno="{{returnOrderNo}}">
                                        <i class="{{iClass}}"></i> {{text}}
                                    </a>
                                    {{/acitonButtons}}
                                </script>
                                <div class="btn-group" id="actionButtons"></div>
                            </div>
                        </div>
                    </div>

                   <script type="text/html" id="returnOrderBaseInfoTpl">
                       {{#data}}
                       <div class="form-horizontal panel-body bg-light dark br-t-n">
                           <div class="row">
                               <div class="col-md-6">
                                   <div class="form-group field mn">
                                       <label class="col-md-3 control-label">客户</label>
                                       <div class="col-md-9">
                                           <p class="form-control-static text-muted">{{customerName}}（客户编号：{{customerNo}}）</p>
                                       </div>
                                   </div>
                                   <div class="form-group field mn">
                                       <label class="col-md-3 control-label">退还方式</label>
                                       <div class="col-md-9">
                                           <p class="form-control-static text-muted">{{returnModeStr}}</p>
                                       </div>
                                   </div>
                                   <div class="form-group field">
                                       <label class="col-md-3 control-label" style="visibility: hidden;">收货地址</label>
                                       <div class="col-md-9">
                                           <div class="panel" id="customerAddressPannel">
                                               <div class="panel-heading">
                                                <span class="panel-icon"><i class="glyphicon glyphicon-map-marker"></i>
                                                </span>
                                                   <span class="panel-title">取货地址</span>
                                               </div>
                                               <div class="panel-body pb5 admin-form">
                                                   <div class="well" id="orderConsignInfo">
                                                       {{#returnOrderConsignInfo}}
                                                       <address class="mn">
                                                           <strong>{{consigneeName}}</strong>
                                                           <br>
                                                           {{provinceName}}{{cityName}}{{districtName}}{{address}}
                                                           <br>
                                                           <abbr title="手机号" class="fa fa-mobile-phone">：</abbr>{{consigneePhone}}
                                                       </address>
                                                       {{/returnOrderConsignInfo}}
                                                       {{^returnOrderConsignInfo}}
                                                       <address class="mn">
                                                           还没有添加取货地址
                                                       </address>
                                                       {{/returnOrderConsignInfo}}
                                                   </div>
                                               </div>
                                           </div>

                                       </div>
                                   </div>
                               </div>
                               <div class="col-md-6">
                                   <div class="form-group field mn">
                                       <label class="col-md-3 control-label">订单状态</label>
                                       <div class="col-md-9">
                                           <p class="form-control-static text-muted">{{returnOrderStatusValue}}&nbsp;</p>
                                       </div>
                                   </div>
                                   <div class="form-group field mn">
                                       <label class="col-md-3 control-label">创建人</label>
                                       <div class="col-md-9">
                                           <p class="form-control-static text-muted">{{createUserRealName}}&nbsp;</p>
                                       </div>
                                   </div>
                                   <div class="form-group field mn">
                                       <label class="col-md-3 control-label">创建时间</label>
                                       <div class="col-md-9">
                                           <p class="form-control-static text-muted">{{#time}}{{createTime}}{{/time}}&nbsp;</p>
                                       </div>
                                   </div>
                                   <div class="form-group field mn">
                                       <label class="col-md-3 control-label">修改人</label>
                                       <div class="col-md-9">
                                           <p class="form-control-static text-muted">{{updateUserRealName}}&nbsp;</p>
                                       </div>
                                   </div>
                                   <div class="form-group field mn">
                                       <label class="col-md-3 control-label">修改时间</label>
                                       <div class="col-md-9">
                                           <p class="form-control-static text-muted">{{#time}}{{updateTime}}{{/time}}&nbsp;</p>
                                       </div>
                                   </div>
                                   <div class="form-group field mn">
                                       <label class="col-md-3 control-label">备注</label>
                                       <div class="col-md-9">
                                           <p class="form-control-static text-muted">{{remark}}</p>
                                       </div>
                                   </div>
                                   <div class="form-group field mn">
                                       <label class="col-md-3 control-label">是否计费</label>
                                       <div class="col-md-9">
                                           <p class="form-control-static text-muted">{{isChargingStr}}</p>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="form-horizontal panel-body bg-light dark">
                           <div class="row">
                               <div class="col-md-6">
                                   <div class="form-group field mn">
                                       <label class="col-md-3 control-label">退还商品总数</label>
                                       <div class="col-md-9">
                                           <p class="form-control-static text-muted">{{totalReturnProductCount}}</p>
                                       </div>
                                   </div>
                                   <div class="form-group field mn">
                                       <label class="col-md-3 control-label">实际退还商品总数</label>
                                       <div class="col-md-9">
                                           <p class="form-control-static text-muted">{{realTotalReturnProductCount}}</p>
                                       </div>
                                   </div>
                                   <div class="form-group field mn">
                                       <label class="col-md-3 control-label">退还配件总数</label>
                                       <div class="col-md-9">
                                           <p class="form-control-static text-muted">{{totalReturnMaterialCount}}</p>
                                       </div>
                                   </div>
                                   <div class="form-group field mn">
                                       <label class="col-md-3 control-label">实际退还配件总数</label>
                                       <div class="col-md-9">
                                           <p class="form-control-static text-muted">{{realTotalReturnMaterialCount}}</p>
                                       </div>
                                   </div>
                               </div>
                               <div class="col-md-6">
                                   <div class="form-group field mn">
                                       <label class="col-md-3 control-label">租赁期间产生总费用</label>
                                       <div class="col-md-9">
                                           <p class="form-control-static text-muted">{{#price}}{{totalRentCost}}{{/price}}</p>
                                       </div>
                                   </div>
                                   <div class="form-group field mn">
                                       <label class="col-md-3 control-label">服务费</label>
                                       <div class="col-md-9">
                                           <p class="form-control-static text-muted">{{#price}}{{serviceCost}}{{/price}}</p>
                                       </div>
                                   </div>
                                   <div class="form-group field mn">
                                       <label class="col-md-3 control-label">损坏加收费用</label>
                                       <div class="col-md-9">
                                           <p class="form-control-static text-muted">{{#price}}{{damageCost}}{{/price}}</p>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       {{/data}}
                   </script>

                    <div id="returnOrderBaseInfo"></div>

                    <div class="panel-heading">
                        <div class="row">
                            <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
                                <li class="active">
                                    <a href="#purchaseOrderProductItems" data-toggle="tab">商品项</a>
                                </li>
                                <li>
                                    <a href="#purchaseOrderMaterialItems" data-toggle="tab">配件项</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body dark pn">
                        <div class="tab-content pn br-n">
                            <div id="purchaseOrderProductItems" class="tab-pane active">
                                <script type="text/html" id="returnEquipmentButtonsTpl">
                                    {{#hasActionButtons}}
                                    <div class="panel-menu p12 br-n br-b">
                                        <div class="row">
                                            <div class="pull-left ml10">
                                                <div class="btn-group actionCommonButtons">
                                                    {{#acitonButtons}}
                                                    <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm ml5 bradius {{class}}" title="{{menuName}}" data-returnorderno="{{returnOrderNo}}">
                                                        <i class="{{iClass}}"></i> {{text}}
                                                    </a>
                                                    {{/acitonButtons}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/hasActionButtons}}
                                </script>
                                <div id="returnEquipmentButtons"></div>
                                <div class="table-responsive">
                                    <script type="text/html" id="dataListTpl">
                                        <thead>
                                        <tr class="bg-light">
##                                            <th>
##                                                <label class="option block mn">
##                                                    <input type="checkbox" name="checkAll" value="">
##                                                    <span class="checkbox mn"></span>
##                                                </label>
##                                            </th>
##                                            <th>商品ID</th>
##                                            <th>图片</th>
                                            <th>商品名称</th>
                                            <th>SKU</th>
                                            <th>可退数量</th>
                                            <th>退货数量</th>
                                            <th class="text-right">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#listData}}
                                        <tr class="productRow" productRowKey="{{productId}}">
##                                            <td>{{productId}}</td>
##                                            <td>
##                                                <a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a>
##                                            </td>
                                            <td>{{productName}}</td>
                                            <td>{{propertiesToStr}}</td>
                                            <td>{{canProcessCount}}</td>
                                            <td>
                                               {{returnProductSkuCount}}
                                            </td>
                                            <td class="text-right">
                                                <div class="btn-group text-right">
                                                    <a href="#" type="button" class="btn btn-default btn-xs viewAffix viewReturnEquipment" data-returnorderproductid="{{returnOrderProductId}}">查看已退设备</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="bg-light affixTr" style="height: 0;">
                                            <td colspan="8" class="pn br-n" style="height:0;">
                                                <div class="panel m15 affixPanel"  style="display: none;">
                                                    <div class="panel-heading pn ph8">
                                                        <span>已退还设备：设备编号列表</span>
                                                    </div>
                                                    <div class="panel-body pn">
                                                        <table class="table">
                                                            <tr><td class="br-r">正在加载...</td></tr>
                                                        </table>
                                                    </div>
                                                    <div class="panel-footer pn pv5 ph15">
                                                        <div class="row">
                                                            <button type="button" class="btn btn-default btn-xs pull-right hideAffixPanel">收起</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/listData}}
                                        {{^listData}}
                                        <tr>
                                            <td valign="top" colspan="14" class="text-center">没有选择商品</td>
                                        </tr>
                                        {{/listData}}
                                        </tbody>
                                    </script>

                                    <script type="text/html" id="returnEquipmentListTpl">
                                        {{#equipmentList}}
                                        <tr><td class="br-r text-left">{{equipmentNo}}</td></tr>
                                        {{/equipmentList}}
                                        {{^equipmentList}}
                                        <tr><td class="br-r text-left">无退还设备信息</td></tr>
                                        {{/equipmentList}}
                                    </script>

                                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                                </div>
                            </div>
                            <div id="purchaseOrderMaterialItems" class="tab-pane">
##                                <div class="panel-menu p12 br-n br-b">
##                                    <div class="row">
##                                        <div class="pull-left ml10">
##                                            <script type="text/html" id="returnMaterialButtonsTpl">
##                                                {{#acitonButtons}}
##                                                {{#showButton}}
##                                                <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm ml5 bradius {{class}}" title="{{menuName}}" data-returnorderno="{{returnOrderNo}}">
##                                                    <i class="{{iClass}}"></i> {{text}}
##                                                </a>
##                                                {{/showButton}}
##                                                {{/acitonButtons}}
##                                            </script>
##                                            <div class="btn-group actionCommonButtons" id="returnMaterialButtons"></div>
##                                        </div>
##                                    </div>
##                                </div>
                                <div class="table-responsive">
                                    <script type="text/html" id="materialDataListTpl">
                                        <thead>
                                        <tr>
                                            <th>
                                                <label class="option block mn">
                                                    <input type="checkbox" name="checkAll" value="">
                                                    <span class="checkbox mn"></span>
                                                </label>
                                            </th>
                                            <th>编号</th>
                                            <th>名称</th>
                                            <th>类型</th>
                                            <th>本身价值</th>
                                            <th>租赁价格</th>
                                            <th>描述</th>
                                            <th>图片</th>
##                                            <th>在租数量</th>
                                            <th>可退数量</th>
                                            <th>退货数量</th>
                                            <th class="text-right">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#dataSource}}
                                        {{#listData}}
                                        <tr class="materialRow">
                                            <td>
                                                <label class="option block mn">
                                                    <input type="checkbox" name="checkItem" value="{{materialNo}}">
                                                    <span class="checkbox mn"></span>
                                                </label>
                                            </td>
                                            <td>{{materialNo}}</td>
                                            <td>{{materialName}}</td>
                                            <td>{{materialTypeStr}}</td>
                                            <td>{{materialPriceFormat}}</td>
                                            <td>
                                                <p>日租：￥{{dayRentPriceFormat}}</p>
                                                <p>月租：￥{{monthRentPriceFormat}}</p>
                                            </td>
                                            <td>{{materialDesc}}</td>
                                            <td><a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a></td>
##                                            <td>{{rentCount}}</td>
                                            <td>{{canProcessCount}}</td>
                                            <td>
                                                <label class="field prepend-icon mw200">
                                                    {{returnMaterialCount}}
                                                </label>
                                            </td>
                                            <td class="text-right">
                                                <div class="btn-group text-right">
                                                    {{#rowActionButtons}}
                                                    <a href="#" type="button" class="btn btn-default btn-xs {{class}}"
                                                       data-materialno="{{materialNo}}"
                                                       data-returnorderno="{{returnOrderNo}}"
                                                       data-returnCount="{{returnMaterialCount}}"
                                                       data-returnordermaterialid="{{returnOrderMaterialId}}">{{text}}</a>
                                                    {{/rowActionButtons}}
                                                    <a href="#" type="button" class="btn btn-default btn-xs viewAffix viewReturnMaterial" data-returnordermaterialid="{{returnOrderMaterialId}}">查看配货信息</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="bg-light affixTr" style="height: 0;">
                                            <td colspan="11" class="pn br-n" style="height:0;">
                                                <div class="panel m15 affixPanel"  style="display: none;">
                                                    <div class="panel-heading pn ph8">
                                                        <span>已退还配件：配件编号列表</span>
                                                    </div>
                                                    <div class="panel-body pn">
                                                        <table class="table">
                                                            <tr><td class="br-r">正在加载...</td></tr>
                                                        </table>
                                                    </div>
                                                    <div class="panel-footer pn pv5 ph15">
                                                        <div class="row">
                                                            <button type="button" class="btn btn-default btn-xs pull-right hideAffixPanel">收起</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/listData}}
                                        {{^listData}}
                                        <tr>
                                            <td valign="top" colspan="14" class="text-center">没有选择配件</td>
                                        </tr>
                                        {{/listData}}
                                        {{/dataSource}}
                                        </tbody>
                                    </script>

                                    <script type="text/html" id="returnBulkMaterialListTpl">
                                        {{#bulkMaterialList}}
                                        <tr><td class="br-r text-left">{{bulkMaterialNo}}</td></tr>
                                        {{/bulkMaterialList}}
                                        {{^bulkMaterialList}}
                                        <tr><td class="br-r text-left">无退还配件信息</td></tr>
                                        {{/bulkMaterialList}}
                                    </script>

                                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="materialDataListTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <button class="btn btn-default pull-right ml15 goBack">返回</button>
                    </div>
                </div>

            </form>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'manage.return.order.mixin.js',
                'manage.order.item.render.js',
                'manage.order.util.js',
                'manage.return.order.handle.mixin.js',
                'manage.return.order.detail.js',
                'manage.order.picking.js',
                'manage.return.order.end.input.modal.js',
                'modal.input.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        ReturnOrderDetail.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>

</body>
</html>