<!DOCTYPE html>
<html>
    <head>
        <title>凌雄ERP-消息管理-站内信</title>
        #parse("layout/header.vm")
        <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/daterange/daterangepicker.css">
        #parse("layout/theme.vm")
    </head>
    <body class="blank-page">
        #parse("layout/toolbox.vm")
        <div id="main">
            #parse("layout/navbar.vm")
            #parse("layout/sidebar.vm")

            <section id="content_wrapper">
                #parse("layout/topbarDropmenu.vm")
                #parse("layout/topbar.vm")
                <section id="content" class="animated fadeIn">
                    <div class="row">
                        #parse("component/loading.vm")
                        <div class="col-md-2">
                            <script  type="text/html" id="messageMenuTpl">
                                {{#hasSendMessage}}
                                <div class="ph15 pv10 br-b br-light">
                                    <button id="quick-compose" type="button" class="btn btn-danger light btn-block fw600">写信</button>
                                </div>
                                {{/hasSendMessage}}
                                <div class="p10">
                                    <h4 class="ph10 mt10 mb5">菜单</h4>
                                    {{#hasMenuButtons}}
                                    <ul class="nav nav-messages p5" role="menu">
                                    {{#buttonSource}}
                                        {{#buttonList}}
                                        <li class="">
                                            <a href="${ctx}{{menuUrl}}" class="fw600 p10 animated animated-short fadeInDown {{iClass}}">
                                                <span class="fa fa-envelope pr5"></span>{{menuName}}
                                            </a>
                                        </li>
                                        {{/buttonList}}
                                    {{/buttonSource}}
                                    </ul>
                                    {{/hasMenuButtons}}
                                </div>
                            </script>
                            <aside class="tray pn va-t" id="messageMenu"></aside>
                        </div>
                            <!-- 列表 -->
                        <div class="col-md-10">
                            <div class="panel-primary panel-border panel top">
                            <!-- message toolbar header -->
                                <div class="panel-menu p12">
                                    <div class="row">
                                        <!-- toolbar left btn group -->
                                        <div class="col-md-6">
                                            <div class="btn-group" id="actionCommonButtons">
                                                <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- message listings table -->
                                <div class="panel-body pn">
                                    <div class="table-responsive">
                                        <script  type="text/html" id="dataListTpl">
                                            <thead>
                                            <tr class="">
##                                              <th>状态</th>
                                                <th>发件人</th>
                                                <th>主题</th>
                                                <th>内容</th>
                                                <th>时间</th>
                                                <th class="text-right" style="width:50px;">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#dataSource}}
                                            {{#listData}}
                                            <tr class="message-unread">
                                                <td>
                                                    <label class="option block mn">
                                                        <input type="checkbox" name="mobileos" value="FR">
                                                        <span class="checkbox mn"></span>
                                                    </label>
                                                </td>
##                                                <td class="{{readClass}}">{{readStatus}}</td>
                                                <td>{{senderName}}</td>
                                                <td class="textOverflow">{{title}}</td>
                                                <td class="textOverflow">{{messageText}}</td>
                                                <td class="text-center">{{#clockShorTime}}{{sendTime}}{{/clockShorTime}}</td>
                                                <td class="text-right" style="width:50px;">
                                                    <a href="#" type="button" class="btn btn-default btn-xs viewContent" data-messageText="{{messageText}}">查看</a>
                                                </td>
                                            </tr>
                                            {{/listData}}
                                            {{^listData}}
                                            <tr>
                                                <td valign="top" colspan="5" class="text-center">没有查询到信息</td>
                                            </tr>
                                            {{/listData}}
                                            {{/dataSource}}
                                            </tbody>
                                        </script>
                                        <table class="table" id="dataListTable" style="table-layout:fixed;"></table>
                                    </div>
                                </div>

                                <div id="messageContent" class="popup-basic p25 mfp-with-anim mfp-hide"></div>

                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                                            #parse("component/pager.vm")
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>

            #parse("layout/sidebarRight.vm")
        </div>
        #parse("layout/footer.vm")
        #parse("component/siteMessage/sendMessage.vm")

        <script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/moment.min.js"></script>
        <script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/daterangepicker.js"></script>
        <script type="text/javascript">
            management_load_script('${staticManagement}/js','modal.choose.user.js', 'manage.message.site.sendMessage.js', 'manage.message.site.inbox.js');
        </script>
        <script type="text/javascript">
            //功能事件初始化
            Rental.init();
            Layout.init();
            inboxManage.init();

            //UI效果初始化
            Core.init();
            Demo.init();
        </script>

    </body>
</html>