<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-消息管理-站内信</title>
    #parse("layout/header.vm")
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/daterange/daterangepicker.css">
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn table-layout" style="width: 99%;">
                #parse("component/loading.vm")

                <script  type="text/html" id="messageMenuTpl">
                    {{#hasSendMessage}}
                    <div class="ph15 pv10 br-b br-light" style="width: 270px;">
                        <button id="quick-compose" type="button" class="btn btn-danger light btn-block fw600">写信</button>
                    </div>
                    {{/hasSendMessage}}
                    <div class="p10">
                        <h4 class="ph10 mt10 mb5">菜单</h4>
                        {{#hasMenuButtons}}
                        <ul class="nav nav-messages p5" role="menu">
                            {{#buttonSource}}
                            {{#buttonList}}
                            <li class="">
                                <a href="${ctx}{{menuUrl}}" class="fw600 p10 animated animated-short fadeInDown {{iClass}}">
                                    <span class="fa fa-envelope pr5"></span>{{menuName}}
                                </a>
                            </li>
                            {{/buttonList}}
                            {{/buttonSource}}
                        </ul>
                        {{/hasMenuButtons}}
                    </div>
                </script>
                <aside class="tray pn va-t tray250" data-tray-height="match"  id="messageMenu"></aside>
            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")
    #parse("component/siteMessage/sendMessage.vm")

    <script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/moment.min.js"></script>
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/daterangepicker.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js','modal.choose.user.js', 'manage.message.site.sendMessage.js', 'manage.message.site.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        SiteMessageManage.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>

</body>
</html>