
#set( $version = $!dateTool.getSystemTime())

#set( $ctx = $!constantConfig.getBaseDomain())
#set( $staticCommon = $!constantConfig.getStaticCommonDomain())
#set( $staticManagement = $!constantConfig.getStaticDomain())

<script type="text/javascript">
    var SitePath = {
        base: '$!constantConfig.getBaseDomain()',
        service:'$!constantConfig.getServiceDomain()',
        staticCommon:'$!constantConfig.getStaticCommonDomain()',
        staticManagement:'$!constantConfig.getStaticDomain()'
    };
</script>
