<!-- BEGIN: PAGE SCRIPTS -->

<!-- jQuery -->
<script type="text/javascript" src="${static.domain}/vendor/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="${static.domain}/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="${static.domain}/assets/js/bootstrap/bootstrap.min.js"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="${static.domain}/assets/js/utility/utility.js"></script>
<script type="text/javascript" src="${static.domain}/assets/js/main.js"></script>
<script type="text/javascript" src="${static.domain}/assets/js/demo.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {

        "use strict";

        // Init Theme Core
        Core.init();

        // Init Theme Core
        Demo.init();

    });
</script>
<!-- END: PAGE SCRIPTS -->