<!-- BEGIN: PAGE SCRIPTS -->

<!-- jQuery -->
<script type="text/javascript" src="${staticCommon}vendor/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="${staticCommon}vendor/jquery/jquery_ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="${staticCommon}vendor/plugins/underscore/underscore-min.js"></script>


<!-- Bootstrap -->
<script type="text/javascript" src="${staticCommon}assets/js/bootstrap/bootstrap.min.js"></script>

<!-- Page Plugins -->
<script type="text/javascript" src="${staticCommon}assets/admin-tools/admin-forms/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="${staticCommon}vendor/plugins/mustache/mustache.min.js"></script>
<script type="text/javascript" src="${staticCommon}vendor/plugins/magnific/jquery.magnific-popup.min.js"></script>

<!-- Fixed Header Table -->
<script type="text/javascript" src="${staticCommon}vendor/plugins/fixedHeaderTable/jquery.fixedheadertable.min.js"></script>

<!-- Theme Javascript -->
<script type="text/javascript" src="${staticCommon}assets/js/utility/utility.js?v=2017121301"></script>
<script type="text/javascript" src="${staticCommon}assets/js/main.js"></script>
<script type="text/javascript" src="${staticCommon}assets/js/demo.js"></script>



<script type="text/javascript">
    management_load_script('${staticManagement}js','rental.common.js','layout.js','manage.user.password.js','api.data.js','modal.submit.audit.js');
</script>

<script type="text/javascript">
    /*jQuery(document).ready(function() {

        "use strict";

        // Init Theme Core
        Core.init();

        // Init Theme Core
        Demo.init();


    });*/
</script>
<!-- END: PAGE SCRIPTS -->