#parse("layout/meta.vm")
#parse("layout/common.vm")

<link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/magnific/magnific-popup.css">
<link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/fixedHeaderTable/css/defaultTheme.css">

<link rel="shortcut icon" href="${staticCommon}/rental/img/lxzl-favicon.png">

<!--[if lt IE 9]>
<script src="${staticCommon}/html5Js/html5shiv.js"></script>
<script src="${staticCommon}/html5Js/respond.min.js"></script>
<![endif]-->
