<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:hdp="http://www.springframework.org/schema/hadoop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/hadoop  
	http://www.springframework.org/schema/hadoop/spring-hadoop.xsd">
	
	<bean id="configuration" class="org.springframework.data.hadoop.configuration.ConfigurationFactoryBean">
		<property name="properties">
			<props> 
                 <prop key="fs.default.name">${hbase.hdfs.default.name}</prop>
             </props> 
		</property>
	</bean>
	
	<bean id="hbaseConfiguration" class="org.springframework.data.hadoop.hbase.HbaseConfigurationFactoryBean">
		<property name="zkQuorum" value="${hbase.zookpeer.host}" />
		<property name="zkPort" value="${hbase.zookpeer.port}" />
		<property name="configuration" ref="configuration" />
		<property name="deleteConnection" value="${hbase.delete.connection}" />
	</bean>

	<bean id="hbaseTemplate" class="org.springframework.data.hadoop.hbase.HbaseTemplate">
		<property name="configuration" ref="hbaseConfiguration" />
	</bean>
	
	<bean id="hbaseTemplateProxy" class="com.lxzl.se.dataaccess.hbase.template.HbaseTemplateProxy">
		<property name="hbaseSourceKey" value="${hbase.key}" />
		<property name="hbaseTemplate" ref="hbaseTemplate" />
		<property name="isDefault" value="${hbase.isDefault}" />
	</bean>
	
	<bean id="dynamicHbaseSource" class="com.lxzl.se.dataaccess.hbase.source.DynamicHbaseSource" />
	
	<bean id="dynamicCreateHbaseSourceManager" class="com.lxzl.se.dataaccess.hbase.source.DynamicCreateHbaseSourceManager">
		<property name="dynamicHbaseSource" ref="dynamicHbaseSource" />
	</bean>
</beans>