<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">

	<bean id="serverAddress1" class="com.mongodb.ServerAddress">
		<constructor-arg name="host" value="${mongo.host1}" />
		<constructor-arg name="port" value="${mongo.port1}" />
	</bean>

	<bean id="serverAddress2" class="com.mongodb.ServerAddress">
		<constructor-arg name="host" value="${mongo.host2}" />
		<constructor-arg name="port" value="${mongo.port2}" />
	</bean>

	<bean id="mongoOptions" class="org.springframework.data.mongodb.core.MongoOptionsFactoryBean">
		<property name="connectionsPerHost" value="${mongo.connectionsPerHost}" />
		<property name="threadsAllowedToBlockForConnectionMultiplier" value="${mongo.threadsAllowedToBlockForConnectionMultiplier}" />
		<property name="connectTimeout" value="${mongo.connectTimeout}" />
		<property name="maxWaitTime" value="${mongo.maxWaitTime}" />
		<property name="autoConnectRetry" value="${mongo.autoConnectRetry}" />
		<property name="maxAutoConnectRetryTime" value="${mongo.maxAutoConnectRetryTime}" />
		<property name="socketKeepAlive" value="${mongo.socketKeepAlive}" />
		<property name="socketTimeout" value="${mongo.socketTimeout}" />
		<property name="writeNumber" value="${mongo.writeNumber}" />
		<property name="writeTimeout" value="${mongo.writeTimeout}" />
		<property name="writeFsync" value="${mongo.writeFsync}" />
		<property name="slaveOk" value="${mongo.slaveOk}" />
	</bean>

	<bean id="mongo" class="org.springframework.data.mongodb.core.MongoFactoryBean">
		<property name="mongoOptions" ref="mongoOptions" />
		<property name="replicaSetSeeds">
			<list>
				<ref bean="serverAddress1" />
				<ref bean="serverAddress2" />
			</list>
		</property>
	</bean>

	<bean id="userCredentials" class="org.springframework.data.authentication.UserCredentials">
		<constructor-arg name="username" value="${mongo.username}" />
		<constructor-arg name="password" value="${mongo.password}" />
	</bean>

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongo" />
		<constructor-arg value="${mongo.db}" />
		<constructor-arg ref="userCredentials" />
	</bean>

	<bean id="mongoTemplateProxy" class="com.lxzl.se.dataaccess.mongo.template.MongoTemplateProxy">
		<property name="mongoSourceKey" value="${mongo.key}" />
		<property name="mongoTemplate" ref="mongoTemplate" />
		<property name="isDefault" value="${mongo.isDefault}" />
	</bean>

	<bean id="dynamicMongoSource" class="com.lxzl.se.dataaccess.mongo.source.DynamicMongoSource" />

	<bean id="dynamicCreateMongoSourceManager" class="com.lxzl.se.dataaccess.mongo.source.DynamicCreateMongoSourceManager">
		<property name="dynamicMongoSource" ref="dynamicMongoSource" />
	</bean>

</beans>