<div id="addCustomerAddressModal" class="popup-basic popup-lg admin-form mfp-with-anim "> ##mfp-hide
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i>选择流水账单表格</span>
        </div>
        <form method="post" id="UploadExcelForm" description="选择流水账单表格">
            <input type="hidden" name="excelUrl" />
            <div class="panel-body p25">
                <div class="section row">
                    <div class="col-md-6">
                        <label for="province" class="field-label"><em class="text-danger">*</em>请选择分公司名称</label>
                        <label class="field select">
                            <select id="subCompanyId" name="subCompanyId" class="required">
                                <option value="">请选择</option>
                            </select>
                            <i class="arrow"></i>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label for="province" class="field-label"><em class="text-danger">*</em>请选择银行类型</label>
                        <label class="field select">
                            <select id="bankType" name="bankType" class="required">
                            </select>
                            <i class="arrow"></i>
                        </label>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-6 form-group mn mr10">
                        <label class="field-label">日期</label>
##                        <label for="slipDay" class="input-group date">
##                            <input type="text" readonly name="slipDay" id="slipDay" data-type="date" class="form-control" autocomplete="off" placeholder="选择时间">
##                            <span class="input-group-addon cursor"><i class="fa fa-calendar"></i></span>
##                        </label>
                        <div>
                            <div class="input-group date" id="slipDayPicker">
                                <input type="hidden" name="slipDay" id="slipDay">
                                <input type="text" readonly id="slipDayInput" data-type="date" class="form-control" autocomplete="off" placeholder="选择时间" style="height:42px;">
                                <span class="input-group-addon cursor"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section row">
                    <div class="col-md-12">
                        <label for="remark" class="field-label">备注</label>
                        <label for="remark" class="field prepend-icon">
                            <textarea class="gui-textarea" id="remark" name="remark" placeholder="请输入备注"></textarea>
                            <label for="remark" class="field-icon"><i class="fa fa-comments"></i>
                            </label>
                        </label>
                    </div>
                </div>
                <div class="tray-bin">
                    <div class="atl-dropzone dropzoneImg dz-clickable" id="upLoadExcel">
                        <div class="dz-default dz-message">
                                <span>
                                    <i class="fa fa-cloud-upload"></i>
                                    <span class="sub-text">将表格拖入或点击</span>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="button btn-primary submit-btn">确定</button>
                <button type="button" class="button btn-default cancelButton"">取消</button>
            </div>
        </form>
    </div>
</div>