<div class="panel br-n">
    <div class="panel-heading" style="margin-bottom: 0;">
        <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
            <li class="active">
                <a href="#top-tab-1" data-toggle="tab" aria-expanded="false">基础信息</a>
            </li>
            <li>
                <a href="#top-tab-2" data-toggle="tab" aria-expanded="false">按天租必填，按月租选填</a>
            </li>
            <li class="">
                <a href="#top-tab-3" data-toggle="tab" aria-expanded="false">按月租必填，按天租选填</a>
            </li>
            <li class="">
                <a href="#top-tab-4" data-toggle="tab" aria-expanded="false">收货地址(必填)</a>
            </li>
        </ul>
    </div>
    <div class="panel-body" style="padding-bottom: 0;">
        <div class="tab-content">
            <div id="top-tab-1" class="tab-pane active">
                #parse("component/customerBusiness/customerBaseInfo.vm")
            </div>
            <div id="top-tab-2" class="tab-pane">
                <div class="section row">
                    <div class="col-md-4">
                        <div class="section-divider mv40"><span> 经办人身份证正面 </span></div>
                        <div class="tray-bin">
                            <div class="atl-dropzone dropzoneImg" id="agentPersonNoPictureFrontImage">
                                <div class="dz-default dz-message" >
                                    <span>
                                        <i class="fa fa-cloud-upload"></i>
                                        <span class="sub-text">将图片拖入或点击（支持.jpg|.ipeg|.png，不能超过4M）</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="section-divider mv40"><span> 经办人身份证反面 </span></div>
                        <div class="tray-bin">
                            <div class="atl-dropzone dropzoneImg" id="agentPersonNoPictureBackImage">
                                <div class="dz-default dz-message" >
                                    <span>
                                        <i class="fa fa-cloud-upload"></i>
                                        <span class="sub-text">将图片拖入或点击（支持.jpg|.ipeg|.png，不能超过4M）</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="top-tab-3" class="tab-pane">
                #parse("component/customerBusiness/monthlyNecessary.vm")
            </div>
            <div id="top-tab-4" class="tab-pane">
                #parse("component/customerBusiness/editAddressInfo.vm")
            </div>
        </div>
    </div>
</div>