<div class="panel-body p25">
    <div class="section-divider mv40"><span> 营业执照 </span></div>
    <div class="tray-bin">
        <div class="atl-dropzone dropzoneImg" id="businessLicensePictureImage">
            <div class="dz-default dz-message" >
                <span>
                    <i class="fa fa-cloud-upload"></i>
                    <span class="sub-text">将图片拖入或点击</span>
                </span>
            </div>
        </div>
    </div>
</div>