<div class="popup-basic popup-xl admin-form mfp-with-anim theme-primary " id="chooseProductModal">

         <div class="panel">
             <div class="panel-heading">
                 <span class="panel-title"><i class="fa fa-search"></i>编辑设备价格</span>
             </div>
             <form class="editForm">
                 <div class="panel-body pn">
                     <div class="table-responsive">
                         <script type="text/html" class="dataListTpl">
                             <thead>
                             <tr>
                                 {{#hasCommonActionButtons}}
                                 <th>
                                     <label class="option block mn">
                                         <input type="checkbox" name="checkAll" value="">
                                         <span class="checkbox mn"></span>
                                     </label>
                                 </th>
                                 {{/hasCommonActionButtons}}
                                 <th>设备编号</th>
                                 <th>仓库</th>
##                                 <th>商品ID</th>
                                 <th>商品名</th>
                                 <th>商品图</th>
##                                 <th>SKUID</th>
                                 <th>设备状态</th>
                                 <th>原采购价</th>
                                 <th>编辑状态</th>
                                 <th>采购价格</th>
                                 <th>备注</th>
                                 {{#hasRowActionButtons}}
                                 <th class="text-right">操作</th>
                                 {{/hasRowActionButtons}}
                             </tr>
                             </thead>
                             <tbody>
                             {{#dataSource}}
                             {{#listData}}
                             <tr class="equipmentTr">
                                 {{#hasCommonActionButtons}}
                                 <td>
                                     <label class="option block mn">
                                         <input type="checkbox" name="checkItem" value="FR">
                                         <span class="checkbox mn"></span>
                                     </label>
                                 </td>
                                 {{/hasCommonActionButtons}}
                                 <td>{{equipmentNo}}</td>
                                 <td>{{ownerWarehouseName}}</td>
##                                 <td>{{productId}}</td>
                                 <td>{{productName}}</td>
                                 <td><a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a></td>
##                                 <td>{{skuId}}</td>
                                 <td>{{equipmentStatusStr}}</td>
                                 <td>{{#price}}{{srcPurchasePrice}}{{/price}}</td>
                                 <td><span class="label {{#isEditPurchasePrice}}label-system{{/isEditPurchasePrice}}{{^isEditPurchasePrice}}label-dark{{/isEditPurchasePrice}}">{{isEditPurchasePriceText}}</span></td>
                                 <td>
                                     <input type="hidden" name="equipmentNo" value="{{equipmentNo}}" class="equipmentNo" />
                                     <label class="field prepend-icon">
                                         <input type="text" name="productAmount-{{equipmentNo}}" value="{{purchasePrice}}" class="purchasePrice form-control required moneyNumber" placeholder="输入采购价格" />
                                         <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                     </label>
                                 </td>
                                 <td>{{remark}}</td>
                                 {{#hasRowActionButtons}}
                                 <td class="text-right">
                                     <div class="btn-group text-right">
                                         {{#rowActionButtons}}
                                         <button type="button" class="btn btn-default btn-xs {{class}}" data-productid="{{productId}}" data-skuid="{{skuId}}"> <i class="{{iClass}}"></i>{{text}} </button>
                                         {{/rowActionButtons}}
                                     </div>
                                 </td>
                                 {{/hasRowActionButtons}}
                             </tr>
                             {{/listData}}
                             {{^listData}}
                             <tr>
                                 <td valign="top" colspan="8" class="text-center">没有查询到设备</td>
                             </tr>
                             {{/listData}}
                             {{/dataSource}}
                             </tbody>
                         </script>
                         <table class="table table-striped admin-form theme-warning tc-checkbox-1 fs13 dataListTable"></table>
                     </div>
                 </div>
                 <div class="panel-footer">
                     <div class="row">
                         <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                             #parse("component/pager.vm")
                         </div>
                     </div>
                 </div>
                 <div class="panel-footer text-right">
                     <button type="submit" class="button btn-primary">保存<em style="font-size: 12px; font-style: inherit; margin-left: 5px;">(当前页面)</em></button>
                     <button type="button" class="button btn-default cancelButton"">取消</button>
                 </div>
             </form>
         </div>
</div>



