<!DOCTYPE html>
<html>
<head>
    <title>首页-凌雄-中国领先的IT设备租赁服务商</title>
	#parse("layout/header.vm")
	#parse("layout/theme.vm")
</head>
<body class="blank-page">
	#parse("layout/toolbox.vm")
	<div id="main">
		#parse("layout/navbar.vm")
		#parse("layout/sidebar.vm")
		<section id="content_wrapper">
			#parse("layout/topbarDropmenu.vm")
			#parse("layout/topbar.vm")
			<section id="content" class="animated fadeIn">

				<script type="text/html" id="statisticsTpl">
					{{#statistics}}
                    <div class="row mb10">
                        <div class="col-md-3">
                            <div class="panel bg-warning light of-h mb10">
                                <div class="pn pl20 p5">
                                    <div class="icon-bg"> <i class="fa fa-bar-chart-o"></i> </div>
                                    <h2 class="mt15 lh15"> <b>{{totalProductEquipmentCount}}</b> </h2>
                                    <h5 class="text-muted">总设备数</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel bg-alert light of-h mb10">
                                <div class="pn pl20 p5">
                                    <div class="icon-bg"> <i class="fa fa-group"></i> </div>
                                    <h2 class="mt15 lh15"> <b>{{totalCustomerCount}}</b> </h2>
                                    <h5 class="text-muted">客户总数</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel bg-info light of-h mb10">
                                <div class="pn pl20 p5">
                                    <div class="icon-bg"> <i class="fa fa-bar-chart-o"></i> </div>
                                    <h2 class="mt15 lh15"> <b>{{totalOrderCount}}</b> </h2>
                                    <h5 class="text-muted">订单总数</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel bg-danger light of-h mb10">
                                <div class="pn pl20 p5">
                                    <div class="icon-bg"> <i class="fa fa-bar-chart-o"></i> </div>
                                    <h2 class="mt15 lh15"> <b>￥{{#price}}{{totalRentAmount}}{{/price}}</b></h2>
                                    <h5 class="text-muted">总租金</h5>
                                </div>
                            </div>
                        </div>
                    </div>
					{{/statistics}}
				</script>
				<div id="statistics"></div>

                <div class="panel" id="pchart3"  style="position: relative;">
                    <div id="statisticsUnReceivableForSubCompanyLoading" class="bg-loading hide" style="position: absolute;">
                        <div class="box-loading">
                            <div class="loading"><i></i><span>数据加载中,请稍候...</span></div>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <span class="panel-title text-info fw700"><i class="fa fa-pencil hidden"></i>未收汇总</span>
                    </div>
                    <div class="panel-body pn">
                        <div id="high-line" style="width: 100%; height: 480px; margin: 0 auto"></div>

                        <script type="text/html" id="statisticsUnReceivableTpl">
                            <table class="table mbn admin-form fs13 table-legend" data-chart-id="#high-line">
                                <thead>
                                <tr class="">
                                    <th>租金类型</th>
                                    <th>图表状态</th>
                                    {{#tableHead}}
                                    {{#categories}}
                                    <th>{{name}}</th>
                                    {{/categories}}
                                    {{/tableHead}}
                                    <th class="text-right">总计</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#dataSource}}
                                    {{#listData}}
                                    <tr>
                                        <td class="{{className}}">{{name}}</td>
                                        <td>
                                            <label class="switch switch-custom block mbn">
                                                <input type="checkbox" class="legend-switch" name="features" id="s{{rowIndex}}" value="{{rowIndex}}" checked>
                                                <label for="s{{rowIndex}}" data-on="显示" data-off="关闭"></label>
                                                <span></span>
                                            </label>
                                        </td>
                                        {{#amountList}}
                                            {{#amountData}}
                                            <td class="va-m text-muted">
                                                ￥{{#price}}{{amount}}{{/price}}
                                            </td>
                                            {{/amountData}}
                                        {{/amountList}}
                                        <td class="fs15 text-right">￥{{#price}}{{totalAmount}}{{/price}}</td>
                                    </tr>
                                    {{/listData}}
                                {{/dataSource}}
                                </tbody>
                            </table>
                        </script>
                        <div class="p15 pt5 mt15 bg-light br-t" id="statisticsUnReceivableContainer"></div>
                    </div>
                </div>

                <div class="panel" style="position: relative;">
                    <div id="longRentByTimeLoading" class="bg-loading hide" style="position: absolute;">
                        <div class="box-loading">
                            <div class="loading"><i></i><span>数据加载中,请稍候...</span></div>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <span class="panel-title text-info fw700"><i class="fa fa-pencil hidden"></i>长租统计</span>
                    </div>
                    <div class="panel-menu">
                        <div class="chart-legend">
                            <a type="button" class="longRentByTimeBtn legend-item btn btn-sm btn-default mr10" data-timeDimensionType="1">本月</a>
                            <a type="button" class="longRentByTimeBtn legend-item btn btn-sm btn-default btn-info " data-timeDimensionType="2">本年</a>
                        </div>
                    </div>
                    <div class="panel-body pn">
                        <div id="longRentByTime" style="width: 100%; height: 480px; margin: 0 auto"></div>
                    </div>
                </div>

                <div class="panel" style="position:relative;">
                    <div id="shortRentByTimeLoading" class="bg-loading hide" style="position: absolute;">
                        <div class="box-loading">
                            <div class="loading"><i></i><span>数据加载中,请稍候...</span></div>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <span class="panel-title text-info fw700"><i class="fa fa-pencil hidden"></i>短租统计</span>
                    </div>
                    <div class="panel-menu">
                        <div class="chart-legend">
                            <a type="button" class="shortRentByTimeBtn legend-item btn btn-sm btn-default mr10" data-timeDimensionType="1">本月</a>
                            <a type="button" class="shortRentByTimeBtn legend-item btn btn-sm btn-default btn-info " data-timeDimensionType="2">本年</a>
                        </div>
                    </div>
                    <div class="panel-body pn">
                        <div id="shortRentByTime" style="width: 100%; height: 480px; margin: 0 auto"></div>
                    </div>
                </div>


			</section>
		</section>
		#parse("layout/sidebarRight.vm")
	</div>
    #parse("layout/footer.vm")

    <!-- Charts JS -->
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/highcharts/highcharts-more.js"></script>
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/highcharts/modules/exporting.js"></script>
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/highcharts/highcharts-zh_CN.js"></script>
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/circles/circles.js"></script>
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/raphael/raphael.js"></script>


    <script type="text/javascript">
        management_load_script('${staticManagement}/js', 'home.js');
    </script>
	<script type="text/javascript">
        Rental.init();
        Layout.init();
        Home.init();

        Core.init();
        Demo.init();
	</script>

</body>
</html>   