<!DOCTYPE html>
<html>
    <head>
        <title>登录-爱租-首家大学生租赁平台</title>
        #parse("layout/header.vm")
    </head>
    <body class="external-page sb-l-c sb-r-c">

    <!-- Start: Main -->
    <div id="main" class="animated fadeIn">

        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">

            <!-- begin canvas animation bg -->
            <div id="canvas-wrapper">
                <canvas id="demo-canvas"></canvas>
            </div>

            <!-- Begin: Content -->
            <section id="content">

                <div class="admin-form theme-info" id="login1">

                    <div class="row mb15 table-layout">

                        <div class="col-xs-6 va-m pln">
                            <a href="#" title="Return to Dashboard">
                                <img src="${staticCommon}/rental/img/logo-white.png" title="凌雄租赁" class="img-responsive">
                            </a>
                        </div>

                        <div class="col-xs-6 text-right va-b pr5">
                            <div class="login-links">
                                <a class="active" title="Sign In">ERP系统</a>
                            </div>

                        </div>

                    </div>

                    <div class="panel panel-info mt10 br-n">

                        <div class="panel-heading heading-border bg-white">
                            <div class="section row mn">
                                <div class="col-sm-6">
                                    <a href="http://www.lxzl.com.cn" class="button btn-social facebook span-left mr5 btn-block" target="_blank">
                                        <span><i class="fa fa-shopping-cart"></i>
                                        </span>租赁商城</a>
                                </div>
                                <div class="col-sm-6">
                                    <a href="http://busi.lxzl.com.cn/" class="button btn-social twitter span-left mr5 btn-block" target="_blank">
                                        <span><i class="fa fa-cog"></i>
                                        </span>运营管理系统</a>
                                </div>
                                #*<div class="col-sm-4">
                                    <a href="http://my.fecxiao.com/" class="button btn-social googleplus span-left btn-block" target="_blank">
                                        <span><i class="fa fa-users"></i>
                                        </span>客户关系管理系统</a>
                                </div>*#
                            </div>
                        </div>

                        <!-- end .form-header section -->
                        <form method="post" action="$ctx/user/login" id="loginForm" callback-func="Login.callBakcFunc">
                            <div class="panel-body bg-light p30">
                                <div class="row">
                                    <div class="col-sm-7 pr30">
                                        <div class="section">
                                            <label for="username" class="field-label text-muted fs18 mb10">用户名</label>
                                            <label for="username" class="field prepend-icon">
                                                <input type="text" name="userName" id="userName" class="gui-input required" placeholder="请输入用户名" value="" />
                                                <label for="username" class="field-icon"><i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- end section -->

                                        <div class="section">
                                            <label for="username" class="field-label text-muted fs18 mb10">密码</label>
                                            <label for="password" class="field prepend-icon">
                                                <input type="password" name="password" id="password" class="gui-input required" placeholder="请输入登录密码" value="" />
                                                <label for="password" class="field-icon"><i class="fa fa-lock"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- end section -->

                                    </div>
                                    <div class="col-sm-5 br-l br-grey pl30">
                                        <h3 class="mb25"> 浏览器兼容性:</h3>
                                        <p class="mb15">
                                            <span class="fa fa-check text-success pr5"></span> IE8+</p>
                                        <p class="mb15">
                                            <span class="fa fa-check text-success pr5"></span> safari</p>
                                        <p class="mb15">
                                            <span class="fa fa-check text-success pr5"></span> firefox</p>
                                        <p class="mb15">
                                            <span class="fa fa-check text-success pr5"></span> chome</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end .form-body section -->
                            <div class="panel-footer clearfix p10 ph15">
                                <button type="submit" class="button btn-primary mr10 pull-right">登录</button>
                                #*<label class="switch block switch-primary pull-left input-align mt10">
                                    <input type="checkbox" name="remember" id="remember">
                                    <label for="remember" data-on="是" data-off="否"></label>
                                    <span>一周内免登录</span>
                                </label>*#
                            </div>
                            <!-- end .form-footer section -->
                        </form>
                    </div>
                </div>

            </section>
            <!-- End: Content -->

        </section>
        <!-- End: Content-Wrapper -->

    </div>
    <!-- End: Main -->

    #parse("layout/footer.vm")

    <script type="text/javascript" src="${staticCommon}/assets/js/pages/login/EasePack.min.js"></script>
    <script type="text/javascript" src="${staticCommon}/assets/js/pages/login/rAF.js"></script>
    <script type="text/javascript" src="${staticCommon}/assets/js/pages/login/TweenLite.min.js"></script>
    <script type="text/javascript" src="${staticCommon}/assets/js/pages/login/login.js"></script>

    <script type="text/javascript">
        management_load_script('${staticManagement}/js','rental.common.js','login.js');
    </script>

    <script type="text/javascript">
        Rental.init();
        Login.init();

        jQuery(document).ready(function() {
            // Init CanvasBG and pass target starting location
            CanvasBG.init({
                Loc: {
                    x: window.innerWidth / 2,
                    y: window.innerHeight / 3.3
                },
            });
        });
    </script>

    </body>
</html>