<div class="pagerContainer">
</div>
<script type="text/html" id="pagerTpl">
    {{#pager}}
        <span class="hidden-xs va-m text-muted mr15"> 共 <strong>{{totalCount}}</strong>条数据，当前  <strong>{{currentPage}}</strong>页，共 <strong>{{pageCount}}</strong>页 </span>
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm light" data-pageno="{{preno}}" {{preSatatus}}>
                <i class="fa fa-chevron-left"></i>
            </button>
            {{#pageArr}}
                {{#choosed}}
                    <button type="button" class="btn btn-primary btn-sm light" data-pageno="{{pageNo}}">{{pageNo}}</button>
                {{/choosed}}
                {{^choosed}}
                    <button type="button" class="btn btn-default btn-sm light" data-pageno="{{pageNo}}">{{pageNo}}</button>
                {{/choosed}}
            {{/pageArr}}
            <button type="button" class="btn btn-default btn-sm light" data-pageno="{{nextno}}" {{nextStatus}}>
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
        <div class="form-group pull-right mn" style="width: 100px;">
            <div class="input-group">
                <input type="number" name="inputPage" class="form-control input-sm bradiusL " autocomplete="off" value="{{currentPage}}">
                <span class="input-group-addon btn-search input-sm bradiusR goToPage">转至</span>
            </div>
        </div>
    {{/pager}}
</script>
