<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-换货单管理-换货单详情</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">
                #parse("component/loading.vm")
                <form class="" id="detailOrderForm">
                    <div class="panel panel-primary panel-border top mb35">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>换货单编号：<small id="changeOrderNo"></small></h5>
                                </div>
                                <div class="col-md-8 text-right">
                                    <script type="text/html" id="actionButtonsTpl">
                                        {{#acitonButtons}}
                                        <a href="${ctx}{{menuUrl}}?no={{no}}" class="btn btn-primary btn-sm ml5 bradius {{class}}" title="{{menuName}}" data-no="{{no}}">
                                            <i class="{{iClass}}"></i> {{text}}
                                        </a>
                                        {{/acitonButtons}}
                                    </script>
                                    <div class="btn-group" id="actionButtons"></div>
                                </div>
                            </div>
                        </div>


                        <script type="text/html" id="orderBaseInfoTpl">
                            {{#data}}
                            <div class="form-horizontal panel-body bg-light dark br-t-n">
                                <div class="row">
                                    <div class="col-md-4">
                                        <dl class="dl-horizontal">
                                            <dt class="mb10">客户</dt><dd>{{customerName}}</dd>
                                            <dt class="mb10">客户编号</dt><dd>{{customerNo}}</dd>
                                            <dt class="mb10">联系人</dt><dd>{{changeModeValue}}</dd>
                                            <dt class="mb10">联系电话</dt><dd>{{changeModeValue}}</dd>
                                            <dt class="mb10">收货地址</dt><dd>{{consigneeName}}</dd>
                                            <dt class="mb10">发货公司</dt><dd>{{changeReasonTypeValue}}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-4">
                                        <dl class="dl-horizontal">
                                            <dt class="mb10">换货日期</dt><dd></dd>
                                            <dt class="mb10">换货方式</dt><dd></dd>
                                            <dt class="mb10">换货原因</dt><dd>{{isDamageValue}}</dd>
                                            <dt class="mb10">运费</dt><dd class="text-danger">￥{{#price}}{{serviceCost}}{{/price}}</dd>
                                            <dt class="mb10">服务费</dt><dd class="text-danger">￥{{#price}}{{damageCost}}{{/price}}</dd>
                                            <dt class="mb10">维修费</dt><dd class="text-danger">￥{{#price}}{{totalPriceDiff}}{{/price}}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-4">
                                        <dl class="dl-horizontal">
                                            <dt class="mb10">换货单状态</dt><dd class="{{changeOrderStatusClass}}">{{changeOrderStatusValue}}&nbsp;</dd>
                                            <dt class="mb10">创建人</dt><dd>{{createUserRealName}}&nbsp;</dd>
                                            <dt class="mb10">创建时间</dt><dd>{{#time}}{{createTime}}{{/time}}&nbsp;</dd>
                                            <dt class="mb10">换货类型</dt><dd>{{createUserRealName}}&nbsp;</dd>
                                            <dt class="mb10">备注</dt><dd>{{remark}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            {{/data}}
                        </script>

                        <div id="orderBaseInfo">
                                <div class="form-horizontal panel-body bg-light dark br-t-n">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <dl class="dl-horizontal">
                                                    <dt class="mb10">客户</dt><dd>{{customerName}}</dd>
                                                    <dt class="mb10">客户编号</dt><dd>{{customerNo}}</dd>
                                                    <dt class="mb10">联系人</dt><dd>{{changeModeValue}}</dd>
                                                    <dt class="mb10">联系电话</dt><dd>{{changeModeValue}}</dd>
                                                    <dt class="mb10">收货地址</dt><dd>{{consigneeName}}</dd>
                                                    <dt class="mb10">发货公司</dt><dd>{{changeReasonTypeValue}}</dd>
                                                </dl>
                                            </div>
                                            <div class="col-md-4">
                                                <dl class="dl-horizontal">
                                                    <dt class="mb10">换货日期</dt><dd></dd>
                                                    <dt class="mb10">换货方式</dt><dd></dd>
                                                    <dt class="mb10">换货原因</dt><dd>{{isDamageValue}}</dd>
                                                    <dt class="mb10">运费</dt><dd class="text-danger">￥{{#price}}{{serviceCost}}{{/price}}</dd>
                                                    <dt class="mb10">服务费</dt><dd class="text-danger">￥{{#price}}{{damageCost}}{{/price}}</dd>
                                                    <dt class="mb10">维修费</dt><dd class="text-danger">￥{{#price}}{{totalPriceDiff}}{{/price}}</dd>
                                                </dl>
                                            </div>
                                            <div class="col-md-4">
                                                <dl class="dl-horizontal">
                                                    <dt class="mb10">换货单状态</dt><dd class="{{changeOrderStatusClass}}">{{changeOrderStatusValue}}&nbsp;</dd>
                                                    <dt class="mb10">创建人</dt><dd>{{createUserRealName}}&nbsp;</dd>
                                                    <dt class="mb10">创建时间</dt><dd>{{#time}}{{createTime}}{{/time}}&nbsp;</dd>
                                                    <dt class="mb10">换货类型</dt><dd>{{createUserRealName}}&nbsp;</dd>
                                                    <dt class="mb10">备注</dt><dd>{{remark}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                        </div>

                        <div class="panel-heading">
                            <div class="row">
                                <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
                                    <li class="active">
                                        <a href="#purchaseOrderProductItems" data-toggle="tab">商品项（共<span id="orderItemProductCount">0</span>件）</a>
                                    </li>
                                    <li>
                                        <a href="#printRecordItems" data-toggle="tab">打印记录（共<span id="printRecordCount">0</span>次）</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body dark pn">
                            <div class="tab-content pn br-n">
                                <div id="purchaseOrderProductItems" class="tab-pane active">
                                    <div class="table-responsive">
                                        <script type="text/html" id="dataListTpl">
                                            <thead>
                                            <tr class="bg-light">
                                                <th>订单号</th>
                                                <th>商品信息</th>
                                                <th>单价</th>
                                                <th>在租数量</th>
                                                <th>更换商品信息</th>
                                                <th>更换数量</th>
                                                <th>更换商品单价</th>
                                                <th>备注</th>
                                                <th class="text-right">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#listData}}
                                            <tr class="productRow skuRow" productRowKey="{{productId}}">
                                                <td>{{productName}}</td>
                                                <td>{{#productInfo}}{{categoryName}}{{/productInfo}}</td>
                                                <td>{{#productInfo}}{{brandName}}{{/productInfo}}</td>
                                                <td>{{propertiesToStr}}</td>
                                                <td></td>
                                                <td>{{#productInfo}}{{brandName}}{{/productInfo}}</td>
                                                <td>{{propertiesToStr}}</td>
                                                <td></td>
                                                <tdclass="text-right"></td>
                                            </tr>
                                            {{/listData}}
                                            {{^listData}}
                                            <tr>
                                                <td valign="top" colspan="9" class="text-center">没有选择商品</td>
                                            </tr>
                                            {{/listData}}
                                            </tbody>
                                        </script>
                                        <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                                    </div>
                                </div>
                                <div id="printRecordItems" class="tab-pane">
                                    <div class="table-responsive">
                                        <script type="text/html" id="printRecordListTpl">
                                            <thead>
                                            <tr>
                                                <th>打印人</th>
                                                <th>打印时间</th>
                                                <th>打印类型</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#dataSource}}
                                            {{#listData}}
                                            <tr class="materialRow">
                                                <td>{{materialName}}</td>
                                                <td>{{#materialInfo}}{{brandName}}{{/materialInfo}}</td>
                                                <td>{{materialTypeStr}}</td>
                                            </tr>
                                            <tr>
                                                <td valign="top" colspan="3" class="text-center">没有选择配件</td>
                                            </tr>
                                            {{/listData}}
                                            {{/dataSource}}
                                            </tbody>
                                        </script>
                                        <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="printRecordTable"></table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer clearfix">
                            <button class="btn btn-default pull-right ml15 goBack">返回</button>
                        </div>
                    </div>

                </form>
            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'manage.change.order.mixin.js',
                'manage.change.order.handle.mixin.js',
                'manage.change.order.detail.js',
                'manage.change.order.equiment.list.js',
                'manage.change.order.material.list.js',
                'manage.change.order.update.equiment.diff.price.js',
                'manage.change.order.update.material.diff.price.js',
                'manage.order.item.render.js',
                'manage.order.util.js',
                'manage.order.picking.js',
                'modal.input.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        // ChangeOrderDetail.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>

</body>
</html>