<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-换货单管理--添加换货单</title>
    #parse("layout/header.vm")
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/daterange/daterangepicker.css">
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">
                <form class="" id="addOrderForm">
                    #parse("component/changeOrder/editChangeOrderContent.vm")
                </form>
            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'manage.change.order.mixin.js',
                'manage.change.order.add.js',
                'modal.choose.customer.js',
                'modal.choose.customer.business.js',
                'modal.choose.rent.product.js',
                'modal.choose.product.js',
                'modal.choose.can.change.material.js',
                'modal.choose.material.js',
                'manage.order.item.render.js',
                'manage.order.util.js',
                'modal.input.address.js',
                'modal.choose.customer.address.js',
                'manage.customer.address.js',
                'manage.customer.address.add.js',
                'manage.customer.address.edit.js',
                'modal.choose.user.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        AddChangeOrder.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>

</body>
</html>