<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-K3数据-换货单列表</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">

            #parse("component/loading.vm")

            <div class="panel panel-primary panel-border top">
                <div class="panel-menu p12">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="searchForm" class="form-horizontal">
                                <div class="section row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <div class="form-group mn">
                                                <input type="hidden" name="createStartTime" id="createStartTime" />
                                                <input type="hidden" name="createEndTime" id="createEndTime" />
                                                <div class="input-group date" id="createTimePicker">
                                                    <input type="text" name="createTimePicker" id="createTimePickerInput" class="form-control input-sm bradiusL" autocomplete="off" placeholder="创建时间">
                                                    <span class="input-group-addon cursor input-sm bradiusR"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="field form-group mn">
                                                <div class="input-group" style="width: 100%">
                                                    <select class="form-control input-sm bradius" name="replaceOrderStatus" id="replaceOrderStatus">
                                                        <option value="">请选择</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="field form-group mn">
                                                <input type="text" name="customerName" id="customerName" class="form-control input-sm bradius" autocomplete="off" placeholder="客户名称">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="field form-group mn" >
                                                <input type="text" name="customerNo" id="customerNo" class="form-control input-sm bradius" autocomplete="off" placeholder="客户编号">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="field form-group mn" >
                                                <input type="text" name="replaceOrderNo" id="replaceOrderNo" class="form-control input-sm bradius" autocomplete="off" placeholder="换货编号">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="field form-group mn">
                                                <input type="text" name="orderNo" id="orderNo" class="form-control input-sm bradius" autocomplete="off" placeholder="订单编号">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="short alt">
                                <div class="section row">
                                    <div class="col-md-12">
                                        <div class="pull-left ml15" style="position:absolute; bottom: 0; left:0; z-index:99;">
                                            <script type="text/html" id="actionCommonButtonsTpl">
                                                <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                                                {{#acitonCommonButtons}}
                                                <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm {{class}}" title="{{menuName}}">
                                                    <i class="{{iClass}}"></i> {{text}}
                                                </a>
                                                {{/acitonCommonButtons}}
                                            </script>
                                            <div class="btn-group" id="actionCommonButtons"></div>
                                        </div>
                                        <div class="pull-right mn mr15">
                                            <button type="submit" class="btn btn-primary btn-sm">查询</button>
                                            <button type="reset" class="btn btn-default btn-sm">重置</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body pn">
                    <div class="table-responsive">
                        <script type="text/html" id="dataListTpl">
                            <thead>
                            <tr class="bg-light">
                                <th>换货单编号</th>
                                <th>客户编号</th>
                                <th>客户名称</th>
                                <th>换货地址</th>
                                <th>状态</th>
                                <th>备注</th>
                                <th>创建</th>
                                {{#hasRowActionButtons}}
                                <th class="text-right">操作</th>
                                {{/hasRowActionButtons}}
                            </tr>
                            </thead>
                            <tbody>
                            {{#dataSource}}
                            {{#listData}}
                            <tr>
                                <td><a href="{{detailUrl}}" target="_blank">{{replaceOrderNo}}</a></td>
                                <td><a href="{{customerUrl}}" target="_blank">{{customerNo}}</a></td>
                                <td><a href="{{customerUrl}}" target="_blank">{{customerName}}</a></td>
                                <td>
                                    <p class="mn">{{consigneeName}}</p>
                                    <p class="mn mt5 mn"><i class="fa fa-mobile mr5"></i>{{consigneePhone}}</p>
                                    <p class="mn mt5 mw200"><i class="fa fa-map-marker mr5"></i>{{address}}</p>
                                </td>
                                <td class="{{changeOrderStatusClass}}">{{changeOrderStatusValue}}</td>
                                <td>{{remark}}</td>
                                <td>
                                    <p class="mn">{{createUserRealName}}</p>
                                    <p class="mn mt5">{{#clockShorTime}}{{createTime}}{{/clockShorTime}}</p>
                                </td>
                                {{#hasRowActionButtons}}
                                <td class="text-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">操作<span class="caret ml5"></span></button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            {{#rowActionButtons}}
                                            <li>
                                                <a href="${ctx}{{menuUrl}}?no={{replaceOrderNo}}" {{#blank}}target="_blank"{{/blank}} type="button" class="{{class}}" data-no="{{replaceOrderNo}}">{{text}}</a>
                                            </li>
                                            {{/rowActionButtons}}
                                        </ul>
                                    </div>
                                </td>
                                {{/hasRowActionButtons}}
                            </tr>
                            {{/listData}}
                            {{^listData}}
                            <tr>
                                <td valign="top" colspan="9" class="text-center">无数据</td>
                            </tr>
                            {{/listData}}
                            {{/dataSource}}
                            </tbody>
                        </script>
                        <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                            #parse("component/pager.vm")
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")

    <!-- Forms Javascript -->
    <script type="text/javascript" src="${staticCommon}assets/admin-tools/admin-forms/js/jquery-tcm-month.js"></script>

    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'manage.change.order.handle.mixin.js',
                'manage.change.order.js',
                'manage.order.picking.js',
                'modal.input.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        ChangeOrderManage.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>

</body>
</html>