<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-换货单管理-换货单详情</title>
    #parse("layout/header.vm")
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/daterange/daterangepicker.css">
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">
                <form class="" id="detailOrderForm">

                    <div class="panel panel-primary panel-border top mb35">

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>换货单编号：<small id="changeOrderNo"></small></h5>
                                </div>
                                <div class="col-md-8 text-right">
                                    <script type="text/html" id="actionButtonsTpl">
                                        {{#acitonButtons}}
                                        <a href="${ctx}{{menuUrl}}?no={{no}}" class="btn btn-primary btn-sm ml5 bradius {{class}}" title="{{menuName}}" data-no="{{no}}">
                                            <i class="{{iClass}}"></i> {{text}}
                                        </a>
                                        {{/acitonButtons}}
                                    </script>
                                    <div class="btn-group" id="actionButtons"></div>
                                </div>
                            </div>
                        </div>


                        <script type="text/html" id="orderBaseInfoTpl">
                            {{#data}}
                            <div class="form-horizontal panel-body bg-light dark br-t-n">
                                <div class="row">
                                    <div class="col-md-4">
                                        <dl class="dl-horizontal">
                                            <dt class="mb10">客户</dt><dd>{{customerName}}</dd>
                                            <dt class="mb10">客户编号</dt><dd>{{customerNo}}</dd>
##                                            <dt class="mb10">换货日期:</dt><dd>{{#shortTime}}{{returnTime}}{{/shortTime}}</dd>
                                            <dt class="mb10">换货方式</dt><dd>{{changeModeValue}}</dd>
                                            <dt>取货地址</dt>
                                            {{#changeOrderConsignInfo}}
                                            <dd>{{consigneeName}}</dd>
                                            <dd><i class="fa fa-mobile mr5"></i>{{consigneePhone}}</dd>
                                            <dd class="mb10"><i class="fa fa-map-marker mr5"></i>{{addressForamt}}</dd>
                                            {{/changeOrderConsignInfo}}
                                            {{^changeOrderConsignInfo}}
                                            <dd>没有取货地址</dd>
                                            {{/changeOrderConsignInfo}}
                                            <dt class="mb10">换货原因</dt><dd>{{changeReasonTypeValue}}</dd>
                                            <dt class="mb10">换货原因描述</dt><dd>{{changeReason}}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-4">
                                        <dl class="dl-horizontal">
                                            <dt>换货商品总数</dt>
                                            <dd>预计：{{totalChangeProductCount}}&nbsp;</dd>
                                            <dd class="mb10">实际：{{realTotalChangeProductCount}}&nbsp;</dd>
                                            <dt>换货配件总数</dt>
                                            <dd>预计：{{totalChangeMaterialCount}}&nbsp;</dd>
                                            <dd class="mb10">实际：{{realTotalChangeMaterialCount}}&nbsp;</dd>

                                            <dt class="mb10">是否有损坏</dt><dd>{{isDamageValue}}</dd>
                                            <dt class="mb10">服务费</dt><dd>￥{{#price}}{{serviceCost}}{{/price}}</dd>
                                            <dt class="mb10">损坏费用</dt><dd>￥{{#price}}{{damageCost}}{{/price}}</dd>
                                            <dt class="mb10">总差价</dt><dd>￥{{#price}}{{totalPriceDiff}}{{/price}}</dd>
                                        </dl>
                                    </div>
                                    <div class="col-md-4">
                                        <dl class="dl-horizontal">
                                            <dt class="mb10">换货单状态</dt><dd class="{{changeOrderStatusClass}}">{{changeOrderStatusValue}}&nbsp;</dd>
                                            <dt class="mb10">业务员</dt><dd>{{ownerName}}&nbsp;</dd>
                                            <dt class="mb10">创建人</dt><dd>{{createUserRealName}}&nbsp;</dd>
                                            <dt class="mb10">创建时间</dt><dd>{{#time}}{{createTime}}{{/time}}&nbsp;</dd>
                                            <dt class="mb10">备注</dt><dd>{{remark}}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            {{/data}}
                        </script>

                        <div id="orderBaseInfo"></div>

                        <div class="panel-heading">
                            <div class="row">
                                <ul class="nav panel-tabs-border panel-tabs panel-tabs-left">
                                    <li class="active">
                                        <a href="#purchaseOrderProductItems" data-toggle="tab">商品项（共<span id="orderItemProductCount">0</span>件）</a>
                                    </li>
                                    <li>
                                        <a href="#purchaseOrderMaterialItems" data-toggle="tab">配件项（共<span id="orderItemMaterialCount">0</span>件）</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body dark pn">
                            <div class="tab-content pn br-n">
                                <div id="purchaseOrderProductItems" class="tab-pane active">
                                    <script type="text/html" id="productActionButtonsTpl">
                                        {{#hasActionButtons}}
                                        <div class="panel-menu p12 br-n br-b">
                                            <div class="row">
                                                <div class="pull-left ml10">
                                                    <div class="btn-group actionCommonButtons">
                                                        {{#acitonButtons}}
                                                        <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm ml5 bradius {{class}}" title="{{menuName}}" data-no="{{no}}">
                                                            <i class="{{iClass}}"></i> {{text}}
                                                        </a>
                                                        {{/acitonButtons}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/hasActionButtons}}
                                    </script>
                                    <div id="productActionButtons"></div>
                                    <div class="table-responsive">
                                        <script type="text/html" id="dataListTpl">
                                            <thead>
                                            <tr class="bg-light">
                                                <th>商品名称</th>
                                                <th>类别</th>
                                                <th>品牌</th>
                                                <th>商品参数（SKU）</th>
                                                <th class="text-center">实际/预计（换货数量）</th>
                                                <th class="text-right">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#listData}}
                                            <tr class="productRow skuRow" productRowKey="{{productId}}">
                                                <td>{{productName}}</td>
                                                <td>{{#productInfo}}{{categoryName}}{{/productInfo}}</td>
                                                <td>{{#productInfo}}{{brandName}}{{/productInfo}}</td>
                                                <td>{{propertiesToStr}}</td>
                                                <td {{#destChangeProductInfo}}rowSpan="2" class="br-l text-center"{{/destChangeProductInfo}}>{{realChangeProductSkuCount}}/{{changeProductSkuCount}}</td>
                                                <td {{#destChangeProductInfo}}rowSpan="2"{{/destChangeProductInfo}} class="text-right">
                                                    <div class="btn-group text-right">
                                                        <a href="#" type="button"
                                                           class="btn btn-default btn-xs viewStockEquipment"
                                                           data-skuid="{{skuId}}"
                                                           data-changeorderproductid="{{changeOrderProductId}}"
                                                           data-productid="{{productId}}">查看已备货设备</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {{#destChangeProductInfo}}
                                            {{#destChangeProductData}}
                                            <tr class="bg-light" productRowKey="{{productId}}">
                                                <td>{{#isNewValueBadge}}{{isNewIntValue}}{{/isNewValueBadge}}{{productName}}</td>
                                                <td>{{#productInfo}}{{categoryName}}{{/productInfo}}</td>
                                                <td>{{#productInfo}}{{brandName}}{{/productInfo}}</td>
                                                <td>{{propertiesToStr}}</td>
                                            </tr>
                                            {{/destChangeProductData}}
                                            {{/destChangeProductInfo}}
                                            {{/listData}}
                                            {{^listData}}
                                            <tr>
                                                <td valign="top" colspan="14" class="text-center">没有选择商品</td>
                                            </tr>
                                            {{/listData}}
                                            </tbody>
                                        </script>
                                        <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                                    </div>
                                </div>
                                <div id="purchaseOrderMaterialItems" class="tab-pane">
##                                    <div class="panel-menu p12 br-n br-b">
##                                        <div class="row">
##                                            <div class="pull-left ml10">
##                                                <div class="btn-group" id="actionCommonButtons">
##                                                    <button type="button" class="btn btn-primary btn-sm" id="batchAddMaterial" title="选择配件">
##                                                        <i class="fa fa-plus"></i> 选择配件
##                                                    </button>
##                                                    <button type="button" class="btn btn-primary btn-sm" id="batchDeleteMaterial" title="删除配件">
##                                                        <i class="fa fa-trash-o"></i> 删除
##                                                    </button>
##                                                </div>
##                                            </div>
##                                        </div>
##                                    </div>
                                    <div class="table-responsive">
                                        <script type="text/html" id="materialDataListTpl">
                                            <thead>
                                            <tr>
                                                <th>名称</th>
                                                <th>品牌</th>
                                                <th>类型</th>
                                                <th>配件价值</th>
                                                <th class="text-center">实际/预计（换货数量）</th>
                                                <th class="text-right">操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#dataSource}}
                                            {{#listData}}
                                            <tr class="materialRow">
                                                <td>{{materialName}}</td>
                                                <td>{{#materialInfo}}{{brandName}}{{/materialInfo}}</td>
                                                <td>{{materialTypeStr}}</td>
                                                <td>￥{{#price}}{{materialPrice}}{{/price}}</td>
                                                <td {{#destChangeMaterialInfo}}rowSpan="2" class="br-l text-center"{{/destChangeMaterialInfo}}>{{realChangeMaterialCount}}/{{changeMaterialCount}}</td>
                                                <td {{#destChangeMaterialInfo}}rowSpan="2"{{/destChangeMaterialInfo}} class="text-right">
                                                    <div class="btn-group text-right">
                                                        {{#rowActionButtons}}
                                                        <a href="#" type="button" class="btn btn-default btn-xs {{class}}"
                                                           data-materialno="{{materialNo}}"
                                                           data-materialid="{{materialId}}"
                                                           data-changeOrderMaterialId="{{changeOrderMaterialId}}"
                                                           data-srcChangeMaterialNo="{{srcChangeMaterialNo}}"
                                                           data-changeMaterialCount="{{changeMaterialCount}}"
                                                           data-no="{{no}}"
                                                           data-realchangematerialcount="{{realChangeMaterialCount}}">{{text}}</a>
                                                        {{/rowActionButtons}}
                                                        <a href="#" type="button"
                                                           class="btn btn-default btn-xs viewStockMaterial"
                                                           data-changeOrderMaterialId="{{changeOrderMaterialId}}"
                                                           data-materialno="{{materialNo}}">查看已备货配件</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {{#destChangeMaterialInfo}}
                                                {{#destChangeMaterialData}}
                                                <tr class="bg-light">
                                                    <td>{{#isNewValueBadge}}{{isNewIntValue}}{{/isNewValueBadge}}{{materialName}}</td>
                                                    <td>{{#materialInfo}}{{brandName}}{{/materialInfo}}</td>
                                                    <td>{{materialTypeStr}}</td>
                                                    <td>￥{{#price}}{{materialPrice}}{{/price}}</td>
                                                </tr>
                                                {{/destChangeMaterialData}}
                                            {{/destChangeMaterialInfo}}
                                            {{/listData}}
                                            {{^listData}}
                                            <tr>
                                                <td valign="top" colspan="14" class="text-center">没有选择配件</td>
                                            </tr>
                                            {{/listData}}
                                            {{/dataSource}}
                                            </tbody>
                                        </script>
                                        <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="materialDataListTable"></table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer clearfix">
                            <button class="btn btn-default pull-right ml15 goback">返回</button>
                        </div>
                    </div>

                </form>
            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/moment.min.js"></script>
    <script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/daterangepicker.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'manage.change.order.mixin.js',
                'manage.change.order.handle.mixin.js',
                'manage.change.order.detail.js',
                'manage.change.order.equiment.list.js',
                'manage.change.order.material.list.js',
                'manage.order.item.render.js',
                'manage.order.util.js',
                'manage.order.picking.js',
                'modal.input.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        ChangeOrderDetail.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>

</body>
</html>