<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-K3数据-退货单</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
<div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">

            #parse("component/loading.vm")

            <div class="panel panel-primary panel-border top">
                <div class="panel-menu p12">
                    <div class="row">
                        <div class="col-md-3">
                            <script type="text/html" id="actionCommonButtonsTpl">
                                <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                                {{#acitonCommonButtons}}
                                <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm {{class}}" title="{{menuName}}">
                                    <i class="{{iClass}}"></i> {{text}}
                                </a>
                                {{/acitonCommonButtons}}
                            </script>

                            <div class="btn-group" id="actionCommonButtons"></div>
                        </div>
                        <div class="col-md-9 text-right">
                            <form id="searchForm" class="form-horizontal">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary btn-sm">查询</button>
                                    <button type="reset" class="btn btn-default btn-sm">重置</button>
                                </div>
                                <div class="form-group pull-right mn mr10" style="width: 120px;">
                                    <input type="text" name="returnOrderNo" id="returnOrderNo" class="form-control input-sm bradius" autocomplete="off" placeholder="输入退货单编号">
                                </div>
                                <div class="field form-group pull-right mn mr10" style="width: 120px;">
                                    <input type="text" name="k3CustomerNo" id="k3CustomerNo" class="form-control input-sm bradius" autocomplete="off" placeholder="K3客户编码">
                                </div>
                                <div class="field form-group pull-right mn mr10" style="width: 120px;">
                                    <input type="text" name="k3CustomerName" id="k3CustomerName" class="form-control input-sm bradius" autocomplete="off" placeholder="K3客户名称">
                                </div>
                                <div class="form-group pull-right mn mr10" style="width: 210px;">
                                    <input type="hidden" name="returnStartTime" id="returnStartTime" />
                                    <input type="hidden" name="returnEndTime" id="returnEndTime" />
                                    <div class="input-group date" id="returnPicker">
                                        <input type="text" name="returnTimePicker" id="returnPickerInput" class="form-control input-sm bradiusL" autocomplete="off" placeholder="选择下单时间">
                                        <span class="input-group-addon cursor input-sm bradiusR"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body pn">
                    <div class="table-responsive">
                        <script type="text/html" id="dataListTpl">
                            <thead>
                            <tr class="bg-light">
                                <th>退还编号</th>
                                <th>K3客户编码</th>
                                <th>K3客户名称</th>
                                <th>退货地址</th>
                                <th>退货单状态</th>
                                <th>备注</th>
                                <th>创建人</th>
                                {{#hasRowActionButtons}}
                                <th class="text-right">操作</th>
                                {{/hasRowActionButtons}}
                            </tr>
                            </thead>
                            <tbody>
                            {{#dataSource}}
                            {{#listData}}
                            <tr>
                                <td>{{returnOrderNo}}</td>
                                <td>{{k3CustomerNo}}</td>
                                <td>{{k3CustomerName}}</td>
                                <td>
                                    <p class="mn">{{returnContacts}}</p>
                                    <p class="mn mt5 mn"><i class="fa fa-mobile mr5"></i>{{returnPhone}}</p>
                                    <p class="mn mt5 mw200"><i class="fa fa-map-marker mr5"></i>{{returnAddress}}</p>
                                </td>
                                <td class="{{returnOrderStatusClass}}">
                                    {{returnOrderStatusValue}}
                                    {{#showViewWorkFlowButton}}
                                    <span class="ml5 mr5 {{returnOrderStatusClass}}">/</span>
                                    <a href="javascript:void(0)" class="{{returnOrderStatusClass}} viewWorkFlowButton" data-returnOrderNo="{{returnOrderNo}}">查看审核流</a>
                                    {{/showViewWorkFlowButton}}

                                </td>
                                <td>
                                    <div class="mw200">{{remark}}</div>
                                </td>
                                <td>
                                    <p class="mn">{{createUserRealName}}</p>
                                    <p class="mn mt5">{{#clockShorTime}}{{createTime}}{{/clockShorTime}}</p>
                                </td>
                                {{#hasRowActionButtons}}
                                <td class="text-right">
                                    <div class="btn-group text-right">
                                        {{#rowActionButtons}}
                                        <a {{#blank}}target="_blank"{{/blank}} href="${ctx}{{menuUrl}}?no={{returnOrderNo}}" type="button" class="btn btn-default btn-xs {{class}}" data-no="{{returnOrderNo}}">{{text}}</a>
                                        {{/rowActionButtons}}
                                    </div>
                                </td>
                                {{/hasRowActionButtons}}
                            </tr>
                            {{/listData}}
                            {{^listData}}
                            <tr>
                                <td valign="top" colspan="14" class="text-center">无数据</td>
                            </tr>
                            {{/listData}}
                            {{/dataSource}}
                            </tbody>
                        </script>
                        <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                            #parse("component/pager.vm")
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
<script type="text/javascript">
    management_load_script('${staticManagement}/js',
            'manage.k3.return.order.handle.mixin.js',
            'manage.k3.return.order.js',
            'modal.submit.audit.js');
</script>
<script type="text/javascript">
    //功能事件初始化
    Rental.init();
    Layout.init();
    K3ReturnOrderManage.init();

    //UI效果初始化
    Core.init();
    Demo.init();
</script>

</body>
</html>