<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-订单管理-退货单列表-添加退货单</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
<div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            <form class="" id="addOrderForm">
                #parse("component/k3Manage/editReturnOrderContent.vm")
            </form>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
<script type="text/javascript">
    management_load_script('${staticManagement}/js',
            'manage.k3.return.order.mixin.js',
            'manage.k3.order.item.choose.modal.js',
            'modal.choose.customer.js',
            'modal.choose.customer.business.js',
//            'manage.order.item.render.js',
//            'manage.order.util.js',
            'manage.k3.return.order.add.js');
</script>
<script type="text/javascript">
    //功能事件初始化
    Rental.init();
    Layout.init();
    K3AddReturnOrder.init();

    //UI效果初始化
    Core.init();
    Demo.init();
</script>

</body>
</html>