<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-统计管理-日经营数据</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">

            #parse("component/loading.vm")

            <div class="panel panel-primary panel-border top">
                <div class="panel-menu p12">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="searchForm" class="form-horizontal">
                                <div class="section row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-2">
                                        <div class="form-group mn">
                                            <input type="hidden" name="createTime" id="createTime" />
                                            <div class="input-group date" id="createTimePicker">
                                                <input type="text" name="createTimeInput" id="createTimeInput" class="form-control input-sm bradiusL" autocomplete="off" placeholder="数据创建时间">
                                                <span class="input-group-addon cursor input-sm bradiusR"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="field form-group mn" >
                                            <select class="form-control input-sm bradius" name="subCompanyId" id="subCompanyId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="field form-group mn" >
                                            <select class="form-control input-sm bradius" name="statisticalDimension" id="statisticalDimension"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="field form-group mn" >
                                            <input type="text" name="salesmanName" id="salesmanName" class="form-control input-sm bradius" autocomplete="off" placeholder="业务员">
                                        </div>
                                    </div>
                                </div>
                                <hr class="short alt">
                                <div class="section row">
                                    <div class="col-md-12">
                                        <div class="pull-left">
                                            <script type="text/html" id="actionCommonButtonsTpl">
                                                <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                                                {{#acitonCommonButtons}}
                                                <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm {{class}}" title="{{menuName}}">
                                                    <i class="{{iClass}}"></i> {{text}}
                                                </a>
                                                {{/acitonCommonButtons}}
                                            </script>
                                            <div class="btn-group" id="actionCommonButtons">
                                                <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                                            </div>
                                        </div>
                                        <div class="pull-left ml10 hide" id="addTimeBox" style="width:200px; height:30px;">
                                            <div class="form-group mn">
                                                <input type="hidden" name="addTime" id="addTime" />
                                                <div class="input-group date" id="addTimePicker">
                                                    <input type="text" name="addTimeInput" id="addTimeInput" class="form-control input-sm bradiusL" autocomplete="off" placeholder="选择时间">
                                                    <span class="input-group-addon cursor input-sm bradiusR"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="pull-right mn mr5">
                                            <button type="submit" id="searchBtn" class="btn btn-primary btn-sm">查询</button>
                                            <button type="reset" class="btn btn-default btn-sm">重置</button>
                                        </div>

                                        <div class="pull-right mr10" style="width:200px; height:30px;">
                                            <div class="form-group mn">
                                                <input type="hidden" name="startTime" id="startTime" />
                                                <div class="input-group date" id="startTimePicker">
                                                    <input type="text" name="startTimeInput" id="startTimeInput" class="form-control input-sm bradiusL" autocomplete="off" placeholder="起始时间">
                                                    <span class="input-group-addon cursor input-sm bradiusR"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body pn">
                    <div class="table-responsive" style="overflow-x:scroll;">
                        <script type="text/html" id="dataListTpl">
                            <thead>
                            <tr class="bg-light">
                                <th class="nowrap" rowspan="2" style="line-height:78px;">分公司名称</th>
                                <th class="nowrap" rowspan="2" style="line-height:78px;">业务员</th>
                                <th class="nowrap" rowspan="2" style="line-height:78px;">统计维度</th>
                                <th class="text-center bg-system" colspan="7">长租</th>
                                <th class="text-center bg-warning" colspan="7">短租</th>
                                <th class="text-center bg-primary" colspan="7">短短租</th>
                                <th class="nowrap" rowspan="2" style="line-height:78px;">新增录入客户</th>
                                <th class="nowrap" rowspan="2" style="line-height:78px;">新增授信客户数</th>
                                <th class="nowrap text-center" rowspan="2" style="line-height:78px;">创建</th>
                            </tr>
                            <tr class="bg-light">
                                <th class="nowrap">新增台数</th>
                                <th class="nowrap text-system">新增租金</th>
                                <th class="nowrap">新增客户数</th>
                                <th class="nowrap">在租客户数</th>
                                <th class="nowrap">退货客户数</th>
                                <th class="nowrap">退货台数</th>
                                <th class="nowrap">在租台数</th>
                                <th class="nowrap">新增台数</th>
                                <th class="nowrap text-warning">新增租金</th>
                                <th class="nowrap">新增客户数</th>
                                <th class="nowrap">在租客户数</th>
                                <th class="nowrap">退货客户数</th>
                                <th class="nowrap">退货台数</th>
                                <th class="nowrap">在租台数</th>
                                <th class="nowrap">新增台数</th>
                                <th class="nowrap text-primary">新增租金</th>
                                <th class="nowrap">新增客户数</th>
                                <th class="nowrap">在租客户数</th>
                                <th class="nowrap">退货客户数</th>
                                <th class="nowrap">退货台数</th>
                                <th class="nowrap">在租台数</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#dataSource}}
                            {{#listData}}
                            <tr>
                                <td class="nowrap text-center">{{subCompanyName}}</td>
                                <td class="nowrap text-center">{{ownerName}}</td>
                                <td class="nowrap text-center">{{statisticalDimensionVal}}</td>
                                <td class="nowrap text-center">{{longRentIncreaseCount}}</td>
                                <td class="nowrap text-center text-system">￥{{#price}}{{longRentIncreaseAmount}}{{/price}}</td>
                                <td class="nowrap text-center">{{longRentIncreaseCustomerCount}}</td>
                                <td class="nowrap text-center">{{longRentRentingCustomerCount}}</td>
                                <td class="nowrap text-center">{{longRentReturnCustomerCount}}</td>
                                <td class="nowrap text-center">{{longRentReturnCount}}</td>
                                <td class="nowrap text-center">{{longRentRentingCount}}</td>
                                <td class="nowrap text-center">{{shortRentIncreaseCount}}</td>
                                <td class="nowrap text-center text-warning">￥{{#price}}{{shortRentIncreaseAmount}}{{/price}}</td>
                                <td class="nowrap text-center">{{shortRentIncreaseCustomerCount}}</td>
                                <td class="nowrap text-center">{{shortRentRentingCustomerCount}}</td>
                                <td class="nowrap text-center">{{shortRentReturnCustomerCount}}</td>
                                <td class="nowrap text-center">{{shortRentReturnCount}}</td>
                                <td class="nowrap text-center">{{shortRentRentingCount}}</td>
                                <td class="nowrap text-center">{{ultrashortRentIncreaseCount}}</td>
                                <td class="nowrap text-center text-primary">￥{{#price}}{{ultrashortRentIncreaseAmount}}{{/price}}</td>
                                <td class="nowrap text-center">{{ultrashortRentIncreaseCustomerCount}}</td>
                                <td class="nowrap text-center">{{ultrashortRentRentingCustomerCount}}</td>
                                <td class="nowrap text-center">{{ultrashortRentReturnCustomerCount}}</td>
                                <td class="nowrap text-center">{{ultrashortRentReturnCount}}</td>
                                <td class="nowrap text-center">{{ultrashortRentRentingCount}}</td>
                                <td class="nowrap text-center">{{increaseCustomerCount}}</td>
                                <td class="nowrap text-center">{{increaseRiskCustomerCount}}</td>
                                <td class="nowrap">
                                    <p class="mn">{{createUserRealName}}</p>
                                    <p class="mn mt5">{{#clockShorTime}}{{createTime}}{{/clockShorTime}}</p>
                                </td>
                            </tr>
                            {{/listData}}
                            {{^listData}}
                            <tr>
                                <td valign="top" colspan="28" class="text-center">无数据</td>
                            </tr>
                            {{/listData}}
                            {{/dataSource}}
                            </tbody>
                        </script>
                        <table class="table admin-form table-bordered theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                            #parse("component/pager.vm")
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
    <script type="text/javascript">
        management_load_script('${staticManagement}/js', 'manage.operate.day.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        DayOperateManage.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>

</body>
</html>