<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-统计管理-月经营数据</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">

            #parse("component/loading.vm")

            <div class="panel panel-primary panel-border top">
                <div class="panel-menu p12">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="searchForm" class="form-horizontal">
                                <div class="section row">
                                    <div class="col-md-2">
                                        <div class="form-group mn">
                                            <input type="hidden" name="createTime" id="createTime" />
                                            <div class="input-group date" id="createTimePicker">
                                                <input type="text" name="createTimeInput" id="createTimeInput" class="form-control input-sm bradiusL" autocomplete="off" placeholder="数据创建时间">
                                                <span class="input-group-addon cursor input-sm bradiusR"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="field form-group mn" >
                                            <select class="form-control input-sm bradius" name="subCompanyId" id="subCompanyId"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="field form-group mn" >
                                            <select class="form-control input-sm bradius" name="statisticalDimension" id="statisticalDimension"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="field form-group mn" >
                                            <input type="text" name="salesmanName" id="salesmanName" class="form-control input-sm bradius" autocomplete="off" placeholder="业务员">
                                        </div>
                                    </div>
                                </div>
                                <hr class="short alt">
                                <div class="section row">
                                    <div class="col-md-12">
                                        <div class="pull-left">
                                            <script type="text/html" id="actionCommonButtonsTpl">
                                                <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                                                {{#acitonCommonButtons}}
                                                <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm {{class}}" title="{{menuName}}">
                                                    <i class="{{iClass}}"></i> {{text}}
                                                </a>
                                                {{/acitonCommonButtons}}
                                            </script>
                                            <div class="btn-group" id="actionCommonButtons">
                                                <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                                            </div>
                                        </div>
                                        
                                        <div class="pull-right mn mr5">
                                            <button type="submit" id="searchBtn" class="btn btn-primary btn-sm">查询</button>
                                            <button type="reset" class="btn btn-default btn-sm">重置</button>
                                        </div>

                                        <div class="pull-right mr10" style="width:200px; height:30px;">
                                            <div class="form-group mn">
                                                <div class="input-group date">
                                                    <input type="text" name="startTimeInput" id="startTimeInput" class="form-control input-sm bradiusL" autocomplete="off" placeholder="起始时间">
                                                    <span class="input-group-addon cursor input-sm bradiusR"><i class="fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body pn">
                    <div class="table-responsive">
                        <script type="text/html" id="dataListTpl">
                            <thead>
                            <tr class="bg-light">
                                <th class="text-center">分公司名称</th>
                                <th class="text-center">业务员</th>
                                <th class="text-center">统计维度</th>
                                <th class="text-center">长租新增台数</th>
                                <th class="text-center text-system">长租新增租金</th>
                                <th class="text-center">长租新增客户</th>
                                <th class="text-center">短租新增台数</th>
                                <th class="text-center text-warning">短租新增租金</th>
                                <th class="text-center">短租新增客户</th>
                                <th class="text-center">短短租新增台数</th>
                                <th class="text-center text-primary">短短租新增租金</th>
                                <th class="text-center">短短租新增客户</th>
                                <th class="text-center">新增录入客户</th>
                                <th class="text-center">新增授信客户数</th>
                                <th class="text-center">统计开始时间</th>
                                <th class="text-center">统计结束时间</th>
                                <th class="text-center">创建</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#dataSource}}
                            {{#listData}}
                            <tr>
                                <td>{{subCompanyName}}</td>
                                <td>{{ownerName}}</td>
                                <td>{{statisticalDimensionVal}}</td>
                                <td class="text-center">{{longRentIncreaseCount}}</td>
                                <td class="text-center text-system">￥{{#price}}{{longRentIncreaseAmount}}{{/price}}</td>
                                <td class="text-center">{{longRentIncreaseCustomerCount}}</td>
                                <td class="text-center">{{shortRentIncreaseCount}}</td>
                                <td class="text-center text-warning">￥{{#price}}{{shortRentIncreaseAmount}}{{/price}}</td>
                                <td class="text-center">{{shortRentIncreaseCustomerCount}}</td>
                                <td class="text-center">{{ultrashortRentIncreaseCount}}</td>
                                <td class="text-center text-primary">￥{{#price}}{{ultrashortRentIncreaseAmount}}{{/price}}</td>
                                <td class="text-center">{{ultrashortRentIncreaseCustomerCount}}</td>
                                <td class="text-center">{{increaseCustomerCount}}</td>
                                <td class="text-center">{{increaseRiskCustomerCount}}</td>
                                <td class="text-center">{{#clockTime}}{{startStatisticsTime}}{{/clockTime}}</td>
                                <td class="text-center">{{#clockTime}}{{endStatisticsTime}}{{/clockTime}}</td>
                                <td class="nowrap">
                                    <p class="mn">{{createUserRealName}}</p>
                                    <p class="mn mt5">{{#clockShorTime}}{{createTime}}{{/clockShorTime}}</p>
                                </td>
                            </tr>
                            {{/listData}}
                            {{^listData}}
                            <tr>
                                <td valign="top" colspan="17" class="text-center">无数据</td>
                            </tr>
                            {{/listData}}
                            {{/dataSource}}
                            </tbody>
                        </script>
                        <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                            #parse("component/pager.vm")
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
    <script type="text/javascript" src="${staticCommon}assets/admin-tools/admin-forms/js/jquery-tcm-month.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js', 'manage.operate.month.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        MonthOperateManage.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>

</body>
</html>