<div id="editMaterialModalDialog" class="popup-basic popup-lg admin-form mfp-with-anim">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title"><i class="fa fa-pencil"></i>编辑物料型号</span>
        </div>
        <form id="editMaterialModalForm" description="编辑物料型号">
            <input type="hidden" name="userId" />
            <div class="panel-body p25">
                <div class="section row">
                    <div class="col-md-6">
                        <label for="userName" class="field-label">型号名称</label>
                        <label for="modelName" class="field prepend-icon">
                            <input type="text" name="modelName" id="modelName" class="gui-input required" placeholder="请输入物料名称" maxlength="20">
                            <label for="modelName" class="field-icon"><i class="fa fa-tag"></i>
                            </label>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label for="isActivated" class="field-label">物料类型</label>
                        <label class="field select">
                            <script type="text/html" id="materialTypeSelectTpl">
                                <option value="">请选择</option>
                                {{#materialType}}
                                <option value={{num}}>{{value}}</option>
                                {{/materialType}}
                            </script>
                            <select name="materialType" id="materialType" class="required">
                                <option value="">请选择</option>
                            </select>
                        </label>
                    </div>
                </div>
            ##                <div class="section row">
            ##                    <div class="col-md-12">
            ##                        <label for="username" class="field-label">备注</label>
            ##                        <label for="remark" class="field prepend-icon">
            ##                            <textarea class="gui-textarea" id="remark" name="remark" placeholder="请输入备注"></textarea>
            ##                            <label for="comment" class="field-icon"><i class="fa fa-comments"></i>
            ##                            </label>
            ##                        </label>
            ##                    </div>
            ##                </div>
            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="button btn-primary">确定</button>
                <button type="button" class="button btn-default cancelDialogButton">取消</button>
            </div>
        </form>
    </div>
</div>