<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-订单管理-订单列表-打印订单</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="invoice-page">
    #parse("layout/toolbox.vm")
    <div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">

            <div class="panel invoice-panel">
                <div class="panel-heading">
                    <span class="panel-title"><span class="glyphicon glyphicon-print"></span>打印订单</span>
                    <div class="panel-header-menu pull-right mr10">
                        <a href="javascript:window.print()" class="btn btn-xs btn-default btn-gradient mr5"> <i class="fa fa-print fs13"></i> </a>
                    </div>
                </div>
                <div class="panel-body" id="invoice-item">

                    <div class="row">
                        <div class="col-xs-4">
                            <img src="${staticCommon}rental/img/logos/logo.png" class="img-responsive pull-left mt10 mw200 " alt="凌雄租赁">
                        </div>
                        <div class="col-xs-4">
                            <div class="text-center">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <img src="" class="img-responsive pull-right" id="barcode" alt="凌雄租赁">
                        </div>
                    </div>
                    <script type="text/html" id="invoiceInofTpl">
                        {{#order}}
                        <div class="col-md-4">
                            <ul class="list-unstyled">
                                <li> <b class="mr5">订单编号：</b>{{orderNo}}</li>
                                <li> <b class="mr5">客户名称：</b>{{buyerCustomerName}}</li>
                                <li> <b class="mr5">联系方式：</b>{{orderConsignInfo.consigneePhone}}</li>
                                <li> <b class="mr5">客户地址：</b>{{orderConsignInfo.provinceName}}{{orderConsignInfo.cityName}}{{orderConsignInfo.districtName}}{{orderConsignInfo.address}}</li>
                            </ul>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <ul class="list-unstyled pull-right">
                                <li> <b>起租日期：</b>{{#time}}{{rentStartTime}}{{/time}}&nbsp;</li>
                                <li> <b>归还日期：</b>{{#time}}{{expectReturnTime}}{{/time}}&nbsp;</li>
                            </ul>
                        </div>
                        {{/order}}
                    </script>
                    <div class="row p15" id="invoice-info"></div>

                    <script type="text/html" id="dataListTpl">
                        <div class="col-md-12">
                            <h1>商品</h1>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>配置</th>
                                    <th>租赁类型</th>
                                    <th>租期</th>
                                    <th>租赁方案</th>
                                    <th>支付方式</th>
                                    <th>设备价值</th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th class="text-right pr10">应付金额</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#dataSource}}
                                    {{#listData}}
                                        <tr>
                                            <td>{{productName}}</td>
                                            <td>{{propertiesToStr}}</td>
                                            <td>{{rentTypeValue}}</td>
                                            <td>{{rentTimeLength}}</td>
                                            <td>{{rentalWay}}</td>
                                            <td>{{payModeValue}}</td>
                                            <td>￥{{#price}}{{skuPrice}}{{/price}}</td>
                                            <td>￥{{#price}}{{productUnitAmount}}{{/price}}</td>
                                            <td>{{productCount}}</td>
                                            <td class="text-right pr10">￥{{payPrice}}</td>
                                        </tr>
                                    {{/listData}}
                                {{/dataSource}}
                                </tbody>
                            </table>
                        </div>
                    </script>

                    <div class="row" id="dataListTable"></div>

                    <script type="text/html" id="materialDataListTpl">
                        <div class="col-md-12">
                            <h1>配件</h1>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>型号</th>
                                    <th>租赁类型</th>
                                    <th>租期</th>
                                    <th>租赁方案</th>
                                    <th>支付方式</th>
                                    <th>设备价值</th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th class="text-right pr10">应付金额</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#dataSource}}
                                {{#listData}}
                                <tr>
                                    <td>{{materialName}}</td>
                                    <td>{{materialTypeStr}}</td>
                                    <td>{{rentTypeValue}}</td>
                                    <td>{{rentTimeLength}}</td>
                                    <td>{{rentalWay}}</td>
                                    <td>{{payModeValue}}</td>
                                    <td>￥{{#price}}{{materialPrice}}{{/price}}</td>
                                    <td>￥{{#price}}{{materialUnitAmount}}{{/price}}</td>
                                    <td>{{materialCount}}</td>
                                    <td class="text-right pr10">￥{{payPrice}}</td>
                                </tr>
                                {{/listData}}
                                {{/dataSource}}
                                </tbody>
                            </table>
                        </div>
                    </script>

                    <div class="row" id="materialDataListTable"></div>

                    <div class="row" id="invoice-footer">
                        <div class="col-md-12">
                            <script type="text/html" id="orderAmountInfoTpl">
                                {{#order}}
                                <table class="table" id="invoice-summary">
                                    <thead>
                                        <tr>
                                            <th><b>授信押金:</b></th><th>{{#price}}{{totalCreditDepositAmount}}{{/price}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><b>设备总押金:</b></td><td>￥{{#price}}{{totalProductDepositAmount}}{{/price}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>租金总押金:</b></td><td>￥{{#price}}{{totalProductRentDepositAmount}}{{/price}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>商品总价:</b></td><td>￥{{#price}}{{totalProductAmount}}{{/price}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>配件总价:</b></td><td>￥{{#price}}{{totalMaterialAmount}}{{/price}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>保险金:</b></td><td>￥{{#price}}{{totalInsuranceAmount}}{{/price}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>运费:</b></td><td>￥{{#price}}{{logisticsAmount}}{{/price}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>优惠:</b></td><td>(-)￥{{#price}}{{totalDiscountAmount}}{{/price}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>总金额:</b></td><td>￥{{#price}}{{totalOrderAmount}}{{/price}}</td>
                                        </tr>
##                                        <tr>
##                                            <td><b>已支付:</b></td><td>￥{{#price}}{{totalPaidOrderAmount}}{{/price}}</td>
##                                        </tr>
                                    </tbody>
                                </table>
                                {{/order}}
                            </script>
                            <div class="pull-right" id="orderAmountInfo"></div>
                        </div>
                    </div>
                    <div class="row p15 pt30">
                        <div class="col-md-12">
                            <ul class="list-unstyled list-unstyled-print pull-left">
                                <li class="mb15"> <b class="mr5 pull-left">送货员：</b><span class="write-span">&nbsp;&nbsp;</span></li>
                                <li> <b class="mr5 mb15 pull-left" style="text-indent: 1rem;">日期：</b><span class="write-span">&nbsp;&nbsp;</span></li>
                            </ul>
                            <ul class="list-unstyled list-unstyled-print pull-right">
                                <li class="mb15"> <b class="mr5 pull-left">收货人：</b><span class="write-span">&nbsp;&nbsp;</span></li>
                                <li> <b class="mr5 pull-left" style="text-indent: 1rem;">日期：</b><span class="write-span">&nbsp;&nbsp;</span></li>
                            </ul>

                        </div>
##                        <div class="clearfix"></div>

                    </div>
                </div>
                <div class="panel-footer clearfix invoice-pannel-footer">
                    <div class="invoice-buttons">
                        <a href="javascript:window.print()" class="btn btn-default mr10"><i class="fa fa-print pr5"></i>打印</a>
                    </div>
                    <button class="btn btn-default pull-right ml15 goBack">返回</button>
                </div>
            </div>

        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")

    <script type="text/javascript" src="${staticCommon}vendor/plugins/jsBarcode/JsBarcode.all.min.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'manage.order.print.mixin.js',
                'manage.order.print.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();

        OrderPrint.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>
</body>
</html>