<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-订单管理-订单列表-订单详细</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            <form class="" id="orderDetailForm">
                <div class="panel panel-primary panel-border top mb15">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>订单编号：<small id="orderNo"></small></h5>
                            </div>
                            <div class="col-md-8 text-right">
                                <script type="text/html" id="actionButtonsTpl">
                                    {{#acitonButtons}}
                                    <a href="${ctx}{{menuUrl}}?no={{orderNo}}" class="btn btn-primary btn-sm ml5 bradius {{class}}" title="{{menuName}}" data-orderno="{{orderNo}}">
                                        <i class="{{iClass}}"></i> {{text}}
                                    </a>
                                    {{/acitonButtons}}
                                </script>
                                <div class="btn-group" id="actionButtons"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body mt15">
                        <div id="orderBaseInfo"></div>
                    </div>
                    <script type="text/html" id="orderBaseInfoTpl">
                        {{#order}}
                        <div class="row">
                            <div class="col-md-4">
                                <dl class="dl-horizontal dl-horizontal-rental">
                                    <dt class="mb5">销售员：</dt><dd>{{orderSellerName}}</dd>
                                    <dt class="mb5">订单归属：</dt><dd>{{orderSubCompanyName}}</dd>
                                    <dt class="mb5">创建日期：</dt><dd>{{#time}}{{createTime}}{{/time}}</dd>
                                </dl>
                            </div>
                            <div class="col-md-4">
                                <dl class="dl-horizontal dl-horizontal-rental">
                                    <dt class="mb5">支付日期：</dt><dd>{{#time}}{{payTime}}{{/time}}&nbsp;</dd>
                                    <dt class="mb5">发货日期：</dt><dd>{{#time}}{{deliveryTime}}{{/time}}&nbsp;</dd>
                                    <dt class="mb5">交货日期：</dt><dd>{{#time}}{{expectDeliveryTime}}{{/time}}&nbsp;</dd>
                                </dl>
                            </div>
                            <div class="col-md-4">
                                <dl class="dl-horizontal dl-horizontal-rental">
                                    <dt class="mb5">起租日期：</dt><dd>{{#time}}{{rentStartTime}}{{/time}}&nbsp;</dd>
                                    <dt class="mb5">预计归还：</dt><dd>{{#time}}{{expectReturnTime}}{{/time}}</dd>
                                    <dt class="mb5">实际归还：</dt><dd>{{#time}}{{actualReturnTime}}{{/time}}&nbsp;</dd>
                                </dl>
                            </div>
                        </div>
                        {{/order}}
                    </script>
                </div>

                <div class="panel">
                    <script type="text/html" id="orderDetailInfoTpl">
                        {{#order}}
                        <div class="dark">
                            <div class="row">
                                <div class="col-md-4">
                                    <h4>客户信息</h4>
                                    <dl class="dl-horizontal dl-horizontal-rental">
                                        <dt class="mb5">客户：</dt><dd>{{buyerCustomerName}}（客户编号：{{buyerCustomerNo}}）</dd>
                                        <dt class="mb5">备注：</dt><dd>{{remark}}</dd>
                                    </dl>
                                    <h4>收货地址</h4>
                                    <dl class="dl-horizontal dl-horizontal-rental">
                                        <dt class="mb5">收件人：</dt><dd>{{orderConsignInfo.consigneeName}}</dd>
                                        <dt class="mb5">地址：</dt><dd>{{orderConsignInfo.provinceName}}{{orderConsignInfo.cityName}}{{orderConsignInfo.districtName}}{{orderConsignInfo.address}}</dd>
                                        <dt class="mb5">手机号：</dt><dd>{{orderConsignInfo.consigneePhone}}</dd>
                                    </dl>
                                </div>
                                <div class="col-md-4 br-l">
                                    <h4 class="pl15">金额信息</h4>
                                    <dl class="dl-horizontal dl-horizontal-rental pl15">
                                        <dt class="mb10">税率：</dt>
                                        <dd>
                                            <em style="font-style: normal;" class="text-info mr5">17%:</em><em style="font-style: normal;" class="mr15">{{highTaxRate}}%</em>
                                            <em style="font-style: normal;" class="text-info mr5">6%:</em><em style="font-style: normal;">{{lowTaxRate}}%</em>
                                        </dd>
                                        <dt class="mb10">授信押金：</dt><dd>￥{{#price}}{{totalCreditDepositAmount}}{{/price}}（商品：￥{{#price}}{{totalProductCreditDepositAmount}}{{/price}}, 配件：￥{{#price}}{{totalMaterialCreditDepositAmount}}{{/price}}）</dd>
                                        <dt class="mb10">设备总押金：</dt><dd>￥{{#price}}{{totalDepositAmount}}{{/price}}（商品：{{#price}}{{totalProductDepositAmount}}{{/price}}, 配件：￥{{#price}}{{totalMaterialDepositAmount}}{{/price}}）</dd>
                                        <dt class="mb10">租金总押金：</dt><dd>￥{{#price}}{{totalRentDepositAmount}}{{/price}}（商品：￥{{#price}}{{totalProductRentDepositAmount}}{{/price}}, 配件：￥{{#price}}{{totalMaterialRentDepositAmount}}{{/price}}）</dd>
                                        <dt class="mb10">租金总价：</dt><dd>￥{{#price}}{{totalRentalAmoutFont}}{{/price}}（商品：￥{{#price}}{{totalProductAmount}}{{/price}}, 配件：￥{{#price}}{{totalMaterialAmount}}{{/price}}）</dd>
##                                        <dt class="mb10">配件总价：</dt><dd>￥{{#price}}{{totalMaterialAmount}}{{/price}}</dd>
                                        <dt class="mb10">运费：</dt><dd>￥{{#price}}{{logisticsAmount}}{{/price}}</dd>
                                        <dt class="mb10">应付总价：</dt><dd class="text-danger">￥{{#price}}{{totalOrderAmount}}{{/price}}</dd>
                                        <dt class="mb10">首付：</dt><dd class="text-danger">￥{{#price}}{{firstNeedPayAmount}}{{/price}}</dd>
                                        <dt class="mb10">已支付：</dt><dd class="text-danger">￥{{#price}}{{totalPaidOrderAmount}}{{/price}}</dd>

                                    </dl>
                                </div>
                                <div class="col-md-4 br-l">
                                    <h4 class="pl15">订单状态</h4>
                                    <div class="row pl30 mt15">
                                        <ul class="Rental-timeline">
                                            {{#orderTimeAxisTree}}
                                            <li class="Rental-timeline-item {{#isLastLine}}Rental-timeline-item-last{{/isLastLine}}">
                                                <div class="Rental-timeline-item-tail"></div>
                                                <div class="Rental-timeline-item-head {{inlineClass}}"></div>
                                                <div class="Rental-timeline-item-content"><span class="mr15">{{orderStatusValue}}</span><span>{{createTimeFormat}}</span></div>
                                            </li>
                                            {{/orderTimeAxisTree}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/order}}
                    </script>
                    <div class="panel-body" id="orderDetailInfo"></div>
                </div>

                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <ul class="nav panel-tabs-border panel-tabs panel-tabs-left orderItemTabs">
                                <li class="active">
                                    <a href="#purchaseOrderProductItems" data-toggle="tab">商品项</a>
                                </li>
                                <li>
                                    <a href="#purchaseOrderMaterialItems" data-toggle="tab">配件项</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body light pn">
                        <div class="tab-content pn br-n">
                            <div id="purchaseOrderProductItems" class="tab-pane tab-pane-order active">
                                <script type="text/html" id="pickingProductButtonsTpl">
                                    {{#hasActionButtons}}
                                    <div class="panel-menu p12 br-n br-b">
                                        <div class="row">
                                            <div class="pull-right ml10">
                                                <div class="btn-group actionCommonButtons" >
                                                    {{#acitonButtons}}
                                                    <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm ml5 bradius {{class}}" title="{{menuName}}" data-orderno="{{orderNo}}">
                                                        <i class="{{iClass}}"></i> {{text}}
                                                    </a>
                                                    {{/acitonButtons}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/hasActionButtons}}
                                </script>
                                <div id="pickingProductButtons"></div>
                                <div class="table-responsive">
                                    <script type="text/html" id="dataListTpl">
                                        <thead>
                                        <tr class="bg-light">
                                            <th>商品ID</th>
                                            <th>图片</th>
                                            <th>商品名称</th>
##                                            <th>列表价格</th>
                                            <th>SKU</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#dataSource}}
                                        {{#listData}}
                                        <tr class="productRow" productRowKey="{{productId}}">
                                            <td>{{productId}}</td>
                                            <td>
                                                <a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a>
                                            </td>
                                            <td class="br-r">{{productName}}</td>
##                                            <td class="br-r">{{listPriceFixed}}</td>
                                            <td class="pn">
                                                <table class="table">
                                                    {{#chooseSkuList}}
                                                    {{#skuList}}
                                                    <tr class="skuRow">
                                                        <td width="15%"><span class="badge {{isNewProductBadgeClass}} mr5">{{isNewProductValue}}</span>{{propertiesToStr}}</td>
                                                        <td>商品价值：￥{{#price}}{{skuPrice}}{{/price}}</td>
                                                        <td>
                                                            商品单价：{{productUnitAmount}}
                                                        </td>
                                                        <td>
                                                            数量：{{productCount}}
                                                        </td>
                                                        <td>
                                                            租赁类型：{{rentTypeValue}}
                                                        </td>
                                                        <td>
                                                            租期：{{rentTimeLength}}
                                                        </td>
##                                                        <td>
##                                                            保险金：{{insuranceAmount}}
##                                                        </td>
                                                        <td>
                                                            支付方式：{{payModeValue}}
                                                        </td>
                                                        <td class="text-right">
                                                            <div class="btn-group text-right">
                                                                <a href="#" type="button" class="btn btn-default btn-xs viewAffix" >查看配货信息</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="bg-light affixTr" style="height: 0;">
                                                        <td colspan="9" class="pn br-n" style="height:0;">
                                                            <div class="panel m15 affixPanel"  style="display: none;">
                                                                <div class="panel-heading pn ph8">
                                                                    <span>已配设备：设备编号列表</span>
                                                                </div>
                                                                <div class="panel-body pn">
                                                                    <table class="table">
                                                                        {{#orderProductEquipmentList}}
                                                                        <tr>
                                                                            <td class="br-r">{{equipmentNo}}</td>
                                                                        </tr>
                                                                        {{/orderProductEquipmentList}}
                                                                        {{^orderProductEquipmentList}}
                                                                        <tr>
                                                                            <td class="br-r">无配货信息</td>
                                                                        </tr>
                                                                        {{/orderProductEquipmentList}}
                                                                    </table>
                                                                </div>
                                                                <div class="panel-footer pn pv5 ph15">
                                                                    <div class="row">
                                                                        <button type="button" class="btn btn-default btn-xs pull-right hideAffixPanel">收起</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {{/skuList}}
                                                    {{/chooseSkuList}}
                                                </table>
                                            </td>
                                        </tr>
                                        {{/listData}}
                                        {{^listData}}
                                        <tr>
                                            <td valign="top" colspan="14" class="text-center">没有选择商品</td>
                                        </tr>
                                        {{/listData}}
                                        {{/dataSource}}
                                        </tbody>
                                    </script>
                                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                                </div>
                            </div>
                            <div id="purchaseOrderMaterialItems" class="tab-pane tab-pane-order">
                                <div class="table-responsive">
                                    <script type="text/html" id="materialDataListTpl">
                                        <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>名称</th>
                                            <th>类型</th>
                                            <th>本身价值</th>
                                            <th>租赁价格</th>
                                            <th>描述</th>
                                            <th>图片</th>
                                            <th>配件单价</th>
                                            <th>数量</th>
                                            <th>租赁类型</th>
                                            <th>租赁时长</th>
##                                            <th>保险金</th>
                                            <th>支付方式</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#dataSource}}
                                        {{#listData}}
                                        <tr class="materialRow">
                                            <td><span class="badge {{isNewMaterialBadgeClass}} mr5">{{isNewMaterialValue}}</span>{{materialNo}}</td>
                                            <td>{{materialName}}</td>
                                            <td>{{materialTypeStr}}</td>
                                            <td>{{materialPriceFormat}}</td>
                                            <td>
                                                <p>日租：￥{{dayRentPriceFormat}}</p>
                                                <p>月租：￥{{monthRentPriceFormat}}</p>
                                            </td>
                                            <td>{{materialDesc}}</td>
                                            <td><a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a></td>
                                            <td>
                                                {{materialUnitAmount}}
                                            </td>
                                            <td>
                                                {{materialCount}}
                                            </td>
                                            <td>
                                                {{rentTypeValue}}
                                            </td>
                                            <td>
                                                {{rentTimeLength}}
                                            </td>
##                                            <td>
##                                                {{insuranceAmount}}
##                                            </td>
                                            <td>
                                                {{payModeValue}}
                                            </td>
                                            <td>
                                                <div class="btn-group text-right">
                                                    {{#rowActionButtons}}
                                                    <a href="#" type="button" class="btn btn-default btn-xs {{class}}" data-materialno="{{materialNo}}" data-materialid="{{materialId}}" data-orderno="{{orderNo}}" data-materialcount="{{materialCount}}">{{text}}</a>
                                                    {{/rowActionButtons}}
                                                    <a href="#" type="button" class="btn btn-default btn-xs viewAffix" >查看配货信息</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="bg-light affixTr" style="height: 0;">
                                            <td colspan="14" class="pn br-n" style="height:0;">
                                                <div class="panel m15 affixPanel"  style="display: none;">
                                                    <div class="panel-heading pn ph8">
                                                        <span>已配散料：散料编号列表</span>
                                                    </div>
                                                    <div class="panel-body pn">
                                                        <table class="table">
                                                        ##                                                            <thead>
                                                        ##                                                            <tr>
                                                        ##                                                                <th>散料编号</th>
                                                        ##                                                            </tr>
                                                        ##                                                            </thead>
                                                            {{#orderMaterialBulkList}}
                                                            <tr class="materialRow" data-materialtype="{{materialType}}" data-skuid="{{skuId}}" data-productid="{{productId}}">
                                                                <td class="br-r">{{bulkMaterialNo}}</td>
                                                            </tr>
                                                            {{/orderMaterialBulkList}}
                                                            {{^orderMaterialBulkList}}
                                                            <tr class="materialRow" data-materialtype="{{materialType}}" data-skuid="{{skuId}}" data-productid="{{productId}}">
                                                                <td class="br-r">无配货信息</td>
                                                            </tr>
                                                            {{/orderMaterialBulkList}}
                                                        </table>
                                                    </div>
                                                    <div class="panel-footer pn pv5 ph15">
                                                        <div class="row">
                                                            <button type="button" class="btn btn-default btn-xs pull-right hideAffixPanel">收起</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/listData}}
                                        {{^listData}}
                                        <tr>
                                            <td valign="top" colspan="14" class="text-center">没有配件</td>
                                        </tr>
                                        {{/listData}}
                                        {{/dataSource}}
                                        </tbody>
                                    </script>
                                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="materialDataListTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <button class="btn btn-default pull-right ml15 goBack">返回</button>
                    </div>
                </div>
            </form>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'manage.order.mixin.js',
                'manage.order.handle.mixin.js',
                'manage.order.detail.js',
                'manage.order.item.render.js',
                'manage.order.util.js',
                'modal.submit.audit.js',
                'manage.order.picking.js',
                'modal.input.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();

        OrderDetail.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>
</body>
</html>