<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-订单管理-订单列表</title>
    #parse("layout/header.vm")
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="${staticCommon}/vendor/plugins/daterange/daterangepicker.css">
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
<div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            <form class="" id="editOrderForm">
                <div class="panel panel-primary panel-border top mb35">
                    <div class="panel-heading">
                        <span class="panel-title">基本信息</span>
                    </div>
                    <div class="form-horizontal panel-body bg-light dark">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group field">
                                    <label class="col-md-3 control-label">客户</label>
                                    <div class="col-md-9">
                                        <div class="input-group bringContainer">
                                            <input id="buyerCustomer" name="buyerCustomer" bringFiled="buyerCustomer" class="form-control required" type="text" readonly placeholder="请选择客户" />
                                            <span class="input-group-addon cursor chooseSupplier" id="chooseBusinessCustomer"><i class="fa fa-search mr5"></i>企业客户</span>
                                            <span class="input-group-addon cursor chooseSupplier" id="chooseCustomer"><i class="fa fa-search mr5"></i>个人客户</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group field">
                                    <label class="col-md-3 control-label" style="visibility: hidden;">收货地址</label>
                                    <div class="col-md-9">
                                        #parse("component/customer/address.vm")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group field">
                                    <label class="col-md-3 control-label">支付方式</label>
                                    <div class="col-md-9">
                                        <div>
                                            <select class="form-control required" name="payMode">
                                                <option value="">请选择</option>
                                                <option value="1">先用后付</option>
                                                <option value="2">现付后用</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group field">
                                    <label class="col-md-3 control-label">运费</label>
                                    <div class="col-md-9">
                                        <div>
                                            <input id="logisticsAmount" name="logisticsAmount" class="form-control moneyNumber" type="text" placeholder="请输入运费" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group field">
                                    <label class="col-md-3 control-label">起租日期</label>
                                    <div class="col-md-9">
                                        <div class="input-group date" id="createTimePicker">
                                            <input id="rentStartTime" name="rentStartTime" class="form-control required" type="text" autocomplete="off"  placeholder="请选择起租日期" />
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group field">
                                    <label class="col-md-3 control-label">购买人备注</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" id="buyerRemark" rows="3"  name="buyerRemark"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal panel-body bg-light dark">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group field">
                                    <label class="col-md-3 control-label">销售员</label>
                                    <div class="col-md-9">
                                        <div class="input-group bringContainer">
                                            <input id="orderSeller" name="orderSeller" bringFiled="orderSeller" class="form-control required" type="text" readonly placeholder="请选择销售员" />
                                            <span class="input-group-addon cursor" id="chooseSeller"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group field">
                                    <label class="col-md-3 control-label">订单所属公司</label>
                                    <div class="col-md-9">
                                        <div class="input-group bringContainer">
                                            <input id="orderSubCompany" name="orderSubCompany" bringFiled="orderSubCompany" class="form-control required" type="text" readonly placeholder="请选择订单所属公司" />
                                            <span class="input-group-addon cursor" id="chooseSubCompany"><i class="fa fa-search"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-heading">
                        <div class="row">
                            <ul class="nav panel-tabs-border panel-tabs">
                                <li class="active">
                                    <a href="#purchaseOrderProductItems" data-toggle="tab">商品项</a>
                                </li>
                                <li>
                                    <a href="#purchaseOrderMaterialItems" data-toggle="tab">物料项</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body dark pn">
                        <div class="tab-content pn br-n">
                            <div id="purchaseOrderProductItems" class="tab-pane active">
                                <div class="panel-menu p12 br-n br-b">
                                    <div class="row">
                                        <div class="pull-left ml10">
                                            <div class="btn-group" id="actionCommonButtons">
                                                <button type="button" class="btn btn-primary btn-sm" id="batchAddProduct" title="选择商品">
                                                    <i class="fa fa-plus"></i> 选择商品
                                                </button>
                                                <button type="button" class="btn btn-primary btn-sm" id="batchDeleteProduct" title="删除商品">
                                                    <i class="fa fa-trash-o"></i> 删除
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <script type="text/html" id="dataListTpl">
                                        <thead>
                                        <tr class="bg-light">
                                            <th>
                                                <label class="option block mn">
                                                    <input type="checkbox" name="checkAll" value="">
                                                    <span class="checkbox mn"></span>
                                                </label>
                                            </th>
                                            <th>商品ID</th>
                                            <th>图片</th>
                                            <th>商品名称</th>
                                            <th>列表价格</th>
                                            <th>SKU</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#dataSource}}
                                        {{#listData}}
                                        <tr class="productRow" productRowKey="{{productId}}">
                                            <td>
                                                <label class="option block mn">
                                                    <input type="checkbox" name="checkItem" value="{{productId}}">
                                                    <span class="checkbox mn"></span>
                                                </label>
                                            </td>
                                            <td>{{productId}}</td>
                                            <td>
                                                <a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a>
                                            </td>
                                            <td>{{productName}}</td>
                                            <td class="br-r">{{listPriceFixed}}</td>
                                            <td class="pn">
                                                <table class="table">
                                                    {{#chooseSkuList}}
                                                    {{#skuList}}
                                                    <tr class="skuRow">
                                                        <td width="15%">{{propertiesToStr}}</td>
                                                        <td>
                                                            <input type="hidden" name="skuId" value="{{productId}}" class="productId" />
                                                            <input type="hidden" name="skuId" value="{{skuId}}" class="productSkuId" />
                                                            <label class="field prepend-icon mw200">
                                                                <input type="text" name="productUnitAmount-{{skuId}}-{{rowKey}}" value="{{productUnitAmount}}" class="productUnitAmount form-control required moneyNumber" placeholder="输入商品单价" />
                                                                <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="field prepend-icon mw200">
                                                                <input type="text" name="productCount-{{skuId}}-{{rowKey}}" value="{{productCount}}" class="productCount form-control required number pl10" placeholder="输入租赁数量" />
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="field select">
                                                                <select name="rentType-{{skuId}}-{{rowKey}}" class="rentType required" style="min-width: 130px;">
                                                                    <option value="">选择租赁类型</option>
                                                                    {{#rentTypeList}}
                                                                    <option value="{{num}}" {{#selected}}selected{{/selected}}>{{value}}</option>
                                                                    {{/rentTypeList}}
                                                                </select>
                                                                <i class="arrow"></i>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="field prepend-icon mw200">
                                                                <input type="text" name="rentTimeLength-{{skuId}}-{{rowKey}}" value="{{rentTimeLength}}" class="rentTimeLength form-control required number pl10" placeholder="租赁时长" />
                                                            </label>
                                                        </td>
                                                        <td>
                                                            <label class="field prepend-icon mw200">
                                                                <input type="text" name="insuranceAmount-{{skuId}}-{{rowKey}}" value="{{insuranceAmount}}" class="insuranceAmount form-control required moneyNumber" placeholder="输入保险金额" />
                                                                <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                                            </label>
                                                        </td>
                                                        <td class="text-right">
                                                            <div class="btn-group text-right">
                                                                <a href="#" type="button" class="btn btn-default btn-xs deleteSKUButton" data-skuid="{{skuId}}" data-productid="{{productId}}">删除</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {{/skuList}}
                                                    {{/chooseSkuList}}
                                                </table>
                                            </td>
                                        </tr>
                                        {{/listData}}
                                        {{^listData}}
                                        <tr>
                                            <td valign="top" colspan="14" class="text-center">没有选择商品</td>
                                        </tr>
                                        {{/listData}}
                                        {{/dataSource}}
                                        </tbody>
                                    </script>
                                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                                </div>
                            </div>
                            <div id="purchaseOrderMaterialItems" class="tab-pane">
                                <div class="panel-menu p12 br-n br-b">
                                    <div class="row">
                                        <div class="pull-left ml10">
                                            <div class="btn-group" id="actionCommonButtons">
                                                <button type="button" class="btn btn-primary btn-sm" id="batchAddMaterial" title="选择物料">
                                                    <i class="fa fa-plus"></i> 选择物料
                                                </button>
                                                <button type="button" class="btn btn-primary btn-sm" id="batchDeleteMaterial" title="删除物料">
                                                    <i class="fa fa-trash-o"></i> 删除
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <script type="text/html" id="materialDataListTpl">
                                        <thead>
                                        <tr>
                                            <th>
                                                <label class="option block mn">
                                                    <input type="checkbox" name="checkAll" value="">
                                                    <span class="checkbox mn"></span>
                                                </label>
                                            </th>
                                            <th>编号</th>
                                            <th>名称</th>
                                            <th>类型</th>
                                            <th>本身价值</th>
                                            <th>租赁价格</th>
                                            <th>描述</th>
                                            <th>图片</th>
                                            <th>物料单价</th>
                                            <th>数量</th>
                                            <th>租赁类型</th>
                                            <th>租赁时长</th>
                                            <th>保险金</th>
                                            <th class="text-right">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#dataSource}}
                                        {{#listData}}
                                        <tr class="materialRow">
                                            <td>
                                                <label class="option block mn">
                                                    <input type="checkbox" name="checkItem" value="{{materialNo}}">
                                                    <span class="checkbox mn"></span>
                                                </label>
                                            </td>
                                            <td>{{materialNo}}</td>
                                            <td>{{materialName}}</td>
                                            <td>{{materialTypeStr}}</td>
                                            <td>{{materialPriceFormat}}</td>
                                            <td>
                                                <p>次租：￥{{timeRentPriceFormat}}</p>
                                                <p>日租：￥{{dayRentPriceFormat}}</p>
                                                <p>月租：￥{{monthRentPriceFormat}}</p>
                                            </td>
                                            <td>{{materialDesc}}</td>
                                            <td><a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a></td>
                                            <td>
                                                <label class="field prepend-icon mw200">
                                                    <input type="hidden" name="materialNo" value="{{materialNo}}" class="materialNo" />
                                                    <input type="hidden" name="materialId" value="{{materialId}}" class="materialId" />
                                                    <input type="text" name="materialUnitAmount-{{materialNo}}" value="{{materialUnitAmount}}" class="materialUnitAmount form-control required moneyNumber" placeholder="输入物料单价" />
                                                    <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="field prepend-icon mw200">
                                                    <input type="text" name="materialCount-{{materialNo}}" value="{{materialCount}}" class="materialCount form-control required number pl10" placeholder="输入租赁数量" />
                                                </label>
                                            </td>
                                            <td>
                                                <label class="field select">
                                                    <select name="rentType-{{materialNo}}" class="rentType required" style="min-width: 130px;">
                                                        <option value="">选择租赁类型</option>
                                                        {{#rentTypeList}}
                                                        <option value="{{num}}" {{#selected}}selected{{/selected}}>{{value}}</option>
                                                        {{/rentTypeList}}
                                                    </select>
                                                    <i class="arrow"></i>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="field prepend-icon mw200">
                                                    <input type="text" name="rentTimeLength-{{materialNo}}" value="{{rentTimeLength}}" class="rentTimeLength form-control required number pl10" placeholder="租赁时长" />
                                                </label>
                                            </td>
                                            <td>
                                                <label class="field prepend-icon mw200">
                                                    <input type="text" name="insuranceAmount-{{materialNo}}" value="{{insuranceAmount}}" class="insuranceAmount form-control required moneyNumber" placeholder="输入保险金" />
                                                    <label for="listPrice" class="field-icon"><i class="fa fa-jpy"></i></label>
                                                </label>
                                            </td>
                                            <td class="text-right">
                                                <div class="btn-group text-right">
                                                    <a href="#" type="button" class="btn btn-default btn-xs delMaterialButton" data-materialno="{{materialNo}}">删除</a>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/listData}}
                                        {{^listData}}
                                        <tr>
                                            <td valign="top" colspan="14" class="text-center">没有选择物料</td>
                                        </tr>
                                        {{/listData}}
                                        {{/dataSource}}
                                        </tbody>
                                    </script>
                                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="materialDataListTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <button class="btn btn-default pull-right ml15 goback">返回</button>
                        <button class="btn btn-primary pull-right">创建</button>
                    </div>
                </div>
            </form>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
<script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/moment.min.js"></script>
<script type="text/javascript" src="${staticCommon}/vendor/plugins/daterange/daterangepicker.js"></script>
<script type="text/javascript">
    management_load_script('${staticManagement}/js',
            'manage.order.mixin.js',
            'manage.order.edit.js',
            'modal.choose.product.js',
            'modal.choose.material.js',
            'modal.choose.customer.js',
            'modal.choose.customer.business.js',
            'modal.choose.user.js',
            'modal.choose.company.js',
            'manage.order.item.render.js',
            'manage.order.util.js',
            'manage.customer.address.js',
            'manage.customer.address.add.js',
            'manage.customer.address.edit.js');
</script>
<script type="text/javascript">
    //功能事件初始化
    Rental.init();
    Layout.init();

    EditOrder.init();

    //UI效果初始化
    Core.init();
    Demo.init();
</script>

</body>
</html>