<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-订单管理-订单列表-订单详细</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
    #parse("layout/navbar.vm")
    #parse("layout/sidebar.vm")

    <section id="content_wrapper">
        #parse("layout/topbarDropmenu.vm")
        #parse("layout/topbar.vm")
        <section id="content" class="animated fadeIn">
            <form class="" id="orderDetailForm">
                <div class="panel panel-primary panel-border top mb35">
##                    <div class="panel-heading">
##                        <span class="panel-title">基本信息</span>
##                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h5>订单编号：<small id="orderNo"></small></h5>
                            </div>
                            <div class="col-md-8 text-right">
                                <script type="text/html" id="actionButtonsTpl">
                                    {{#acitonButtons}}
                                        {{#showButton}}
                                        <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm ml5 bradius {{class}}" title="{{menuName}}" data-orderno="{{orderNo}}">
                                            <i class="{{iClass}}"></i> {{text}}
                                        </a>
                                        {{/showButton}}
                                    {{/acitonButtons}}
                                </script>

                                <div class="btn-group" id="actionButtons"></div>
                            </div>
                        </div>
                    </div>
                    <script type="text/html" id="orderBaseInfoTpl">
                        {{#order}}
                        <div class="form-horizontal panel-body bg-light dark">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">客户</label>
                                        <div class="col-md-9">
                                            <p class="form-control-static text-muted">{{buyerCustomerName}}（客户编号：{{buyerCustomerNo}}）</p>
                                        </div>
                                    </div>
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">备注</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{buyerRemark}}</p></div>
                                    </div>
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label" style="visibility: hidden;">收货地址</label>
                                        <div class="col-md-9">
                                            <div class="panel">
                                                <div class="panel-heading">
                                                    <span class="panel-icon"><i class="glyphicon glyphicon-map-marker"></i></span>
                                                    <span class="panel-title">收货地址</span>
                                                </div>
                                                <div class="panel-body pb5 admin-form">
                                                    <div class="well">
                                                        <address class="mn">
                                                            <strong>{{orderConsignInfo.consigneeName}}</strong>
                                                            <br>
                                                            {{orderConsignInfo.provinceName}}{{orderConsignInfo.cityName}}{{orderConsignInfo.districtName}}{{orderConsignInfo.address}}
                                                            <br>
                                                            <abbr title="手机号" class="fa fa-mobile-phone">：</abbr>{{orderConsignInfo.consigneePhone}}
                                                        </address>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">订单状态</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{orderStatusValue}}</p></div>
                                    </div>
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">起租日期</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{rentStartTimeFormat}}&nbsp;</p></div>
                                    </div>
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">支付时间</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{payTimeFormat}}&nbsp;</p></div>
                                    </div>
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">发货时间</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{deliveryTimeFormat}}&nbsp;</p></div>
                                    </div>
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">确认收货</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{confirmDeliveryTimeFormat}}&nbsp;</p></div>
                                    </div>
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">预计归还</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{expectReturnTimeFormat}}&nbsp;</p></div>
                                    </div>
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">实际归还</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{actualReturnTimeFormat}}&nbsp;</p></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal panel-body bg-light dark">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">销售员</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{orderSellerName}}</p></div>
                                    </div>
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">订单所属公司</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{orderSubCompanyName}}</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal panel-body bg-light dark">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">押金</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{totalDepositAmountFormat}}&nbsp;</p></div>
                                    </div>
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">授信押金</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{totalCreditDepositAmountFormat}}&nbsp;</p></div>
                                    </div>
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">保险金</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{totalInsuranceAmountFormat}}&nbsp;</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal panel-body bg-light dark">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">商品总数</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{totalProductCount}}&nbsp;</p></div>
                                    </div>
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">商品总价</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{totalProductAmountFormat}}&nbsp;</p></div>
                                    </div>
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">实际支付</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{totalOrderAmountFormat}}&nbsp;</p></div>
                                    </div>
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">共计优惠</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{totalDiscountAmountFormat}}&nbsp;</p></div>
                                    </div>
                                    <div class="form-group field mbn">
                                        <label class="col-md-3 control-label">运费</label>
                                        <div class="col-md-9"><p class="form-control-static text-muted">{{logisticsAmountFormat}}&nbsp;</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/order}}
                    </script>
                    <div id="orderBaseInfo"></div>
                    <div class="panel-heading">
                        <div class="row">
                            <ul class="nav panel-tabs-border panel-tabs">
                                <li class="active">
                                    <a href="#purchaseOrderProductItems" data-toggle="tab">商品项</a>
                                </li>
                                <li>
                                    <a href="#purchaseOrderMaterialItems" data-toggle="tab">物料项</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body dark pn">
                        <div class="tab-content pn br-n">
                            <div id="purchaseOrderProductItems" class="tab-pane active">
                                <div class="panel-menu p12 br-n br-b">
                                    <div class="row">
                                        <div class="pull-left ml10">
                                            <script type="text/html" id="pickingProductButtonsTpl">
                                                {{#acitonButtons}}
                                                {{#showButton}}
                                                <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm ml5 bradius {{class}}" title="{{menuName}}" data-orderno="{{orderNo}}">
                                                    <i class="{{iClass}}"></i> {{text}}
                                                </a>
                                                {{/showButton}}
                                                {{/acitonButtons}}
                                            </script>
                                            <div class="btn-group actionCommonButtons" id="pickingProductButtons"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <script type="text/html" id="dataListTpl">
                                        <thead>
                                        <tr class="bg-light">
                                            <th>商品ID</th>
                                            <th>图片</th>
                                            <th>商品名称</th>
                                            <th>列表价格</th>
                                            <th>SKU</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#dataSource}}
                                        {{#listData}}
                                        <tr class="productRow" productRowKey="{{productId}}">
                                            <td>{{productId}}</td>
                                            <td>
                                                <a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a>
                                            </td>
                                            <td>{{productName}}</td>
                                            <td class="br-r">{{listPriceFixed}}</td>
                                            <td class="pn">
                                                <table class="table">
                                                    {{#chooseSkuList}}
                                                    {{#skuList}}
                                                    <tr class="skuRow">
                                                        <td width="15%">{{propertiesToStr}}</td>
                                                        <td>
                                                            商品单价：{{productUnitAmount}}
                                                        </td>
                                                        <td>
                                                            数量：{{productCount}}
                                                        </td>
                                                        <td>
                                                            租赁类型：{{rentTypeValue}}
                                                        </td>
                                                        <td>
                                                            租期：{{rentTimeLength}}
                                                        </td>
                                                        <td>
                                                            保险金：{{insuranceAmount}}
                                                        </td>
                                                        <td>
                                                           支付方式：{{payModeValue}}
                                                        </td>
                                                        <td class="text-right">
                                                            <div class="btn-group text-right">
                                                                <a href="#" type="button" class="btn btn-default btn-xs viewAffix" >查看配货信息</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="bg-light affixTr" style="height: 0;">
                                                        <td colspan="8" class="pn br-n" style="height:0;">
                                                            <div class="panel m15 affixPanel"  style="display: none;">
                                                                <div class="panel-heading pn ph8">
                                                                    <span>已配设备：设备编号列表</span>
                                                                </div>
                                                                <div class="panel-body pn">
                                                                    <table class="table">
##                                                                        <thead>
##                                                                            <tr>
##                                                                                <th>设备号</th>
##                                                                            </tr>
##                                                                        </thead>
                                                                        {{#orderProductEquipmentList}}
                                                                        <tr class="materialRow" data-materialtype="{{materialType}}" data-skuid="{{skuId}}" data-productid="{{productId}}">
                                                                            <td class="br-r">{{equipmentNo}}</td>
                                                                        </tr>
                                                                        {{/orderProductEquipmentList}}
                                                                        {{^orderProductEquipmentList}}
                                                                        <tr class="materialRow" data-materialtype="{{materialType}}" data-skuid="{{skuId}}" data-productid="{{productId}}">
                                                                            <td class="br-r">无配货信息</td>
                                                                        </tr>
                                                                        {{/orderProductEquipmentList}}
                                                                    </table>
                                                                </div>
                                                                <div class="panel-footer pn pv5 ph15">
                                                                    <div class="row">
                                                                        <button type="button" class="btn btn-default btn-xs pull-right hideAffixPanel">收起</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    {{/skuList}}
                                                    {{/chooseSkuList}}
                                                </table>
                                            </td>
                                        </tr>
                                        {{/listData}}
                                        {{^listData}}
                                        <tr>
                                            <td valign="top" colspan="14" class="text-center">没有选择商品</td>
                                        </tr>
                                        {{/listData}}
                                        {{/dataSource}}
                                        </tbody>
                                    </script>
                                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                                </div>
                            </div>
                            <div id="purchaseOrderMaterialItems" class="tab-pane">
                                <div class="table-responsive">
                                    <script type="text/html" id="materialDataListTpl">
                                        <thead>
                                        <tr>
                                            <th>编号</th>
                                            <th>名称</th>
                                            <th>类型</th>
                                            <th>本身价值</th>
                                            <th>租赁价格</th>
                                            <th>描述</th>
                                            <th>图片</th>
                                            <th>物料单价</th>
                                            <th>数量</th>
                                            <th>租赁类型</th>
                                            <th>租赁时长</th>
                                            <th>保险金</th>
                                            <th>支付方式</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#dataSource}}
                                        {{#listData}}
                                        <tr class="materialRow">
                                            <td>{{materialNo}}</td>
                                            <td>{{materialName}}</td>
                                            <td>{{materialTypeStr}}</td>
                                            <td>{{materialPriceFormat}}</td>
                                            <td>
                                                <p>日租：￥{{dayRentPriceFormat}}</p>
                                                <p>月租：￥{{monthRentPriceFormat}}</p>
                                            </td>
                                            <td>{{materialDesc}}</td>
                                            <td><a class="productImg open-img-popup" data-imgs={{productImgJSON}}><img src="{{mainImg}}" /></a></td>
                                            <td>
                                                {{materialUnitAmount}}
                                            </td>
                                            <td>
                                                {{materialCount}}
                                            </td>
                                            <td>
                                                {{rentTypeValue}}
                                            </td>
                                            <td>
                                                {{rentTimeLength}}
                                            </td>
                                            <td>
                                                {{insuranceAmount}}
                                            </td>
                                            <td>
                                                {{payModeValue}}
                                            </td>
                                           <td>
                                               <div class="btn-group text-right">
                                                   {{#rowActionButtons}}
                                                   <a href="#" type="button" class="btn btn-default btn-xs {{class}}" data-materialno="{{materialNo}}" data-materialid="{{materialId}}" data-orderno="{{orderNo}}" data-materialcount="{{materialCount}}">{{text}}</a>
                                                   {{/rowActionButtons}}
                                                   <a href="#" type="button" class="btn btn-default btn-xs viewAffix" >查看配货信息</a>
                                               </div>
                                           </td>
                                        </tr>
                                        <tr class="bg-light affixTr" style="height: 0;">
                                            <td colspan="14" class="pn br-n" style="height:0;">
                                                <div class="panel m15 affixPanel"  style="display: none;">
                                                    <div class="panel-heading pn ph8">
                                                        <span>已配散料：散料编号列表</span>
                                                    </div>
                                                    <div class="panel-body pn">
                                                        <table class="table">
##                                                            <thead>
##                                                            <tr>
##                                                                <th>散料编号</th>
##                                                            </tr>
##                                                            </thead>
                                                            {{#orderMaterialBulkList}}
                                                            <tr class="materialRow" data-materialtype="{{materialType}}" data-skuid="{{skuId}}" data-productid="{{productId}}">
                                                                <td class="br-r">{{bulkMaterialNo}}</td>
                                                            </tr>
                                                            {{/orderMaterialBulkList}}
                                                            {{^orderMaterialBulkList}}
                                                            <tr class="materialRow" data-materialtype="{{materialType}}" data-skuid="{{skuId}}" data-productid="{{productId}}">
                                                                <td class="br-r">无配货信息</td>
                                                            </tr>
                                                            {{/orderMaterialBulkList}}
                                                        </table>
                                                    </div>
                                                    <div class="panel-footer pn pv5 ph15">
                                                        <div class="row">
                                                            <button type="button" class="btn btn-default btn-xs pull-right hideAffixPanel">收起</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/listData}}
                                        {{^listData}}
                                        <tr>
                                            <td valign="top" colspan="14" class="text-center">没有物料</td>
                                        </tr>
                                        {{/listData}}
                                        {{/dataSource}}
                                        </tbody>
                                    </script>
                                    <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="materialDataListTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <button class="btn btn-default pull-right ml15 goBack">返回</button>
##                        <button class="btn btn-primary pull-right">保存</button>
                    </div>
                </div>
            </form>
        </section>
    </section>

    #parse("layout/sidebarRight.vm")
</div>
    #parse("layout/footer.vm")
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'manage.order.mixin.js',
                'manage.order.handle.mixin.js',
                'manage.order.detail.js',
                'manage.order.item.render.js',
                'manage.order.util.js',
                'modal.submit.audit.js',
                'manage.order.picking.js',
                'modal.input.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();

        OrderDetail.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>
</body>
</html>