<!DOCTYPE html>
<html>
<head>
    <title>凌雄ERP-订单管理-订单列表</title>
    #parse("layout/header.vm")
    #parse("layout/theme.vm")
    <link rel="stylesheet" type="text/css" href="${staticCommon}vendor/plugins/viewer/viewer.min.css">
</head>
<body class="blank-page">
    #parse("layout/toolbox.vm")
    <div id="main">
        #parse("layout/navbar.vm")
        #parse("layout/sidebar.vm")

        <section id="content_wrapper">
            #parse("layout/topbarDropmenu.vm")
            #parse("layout/topbar.vm")
            <section id="content" class="animated fadeIn">

                #parse("component/loading.vm")

                <div class="panel panel-primary panel-border top">
                    <div class="panel-menu p12">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="searchForm" class="form-horizontal">
                                    <div class="section row">
                                        <div class="col-md-12">
                                            <div class="col-md-2">
                                                <div class="field form-group mn" >
                                                    <input type="text" name="orderSellerName" id="orderSellerName" class="form-control input-sm bradius" autocomplete="off" placeholder="输入业务员姓名">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="field form-group mn">
                                                    <input type="text" name="buyerRealName" id="buyerRealName" class="form-control input-sm bradius" autocomplete="off" placeholder="输入客户姓名">
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="field form-group mn">
                                                    <div class="input-group" style="width: 100%">
                                                        <select class="form-control input-sm bradius" name="deliverySubCompanyId" id="deliverySubCompanyId">
                                                            <option value="">请选择</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="input-group mn" style="width: 100%">
                                                    <select class="form-control input-sm bradius" name="subCompanyId" id="subCompanyId">
                                                        <option value="">请选择</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="field form-group mn">
                                                    <div class="input-group" style="width: 100%">
                                                        <select class="form-control input-sm bradius" name="rentType" id="rentType">
                                                            <option value="">请选择</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group mn">
                                                    <input type="text" name="orderNo" id="orderNo" class="form-control input-sm bradius" autocomplete="off" placeholder="输入订单编号">
                                                </div>
                                            </div>
                                            <div class="hide">
                                                <div class="form-group mn">
                                                    <input type="text" name="isCanReletOrder" id="isCanReletOrder" class="form-control input-sm bradius" autocomplete="off">
                                                </div>
                                            </div>
##                                            <div class="hide">
##                                                <div class="form-group mn">
##                                                    <input type="text" name="orderStatus" id="orderStatus" class="form-control input-sm bradius" autocomplete="off">
##                                                </div>
##                                            </div>
                                        </div>
                                    </div>
                                    <div class="section row mt15">
                                        <div class="col-md-12">
                                            <div class="col-md-2">
                                                <div class="form-group mn">
                                                    <input type="hidden" name="startRentStartTime" id="startRentStartTime" />
                                                    <input type="hidden" name="endRentStartTime" id="endRentStartTime" />
                                                    <div class="input-group date" id="rentTimePicker">
                                                        <input type="text" name="rentTimePicker" id="rentTimePickerInput" class="form-control input-sm bradiusL" autocomplete="off" placeholder="起租时间">
                                                        <span class="input-group-addon cursor input-sm bradiusR"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group mn">
                                                    <input type="hidden" name="createStartTime" id="createStartTime" />
                                                    <input type="hidden" name="createEndTime" id="createEndTime" />
                                                    <div class="input-group date" id="createTimePicker">
                                                        <input type="text" name="createTimePicker" id="createTimePickerInput" class="form-control input-sm bradiusL" autocomplete="off" placeholder="选择下单时间">
                                                        <span class="input-group-addon cursor input-sm bradiusR"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="field form-group mn">
                                                    <div class="input-group" style="width: 100%">
                                                        <select class="form-control input-sm bradius" name="payStatus" id="payStatus">
                                                            <option value="">请选择</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="field form-group mn">
                                                    <div class="input-group" style="width: 100%">
                                                        <select class="form-control input-sm bradius" name="isReturnOverDue" id="isReturnOverDue">
                                                            <option value="">请选择</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="field form-group mn">
                                                    <div class="pull-left" style="width: 100%">
                                                        <div class="ib topbar-dropdown bradius multiple-box">
                                                            <select id="orderStatusList" multiple="multiple" name="orderStatusList" data-type="optgroup">
                                                                <optgroup label="请选择:">
                                                                    <option value="">全部（订单状态）</option>
                                                                </optgroup>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="field form-group mn">
                                                    <div class="input-group" style="width: 100%">
                                                        <select class="form-control input-sm bradius" name="isReletOrder" id="isReletOrder">
                                                            <option value="">是否为续租单</option>
                                                            <option value="1">是</option>
                                                            <option value="0">否</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="section row mt15">
                                        <div class="col-md-12">
                                            <div class="col-md-2">
                                                <div class="form-group mn">
                                                    <input type="hidden" name="startExpectDeliveryTime" id="startExpectDeliveryTime" />
                                                    <input type="hidden" name="endExpectDeliveryTime" id="endExpectDeliveryTime" />
                                                    <div class="input-group date" id="deliveryTimePicker">
                                                        <input type="text" name="deliveryTimePicker" id="deliveryTimePickerInput" class="form-control input-sm bradiusL" autocomplete="off" placeholder="送货时间">
                                                        <span class="input-group-addon cursor input-sm bradiusR"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group mn">
                                                    <input type="text" name="createName" id="createName" class="form-control input-sm bradius" autocomplete="off" placeholder="输入创建人">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="short alt">
                                    <div class="section row">
                                        <div class="col-md-12">
                                            <div class="pull-left ml15" style="position:absolute; bottom: 0; left:0; z-index:99;">
                                                <script type="text/html" id="actionCommonButtonsTpl">
                                                    <button type="button" class="btn btn-primary btn-sm refreshButton" title="刷新"><i class="fa fa-refresh"></i></button>
                                                    {{#acitonCommonButtons}}
                                                    <a href="${ctx}{{menuUrl}}" class="btn btn-primary btn-sm {{class}}" title="{{menuName}}">
                                                        <i class="{{iClass}}"></i> {{text}}
                                                    </a>
                                                    {{/acitonCommonButtons}}
                                                </script>

                                                <div class="btn-group" id="actionCommonButtons"></div>
                                            </div>
                                            <div class="pull-right mn mr15">
                                                <button type="submit" class="btn btn-primary btn-sm">查询</button>
                                                <button type="reset" class="btn btn-default btn-sm">重置</button>
                                                <button type="button" id="recycleBtn" class="btn btn-default btn-sm">回收站</button>
                                                <input type="hidden" name="isRecycleBin" id="isRecycleBin" value="0">
                                                <input type="hidden" name="warehouseWorkbenchOrderType" id="warehouseWorkbenchOrderType" value="">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="panel-body pn">
                        <div class="table-responsive">
                            <script type="text/html" id="dataListTpl">
                                <thead>
                                    <tr class="bg-light">
                                        <th class="nowrap">编号</th>
                                        <th class="nowrap">订单归属</th>
                                        <th class="nowrap">客户名称</th>
                                        <th class="nowrap">收货人信息</th>
                                        <th class="nowrap">类型/期限</th>
                                        <th class="nowrap">商品名称</th>
                                        <th class="nowrap">订单金额</th>
                                        <th class="nowrap">发货公司</th>
                                        <th class="nowrap">送货日期</th>
                                        <th class="nowrap">业务员</th>
                                        <th class="nowrap">创建人</th>
                                        <th class="nowrap">支付状态</th>
                                        <th class="nowrap">订单状态</th>
##                                        <th>备注</th>
                                        {{#hasRowActionButtons}}
                                        <th class="text-right">操作</th>
                                        {{/hasRowActionButtons}}
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#dataSource}}
                                        {{#listData}}
                                        <tr class="{{trClass}}">
                                            <td>
                                                {{#isK3Order}}
                                                <span class="label label-dark" title="K3订单">K3</span>
                                                {{/isK3Order}}
                                                {{#isReletOrder}}
                                                <span class="label label-primary" title="续租单">续</span>
                                                {{/isReletOrder}}
                                                <a href="{{detailUrl}}" target="_blank">{{orderNo}}</a>
                                            </td>
                                            <td class="nowrap">{{orderSubCompanyName}}</td>
                                            <td><a href="{{customerUrl}}" target="_blank">{{buyerCustomerName}}</a></td>
                                            <td>
                                                <p class="mn">{{orderConsignInfo.consigneeName}}</p>
                                                <p class="mn mt5 mn"><i class="fa fa-mobile mr5"></i>{{orderConsignInfo.consigneePhone}}</p>
                                                <p class="mn mt5 mw200"><i class="fa fa-map-marker mr5"></i>{{orderConsignInfo.provinceName}}{{orderConsignInfo.cityName}}{{orderConsignInfo.districtName}}{{orderConsignInfo.address}}</p>
                                            </td>
                                            <td>
                                                <p class="mn" style="white-space: nowrap;">{{rentTypeValue}}</p>
                                                <p class="mn mt5" style="white-space: nowrap;">{{rentTimeLength}}{{rentTypeUnit}}</p>
                                            </td>
                                            <td>{{productSummary}}</td>
                                            <td>￥{{#price}}{{totalOrderAmount}}{{/price}}</td>
                                            <td class="nowrap">{{deliverySubCompanyName}}</td>
                                            <td>{{#shortTime}}{{expectDeliveryTime}}{{/shortTime}}</td>
                                            <td>{{orderSellerName}}</td>
                                            <td>
                                                <p class="mn">{{createUserRealName}}</p>
                                                <p class="mn mt5">{{#clockShorTime}}{{createTime}}{{/clockShorTime}}</p>
                                            </td>
                                            <td>
                                                <p class="mn {{payStatusClass}} {{trClass}}">{{payStatusValue}}</p>
                                                <p class="mn mt5">{{#clockTime}}{{payTime}}{{/clockTime}}</p>
                                            </td>
                                            <td>
                                                <p class="mn nowrap {{orderStatusClass}} {{trClass}}">
                                                    <span class="{{orderStatusClass}} {{trClass}}">{{orderStatusStr}}</span>
##                                                    {{#showViewWorkFlowButton}}
##                                                    <span class="ml5 mr5 {{orderStatusClass}} {{trClass}}">/</span>
##                                                    <a href="javascript:void(0)" class="{{orderStatusClass}} viewWorkFlowButton {{trClass}}" data-orderno="{{orderNo}}">查看审核流</a>
##                                                    {{/showViewWorkFlowButton}}
                                                </p>
                                                {{#showViewWorkFlowButton}}
                                                <p class="mn nowrap {{orderStatusClass}} {{trClass}}">
                                                    <span class="{{orderStatusClass}} {{trClass}}">{{workflowCurrentNodeName}}-{{getCurrentVerifyUserName}}</span>
                                                </p>
                                                <p class="mn nowrap {{orderStatusClass}} {{trClass}}">
##                                                    <span class="{{orderStatusClass}} {{trClass}}">{{orderStatusStr}}</span>

##                                                    <span class="ml5 mr5 {{orderStatusClass}} {{trClass}}">/</span>
                                                    <a href="javascript:void(0)" class="{{orderStatusClass}} viewWorkFlowButton {{trClass}}" data-orderno="{{orderNo}}">查看审核流</a>
                                                </p>
                                                {{/showViewWorkFlowButton}}
                                                <p class="mn mt5">{{#clockShorTime}}{{confirmDeliveryTime}}{{/clockShorTime}}</p>
                                            </td>
##                                            <td>{{buyerRemark}}</td>
                                            {{#hasRowActionButtons}}
                                            <td class="text-right">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">操作<span class="caret ml5"></span></button>
                                                    <ul class="dropdown-menu pull-right" role="menu">
                                                        {{#rowActionButtons}}
                                                        <li>
                                                            <a {{#blank}}target="_blank"{{/blank}} href="${ctx}{{menuUrl}}?no={{orderNo}}" class="{{class}}" 
                                                                data-orderno="{{orderNo}}" data-canrelet="{{canReletOrder}}" 
                                                                data-statement="{{statementDate}}" data-istest="{{isTestMachineOrder}}">{{text}}</a>
                                                        </li>
                                                        {{/rowActionButtons}}
                                                    </ul>
                                                </div>
                                            </td>
                                            {{/hasRowActionButtons}}
                                        </tr>
                                        {{/listData}}
                                        {{^listData}}
                                        <tr>
                                            <td valign="top" colspan="14" class="text-center">无数据</td>
                                        </tr>
                                        {{/listData}}
                                    {{/dataSource}}
                                </tbody>
                            </script>
                            <table class="table admin-form theme-warning tc-checkbox-1 fs13" id="dataListTable"></table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 text-right mt10 mb10">
                                #parse("component/pager.vm")
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        #parse("layout/sidebarRight.vm")
    </div>
    #parse("layout/footer.vm")
    <script type="text/javascript" src="${staticCommon}vendor/plugins/viewer/viewer.min.jq.js"></script>
    <script type="text/javascript">
        management_load_script('${staticManagement}/js',
                'manage.order.handle.mixin.js',
                'manage.order.js',
                'manage.order.receipt.confirm.js',
                'manage.order.relet.mixin.js',
                'manage.order.relet.add.js',
                'manage.order.change.price.js',
                'modal.input.js',
                'modal.submit.audit.js',
                'manage.audit.pass.js', 
                'manage.audit.reject.js');
    </script>
    <script type="text/javascript">
        //功能事件初始化
        Rental.init();
        Layout.init();
        OrderManage.init();

        //UI效果初始化
        Core.init();
        Demo.init();
    </script>

</body>
</html>